.button {
	margin: 0px 1px 1px 0px;
	padding: 3px 10px;
	background-color: #DDD;
	background-image: url(../img/background_button_gradient_1.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC #999999 #999999 #CCCCCC;
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	font-size: 1em;
	cursor: pointer;
	outline: none;
	line-height: normal;
	}
.button:focus,
.button:hover {
	background-position: 0 -7px;
	}
.button:active {
	border-color: #999999 #CCCCCC #CCCCCC #999999;
	background-position: 0 -7px;
	}
.button:focus {							/*  IE */
	outline : none;
	}
.button::-moz-focus-inner {				/*  Firefox */
	border: 0;
	}
.button span {
	font-size: 1em;
	display: block;
	min-height: 16px;
	outline: none;
	}


button.button {
	}
a.button {
	display: block;
	float: left;
	text-decoration: none;
	}
a.button span {
	line-height: normal;
	}
	
	

/*  BUTTON ICONS  */
.button.icon span,
.button.add span,
.button.cancel span,
.button.close span,
.button.delete span,
.button.edit span,
.button.exit span,
.button.filter span,
.button.lock span,
.button.unlock span,
.button.open span,
.button.remove span,
.button.reset span,
.button.search span,
.button.info span,
.button.list span,
.button.activate span,
.button.deactivate span,
.button.up span,
.button.down span,
.button.save span {
	background-repeat: no-repeat;
	background-position: -1px 0px;
	padding-left: 20px;
	padding-right: 4px;
	}

.button.add span {
	background-image: url(/lib/cmIcons/famfamfam/silk/add.png);
	}
.button.edit span {
	background-image: url(/lib/cmIcons/famfamfam/silk/pencil.png);
	}
.button.save span {
	background-image: url(/lib/cmIcons/famfamfam/silk/accept.png);
	}
.button.delete span,
.button.remove span {
	background-image: url(/lib/cmIcons/famfamfam/silk/delete.png);
	}
.button.cancel span {
	background-image: url(/lib/cmIcons/famfamfam/silk/arrow_left.png);
	}
.button.reset span {
	background-image: url(/lib/cmIcons/famfamfam/silk/bin_closed.png);
	background-position: -2px 0px;
	}

.button.activate span {
	background-image: url(/lib/cmIcons/famfamfam/silk/tick.png);
	}
.button.deactivate span{
	background-image: url(/lib/cmIcons/famfamfam/silk/cross.png);
	background-position: -1px 0px;
	}
.button.lock span {
	background-image: url(/lib/cmIcons/famfamfam/silk/lock.png);
	}
.button.unlock span {
	background-image: url(/lib/cmIcons/famfamfam/silk/lock_open.png);
	}
.button.open span {
	background-image: url(/lib/cmIcons/famfamfam/silk/arrow_up.png);
	background-image: url(/lib/cmIcons/famfamfam/silk/door_open.png);
	}
.button.close span {
	background-image: url(/lib/cmIcons/famfamfam/silk/arrow_down.png);
	background-image: url(/lib/cmIcons/famfamfam/silk/door.png);
	}
.button.up span {
	background-image: url(/lib/cmIcons/famfamfam/silk/arrow_down.png);
	background-position: -1px 0px;
	}
.button.down span{
	background-image: url(/lib/cmIcons/famfamfam/silk/arrow_up.png);
	background-position: -1px 0px;
	}
.button.exit span {
	background-image: url(/lib/cmIcons/famfamfam/silk/door_out.png);
	}
.button.search span,
.button.filter span {
	background-image: url(/lib/cmIcons/famfamfam/silk/magnifier.png);
	}
.button.info span {
	background-image: url(/lib/cmIcons/famfamfam/silk/information.png);
	}
.button.list span {
	background-image: url(/lib/cmIcons/famfamfam/silk/table.png);
	}


/*  BUTTON BAR  */
.buttonbar {
	clear: both;
	margin-top: 0.5em;
	border-top: 1px solid #CCC;
	padding-top: 0.5em;
	}

.buttonbar .right {
	float: right;
	}


a.button[disabled],
button[disabled] {
	opacity: 0.5;
	color: black;
	}

button.tiny {
	margin-right: 1px;
	}

button.tiny span {
	margin: 0;
	padding: 0;
	width: 15px;
	height: 12px;
	}

	
	

/*  --  deprecated  --  */
.button.save {
	background-color: #DFB;
	}
.button.cancel {
	background-color: #FFD;
	}
.button.delete {
	background-color: #FCB;
	}