


button.icon.list span {
	background-image: url(http://img.int1a.net/famfamfam/silk/table.png);
	}
button.icon.calendar span {
	background-image: url(http://img.int1a.net/famfamfam/silk/calendar_view_month.png);
	}



.mission.priority1 {
	background-color: rgba(255,0,0,0.20);
	}
.mission.priority2 {
	background-color: rgba(255,127,0,0.20);
	}
.mission.priority3 {
	background-color: rgba(255,255,63,0.20);
	}
.mission.priority4 {
	background-color: rgba(127,255,0,0.20);
	}
.mission.priority5 {
	background-color: rgba(0,255,0,0.20);
	}

.mission.status-3 {
	background-color: rgba(191,191,191,1);
	}
.mission.status-2 {
	background-color: rgba(255,127,127,1);
	}
.mission.status-1 {
	background-color: rgba(255,191,191,1);
	}
.mission.status0 {
	background-color: rgba(255,255,255,1);
	}
.mission.status1 {
	background-color: rgba(255,223,192,1);
	}
.mission.status2 {
	background-color: rgba(255,255,191,1);
	}
.mission.status3 {
	background-color: rgba(191,255,191,1);
	}
.mission.status4 {
	background-color: rgba(127,255,127,1);
	}

	
	
tr.row-priority.priority-1 {
	background-color: rgba(255,0,0,0.20);
	}
tr.row-priority.priority-2 {
	background-color: rgba(255,127,0,0.20);
	}
tr.row-priority.priority-3 {
	background-color: rgba(255,255,63,0.20);
	}
tr.row-priority.priority-4 {
	background-color: rgba(127,255,0,0.20);
	}
tr.row-priority.priority-5 {
	background-color: rgba(0,255,0,0.20);
	}


/*  --  MISSION LISTS  --  */
#mission-folders1 {
	border: 1px solid #BFBFBF;
	overflow: hidden;
	}
	
#mission-folders div.mission-number {
	float: right;
	display: block;
	margin: 1px 1em 1px 0em;
	padding: 0px 6px 0px 6px;
	background-color: #999;
	border-radius: 10px;
	color: rgba(255,255,255,1);
	font-weight: bold;
	font-size: 0.8em;
/*	margin: 2px 1em 1px 0em;
	padding: 0px 7px 0px 6px;
	box-shadow: 0px 1px 1px white, 0px -1px 1px black;
*/	
	}

button.event span {
	background-image: url(http://img.int1a.net/famfamfam/silk/date.png);
	}
button.event-add span {
	background-image: url(http://img.int1a.net/famfamfam/silk/date_add.png);
	}
button.task span {
	background-image: url(http://img.int1a.net/famfamfam/silk/script.png);
	}
button.task-add span {
	background-image: url(http://img.int1a.net/famfamfam/silk/script_add.png);
	}
	

	
#input-import {
	background-color: white;
	font-style: italic;
	font-weight: bold;
	}
#input-serial {
	position: absolute;
	left: -1000px;
	}
/*  table.sort.css  */
table tr th.sortable {
	cursor: pointer;
	text-decoration: underline;
	}
table tr th.sortable.ordered {
	}
table tr th.sortable.ordered.direction-asc {
	}
table tr th.sortable.ordered.direction-desc {
	}
button.export.ical span{
	background-image: url(http://img.int1a.net/famfamfam/silk/date.png);
	}
button.export.archive span{
	background-image: url(http://img.int1a.net/famfamfam/silk/compress.png);
	}
legend.icon.export {
	background-image: url(http://img.int1a.net/famfamfam/silk/package.png);
	}


/*  --  DAY TABLES  -- */

body.controller-work-mission.action-index #day-controls {
	overflow: hidden;
	}


body.controller-work-mission.action-index #day-controls button.day {
	position: relative;
	min-width: 90px;
	width: 12%;
	height: 50px;
	margin-right: 0.5%;
	border-radius: 0.5em;
	background: #f2f5f6; /* Old browsers */
	background: -moz-linear-gradient(top, #f2f5f6 0%, #EDEDED 37%, #D7D7D7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#EDEDED), color-stop(100%,#D7D7D7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2f5f6 0%,#EDEDED 37%,#D7D7D7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2f5f6 0%,#EDEDED 37%,#D7D7D7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2f5f6 0%,#EDEDED 37%,#D7D7D7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f2f5f6 0%,#EDEDED 37%,#D7D7D7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#D7D7D7',GradientType=0 ); /* IE6-9 */
	border: 1px solid #8F8F8F;
	}
body.controller-work-mission.action-index #day-controls button.day.active {
	border-width: 2px;
	border-style: solid;
	border-color: green;
	background: #EFE;
	color: #000;
/*	color: #23738F;
*/	}
body.controller-work-mission.action-index #day-controls button.day.active div.mission-number {
	background-color: green;
	}
body.controller-work-mission.action-index #day-controls button.day.important {
	width: 16%;
	}
body.controller-work-mission.action-index #day-controls button.day.empty {
	min-width: 80px !important;
	background: #EFEFEF;
	}
body.controller-work-mission.action-index #day-controls button.day.important.empty {
	}
body.controller-work-mission.action-index #day-controls button.day .mission-number {
	position: relative;
	float: none !important;
	display: inline !important;
	margin: 0px 0.8em 0px 0px !important;
	top: 0px;
	right: 0px;
	}

body.controller-work-mission.action-index #day-lists {
	margin-top: 1em;
	}

body.controller-work-mission.action-index #day-lists .table-day {
	display: none;
	}


table tr.mission-row {
	min-height: 22px;
	}
table tr.mission-row td {
	padding: 2px 2px;
	vertical-align: top;
	}
table tr.mission-row td.cell-graph {
	padding: 6px 2px 2px 4px;
	}
table tr.mission-row td.cell-time {
	padding: 3px 2px 2px 5px;
	}
table tr.mission-row td.cell-priority {
	font-size: 0.9em;
	text-shadow: 1px 1px 1px white;
	padding-top: 4px;
	}
table tr.mission-row td.cell-actions {
	padding: 1px 2px;
	text-align: right;
	}
table tr.mission-row td.cell-title {
	font-size: 1.1em;
	}
table tr.mission-row td.cell-title a {
	text-decoration: none;
	text-shadow: 1px 1px 1px white;
	}

body.controller-work-mission div.overdue {
	float: right;
	display: block;
	margin: 1px 4px 1px 6px;
	padding: 0px 6px 0px 6px;
	background-color: rgba(255,0,0,0.85);
	border-radius: 12px;
	color: rgba(255,255,255,0.85);
	font-size: 0.9em;
	font-weight: bold;
	z-index: 1000;
/*	margin: 2px 1em 1px 0em;
	padding: 0px 7px 0px 6px;
	box-shadow: 0px 1px 1px white, 0px -1px 1px black;*/	
	}

table tr th .sortable.right {
	text-align: right;
	}
	
/*  --  MAIL  --  */
body.jobWorkMission .table-mail {
	width: 500px;
	border-radius: 0.4em;
	overflow: hidden;
	border: 1px solid gray;
	box-shadow: 2px 2px 3px #BBB
	}
body.jobWorkMission .table-mail td.cell-title a {
	text-decoration: none;
	font-size: 1.0em;
	}
body.jobWorkMission .table-mail td.cell-time {
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
	}
	
/*  --  MAIL: DAILY  --  */
body.jobWorkMission.job-work-mission-mail-daily div.tasks {
	margin-top: 1em;
	}
body.jobWorkMission.job-work-mission-mail-daily div.events {
	clear: both;
	margin-top: 1em;
	}
body.jobWorkMission.job-work-mission-mail-daily div.text-greeting {
	font-size: 1.2em;
/*	font-weight: bold;*/
	}
body.jobWorkMission.job-work-mission-mail-daily div.text-date-full {
	font-size: 1.2em;
	font-weight: bold;
	}
body.jobWorkMission.job-work-mission-mail-daily div.text-date-short {
	font-size: 0.9em;
	font-weight: lighter;
	}
body.jobWorkMission.job-work-mission-mail-daily div.text-salute {
	font-style: italic;
	font-weight: bold;
	font-size: 1.1em;
	}
body.jobWorkMission.job-work-mission-mail-daily div.text-signature {
	font-style: italic;
	font-weight: lighter;
	font-size: 1.0em;
	}

#mission-folders .icon-label {
	background-repeat: no-repeat;
	background-position: 0px 1px;
	padding-left: 20px;
	}
#mission-folders .icon-label.mission-type-0 {
	background-image: url(http://img.int1a.net/famfamfam/silk/script.png);
	}
#mission-folders .icon-label.mission-type-1 {
	background-image: url(http://img.int1a.net/famfamfam/silk/date.png);
	}

	
.invisible {
	display: none;
	}

/*  --  MISSION CALENDAR  --  */
#mission-calendar {
	border: 1px solid #7F7F7F;
	table-layout: fixed;
/*	border-collapse: collapse;*/
	}
#mission-calendar tr th {
	border: none;
	}
#mission-calendar tr td {
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	border-color: #9F9F9F;
	padding: 0px 0px !important;
	overflow: hidden;
	position: relative;
	height: 80px;
	}
#mission-calendar tr td:last-child {
	border-width: 1px 0px 0px 0px;
	}
#mission-calendar tr td.inactive,
#mission-calendar tr td.past {
	height: 35px;
	}
#mission-calendar tr td.past {
	background-color: #F7F7F7;
	}
#mission-calendar tr td.inactive {
	background-color: #EFEFEF;
	color: #7F7F7F;
	}
#mission-calendar tr td.today {
	border-color: black;
	}
#mission-calendar tr td div.date-label {
	font-size: 1.1em;
	padding: 2px 6px;
	background-image: linear-gradient(bottom, rgba(255,255,255,0.1), rgba(127,127,127,0.8));
	background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0.01), rgba(127,127,127,0.25));
	}
#mission-calendar tr td.today div.date-label {
	font-weight: bold;
	color: black;
	}
#mission-calendar tr td ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
	position: static;
	max-height: 150px;
	overflow-y: auto;
	overflow-x: hidden;
	}
#mission-calendar tr td ul li {
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 1px 4px;
	}
#mission-calendar tr td ul li a.icon-label {
	text-decoration: none;
	background-color: transparent;
	}
#mission-calendar li.priority-1 {
	background-color: rgba(255,0,0,0.20);
	}
#mission-calendar li.priority-2 {
	background-color: rgba(255,127,0,0.20);
	}
#mission-calendar li.priority-3 {
	background-color: rgba(255,255,63,0.20);
	}
#mission-calendar li.priority-4 {
	background-color: rgba(127,255,0,0.20);
	}
#mission-calendar li.priority-5 {
	background-color: rgba(0,255,0,0.20);
	}
#mission-calendar-control {
	padding-left: 1em;
	}
#mission-calendar-control .month-label,
#mission-calendar-control .year-label {
	font-weight: lighter;
	font-size: 1.4em;
	}
