<?xml version="1.0"?>
<module>
	<title>UI: CSS: Panel</title>
	<description><![CDATA[Simple panel style.]]></description>
	<category>User Interface</category>
	<version>0.2.4</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Removed deprecated style definitions.</log>
	<log version="0.2.2">Support several styles.</log>
	<log version="0.2.3">Add main module switch.</log>
	<log version="0.2.4">Install style in common theme folder.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<style source="common">layout.panels.css</style>
	</files>
	<config protected="no" type="boolean" name="enabled">yes</config>
	<config protected="no" type="string" name="style" values="1,2">2</config>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
	$options	= $env->getConfig()->getAll( 'module.ui_css_panel.', TRUE );
	if( $options->get( 'enabled' ) ){
		$context->addBodyClass( 'content-panel-style-'.$options->get( 'style' ) );
		$context->addCommonStyle( 'layout.panels.css' );
	}
	]]></hook>
</module>
