
div.content-panel-inner form {
	margin: 0;
	padding: 0;
	}


/*  --  STYLE 1  --  */
body.content-panel-style-1 div.content-panel {
	padding: 0.2em 1.5em;
	margin-bottom: 2em;
	overflow: hidden;
	border-left: 5px solid #EEE;
	background-color: rgba(255,255,255,1);
	}
body.content-panel-style-1 div.content-panel div.content-panel-inner {}
body.content-panel-style-1 div.content-panel div.content-panel-inner div.buttonbar {
	padding: 0.5em 0em 0.75em 1.5em;
	margin: 0px;
	margin-left: -1.5em;
	margin-right: -1.5em;
	border-top: 1px solid #EEEEEE;
	background-image: -ms-radial-gradient(left top, ellipse farthest-side, #F3F3F3 0%, #FFFFFF 100%);							/* IE10 Consumer Preview */
	background-image: -moz-radial-gradient(left top, ellipse farthest-side, #F3F3F3 0%, #FFFFFF 100%);							/* Mozilla Firefox */
	background-image: -o-radial-gradient(left top, ellipse farthest-side, #F3F3F3 0%, #FFFFFF 100%);							/* Opera */
	background-image: -webkit-gradient(radial, left top, 0, center top, 485, color-stop(0, #F3F3F3), color-stop(1, #FFFFFF));	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-radial-gradient(left top, ellipse farthest-side, #F3F3F3 0%, #FFFFFF 100%);						/* Webkit (Chrome 11+) */
	background-image: radial-gradient(ellipse farthest-side at left top, #F3F3F3 0%, #FFFFFF 100%);								/* W3C Markup, IE10 Release Preview */
	}
body.content-panel-style-1 div.content-panel div.content-panel-inner div.buttonbar div.btn-toolbar {
	margin-top: 0;
	margin-bottom: 0;
	}
body.content-panel-style-1 div.content-panel>h2,
body.content-panel-style-1 div.content-panel>h3,
body.content-panel-style-1 div.content-panel>h4,
body.content-panel-style-1 div.content-panel>h5 {
	padding-left: 1.1rem;
	margin: 0px;
	margin-left: -1.1rem;
	margin-bottom: 0.5rem;
	border-bottom: 1px solid #F7F7F7;
	font-size: 18px;
	line-height: 2em;
	}


/*  --  STYLE 2  --  */
body.content-panel-style-2 div.content-panel {
	display: block;
	padding: 3px;
	margin-bottom: 20px;
	overflow: hidden;
	background: #EEE;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
/*	font-size: 12px;*/
	border: 0;
	}
body.content-panel-style-2 div.content-panel > div.content-panel-inner {
	background: #fafafb;
	border: solid #CACACA;
	border-width: 1px;
	padding: 12px 16px;
	margin: 0px;
	display: block;
	line-height: 1.4em;
	}
body.content-panel-style-2 div.content-panel > h3,
body.content-panel-style-2 div.content-panel > h4 {
	margin: 0px;
	color: #666;
	text-shadow: 1px 1px 0px #fff;
	border: 1px solid #CACACA;
	border-bottom: 0;
	font-size: 14px;
	line-height: 1.4em;
	background-color: #e1e1e1;
	background-image: -moz-linear-gradient(top, #f1f1f1, #e1e1e1);
	background-image: -ms-linear-gradient(top, #f1f1f1, #e1e1e1);
	background-image: -o-linear-gradient(top, #f1f1f1, #e1e1e1);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e1e1e1));
	background-image: -webkit-linear-gradient(top, #f1f1f1, #e1e1e1);
	background-image: linear-gradient(top, #f1f1f1, #e1e1e1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e1e1e1');
/*	text-align: center;*/
	padding: 8px 14px 6px 16px;
	}
body.content-panel-style-2 div.content-panel > h3 {
	font-size: 18px;
	}
body.content-panel-style-2 div.content-panel div.content-panel-inner div.buttonbar {
	padding: 9px 16px 12px 16px;
	margin: 12px -16px -12px -16px;
	border-top: 1px solid #CACACA;
	background-color: #f1f1f1;
	}


/*  --  STYLE 3  --  */
body.content-panel-style-3 div.content-panel {
	display: block;
	margin-bottom: 20px;
	overflow: hidden;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	}
body.content-panel-style-3 div.content-panel > div.content-panel-inner {
	background: #fafafb;
	border: solid #CACACA;
	border-width: 1px;
	padding: 12px 16px;
	margin: 0px;
	display: block;
	line-height: 1.4em;
	border-radius: 0px 0px 6px 6px;
	overflow: hidden;
	}
body.content-panel-style-3 div.content-panel > h3,
body.content-panel-style-3 div.content-panel > h4 {
	border-radius: 6px 6px 0px 0px;
	margin: 0px;
	color: #666;
	text-shadow: 1px 1px 0px #fff;
	border: 1px solid #CACACA;
	border-bottom: 0;
	font-size: 16px;
	background-color: #e1e1e1;
	background-image: -moz-linear-gradient(top, #f1f1f1, #e1e1e1);
	background-image: -ms-linear-gradient(top, #f1f1f1, #e1e1e1);
	background-image: -o-linear-gradient(top, #f1f1f1, #e1e1e1);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e1e1e1));
	background-image: -webkit-linear-gradient(top, #f1f1f1, #e1e1e1);
	background-image: linear-gradient(top, #f1f1f1, #e1e1e1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e1e1e1');
/*	text-align: center;*/
	padding: 1px 14px;
	line-height: 2em;
	}
body.content-panel-style-3 div.content-panel div.content-panel-inner div.buttonbar {
	padding: 6px 16px 9px 16px;
	margin: 12px -16px -12px -16px;
	border-top: 1px solid #CACACA;
	background-color: #e1e1e1;
	background-image: -moz-linear-gradient(top, #e1e1e1, #f1f1f1);
	background-image: -ms-linear-gradient(top, #e1e1e1, #f1f1f1);
	background-image: -o-linear-gradient(top, #e1e1e1, #f1f1f1);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #e1e1e1, #f1f1f1);
	background-image: linear-gradient(top, #e1e1e1, #f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e1e1e1', EndColorStr='#f1f1f1');
	}
/*body.content-panel-style-3 div.content-panel.content-panel-list > div.content-panel-inner  {
	padding: 0 0;
	}
body.content-panel-style-3 div.content-panel.content-panel-list > div.content-panel-inner div.buttonbar  {
	margin: 0 0;
	}
body.content-panel-style-3 div.content-panel.content-panel-list > div.content-panel-inner table {
	margin: 0 0;
	}
body.content-panel-style-3 div.content-panel.content-panel-list > div.content-panel-inner table tr th:first-child,
body.content-panel-style-3 div.content-panel.content-panel-list > div.content-panel-inner table tr td:first-child {
	padding-left: 16px;
	}
body.content-panel-style-3 div.content-panel.content-panel-list > div.content-panel-inner table tr th:last-child,
body.content-panel-style-3 div.content-panel.content-panel-list > div.content-panel-inner table tr td:last-child {
	padding-right: 16px;
	}*/



/*  --  STYLE 4  --  */
body.content-panel-style-4 div.content-panel {
	margin-bottom: 2em;
	padding: 0.5rem 1rem;
	background-color: rgba(255,255,255,0.5);
	border-radius: 4px;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
	border: none;
	overflow: hidden;
	}
body.content-panel-style-4 div.content-panel.content-panel-info {
	background-color: rgba(255,255,255,0.5);
	}
body.content-panel-style-4 div.content-panel.content-panel-filter {
	background-color: rgba(255,255,255,0.25);
	}
body.content-panel-style-4 div.content-panel.content-panel-list {}
body.content-panel-style-4 div.content-panel.content-panel-form {}
body.content-panel-style-4 div.content-panel > div.content-panel-inner {}
body.content-panel-style-4 div.content-panel > h3,
body.content-panel-style-4 div.content-panel > h4 {
	color: rgba(0,0,0,0.66);
	border: none;
	font-size: 16px;
	margin: 8px 0px 12px 0px;
	line-height: 1em;

	color: rgba(0,0,0,0.5);
	font-weight: lighter;
	text-transform: uppercase;
	margin: -0.5rem -1rem 0.5rem -1rem;
	padding: 0.75rem 1rem 0.5rem 1rem;
	background-color: rgba(255,255,255,0.5);
	}
body.content-panel-style-4 div.content-panel > h3,
body.content-panel-style-4 div.content-panel > h4 {
	line-height: 1.5em;
/*	border-bottom: 1px solid rgba(191,191,191,0.5);*/
	box-shadow: 0px 0px 4px rgba(127,127,127,0.5);
	}
body.content-panel-style-4 div.content-panel > div.content-panel-inner div.buttonbar {
	background-color: rgba(255,255,255,0.33);
	border-top: 1px solid rgba(0,0,0,0.1);
	margin: 1rem -1rem -0.5rem -1rem;
	padding: 0.5rem 1rem;
	border-radius: 0;
	}



/*  --  STYLE 5  --  */
body.content-panel-style-5 div.content-panel {
	display: block;
	margin-bottom: 20px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border-width: 2px;
	border-style: solid;
	border-color: #999;
	}
body.content-panel-style-5 div.content-panel > div.content-panel-inner {
	border-radius: 0px 0px 4px 4px;
	background: rgba(255,255,255,1);
	padding: 12px 16px;
	margin: 0px;
	display: block;
	line-height: 1.4em;
	overflow: hidden;
	}
body.content-panel-style-5 div.content-panel > h3,
body.content-panel-style-5 div.content-panel > h4 {
	margin: 0px;
	color: #FFF;
	text-shadow: 1px 1px 1px #444, 0px 0px 3px #AAA;
	border-bottom: 0;
	font-size: 18px;
	background-color: rgba(0,0,0,0.20);
/*	text-align: center;*/
	padding: 1px 14px;
	line-height: 2em;
	border-bottom: 1px solid #999;
	border-radius: 4px 4px 0px 0px;
	}
body.content-panel-style-5 div.content-panel div.content-panel-inner div.buttonbar {
	padding: 6px 16px 9px 16px;
	margin: 12px -16px -12px -16px;
	border-top: 1px solid #999;
	background-color: rgba(0,0,0,0.20);
	overflow: hidden;
	border-radius: 0px 0px 4px 4px;
	}

body.content-panel-style-5 div.content-panel > h3 small,
body.content-panel-style-5 div.content-panel > h4 small,
body.content-panel-style-5 div.content-panel > h3 .muted,
body.content-panel-style-5 div.content-panel > h4 .muted {
	color: #FFF;
	opacity: 0.5;
	}



/*  --  STYLE 6  --  */
body.content-panel-style-6 div.content-panel {
	display: block;
	margin-bottom: 20px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border-width: 0px;
	border-style: solid;
	border-color: #999;
	}
body.content-panel-style-6 div.content-panel > div.content-panel-inner {
	border-radius: 0px 0px 4px 4px;
	background: rgba(255,255,255,0.8);
	padding: 12px 16px;
	margin: 0px;
	display: block;
	line-height: 1.4em;
	overflow: hidden;
	}
body.content-panel-style-6 div.content-panel > h3,
body.content-panel-style-6 div.content-panel > h4 {
	margin: 0px;
	color: #FFF;
	text-shadow: 1px 1px 0px #000;
	border-bottom: 0;
	font-size: 16px;
	background-color: rgba(0,0,0,0.20);
/*	text-align: center;*/
	padding: 1px 14px;
	line-height: 2em;
	border-bottom: 0px solid #999;
	border-radius: 4px 4px 0px 0px;
	}
body.content-panel-style-6 div.content-panel div.content-panel-inner div.buttonbar {
	padding: 6px 16px 9px 16px;
	margin: 12px -16px -12px -16px;
	border-top: 0px solid #999;
	background-color: rgba(0,0,0,0.20);
	overflow: hidden;
	border-radius: 0px 0px 4px 4px;
	}

body.content-panel-style-6 div.content-panel > h3 small,
body.content-panel-style-6 div.content-panel > h4 small,
body.content-panel-style-6 div.content-panel > h3 .muted,
body.content-panel-style-6 div.content-panel > h4 .muted {
	color: #FFF;
	opacity: 0.5;
	}



/*  --  STYLE X (Template)  --  */
body.content-panel-style-x div.content-panel {}
body.content-panel-style-x div.content-panel.content-panel-info {}
body.content-panel-style-x div.content-panel.content-panel-list {}
body.content-panel-style-x div.content-panel.content-panel-filter {}
body.content-panel-style-x div.content-panel.content-panel-form {}
body.content-panel-style-x div.content-panel > div.content-panel-inner {}
body.content-panel-style-x div.content-panel > h3,
body.content-panel-style-x div.content-panel > h4 {}
body.content-panel-style-x div.content-panel div.content-panel-inner div.buttonbar {}


@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
