<?xml version="1.0"?>
<module>
	<title>UI: Bootstrap</title>
	<description><![CDATA[Sleek, intuitive, and powerful front-end framework for faster and easier web development.]]></description>
	<category>User Interface</category>
	<version>3.3.6-p4</version>
	<log version="2.3.2">Add Bootstrap v2.3.2.</log>
	<log version="3.3.6">Add Bootstrap v3.3.6 and option to set used version.</log>
	<log version="3.3.6-p1">Improve file handling in hook.</log>
	<log version="3.3.6-p2">Add support for Bootstrap themes.</log>
	<log version="3.3.6-p3">Install files into common theme path.</log>
	<log version="3.3.6-p4">Extract hook to new view helper class.</log>
	<company site="http://twitter.github.com/bootstrap/">Twitter</company>
	<author site="https://twitter.com/mdo">Mark Otto</author>
	<author site="https://twitter.com/fat">fat-kun</author>
	<license source="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</license>
	<license source="https://github.com/twbs/bootstrap/blob/master/LICENSE" title="MIT License">MIT</license>
	<files>
		<class>View/Helper/Bootstrap.php5</class>
		<style source="common">bootstrap/2.3.2/css/bootstrap.css</style>
		<style source="common">bootstrap/2.3.2/css/bootstrap.min.css</style>
		<style source="common">bootstrap/2.3.2/css/bootstrap-responsive.css</style>
		<style source="common">bootstrap/2.3.2/css/bootstrap-responsive.min.css</style>
		<style source="common">bootstrap/2.3.2/img/glyphicons-halflings.png</style>
		<style source="common">bootstrap/2.3.2/img/glyphicons-halflings-white.png</style>
		<style source="common">bootstrap/3.3.6/css/bootstrap.css</style>
		<style source="common">bootstrap/3.3.6/css/bootstrap.css.map</style>
		<style source="common">bootstrap/3.3.6/css/bootstrap.min.css</style>
		<style source="common">bootstrap/3.3.6/css/bootstrap.min.css.map</style>
		<style source="common">bootstrap/3.3.6/css/bootstrap-theme.css</style>
		<style source="common">bootstrap/3.3.6/css/bootstrap-theme.css.map</style>
		<style source="common">bootstrap/3.3.6/css/bootstrap-theme.min.css</style>
		<style source="common">bootstrap/3.3.6/css/bootstrap-theme.min.css.map</style>
		<style source="common">bootstrap/3.3.6/fonts/glyphicons-halflings-regular.eot</style>
		<style source="common">bootstrap/3.3.6/fonts/glyphicons-halflings-regular.svg</style>
		<style source="common">bootstrap/3.3.6/fonts/glyphicons-halflings-regular.ttf</style>
		<style source="common">bootstrap/3.3.6/fonts/glyphicons-halflings-regular.woff</style>
		<style source="common">bootstrap/3.3.6/fonts/glyphicons-halflings-regular.woff2</style>
		<style source="common">bootstrap.print.css</style>
		<script>bootstrap/2.3.2/bootstrap.js</script>
		<script>bootstrap/2.3.2/bootstrap.min.js</script>
		<script>bootstrap/3.3.6/bootstrap.js</script>
		<script>bootstrap/3.3.6/bootstrap.min.js</script>
	</files>
	<config protected="no" type="boolean" name="enabled">yes</config>
	<config protected="no" type="boolean" name="cdn">no</config>
	<config protected="no" type="string" name="cdn.path">https://maxcdn.bootstrapcdn.com/bootstrap/%s/</config>
	<config protected="no" type="boolean" name="local">yes</config>
	<config protected="no" type="string" name="local.path">bootstrap/%s/</config>
	<config protected="no" type="string" name="local.theme"></config>
	<config protected="no" type="boolean" name="map">no</config>
	<config protected="no" type="boolean" name="minified">yes</config>
	<config protected="no" type="boolean" name="responsive">yes</config>
	<config protected="no" type="string" name="version" values="2.3.2,3.3.6">2.3.2</config>
	<relations>
		<needs type="module">JS_jQuery</needs>
		<supports type="module">UI_Helper_Messenger_Bootstrap</supports>
	</relations>
	<hook type="resource" resource="Page" event="applyModules">View_Helper_Bootstrap::___onPageApplyModules</hook>
</module>
