<?xml version="1.0"?>
<module>
	<title>UI: Bootstrap</title>
	<description><![CDATA[Sleek, intuitive, and powerful front-end framework for faster and easier web development.]]></description>
	<category>User Interface</category>
	<version>4.4.1</version>
	<log version="2.3.2">Add Bootstrap v2.3.2.</log>
	<log version="3.3.6">Add Bootstrap v3.3.6 and option to set used version.</log>
	<log version="3.3.6-p1">Improve file handling in hook.</log>
	<log version="3.3.6-p2">Add support for Bootstrap themes.</log>
	<log version="3.3.6-p3">Install files into common theme path.</log>
	<log version="3.3.6-p4">Extract hook to new view helper class.</log>
	<log version="3.3.6-p5">Migrate hook view helper to new hook class.</log>
	<log version="3.3.6-p6">Add hook to realize templates supporting multiple versions.</log>
	<log version="4.1.1">Add Bootstrap v4.1.1.</log>
	<log version="4.1.1-p1">Add hook to check required or supported libraries on environment init.</log>
	<log version="4.1.1-p2">Use general module main switch.</log>
	<log version="4.1.1-p3">Improve handling of missing library.</log>
	<log version="4.4.1">Add Bootstrap v4.4.1.</log>
	<company site="http://twitter.github.com/bootstrap/">Twitter</company>
	<author site="https://twitter.com/mdo">Mark Otto</author>
	<author site="https://twitter.com/fat">fat-kun</author>
	<license source="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</license>
	<license source="https://github.com/twbs/bootstrap/blob/master/LICENSE" title="MIT License">MIT</license>
	<files>
		<class>Hook/UI/Bootstrap.php5</class>
		<style source="common">bootstrap/2.3.2/css/bootstrap.css</style>
		<style source="common">bootstrap/2.3.2/css/bootstrap.min.css</style>
		<style source="common">bootstrap/2.3.2/css/bootstrap-responsive.css</style>
		<style source="common">bootstrap/2.3.2/css/bootstrap-responsive.min.css</style>
		<style source="common">bootstrap/2.3.2/img/glyphicons-halflings.png</style>
		<style source="common">bootstrap/2.3.2/img/glyphicons-halflings-white.png</style>
		<style source="common">bootstrap/3.3.6/css/bootstrap.css</style>
		<style source="common">bootstrap/3.3.6/css/bootstrap.css.map</style>
		<style source="common">bootstrap/3.3.6/css/bootstrap.min.css</style>
		<style source="common">bootstrap/3.3.6/css/bootstrap.min.css.map</style>
		<style source="common">bootstrap/3.3.6/css/bootstrap-theme.css</style>
		<style source="common">bootstrap/3.3.6/css/bootstrap-theme.css.map</style>
		<style source="common">bootstrap/3.3.6/css/bootstrap-theme.min.css</style>
		<style source="common">bootstrap/3.3.6/css/bootstrap-theme.min.css.map</style>
		<style source="common">bootstrap/3.3.6/fonts/glyphicons-halflings-regular.eot</style>
		<style source="common">bootstrap/3.3.6/fonts/glyphicons-halflings-regular.svg</style>
		<style source="common">bootstrap/3.3.6/fonts/glyphicons-halflings-regular.ttf</style>
		<style source="common">bootstrap/3.3.6/fonts/glyphicons-halflings-regular.woff</style>
		<style source="common">bootstrap/3.3.6/fonts/glyphicons-halflings-regular.woff2</style>
		<style source="common">bootstrap/4.4.1/bootstrap.css
		<style source="common">bootstrap/4.4.1/bootstrap.css.map
		<style source="common">bootstrap/4.4.1/bootstrap.min.css
		<style source="common">bootstrap/4.4.1/bootstrap.min.css.map
		<style source="common">bootstrap/4.4.1/bootstrap-grid.css
		<style source="common">bootstrap/4.4.1/bootstrap-grid.css.map
		<style source="common">bootstrap/4.4.1/bootstrap-grid.min.css
		<style source="common">bootstrap/4.4.1/bootstrap-grid.min.css.map
		<style source="common">bootstrap/4.4.1/bootstrap-reboot.css
		<style source="common">bootstrap/4.4.1/bootstrap-reboot.css.map
		<style source="common">bootstrap/4.4.1/bootstrap-reboot.min.css
		<style source="common">bootstrap/4.4.1/bootstrap-reboot.min.css.map
		<style source="common">bootstrap.print.css</style>
		<script>bootstrap/2.3.2/bootstrap.js</script>
		<script>bootstrap/2.3.2/bootstrap.min.js</script>
		<script>bootstrap/3.3.6/bootstrap.js</script>
		<script>bootstrap/3.3.6/bootstrap.min.js</script>
		<script>bootstrap/3.3.6/bootstrap.min.js</script>
		<script>bootstrap/4.1.1/bootstrap.js</script>
		<script>bootstrap/4.1.1/bootstrap.js.map</script>
		<script>bootstrap/4.1.1/bootstrap.min.js</script>
		<script>bootstrap/4.1.1/bootstrap.min.js.map</script>
		<script>bootstrap/4.4.1/bootstrap.bundle.js
		<script>bootstrap/4.4.1/bootstrap.bundle.js.map
		<script>bootstrap/4.4.1/bootstrap.bundle.min.js
		<script>bootstrap/4.4.1/bootstrap.bundle.min.js.map
		<script>bootstrap/4.4.1/bootstrap.js
		<script>bootstrap/4.4.1/bootstrap.js.map
		<script>bootstrap/4.4.1/bootstrap.min.js
		<script>bootstrap/4.4.1/bootstrap.min.js.map
	</files>
	<config protected="yes" type="boolean" name="active" title="Main switch: Use this module">yes</config>
	<config protected="no" type="boolean" name="cdn">no</config>
	<config protected="no" type="string" name="cdn.path">https://maxcdn.bootstrapcdn.com/bootstrap/%s/</config>
	<config protected="no" type="boolean" name="local">yes</config>
	<config protected="no" type="string" name="local.path">bootstrap/%s/</config>
	<config protected="no" type="string" name="local.theme"></config>
	<config protected="no" type="boolean" name="map">no</config>
	<config protected="no" type="boolean" name="minified">yes</config>
	<config protected="no" type="boolean" name="responsive">yes</config>
	<config protected="no" type="boolean" name="bundle">yes</config>
	<config protected="no" type="string" name="version" values="2.3.2,3.3.6,4.1.1,4.4.1">2.3.2</config>
	<config protected="yes" type="string" name="missing.library" values="ignore,note,throw">throw</config>
	<config protected="yes" type="string" name="missing.module" values="ignore,note,throw">throw</config>
	<config protected="yes" type="string" name="missing.fontawesome" values="ignore,note,throw">throw</config>
	<config protected="no" type="boolean" name="icon.fixedWidth">yes</config>

	<relations>
		<needs type="module">JS_jQuery</needs>
		<supports type="module">UI_Helper_Messenger_Bootstrap</supports>
	</relations>
	<hook type="resource" resource="Page" event="applyModules">Hook_UI_Bootstrap::onPageApplyModules</hook>
	<hook type="resource" resource="Page" event="build">Hook_UI_Bootstrap::onPageBuild</hook>
	<hook type="resource" resource="Env" event="init">Hook_UI_Bootstrap::onEnvInit</hook>
</module>
