<?xml version="1.0"?>
<module>
	<title>Manage: Catalog: Gallery</title>
	<description><![CDATA[Management for gallery catalog.]]></description>
	<category>Info</category>
	<version>0.3.5</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Use frontend module.</log>
	<log version="0.2.2">Added full catagory management.</log>
	<log version="0.2.3">Added full image management.</log>
	<log version="0.2.4">Generalized image upload.</log>
	<log version="0.2.5">Added status for category and image.</log>
	<log version="0.2.6">Updated relations.</log>
	<log version="0.2.7">Support images to be renamed or moved.</log>
	<log version="0.2.8">Improve configuration.</log>
	<log version="0.2.9">Add hooks for TinyMCE.</log>
	<log version="0.3">Support localization.</log>
	<log version="0.3.1">Extract style definitions.</log>
	<log version="0.3.2">Add catalog logic and shop bridge.</log>
	<log version="0.3.3">Finish category cover upload.</log>
	<log version="0.3.4">Add JavaScript.</log>
	<log version="0.3.5">Add EXIF support.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>Controller/Manage/Catalog/Gallery.php5</class>
		<class>Logic/Catalog/Gallery.php5</class>
		<class>Logic/ShopBridge/CatalogGallery.php5</class>
		<class>Model/Catalog/Gallery/Category.php5</class>
		<class>Model/Catalog/Gallery/Image.php5</class>
		<class>View/Manage/Catalog/Gallery.php5</class>
		<template>manage/catalog/gallery/addCategory.php</template>
		<template>manage/catalog/gallery/addImage.php</template>
		<template>manage/catalog/gallery/editCategory.category.php</template>
		<template>manage/catalog/gallery/editCategory.images.php</template>
		<template>manage/catalog/gallery/editCategory.php</template>
		<template>manage/catalog/gallery/editImage.php</template>
		<template>manage/catalog/gallery/import.php</template>
		<template>manage/catalog/gallery/index.php</template>
		<template>manage/catalog/gallery/index.categories.php</template>
		<locale>de/manage/catalog/gallery.ini</locale>
		<locale>en/manage/catalog/gallery.ini</locale>
		<style load="auto">module.manage.catalog.gallery.css</style>
		<script load="auto">ManageCatalogGallery.js</script>
		<image source="theme">plus.png</image>
		<image source="theme">plus.xcf</image>
	</files>
	<config protected="yes" type="string" name="layout" title="" values="table,matrix">matrix</config>
	<config protected="yes" type="string" name="path.images" title="within frontend images folder">catalog/</config>
	<config protected="yes" type="integer" name="size.preview.x">540</config>
	<config protected="yes" type="integer" name="size.preview.y">360</config>
	<config protected="yes" type="integer" name="size.thumbnail.x">180</config>
	<config protected="yes" type="integer" name="size.thumbnail.y">120</config>
	<relations>
		<needs type="module">Resource_Database</needs>
		<needs type="module">Resource_Frontend</needs>
		<needs type="module">Resource_Upload</needs>
		<needs type="module">UI_Helper_Input_File</needs>
		<needs type="module">UI_Helper_TimePhraser</needs>
		<needs type="module">UI_CSS_Panel</needs>
		<needs type="module">UI_JS_fancyBox</needs>
	</relations>
	<hook type="resource" resource="TinyMCE" event="getImageList">View_Manage_Catalog_Gallery::___onTinyMCE_getImageList</hook>
	<hook type="resource" resource="TinyMCE" event="getLinkList">View_Manage_Catalog_Gallery::___onTinyMCE_getLinkList</hook>
</module>
