<?xml version="1.0"?>
<module>
	<title>JS: CodeMirror</title>
	<description><![CDATA[Component that provides a code editor in the browser.]]></description>
	<version>3.20-p2</version>
	<category>JavaScript</category>
	<company site="http://codemirror.net/">codemirror.net</company>
	<author email="marijnh@gmail.com">marijnh@gmail.com</author>
	<license source="http://codemirror.net/LICENSE">MIT-style</license>
	<files>
		<style source="lib">codemirror.css</style>
		<style load="auto" source="theme">codemirror.ext.css</style>
		<script load="auto">codemirror.ext.js</script>
		<image source="theme">bg_code_tab.png</image>
		<image source="theme">bg_code_tab.psd</image>
	</files>
	<config protected="yes" type="string" name="version" values="3.02,3.1,3.11,3.20">3.20</config>
	<config protected="yes" type="string" name="modes">css,xml,javascript,clike,php,htmlmixed</config>
	<config protected="yes" type="string" name="addons">dialog/dialog,search/search,search/searchcursor,edit/matchbrackets</config>
	<config protected="yes" type="string" name="themes">elegant</config>
	
	<config protected="no" type="boolean" name="auto">yes</config>
	<config protected="no" type="string" name="auto.selector">textarea.CodeMirror-auto</config>
	<config protected="no" type="boolean" name="auto.option.lineNumbers">yes</config>
	<config protected="no" type="boolean" name="auto.option.lineWrapping">no</config>
	<config protected="no" type="boolean" name="auto.option.indentWithTabs">yes</config>
	<config protected="no" type="integer" name="auto.option.indentUnit">4</config>
	<config protected="no" type="string" name="auto.option.theme">default</config>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
		$pathJsLib	= $env->getConfig()->get( 'path.scripts.lib' );
		$version	= $module->config['version']->value;
		$path		= $pathJsLib.'CodeMirror/'.$version.'/';
		$modes		= explode( ',', $module->config['modes']->value );
		$addons		= explode( ',', $module->config['addons']->value );
		$themes		= explode( ',', $module->config['themes']->value );

		$context->js->addUrl( $path.'lib/codemirror.js' );
		$context->css->theme->addUrl( $path.'lib/codemirror.css' );

		foreach( $modes as $mode )
			$context->js->addUrl( $path.'mode/'.$mode.'/'.$mode.'.js' );
		foreach( $addons as $addon )
			$context->js->addUrl( $path.'addon/'.$addon.'.js' );
		if( in_array( 'dialog/dialog', $addons ) )
			$context->css->theme->addUrl( $path.'addon/dialog/dialog.css' );
		foreach( $themes as $theme )
			$context->css->theme->addUrl( $path.'theme/'.$theme.'.css' );

		$auto	= $module->config;
		if( $module->config['auto']->value ){
			$config		= $env->getConfig()->getAll( 'module.js_codemirror.auto.' );
			$options	= json_encode( (object) array(
				'gutter'			=> $config['option.lineNumbers'] && !$config['option.lineWrapping'],
				'fixedGutter'		=> $config['option.lineNumbers'] && !$config['option.lineWrapping'],
				'lineNumbers'		=> $config['option.lineNumbers'],
				'indentUnit'		=> $config['option.indentUnit'],
				'lineWrapping'		=> $config['option.lineWrapping'],
				'indentWithTabs'	=> $config['option.indentWithTabs'],
				'theme'				=> $config['option.theme']
			) );
			$script	= '
$("'.$config['selector'].'").each(function(){									//  iterate found text areas
	var mirror = CodeMirror.fromTextArea($(this).get(0), '.$options.');
	mirror.setSize("100%", $(this).height());
	$(this).data("codemirror", mirror);
});';
			$context->js->addScript( '$(document).ready(function(){'.$script.'});' );
		}
	]]></hook>
</module>
