<?xml version="1.0"?>
<module>
	<title>UI: Compressor</title>
	<description><![CDATA[
Increases performance of web applications by reducing HTTP requests and traffic.
Extends page components to collect JavaScript and Stylesheet files by combination and compression.
]]></description>
	<category>User Interface</category>
	<version>0.1</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian Würker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>JSMin.php5</script>
	</files>
        <config type="boolean" name="compressScripts"></config>
        <config type="boolean" name="compressStyles"></config>
	<config type="string" name="prefix">min.</config>
	<config type="string" name="suffix">.js</config>
	<relations/>
	<hook type="resource" resource="Page" event="prefilter"><![CDATA[
//die("UI:Compressor: Hook called on event Page@prefilter");
	]]></hook>
</module>
