<Files ~ "/^(config.+|*.inc)$/">
    Deny From All
</Files>

Options -MultiViews -Indexes +FollowSymLinks

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/?$ index.php?__path=$1&%{QUERY_STRING} [L]

#  AUTHENTICATION
AuthType Basic
AuthName "My Project"
AuthUserFile /path/to/my/project/.htpasswd

#require valid-user

#  DISABLE ETAGS
#FileETag none

