<?xml version="1.0"?>
<module>
	<title>App: Site: Hello</title>
	<description><![CDATA[Simple <cite>Hello World</cite> web application.

This is a module only existing to start an empty demonstration web application.
From here you could start to integrate your own stuff.
]]></description>
	<category>Application</category>
	<version>0.2.1</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<locale>de/main.ini</locale>
		<locale>en/main.ini</locale>
		<locale>de/html/index.html</locale>
		<locale>en/html/index.html</locale>
		<template>master.php</template>
		<style source="theme" load="auto">layout.css</style>
	</files>
	<relations>
		<needs type="module">App_Site</needs>
		<supports type="module">UI_FavIcon</supports>
		<supports type="module">UI_MetaTags</supports>
	</relations>
</module>
