<?xml version="1.0"?>
<module>
	<title>JS: Ace</title>
	<description><![CDATA[Ace Text Editor.]]></description>
	<version>1.2.8</version>
	<category>JavaScript</category>
	<company site="https://ace.c9.io/">ace.c9.io</company>
	<author><![CDATA[Moxiecode Systems AB]]></author>
	<license source="https://raw.githubusercontent.com/ajaxorg/ace/master/LICENSE">BSD</license>
	<files>
		<style source="theme" load="auto">module.js.ace.css</style>
		<script>module.js.ace.js</script>
	</files>
	<config type="boolean" protected="no" name="auto">yes</config>
	<config type="boolean" protected="no" name="auto.verbose">false</config>
	<config type="string" protected="no" name="auto.mode"/>
	<config type="string" protected="no" name="auto.theme"/>
	<config type="integer" protected="no" name="auto.height">460</config>
	<config type="string" protected="no" name="auto.selector">textarea.ace-auto</config>
	<config type="string" protected="no" name="source.CDN" values="cdnjs,jsDelivr">cdnjs</config>
	<config type="string" protected="no" name="source.version" title="Ace version within CDN">1.2.8</config>
	<relations>
		<supports type="module">Resource_Frontend</supports>
	</relations>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
$moduleConfig	= $env->getConfig()->getAll( 'module.js_ace.', TRUE );
$pathJs			= $env->getConfig()->get( 'path.scripts' );
$version		= $moduleConfig->get( 'source.version' );
$cdn			= $moduleConfig->get( 'source.CDN' );

$uri	= 'https://cdnjs.cloudflare.com/ajax/libs/ace/'.$version.'/';
if( $cdn == 'jsDelivr' )
	$uri	= 'https://cdn.jsdelivr.net/ace/'.$version.'/noconflict/';

$context->js->addUrl( $uri.'ace.js' );
$context->js->addUrl( $pathJs.'module.js.ace.js' );
if( !$moduleConfig->get( 'auto' ) )
	return;
$script	= '
ModuleAce.verbose = '.json_encode( $moduleConfig->get( 'auto.verbose' ) ).';
ModuleAce.applyAuto("'.$moduleConfig->get( 'auto.selector' ).'");
';
$context->js->addScriptOnReady( $script );
]]></hook>
</module>
