<?xml version="1.0"?>
<module>
	<title>Projects</title>
	<description>Basic project support and administration</description>
	<version>0.1</version>
	<files>
		<class>Controller/Admin/Project.php5</class>
		<class>Model/Project.php5</class>
		<class>View/Admin/Project.php5</class>
		<locale>de/admin/project.ini</locale>
		<template>admin/project/add.php</template>
		<template>admin/project/edit.php</template>
		<template>admin/project/index.php</template>
	</files>
	<sql on="install"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>projects`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>projects` (
  `projectId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `status` tinyint(1) NOT NULL,
  `title` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `description` text COLLATE utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) NOT NULL,
  `modifiedAt` decimal(12,0) NOT NULL,
  PRIMARY KEY (`projectId`),
  KEY `access` (`status`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]>
	</sql>
	<sql on="uninstall"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>projects`;
]]>
	</sql>
</module>

