.panel-mangopay-view label {
	padding: 8px 8px 0px 8px;
	line-height: 1em;
	font-size: 0.8em;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
	}
div.value,
.panel-mangopay-view div.value {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin: 0px 0px 8px 0px;
	padding: 4px 8px;
	font-size: 1.2em;
	line-height: 1.5em;
	height: auto;
	min-height: 35px;
	border: 1px solid rgba(223, 223, 223, 0.66);
	box-shadow: none;
	background-color: rgba(223, 223, 223, 0.15);
	}

div.card-list-item-small {
	border: 1px solid rgba(191, 191, 191, 0.5);
	border-radius: 5px;
	background-color: rgba(191, 191, 191, 0.15);
	cursor: pointer;
	margin: 0 0 6px 0;
	}
div.card-list-item-small > span > img {
	display: inline-block;
	margin: 6px 8px;
	}
div.card-list-item-small > i {
	display: inline-block;
	font-size: 1.5em;
	margin: 12px 12px;
	}

div.card-list-item-large {
	float: left;
	width: 200px;
	height: 170px;
	padding: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	border: 1px solid rgba(191, 191, 191, 0.5);
	border-radius: 5px;
	background-color: rgba(191, 191, 191, 0.15);
	cursor: pointer;
	text-align: center;
	}
div.card-list-item-large tt {
	margin-top: 6px;
	font-size: 1.1em;
	display: block;
	}
div.card-list-item-large div.card-title {
	}
div.card-list-item-large i.fa {
	margin-top: 0.75em;
	margin-bottom: 0.25em;
	}


#panel-mangopay-bank-payin dt,
#panel-mangopay-bank-payin dd {
	line-height: 2em;
	font-size: 1em;
	}


.i.fa.opacity-50 {
	opacity: 0.5;
	font-weight: 100;
	}
.fa-stack.fa-sm {
	font-size: 0.5em;
	}
