<?xml version="1.0"?>
<module>
	<title>UI: Helper: Content</title>
	<description><![CDATA[Content converter and format helper.]]></description>
	<category>User Interface</category>
	<version>0.1</version>
	<files>
		<class>View/Helper/ContentConverter.php5</class>
		<style source="theme" load="auto">links.css</style>
		<image source="theme">icons/wikipedia.png</image>
		<image source="theme">icons/youtube.png</image>
		<image source="theme">icons/google.png</image>
		<image source="theme">icons/imdb.png</image>
	</files>
	<relations/>
</module>
