<?xml version="1.0"?>
<module>
	<title>Resource: Newsletter</title>
	<description><![CDATA[Let customers register for newsletter mails.]]></description>
	<category>Resource</category>
	<version>0.5</version>
	<log version="0.2.1">Updated members of logic class.</log>
	<log version="0.3">Migrate models from Info:Newsletter.</log>
	<log version="0.3.1">Migrate mail generation from Info:Newsletter and Work:Newsletter.</log>
	<log version="0.3.2">Improve preview handling.</log>
	<log version="0.3.3">Prepare status extension for removed reader groups.</log>
	<log version="0.3.4">Improve template insertions for plain text output.</log>
	<log version="0.3.5">Remove scripts support.</log>
	<log version="0.3.6">Extend model to hold newsletter sender address and name.</log>
	<log version="0.3.7">Provide transformation from HTML to plain text.</log>
	<log version="0.3.8">Extend template model by imprint and remove script support.</log>
	<log version="0.3.9">Add model for themes.</log>
	<log version="0.4">Add model for queue and updated model statuses.</log>
	<log version="0.4.1">Add tracking code and switch for generating plain version.</log>
	<log version="0.4.2">Prepare Premailer API to be usable.</log>
	<log version="0.4.3">Make use of Premailer configurable and apply in code.</log>
	<log version="0.4.4">Move managing parts of logic to module Work:Newsletter.</log>
	<log version="0.4.5">Add new HTML to plain text converter.</log>
	<log version="0.4.6">Improve HTML to plain text converter.</log>
	<log version="0.4.7">Store resulting mail ID in reader letters.</log>
	<log version="0.4.8">Improve template and theme handling.</log>
	<log version="0.4.9">Improve code style.</log>
	<log version="0.5">Import from protected SVN repository.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="https://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Logic/Newsletter.php</class>
		<class>Mail/Newsletter.php</class>
		<class>Model/Newsletter.php</class>
		<class>Model/Newsletter/Group.php</class>
		<class>Model/Newsletter/Queue.php</class>
		<class>Model/Newsletter/Reader.php</class>
		<class>Model/Newsletter/Reader/Group.php</class>
		<class>Model/Newsletter/Reader/Letter.php</class>
		<class>Model/Newsletter/Template.php</class>
		<class>Model/Newsletter/Theme.php</class>
		<class>View/Helper/Newsletter.php</class>
		<class>View/Helper/Newsletter/Mail.php</class>
		<class>View/Helper/HtmlToPlainText.php</class>
		<locale>de/resource/newsletter.ini</locale>
	</files>
	<config access="protected" type="boolean" name="premailer.html" title="Use Premailer API to work on mail HTML content">no</config>
	<config access="protected" type="boolean" name="premailer.plain" title="Use Premailer API to generate mail plain content from HTML content">no</config>
	<relations>
		<needs type="module">Resource_Database</needs>
	</relations>
	<sql on="install" type="mysql" version="final"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>newsletters`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>newsletters` (
  `newsletterId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `newsletterTemplateId` int(10) unsigned NOT NULL,
  `creatorId` int(10) unsigned NOT NULL,
  `status` tinyint(1) DEFAULT '0',
  `generatePlain` tinyint(1) unsigned DEFAULT '1',
  `trackingCode` varchar(60) COLLATE utf8_unicode_ci DEFAULT NULL,
  `senderAddress` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `senderName` varchar(100) COLLATE utf8_unicode_ci DEFAULT NULL,
  `title` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `subject` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `description` text COLLATE utf8_unicode_ci,
  `heading` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `plain` text COLLATE utf8_unicode_ci,
  `html` text COLLATE utf8_unicode_ci,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned DEFAULT NULL,
  `sentAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`newsletterId`),
  KEY `newsletterTemplateId` (`newsletterTemplateId`),
  KEY `authorId` (`creatorId`),
  KEY `status` (`status`),
  KEY `title` (`title`),
  KEY `subject` (`subject`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>newsletter_groups`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>newsletter_groups` (
  `newsletterGroupId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `creatorId` int(11) unsigned DEFAULT '0',
  `status` tinyint(1) DEFAULT '0' COMMENT '-1:discarded, 0:new, 1:usable',
  `type` tinyint(1) unsigned DEFAULT '0' COMMENT '0:default, 1:test, 2:automatic, 3:hidden',
  `title` varchar(30) COLLATE utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`newsletterGroupId`),
  KEY `status` (`status`),
  KEY `type` (`type`),
  KEY `creatorId` (`creatorId`) USING BTREE
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>newsletter_queues`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>newsletter_queues` (
  `newsletterQueueId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `newsletterId` int(11) unsigned NOT NULL,
  `creatorId` int(11) unsigned NOT NULL,
  `status` tinyint(1) DEFAULT '0' COMMENT '-2:rejected, -1:cancelled, 0:new, 1:running, 2:done',
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`newsletterQueueId`),
  KEY `newsletterId` (`newsletterId`),
  KEY `creatorId` (`creatorId`),
  KEY `status` (`status`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>newsletter_readers`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>newsletter_readers` (
  `newsletterReaderId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `status` tinyint(1) DEFAULT '0',
  `email` varchar(250) COLLATE utf8_unicode_ci NOT NULL,
  `gender` tinyint(1) unsigned DEFAULT '0',
  `prefix` varchar(20) COLLATE utf8_unicode_ci DEFAULT NULL,
  `firstname` varchar(30) COLLATE utf8_unicode_ci NOT NULL,
  `surname` varchar(50) COLLATE utf8_unicode_ci NOT NULL,
  `institution` varchar(250) COLLATE utf8_unicode_ci DEFAULT NULL,
  `registeredAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`newsletterReaderId`),
  KEY `status` (`status`),
  KEY `email` (`email`,`gender`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>newsletter_reader_groups`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>newsletter_reader_groups` (
  `newsletterReaderGroupId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `newsletterReaderId` int(11) unsigned NOT NULL,
  `newsletterGroupId` int(11) unsigned NOT NULL,
  `status` tinyint(1) DEFAULT '0' COMMENT '-2:removed, -1:cancelled, 0:assigned, 1:rejoined',
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned DEFAULT '0',
  PRIMARY KEY (`newsletterReaderGroupId`),
  KEY `newsletterReaderId` (`newsletterReaderId`),
  KEY `newsletterGroupId` (`newsletterGroupId`),
  KEY `status` (`status`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>newsletter_reader_letters`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>newsletter_reader_letters` (
  `newsletterReaderLetterId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `newsletterReaderId` int(10) unsigned NOT NULL,
  `newsletterQueueId` int(11) unsigned NOT NULL,
  `newsletterId` int(10) unsigned NOT NULL,
  `mailId` int(11) unsigned DEFAULT '0',
  `status` tinyint(1) DEFAULT '0' COMMENT '-3:removed, -2:cancelled, -1:failed, 0:enqueued, 1:sent, 2:opened',
  `enqueuedAt` decimal(12,0) unsigned NOT NULL,
  `sentAt` decimal(12,0) unsigned DEFAULT NULL,
  `openedAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`newsletterReaderLetterId`),
  KEY `newsletterReaderId` (`newsletterReaderId`),
  KEY `newsletterId` (`newsletterId`),
  KEY `status` (`status`),
  KEY `newsletterQueueId` (`newsletterQueueId`),
  KEY `mailId` (`mailId`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>newsletter_templates`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>newsletter_templates` (
  `newsletterTemplateId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `creatorId` int(10) unsigned DEFAULT '0',
  `status` tinyint(1) NOT NULL DEFAULT '0',
  `themeId` varchar(100) COLLATE utf8_unicode_ci DEFAULT NULL,
  `version` varchar(10) COLLATE utf8_unicode_ci NOT NULL DEFAULT '1',
  `title` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `senderAddress` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `senderName` varchar(100) COLLATE utf8_unicode_ci DEFAULT NULL,
  `plain` text COLLATE utf8_unicode_ci NOT NULL,
  `html` text COLLATE utf8_unicode_ci NOT NULL,
  `style` text COLLATE utf8_unicode_ci,
  `styles` text COLLATE utf8_unicode_ci,
  `imprint` text COLLATE utf8_unicode_ci,
  `authorName` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `authorEmail` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `authorUrl` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `authorCompany` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `license` varchar(20) COLLATE utf8_unicode_ci DEFAULT NULL,
  `licenseUrl` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8_unicode_ci,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`newsletterTemplateId`),
  KEY `authorId` (`creatorId`),
  KEY `status` (`status`),
  KEY `themeId` (`themeId`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
	]]></sql>
	<sql on="update" type="mysql" version="0.3.5"><![CDATA[
ALTER TABLE `<%?prefix%>newsletter_templates` DROP `script`, DROP `scripts`;
ALTER TABLE `<%?prefix%>newsletter_templates` CHANGE `modifiedAt` `modifiedAt` DECIMAL(12,0) UNSIGNED NOT NULL;
	]]></sql>
	<sql on="update" type="mysql" version="0.3.6"><![CDATA[
ALTER TABLE `<%?prefix%>newsletters` ADD `senderAddress` VARCHAR(255) NOT NULL AFTER `status`, ADD `senderName` VARCHAR(100) NULL AFTER `title`;
	]]></sql>
	<sql on="update" type="mysql" version="0.3.8"><![CDATA[
ALTER TABLE `<%?prefix%>newsletter_templates` ADD `imprint` TEXT NULL AFTER `styles`;
	]]></sql>
	<sql on="update" type="mysql" version="0.4"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>newsletter_queues`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>newsletter_queues` (
  `newsletterQueueId` int(11) UNSIGNED NOT NULL AUTO_INCREMENT,
  `newsletterId` int(11) UNSIGNED NOT NULL,
  `creatorId` int(11) UNSIGNED NOT NULL,
  `status` tinyint(1) DEFAULT '0' COMMENT '-2:rejected, -1:cancelled, 0:new, 1:running, 2:done',
  `createdAt` decimal(12,0) UNSIGNED NOT NULL,
  `modifiedAt` decimal(12,0) UNSIGNED NOT NULL,
  PRIMARY KEY (`newsletterQueueId`),
  KEY `newsletterId` (`newsletterId`),
  KEY `creatorId` (`creatorId`),
  KEY `status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
ALTER TABLE `<%?prefix%>newsletter_groups` CHANGE `authorId` `creatorId` INT(11) UNSIGNED NULL DEFAULT '0';
ALTER TABLE `<%?prefix%>newsletter_groups` DROP INDEX `authorId`, ADD INDEX `creatorId` (`creatorId`) USING BTREE;
ALTER TABLE `<%?prefix%>newsletter_groups` CHANGE `status` `status` TINYINT(1) NULL DEFAULT '0' COMMENT '-1:discarded, 0:new, 1:usable';
ALTER TABLE `<%?prefix%>newsletter_groups` CHANGE `type` `type` TINYINT(1) UNSIGNED NULL DEFAULT '0' COMMENT '0:default, 1:test, 2:automatic, 3:hidden';
ALTER TABLE `<%?prefix%>newsletter_reader_letters` ADD `newsletterQueueId` INT(11) UNSIGNED NOT NULL AFTER `newsletterReaderId`, ADD INDEX (`newsletterQueueId`);
ALTER TABLE `<%?prefix%>newsletter_reader_letters` CHANGE `status` `status` TINYINT(1) NULL DEFAULT '0' COMMENT '-3:removed, -2:cancelled, -1:failed, 0:enqueued, 1:sent, 2:opened';
ALTER TABLE `<%?prefix%>newsletter_reader_groups` CHANGE `newsletterReaderGroupId` `newsletterReaderGroupId` INT(11) UNSIGNED NOT NULL AUTO_INCREMENT;
ALTER TABLE `<%?prefix%>newsletter_reader_groups` CHANGE `newsletterReaderId` `newsletterReaderId` INT(11) UNSIGNED NOT NULL;
ALTER TABLE `<%?prefix%>newsletter_reader_groups` CHANGE `newsletterGroupId` `newsletterGroupId` INT(11) UNSIGNED NOT NULL;
ALTER TABLE `<%?prefix%>newsletter_reader_groups` ADD `status` TINYINT(1) NULL DEFAULT '0' COMMENT '-2:removed, -1:cancelled, 0:assigned, 1:rejoined' AFTER `newsletterGroupId`, ADD INDEX (`status`);
ALTER TABLE `<%?prefix%>newsletter_reader_groups` ADD `modifiedAt` DECIMAL(12) UNSIGNED NULL DEFAULT '0' AFTER `createdAt`;
UPDATE `<%?prefix%>newsletter_reader_groups` AS target INNER JOIN `<%?prefix%>newsletter_reader_groups` AS source ON target.newsletterReaderGroupId = source.newsletterReaderGroupId SET target.modifiedAt = source.createdAt WHERE target.modifiedAt = 0;
	]]></sql>
	<sql on="update" type="mysql" version="0.4.1"><![CDATA[
ALTER TABLE `<%?prefix%>newsletters` ADD `generatePlain` TINYINT(1) UNSIGNED NULL DEFAULT '1' AFTER `status`;
ALTER TABLE `<%?prefix%>newsletters` ADD `trackingCode` VARCHAR(60) NULL AFTER `generatePlain`;
ALTER TABLE `<%?prefix%>newsletter_templates` ADD `senderAddress` VARCHAR(255) NULL AFTER `title`;
ALTER TABLE `<%?prefix%>newsletter_templates` ADD `senderName` VARCHAR(100) NULL AFTER `senderAddress`;
ALTER TABLE `<%?prefix%>newsletter_templates` ADD `themeId` VARCHAR(100) NULL AFTER `status`;
ALTER TABLE `<%?prefix%>newsletter_templates` ADD INDEX(`themeId`);
	]]></sql>
	<sql on="update" type="mysql" version="0.4.2"><![CDATA[
ALTER TABLE `<%?prefix%>newsletters` CHANGE `authorId` `creatorId` INT(11) UNSIGNED NULL DEFAULT '0';
ALTER TABLE `<%?prefix%>newsletters` DROP INDEX `authorId`, ADD INDEX `creatorId` (`creatorId`) USING BTREE;
ALTER TABLE `<%?prefix%>newsletter_templates` CHANGE `authorId` `creatorId` INT(11) UNSIGNED NULL DEFAULT '0';
ALTER TABLE `<%?prefix%>newsletter_templates` DROP INDEX `authorId`, ADD INDEX `creatorId` (`creatorId`) USING BTREE;
ALTER TABLE `<%?prefix%>newsletter_groups` CHANGE `title` `title` VARCHAR(60) CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL;
	]]></sql>
	<sql on="update" type="mysql" version="0.4.7"><![CDATA[
ALTER TABLE `<%?prefix%>newsletter_reader_letters` ADD `mailId` INT( 11 ) UNSIGNED NULL DEFAULT '0' AFTER `newsletterId`,
ADD INDEX ( `mailId` );
	]]></sql>
	<sql on="update" type="mysql" version="0.4.8"><![CDATA[
ALTER TABLE `<%?prefix%>newsletter_templates` ADD `version` VARCHAR( 10 ) NOT NULL DEFAULT  '1' AFTER `themeId`;
ALTER TABLE `<%?prefix%>newsletter_templates` ADD `authorName` VARCHAR( 255 ) NULL AFTER `imprint`,
ADD `authorEmail` VARCHAR( 255 ) NULL AFTER `authorName`,
ADD `authorUrl` VARCHAR( 255 ) NULL AFTER `authorEmail`,
ADD `authorCompany` VARCHAR( 255 ) NULL AFTER `authorUrl`,
ADD `license` VARCHAR( 20 ) NULL AFTER `authorCompany`,
ADD `licenseUrl` VARCHAR( 255 ) NULL AFTER `license`,
ADD `description` TEXT NULL AFTER `licenseUrl`;
	]]></sql>
	<sql on="uninstall" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>newsletters`;
DROP TABLE IF EXISTS `<%?prefix%>newsletter_groups`;
DROP TABLE IF EXISTS `<%?prefix%>newsletter_queues`;
DROP TABLE IF EXISTS `<%?prefix%>newsletter_readers`;
DROP TABLE IF EXISTS `<%?prefix%>newsletter_reader_groups`;
DROP TABLE IF EXISTS `<%?prefix%>newsletter_reader_letters`;
DROP TABLE IF EXISTS `<%?prefix%>newsletter_templates`;
	]]></sql>
</module>
