<?xml version="1.0"?>
<module>
	<title>Server Load</title>
	<description/>
	<category>System</category>
	<version>0.1</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/System/Load.php5</class>
		<class>View/System/Load.php5</class>
		<locale>de/html/error/503.html</locale>
		<locale>en/html/error/503.html</locale>
	</files>
	<config protected="yes" type="integer" name="cores">1</config>
	<config protected="yes" type="float" name="max">20</config>
	<config protected="yes" type="integer" name="retryAfter">0</config>
	<relations/>
	<link access="public" path="system/load/ajaxRenderIndicator"></link>
	<link access="inside" path="system/load/ajaxGetLoad"></link>
	<hook type="resource" resource="Env" event="init"><![CDATA[
$cores	= $env->getConfig()->get( 'module.server_system_load.cores' );								//  get number of cpu cores from module config
$max	= $env->getConfig()->get( 'module.server_system_load.max' );								//  get maximum load from module config
$retry	= $env->getConfig()->get( 'module.server_system_load.retryAfter' );							//  get seconds to retry after from module config
$load	= array_shift( sys_getloadavg() ) / $cores;													//  calculate load relative to number of cores
if( $max > 0 && $load > $max ){																		//  a maximum load is set and load is higer than that
	header( 'HTTP/1.1 503 Service Unavailable' );													//  send HTTP 503 code
	header( 'Content-type: text/html; charset=utf-8' );												//  send MIME type header for UTF-8 html error page
	if( (int) $retry > 0 )																			//  seconds to retry after are set
		header( 'Retry-After: '.$retry );															//  send retry header
	$pathLocale	= $env->getConfig()->get( 'path.locales' ).$env->getLanguage()->getLanguage().'/';	//  get path of locales
	$fileName	= $pathLocale.'html/error/503.html';												//  error page file name
	$message	= '<h1>Service not available</h1><p>Due to heavy load this service is temporarily not available.<br/>Please try again later.</p>';
	if( file_exists( $fileName ) )																	//  error page file exists
		$message	= File_Reader::load( $fileName );												//  load error page content
	print( $message );																				//  display error message
	exit;																							//  and quit application
}
]]></hook>
</module>
