<?xml version="1.0"?>
<module>
	<title>Server Load</title>
	<description/>
	<category>System</category>
	<version>0.2.1</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Handle denial via remote environment with exception instead of HTTP response.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/System/Load.php5</class>
		<class>View/System/Load.php5</class>
		<locale>de/html/error/503.html</locale>
		<locale>en/html/error/503.html</locale>
	</files>
	<config protected="yes" type="integer" name="cores">1</config>
	<config protected="yes" type="float" name="max">20</config>
	<config protected="yes" type="integer" name="retryAfter">0</config>
	<relations/>
	<link access="public" path="system/load/ajaxRenderIndicator"></link>
	<link access="inside" path="system/load/ajaxGetLoad"></link>
	<link access="inside" path="system/load/ajaxGetLoads"></link>
	<hook type="resource" resource="Env" event="init">Controller_System_Load::___onEnvInit</hook>
</module>
