<?xml version="1.0"?>
<module>
	<title>Admin: Config</title>
	<description><![CDATA[Editor for main application configuration.]]></description>
	<version>0.2.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Render table instead of list.</log>
	<log version="0.2.2">Add english language file.</log>
	<category>Administration</category>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Admin/Config.php5</class>
		<class>View/Admin/Config.php5</class>
		<template>admin/config/index.php</template>
		<locale>de/admin/config.ini</locale>
		<locale>en/admin/config.ini</locale>
	</files>
	<link xml:lang="de" access="acl" path="admin/config">Konfiguration</link>
	<link xml:lang="en" access="acl" path="admin/config">Configuration</link>
	<relations>
		<needs type="module">App_Site</needs>
<!--		<supports type="module">Admin_Config_Modules</supports>-->
	</relations>
</module>
