<?xml version="1.0"?>
<module>
	<title>Manage: Contents: Images</title>
	<description>Basic management of available made images.</description>
	<category>Management</category>
	<version>0.3.1</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Manage/Content/Image.php5</class>
		<class>View/Manage/Content/Image.php5</class>
		<class>View/Helper/Thumbnailer.php5</class>
		<class>Resource/SqliteCache.php5</class>
		<locale>de/manage/content/image.ini</locale>
		<style load="auto" source="theme">module.manage.content.images.css</style>
		<template>manage/content/image/index.php</template>
		<template>manage/content/image/addFolder.php</template>
		<template>manage/content/image/addImage.php</template>
		<template>manage/content/image/editFolder.php</template>
		<template>manage/content/image/editImage.php</template>
	</files>
	<relations>
		<supports type="module">JS_TinyMCE</supports>
	</relations>
	<config type="string" name="frontend.path" mandatory="no" title="folder path to managed application, needs trailing slash if set">../</config>
	<config type="string" name="frontend.url" mandatory="yes" title="net path to managed application, needs trailing slash">../</config>
	<config type="string" name="path.images" mandatory="yes" title="path to images within managed application, needs trailing slash">contents/images/</config>
	<config type="string" name="path.ignore" mandatory="no" title="regular expression of paths to ignore">/^(galleries|gallery)/i</config>
	<config type="string" name="extensions" mandatory="yes" title="regular expression of accepted file extensions">/\.(gif|jpe|jpeg|jpg|png)$/i</config>
	<link xml:lang="de" path="manage/content/image">Bilder</link>
	<link xml:lang="en" path="manage/content/image">Images</link>
	<hook type="resource" resource="TinyMCE" event="getImageList">Controller_Manage_Content_Image::___onTinyMCE_getLinkList</hook>
	<hook type="resource" resource="TinyMCE" event="getLinkList">Controller_Manage_Content_Image::___onTinyMCE_getLinkList</hook>
</module>
