<?xml version="1.0"?>
<module>
	<title>UI: Shortcode</title>
	<description><![CDATA[Short replacement in HTML view contents.]]></description>
	<category>User Interface</category>
	<version>0.2</version>
	<log version="0.1">Initial prototype.</log>
 	<log version="0.2">Separation to Hydrogen module.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Logic/Shortcode.php5</class>
	</files>
	<config type="string" name="mode" values="allow,deny">allow</config>
	<config type="string" name="deny" title="comma separated shortcode to avoid, if mode is allow"></config>
	<config type="string" name="allow" title="comma separated shortcode to apply, if mode is deny"></config>
</module>
