<?xml version="1.0"?>
<module xmlns="https://schema.ceusmedia.de/hydrogen/module-1.0.0.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://schema.ceusmedia.de/hydrogen/module-1.0.0.xsd https://schema.ceusmedia.de/hydrogen/module-1.0.0.xsd">
	<title>JS: MD5</title>
	<description><![CDATA[MD5]]></description>
	<category>JavaScript</category>
	<version>2.10.0</version>
	<files>
		<script load="auto">md5.min.js</script>
	</files>
</module>
