
/*  ##  GENERAL  ##  */

/*  --  USERS  --  */

/*  --  User Status  --  */
.user-status {
	background-repeat: no-repeat;
	background-position: 4px 1px;
	padding-left: 1.8em;
	}
.user-status.status1 {
	color: darkgreen;
	background-image: url(//cdn.ceusmedia.de/icons/famfamfam/silk/accept.png);
	}
.user-status.status0 {
	font-weight: normal;
	font-style: italic;
	background-image: url(//cdn.ceusmedia.de/icons/famfamfam/silk/star.png);
	}
.user-status.status-1 {
	font-weight: normal;
	font-style: italic;
	color: red;
	background-image: url(//cdn.ceusmedia.de/icons/famfamfam/silk/lock.png);
	}
.user-status.status-2 {
	font-weight: normal;
	color: darkred;
	background-image: url(//cdn.ceusmedia.de/icons/famfamfam/silk/delete.png);
	}
input.user-status {
	padding-left: 2em;
	background-position: 6px 6px;
	}

/*  --  User Activity  --  */
.user-activity {
	background-repeat: no-repeat;
	background-position: 4px 1px;
	padding-left: 1.8em;
	}
.user-activity.activity0 {
	background-image: url(//cdn.ceusmedia.de/icons/famfamfam/silk/status_offline.png);
	opacity: 0.8;
	}
.user-activity.activity1 {
	background-image: url(//cdn.ceusmedia.de/icons/famfamfam/silk/status_online.png);
	}
.user-activity.activity2 {
	background-image: url(//cdn.ceusmedia.de/icons/famfamfam/silk/status_busy.png);
	}
.user-activity.activity3 {
	background-image: url(//cdn.ceusmedia.de/icons/famfamfam/silk/status_away.png);
	}
.user-activity.activity4 {
	background-image: url(//cdn.ceusmedia.de/icons/famfamfam/silk/status_online.png);
	}
.user-activity.activity5 {
	background-image: url(//cdn.ceusmedia.de/icons/famfamfam/silk/star.png);
	}
input.user-activity {
	background-position: 6px 4px;
	}

/*  --  ROLES  --  */

/*  --  Role  --  */
span.role.role1,
span.role.role2,
span.role.role3,
span.role.role4,
span.role.role5 {
	background-repeat: no-repeat;
	background-position: 2px 1px;
	padding-left: 1.8em;
	}
span.role.role1,
span.role.role2 {
	background-image: url(//cdn.ceusmedia.de/icons/famfamfam/silk/user_gray.png);
	}
span.role.role3 {
	background-image: url(//cdn.ceusmedia.de/icons/famfamfam/silk/user_suit.png);
	}
span.role.role4 {
	background-image: url(//cdn.ceusmedia.de/icons/famfamfam/silk/user.png);
	}
span.role.role5 {
	background-image: url(//cdn.ceusmedia.de/icons/famfamfam/silk/user_green.png);
	}

/*  --  Role Access  --  */
.role-access {
	background-repeat: no-repeat;
	background-position: 2px 1px;
	padding-left: 1.8em;
	min-height: 20px;
	display: block;
	float: left;
	}
.role-access.access0 {
	background-image: url(//cdn.ceusmedia.de/icons/famfamfam/silk/stop.png);
	}
.role-access.access64 {
	background-image: url(//cdn.ceusmedia.de/icons/famfamfam/silk/shield.png);
	}
.role-access.access128 {
	background-image: url(//cdn.ceusmedia.de/icons/famfamfam/silk/world.png);
	}

/*  --  Role Rights Map  --  */
.acl-card {
	border: 1px solid rgba(0, 0, 0, 0.33);
	overflow: hidden;
	}
.acl-card div.bar {
	height: 12px;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: white;
	overflow: hidden;
	white-space: nowrap;
	}
.acl-card div.bar:last-child {
	border-width: 1px;
	height: 12px;
	}
.acl-card div.bar div {
	height: 12px;
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-right: 1px;
	vertical-align: top;
	white-space: normal;
	}
.acl-card div.bar div.counter {
	width: 10%;
	font-size: 10px;
	margin: 0;
	padding: 0;
	line-height: 0.9em;
	display: none;
	}
.acl-card div.bar .yes {
	background-color: green;
	}
.acl-card div.bar .no {
	background-color: #EDC;
	}

/*  ##  USER MANAGEMENT  ##  */

/*  --  Edit  --  */
body.moduleManageUsers .controller-manage-user.action-edit .column-control {
	float: right;
	width: 40%;
	}
body.moduleManageUsers .controller-manage-user.action-edit .column-main {
	margin-right: 42%;
	}


/*  --  Password  --  */
body.moduleManageUsers #password-strength {
	width: 90% !important;
	margin-top: 0px;
	margin-bottom: 0.5em;
	background-color: #EFEFEF;
	border: 0px solid #9F9F9F;
	font-size: 0.9em;
	overflow: hidden;
	min-height: 1em;
	border-radius: 0.4em;
	}
body.moduleManageUsers #password-strength .password-strength-bar {
	display: inline-block;
	opacity: 1 !important;
	width: 100% !important;
	text-align: center;
	font-size: 0.9em;
	color: rgba( 0,0,0,0.75);
	color: rgba( 255, 255, 255, 1);
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: 0 -1px #444, 1px 0 #444, 0 1px #444, -1px 0 #444, 0 0 2px #000;
	}
body.moduleManageUsers #input_passwordConfirm.valid {
	background-color: rgba(127, 255, 63, 0.25);
	}
body.moduleManageUsers #input_passwordConfirm.invalid {
	background-color: rgba(255, 63, 0, 0.15);
	}
body.moduleManageUsers div.password-history table thead th {
	font-weight: normal;
	font-size: 0.9em;
	font-style: italic;
	}
body.moduleManageUsers div.password-history table tbody td {
	font-weight: normal;
	font-size: 0.9em;
	}

/*  --  Password: eXpErImEnTaL  --  */
body.moduleManageUsers #form_manage_user_password > div > div {
	position: relative;
	}
body.moduleManageUsers #password-strength {
	position: absolute;

	/* disc with space */
/*	top: 31px;
	right: 20px;
	width: 18px !important;
	height: 18px !important;
	border-radius: 9px;*/

	/* square with space */
	top: 30px;
	right: 20px;
	width: 20px !important;
	height: 20px !important;
	border-radius: 3px;

	/* square without space */
/*	top: 26px;
	right: 16px;
	width: 28px !important;
	height: 28px !important;
	border-radius: 0px 2px 2px 0px;*/
	}
body.moduleManageUsers #password-strength .password-strength-bar {
	font-size: 0px !important;

	/* disc with space */
/*	width: 18px !important;
	height: 18px !important;*/

	/* square with space */
	width: 20px !important;
	height: 20px !important;

	/* square without space */
/*	width: 28px !important;
	height: 28px !important;
	margin: 0;
	padding: 0;*/
	}







/*  ##  ROLE MANAGEMENT  ##  */

/*  --  Rights  --  */
#role-edit-rights {
	}
#role-edit-rights ul {
	padding: 0px;
	margin: 0px;
	}
#role-edit-rights li.action {
	float: left;
	display: block;
	padding: 0px 4px;
	margin: 1px 2px 1px 0px;
	font-size: 0.9em;
	color: #3F3F3F;
	opacity: 0.75;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	}
#role-edit-rights li.action.changable {
	color: black;
	color: white;
	cursor: pointer;
	opacity: 1;
	}
#role-edit-rights li.action.changable label {
	cursor: pointer;
	}
#role-edit-rights li.green {
	background-color: #5FFF5F;
	}
#role-edit-rights li.action.green.changable {
	background-color: #3F7F3F;
	}
#role-edit-rights li.action.yellow {
	background-color: #FFFF7F !important;
	}
#role-edit-rights li.action.red {
	background-color: #FFBFBF;
	}
#role-edit-rights li.action.red.changable {
	background-color: #9F3F3F;
	}
#role-edit-rights li.action.gray {
	background-color: #AFAFAF;
	opacity: 0.5;
	font-size: 0.9em;
/*	display: none;*/
	}
#role-edit-rights li.acl-module > table {
	margin-bottom: 5px;
	border-bottom: 1px solid rgba(127, 127, 127, 0.25);
	}
#role-edit-rights li.acl-module > table > tbody > tr > td {
	padding: 0;
	}
#role-edit-rights li.acl-module > table > tbody > tr > td.column-controller {
	padding-left: 1.1em;
	}







.collapsable-block {
/*	margin-bottom: 1em;
	border-bottom: 1px solid rgba(127, 127, 127, 0.25);*/
	}
.collapsable-block-trigger {
/*	cursor: pointer;*/
	}
.collapsable-block-content {
/*	display: none;*/
	}




/*  ##  OUTDATED ?  ##  */


.controller-manage-user #content dl dt {
	width: 150px;
	}

legend.user-add {
	background-image:  url(//cdn.ceusmedia.de/icons/famfamfam/silk/user_add.png);
	}

legend.user-edit {
	background-image:  url(//cdn.ceusmedia.de/icons/famfamfam/silk/user_edit.png);
	}
