<?xml version="1.0"?>
<module>
	<title>Piwik Tracker</title>
	<description><![CDATA[Request tracking using Piwik.]]></description>
	<category>Resource</category>
	<version>0.2</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<script load="auto">piwik.js</script>
	</files>
	<relations/>
	<config protected="yes" mandatory="no" type="boolean" name="enabled">yes</config>
	<config protected="yes" mandatory="yes" type="integer" name="ID">1</config>
	<config protected="yes" mandatory="no" type="string" name="path">/var/www/piwik/</config>
	<config protected="yes" mandatory="yes" type="string" name="URI">http://localhost/piwik/</config>
	<hook type="resource" resource="Env" event="init"><![CDATA[
		$config	= $env->getConfig()->getAll( 'modules.resource_tracker_piwik.', TRUE );				//  get module configuration as dictionary
		if( $config->get( 'enabled' ) && ( $id = $config->get( 'ID' ) ) ){							//  piwik tracker is enabled and tracking ID is set
			if( ( $uri = $config->get( 'URI' ) ) && ( $path = $config->get( 'path' ) ) ){			//  path and URI to piwik are defined
				$classFile	= $path.'libs/PiwikTracker/PiwikTracker.php';							//  calculate piwik tracker class file
				@include_once $classFile;															//  include piwik tracker class file
				if( !class_exists( 'PiwikTracker' ) )												//  include was NOT successful
					throw new RuntimeException( 'Piwik tracker inclusion failed ('.$classFile.')' );
				PiwikTracker::$URL = $uri;															//  set URL of piwik
				$env->set( 'piwik', new PiwikTracker( $id ) );										//  bind piwik tracker instance to environment
			}
		}
]]></hook>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
		$options	= $env->getConfig()->getAll( 'module.resource_tracker_piwik.' );				//  get module configuration as array map
		if( $options['enabled'] ){
			$context->js->addUrl( $options['URI'].'piwik.js' );
			$options['URI']	= preg_replace( "@^[a-z]+://@", "", $options['URI'] );
			$context->js->addScript( 'initPiwik('.json_encode( $options ).');' );
		}
]]></hook>
	<hook type="resource" resource="Page" event="build"><![CDATA[
		$config		= $env->getConfig()->getAll( 'module.resource_tracker_piwik.', TRUE );			//  get module configuration as dictionary
		if( $config->get( 'enabled' ) ){															//  piwik tracker is enabled
			if( ( $uri = $config->get( 'URI' ) ) && ( $id = $config->get( 'ID' ) ) ){				//  ID and piwik URI are defined
				$noscript	= UI_HTML_Tag::create( 'noscript', UI_HTML_Tag::create( 'p',				//  create noscript HTML tag
					UI_HTML_Tag::create( 'img', NULL, array(											//  create tracking image
						'src'	=> $uri.'piwik.php?idsite='.$id,										//  
						'style'	=> 'border: 0',															//  no borders
						'alt'	=> ''																	//  atleast empty alternative text for XHTML validity
					) )
				) );
				$context->addBody( $noscript );															//  append noscript tag to body
			}
		}
]]></hook>
</module>
