<?xml version="1.0"?>
<module>
	<title>Info: Forum</title>
	<description><![CDATA[Simple forum boards.]]></description>
	<category>Info</category>
	<version>0.3.13</version>
	<log version="0.3.5">Extended thread addition handling.</log>
	<log version="0.3.6">Added mail on new post answer.</log>
	<log version="0.3.7">Added option for mail sender.</log>
	<log version="0.3.8">Use AJAX to show hint if posts have been updated.</log>
	<log version="0.3.9">Fixed bug: Topic addition form always points to last category.</log>
	<log version="0.3.10">Extracted mail style of answer mail for further use.</log>
	<log version="0.3.11">Added daily mail to manager.</log>
	<log version="0.3.12">Added job for daily mail to manager.</log>
	<log version="0.3.13">Several tiny improvements and bug fixes.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Info/Forum.php5</class>
		<class>Model/Forum/Post.php5</class>
		<class>Model/Forum/Thread.php5</class>
		<class>Model/Forum/Topic.php5</class>
		<class>Mail/Forum/Abstract.php5</class>
		<class>Mail/Forum/Answer.php5</class>
		<class>Mail/Forum/Daily.php5</class>
		<class>View/Info/Forum.php5</class>
		<class>Job/Info/Forum.php5</class>
		<template>info/forum/index.php</template>
		<template>info/forum/index.add.php</template>
		<template>info/forum/thread.php</template>
		<template>info/forum/thread.add.php</template>
		<template>info/forum/topic.php</template>
		<template>info/forum/topic.add.php</template>
		<locale>de/info/forum.ini</locale>
		<style>module.info.forum.css</style>
		<script>InfoForum.js</script>
		<file>config/jobs/forum.xml</file>
	</files>
	<config protected="yes" type="boolean" name="mail.active">yes</config>
	<config protected="user" type="boolean" name="mail.inform.authors" title="Send mail to thread members on new answer.">yes</config>
	<config protected="yes" type="boolean" name="mail.inform.managers" title="Send daily mail to manager.">yes</config>
	<config protected="yes" type="string" name="mail.inform.managers.roleIds" title="Comma separated list of role IDs.">3</config>
	<config protected="yes" type="string" name="mail.inform.managers.userIds" title="Comma separated list of user IDs."></config>
	<config protected="yes" type="string" name="mail.sender" title="Address of mail sender.">no_reply@example.com</config>
	<config protected="yes" type="boolean" name="upload" title="Allow image uploads.">yes</config>
	<config protected="yes" type="integer" name="upload.max.x" title="Maximum width on image scaling.">1024</config>
	<config protected="yes" type="integer" name="upload.max.y" title="Maximum height on image scaling.">768</config>
	<config protected="yes" type="string" name="upload.path" title="Path to image upload folder.">contents/forum/</config>
	<config protected="yes" type="boolean" name="sitemap" title="Enable support for sitemap module.">yes</config>
	<config protected="yes" type="boolean" name="sitemap.topics" title="Append forum topics to sitemap.">yes</config>
	<config protected="yes" type="boolean" name="sitemap.threads" title="Append forum threads to sitemap.">yes</config>
	<relations>
		<needs type="module">Resource_Database</needs>
		<needs type="module">Resource_Authentication</needs>
		<needs type="module">Resource_Jobs</needs>
	</relations>
	<link access="acl" path="info/forum" xml:lang="de" rank="55">Forum</link>
	<link access="acl" path="info/forum" xml:lang="en" rank="55">Forum</link>
	<hook type="resource" resource="Sitemap" event="registerLinks">Controller_Info_Forum::___onRegisterSitemapLinks</hook>
	<sql on="install" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>forum_posts`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>forum_posts` (
  `postId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `threadId` int(11) unsigned NOT NULL,
  `parentId` int(11) unsigned DEFAULT NULL,
  `authorId` int(11) unsigned DEFAULT NULL,
  `type` tinyint(1) unsigned DEFAULT '0',
  `status` tinyint(1) DEFAULT '0',
  `content` text COLLATE utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`postId`),
  KEY `threadId` (`threadId`),
  KEY `parentId` (`parentId`),
  KEY `authorId` (`authorId`),
  KEY `type` (`type`),
  KEY `status` (`status`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>forum_threads`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>forum_threads` (
  `threadId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `topicId` int(11) unsigned DEFAULT NULL,
  `authorId` int(11) unsigned DEFAULT NULL,
  `type` tinyint(1) unsigned DEFAULT '0',
  `status` tinyint(1) DEFAULT '0',
  `title` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`threadId`),
  KEY `topicId` (`topicId`),
  KEY `authorId` (`authorId`),
  KEY `type` (`type`),
  KEY `status` (`status`),
  KEY `title` (`title`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>forum_topics`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>forum_topics` (
  `topicId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `parentId` int(11) unsigned DEFAULT NULL,
  `type` tinyint(1) unsigned DEFAULT '0',
  `rank` tinyint(1) unsigned NOT NULL,
  `title` varchar(200) COLLATE utf8_unicode_ci NOT NULL,
  `description` text COLLATE utf8_unicode_ci,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`topicId`),
  KEY `parentId` (`parentId`),
  KEY `type` (`type`),
  KEY `status` (`rank`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

INSERT INTO `<%?prefix%>forum_topics` (`topicId`, `parentId`, `type`, `rank`, `title`, `description`, `createdAt`, `modifiedAt`) VALUES
(1, 0, 0, 0, 'General', NULL, 1390623328, NULL);
]]></sql>	
	<sql on="uninstall" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>forum_posts`;
DROP TABLE IF EXISTS `<%?prefix%>forum_threads`;
DROP TABLE IF EXISTS `<%?prefix%>forum_topics`;
]]></sql>	
</module>


