<?xml version="1.0"?>
<module>
	<title>Resource: JSON Server</title>
	<description><![CDATA[Access to JSON Server.]]></description>
	<category>Resource</category>
	<version>0.2</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>Resource/Server/Json.php5</class>
		<class>View/Helper/JsonServerResponseCodeHandler.php5</class>
	</files>
        <config protected="yes" type="string" name="userAgent"></config>
        <config protected="yes" type="string" name="auth.username"></config>
        <config protected="yes" type="string" name="auth.password"></config>
        <config protected="yes" type="string" name="auth.secret">secret</config>
        <config protected="yes" type="boolean" name="log"></config>
        <config protected="yes" type="string" name="log.file">server.json.log</config>
	<config protected="yes" type="string" name="uri">http://example.org/server/json/</config>
</module>
