<?xml version="1.0"?>
<module>
	<title>Admin: OAuth2</title>
	<description><![CDATA[Manage connected OAuth2 providers.]]></description>
	<category>Administration</category>
	<version>0.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Admin/Oauth2.php5</class>
		<class>View/Admin/Oauth2.php5</class>
		<template>admin/oauth2/add.php</template>
		<template>admin/oauth2/edit.php</template>
		<template>admin/oauth2/index.php</template>
		<locale>de/admin/oauth2.ini</locale>
<!--		<style load="auto">module.admin.oauth2.css</style>-->
<!--		<script></script>-->
	</files>
<!--	<config name="testKey1">This is a test!</config>-->
	<relations>
		<needs type="module">Resource_Authentication_Backend_OAuth2</needs>
	</relations>
	<link xml:lang="de" access="acl" path="admin/server" rank="96">OAuth2 Anbieter</link>
	<link xml:lang="en" access="acl" path="admin/server" rank="96">OAuth2 Providers</link>
</module>
