<?xml version="1.0"?>
<module>
	<title>UI: DevLayer: Profiler</title>
	<description><![CDATA[Runtime profiler view layer.]]></description>
	<version>0.3.2</version>
	<category>User Interface</category>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>View/Helper/DevProfiler.php5</class>
		<style source="theme">module.ui.dev.layer.profiler.css</style>
		<locale>de/ui.dev.layer.profiler.ini</locale>
	</files>
	<config protected="no" type="boolean" name="enabled">yes</config>
	<config protected="no" type="boolean" name="filter">yes</config>
	<config protected="no" type="string" name="filter.type" values="%,ms">%</config>
	<config protected="no" type="float" name="filter.threshold">0.5</config>
	<relations>
		<needs type="module">UI_DevLayers</needs>
	</relations>
	<hook type="resource" resource="Page" event="build">View_Helper_DevProfiler::___onPageBuild</hook>
</module>
 