<?xml version="1.0"?>
<module>
	<title>Shop: Shipping</title>
	<description><![CDATA[Extends shop by shipping options and calculations.]]></description>
	<category>Shop</category>
	<version>0.2.3</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Sepration to Hydrogen module.</log>
	<log version="0.2.1">Add logic class.</log>
	<log version="0.2.3">Improve model structure.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Model/Shop/Shipping/Country.php5</class>
		<class>Model/Shop/Shipping/Grade.php5</class>
		<class>Model/Shop/Shipping/Option.php5</class>
		<class>Model/Shop/Shipping/Price.php5</class>
		<class>Model/Shop/Shipping/Zone.php5</class>
		<class>Logic/Shop/Shipping.php5</class>
	</files>
	<relations>
		<needs type="module">Shop</needs>
	</relations>
	<sql type="mysql" on="install">
<![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>shop_shipping_countries`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>shop_shipping_countries` (
  `countryId` int(11) UNSIGNED NOT NULL AUTO_INCREMENT,
  `zoneId` int(11) UNSIGNED NOT NULL DEFAULT '0',
  `countryCode` varchar(3) COLLATE utf8_unicode_ci NOT NULL,
  PRIMARY KEY (`countryId`),
  KEY `zoneId` (`zoneId`),
  KEY `countryCode` (`countryCode`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>shop_shipping_grades`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>shop_shipping_grades` (
  `gradeId` int(11) UNSIGNED NOT NULL AUTO_INCREMENT,
  `title` varchar(100) COLLATE utf8_unicode_ci NOT NULL DEFAULT '',
  `weight` int(10) UNSIGNED DEFAULT '0',
  `fallback` tinyint(1) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`gradeId`),
  KEY `weight` (`weight`),
  KEY `fallback` (`fallback`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>shop_shipping_options`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>shop_shipping_options` (
  `optionId` int(11) UNSIGNED NOT NULL AUTO_INCREMENT,
  `title` varchar(100) COLLATE utf8_unicode_ci NOT NULL DEFAULT '',
  `price` varchar(10) COLLATE utf8_unicode_ci NOT NULL DEFAULT '',
  PRIMARY KEY (`optionId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>shop_shipping_prices`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>shop_shipping_prices` (
  `priceId` int(11) UNSIGNED NOT NULL AUTO_INCREMENT,
  `zoneId` int(11) UNSIGNED NOT NULL DEFAULT '0',
  `gradeId` int(11) UNSIGNED NOT NULL DEFAULT '0',
  `price` float(6,2) UNSIGNED NOT NULL,
  PRIMARY KEY (`priceId`),
  KEY `zoneId` (`zoneId`),
  KEY `gradeId` (`gradeId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>shop_shipping_zones`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>shop_shipping_zones` (
  `zoneId` int(11) UNSIGNED NOT NULL AUTO_INCREMENT,
  `title` varchar(200) COLLATE utf8_unicode_ci NOT NULL DEFAULT '',
  `fallback` tinyint(1) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`zoneId`),
  KEY `fallback` (`fallback`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]>
	</sql>
</module>
