<?xml version="1.0"?>
<module>
	<title>Manage: My Mangopay</title>
	<description><![CDATA[...]]></description>
	<category>Management</category>
	<version>0.3</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.3">Add more features.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>Controller/Manage/My/Mangopay.php5</class>
		<class>Controller/Manage/My/Mangopay/Bank.php5</class>
		<class>Controller/Manage/My/Mangopay/Card.php5</class>
		<class>Controller/Manage/My/Mangopay/User.php5</class>
		<class>Controller/Manage/My/Mangopay/Wallet.php5</class>
		<class>View/Manage/My/Mangopay.php5</class>
		<class>View/Manage/My/Mangopay/Bank.php5</class>
		<class>View/Manage/My/Mangopay/Card.php5</class>
		<class>View/Manage/My/Mangopay/User.php5</class>
		<class>View/Manage/My/Mangopay/Wallet.php5</class>
		<class>View/Helper/Accordion.php5</class>
		<class>View/Helper/Panel.php5</class>
		<template>manage/my/mangopay/bank/index.php</template>
		<template>manage/my/mangopay/card/add.php</template>
		<template>manage/my/mangopay/card/index.php</template>
		<template>manage/my/mangopay/card/payin.php</template>
		<template>manage/my/mangopay/card/view.php</template>
		<template>manage/my/mangopay/user/index.php</template>
		<template>manage/my/mangopay/user/view.php</template>
		<template>manage/my/mangopay/wallet/index.php</template>
		<template>manage/my/mangopay/wallet/payin.php</template>
		<template>manage/my/mangopay/wallet/view.php</template>
		<locale>de/manage/my/mangopay/card.ini</locale>
	</files>
	<relations>
		<needs type="module">Resource_Mangopay</needs>
	</relations>
</module>
