<?xml version="1.0"?>
<module>
	<title>Manage: My Mangopay</title>
	<description><![CDATA[User self management of Mangopay entities.]]></description>
	<category>Management</category>
	<version>0.3.6</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.3">Add more features.</log>
	<log version="0.3.1">Add panels.</log>
	<log version="0.3.2">Add dashboard.</log>
	<log version="0.3.3">Add transitions index.</log>
	<log version="0.3.4">Extend credit card payins by preauthorization.</log>
	<log version="0.3.5">Add cache, payout and many improvements.</log>
	<log version="0.3.6">Split card controller into subcontrollers.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>Controller/Manage/My/Mangopay.php5</class>
		<class>Controller/Manage/My/Mangopay/Bank.php5</class>
		<class>Controller/Manage/My/Mangopay/Card.php5</class>
		<class>Controller/Manage/My/Mangopay/User.php5</class>
		<class>Controller/Manage/My/Mangopay/Wallet.php5</class>
		<class>Controller/Manage/My/Mangopay/Transaction.php5</class>
		<class>Controller/Manage/My/Mangopay/Card/Payin.php5</class>
		<class>Controller/Manage/My/Mangopay/Card/Registration.php5</class>
		<class>View/Helper/Accordion.php5</class>
		<class>View/Helper/Panel.php5</class>
		<class>View/Helper/Panel/Mangopay.php5</class>
		<class>View/Helper/Panel/Mangopay/BankAccounts.php5</class>
		<class>View/Helper/Panel/Mangopay/Cards.php5</class>
		<class>View/Helper/Panel/Mangopay/Wallets.php5</class>
		<class>View/Helper/Panel/Mangopay/Transactions.php5</class>
		<class>View/Manage/My/Mangopay.php5</class>
		<class>View/Manage/My/Mangopay/Bank.php5</class>
		<class>View/Manage/My/Mangopay/Card.php5</class>
		<class>View/Manage/My/Mangopay/User.php5</class>
		<class>View/Manage/My/Mangopay/Wallet.php5</class>
		<class>View/Manage/My/Mangopay/Transaction.php5</class>
		<class>View/Manage/My/Mangopay/Card/Payin.php5</class>
		<class>View/Manage/My/Mangopay/Card/Registration.php5</class>
		<template>manage/my/mangopay/index.php</template>
		<template>manage/my/mangopay/bank/add.php</template>
		<template>manage/my/mangopay/bank/index.php</template>
		<template>manage/my/mangopay/bank/payIn.php</template>
		<template>manage/my/mangopay/bank/view.php</template>
		<template>manage/my/mangopay/card/edit.php</template>
		<template>manage/my/mangopay/card/index.php</template>
		<template>manage/my/mangopay/card/view.php</template>
		<template>manage/my/mangopay/card/registration/index.php</template>
		<template>manage/my/mangopay/card/payin/index.php</template>
		<template>manage/my/mangopay/card/payin/preAuthorized.php</template>
		<template>manage/my/mangopay/user/index.php</template>
		<template>manage/my/mangopay/user/view.php</template>
		<template>manage/my/mangopay/wallet/index.php</template>
		<template>manage/my/mangopay/wallet/payin.php</template>
		<template>manage/my/mangopay/wallet/view.php</template>
		<template>manage/my/mangopay/transaction/index.php</template>
		<locale>de/manage/my/mangopay/card.ini</locale>
	</files>
	<relations>
		<needs type="module">Resource_Payment_Mangopay</needs>
	</relations>
</module>
