<?xml version="1.0"?>
<module>
	<title>JS: Underscore</title>
	<description><![CDATA[Underscore JavaScript Library]]></description>
	<version>1.5.2</version>
	<category>JavaScript</category>
	<author site="http://www.documentcloud.org/">DocumentCloud</author>
	<url>http://underscorejs.org/</url>
	<license source="https://github.com/jashkenas/underscore/blob/master/LICENSE">Open Source</license>
	<files>
		<script load="auto" top="yes">underscore-1.5.2-min.js</script>
		<script top="yes">underscore-1.5.2.js</script>
	</files>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
$context->addBodyClass( 'uses-underscore' );
	]]></hook>
</module>
