<?xml version="1.0"?>
<module>
	<title>Work: Notes</title>
	<description><![CDATA[]]></description>
	<category>Work</category>
	<version>0.1</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian Würker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Work/Note.php5</class>
		<class>Model/Note.php5</class>
		<class>Model/Note/Link.php5</class>
		<class>Model/Note/Tag.php5</class>
		<class>Model/Link.php5</class>
		<class>Model/Tag.php5</class>
		<class>Logic/Note.php5</class>
		<class>View/Work/Note.php5</class>
		<class>View/Helper/ContentConverter.php5</class>
		<template>work/note/add.php</template>
		<template>work/note/edit.php</template>
		<template>work/note/index.php</template>
		<template>work/note/index.filter.php</template>
		<template>work/note/view.php</template>
		<locale>de/work/note.ini</locale>
		<style load="auto">site.work.note.css</style>
		<style load="auto" source="lib">xmp.formats.css</style>
		<script load="auto" source="lib">String.pregQuote.js</script>
		<script load="auto">FormNoteFilter.js</script>
	</files>
	<relations>
		<needs type="module">Auth</needs>
<!--		<needs type="module">Tags</needs>-->
	</relations>
	<link xml:lang="de" access="acl" path="work/note">Notizen</link>
	<link xml:lang="en" access="acl" path="work/note">Notes</link>
	<sql on="install" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>links`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>links` (
  `linkId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `url` varchar(250) COLLATE utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `lastAssignAt` decimal(12,0) unsigned DEFAULT NULL,
  `lastSearchAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`linkId`),
  KEY `url` (`url`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>notes`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>notes` (
  `noteId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `userId` int(11) unsigned NOT NULL,
  `status` tinyint(1) unsigned NOT NULL,
  `title` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `content` text COLLATE utf8_unicode_ci,
  `numberViews` int(10) unsigned NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`noteId`),
  KEY `userId` (`userId`),
  KEY `status` (`status`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>note_links`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>note_links` (
  `noteLinkId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `noteId` int(11) unsigned NOT NULL,
  `linkId` int(11) unsigned NOT NULL,
  `title` varchar(200) COLLATE utf8_unicode_ci DEFAULT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`noteLinkId`),
  KEY `noteId` (`noteId`),
  KEY `linkId` (`linkId`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>note_tags`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>note_tags` (
  `noteTagId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `noteId` int(11) unsigned NOT NULL,
  `tagId` int(11) unsigned NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`noteTagId`),
  KEY `noteId` (`noteId`),
  KEY `tagId` (`tagId`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>tags`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>tags` (
  `tagId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `content` varchar(20) COLLATE utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) NOT NULL,
  PRIMARY KEY (`tagId`),
  KEY `content` (`content`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>term_log`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>term_log` (
  `termLogId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `userId` int(11) unsigned NOT NULL,
  `count` decimal(10,0) NOT NULL,
  `content` text COLLATE utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`termLogId`),
  KEY `userId` (`userId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="uninstall" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>links`;
DROP TABLE IF EXISTS `<%?prefix%>notes`;
DROP TABLE IF EXISTS `<%?prefix%>note_links`;
DROP TABLE IF EXISTS `<%?prefix%>note_tags`;
DROP TABLE IF EXISTS `<%?prefix%>tags`;
DROP TABLE IF EXISTS `<%?prefix%>term_log`;
]]></sql>
</module>




DROP TABLE IF EXISTS `kb_articles`;
CREATE TABLE IF NOT EXISTS `kb_articles` (
  `articleId` int(11) unsigned NOT NULL auto_increment,
  `userId` int(11) unsigned NOT NULL,
  `status` tinyint(1) unsigned NOT NULL,
  `title` varchar(100) collate utf8_unicode_ci NOT NULL,
  `content` text collate utf8_unicode_ci,
  `numberViews` int(10) unsigned NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY  (`articleId`),
  KEY `userId` (`userId`),
  KEY `status` (`status`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `kb_article_links`;
CREATE TABLE IF NOT EXISTS `kb_article_links` (
  `articleLinkId` int(11) unsigned NOT NULL auto_increment,
  `articleId` int(11) unsigned NOT NULL,
  `linkId` int(11) unsigned NOT NULL,
  `title` varchar(200) collate utf8_unicode_ci default NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY  (`articleLinkId`),
  KEY `articleId` (`articleId`),
  KEY `linkId` (`linkId`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `kb_article_tags`;
CREATE TABLE IF NOT EXISTS `kb_article_tags` (
  `articleTagId` int(11) unsigned NOT NULL auto_increment,
  `articleId` int(11) unsigned NOT NULL,
  `tagId` int(11) unsigned NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY  (`articleTagId`),
  KEY `articleId` (`articleId`),
  KEY `tagId` (`tagId`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `kb_links`;
CREATE TABLE IF NOT EXISTS `kb_links` (
  `linkId` int(11) unsigned NOT NULL auto_increment,
  `url` varchar(250) collate utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `lastAssignAt` decimal(12,0) unsigned default NULL,
  `lastSearchAt` decimal(12,0) unsigned default NULL,
  PRIMARY KEY  (`linkId`),
  KEY `url` (`url`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `kb_tags`;
CREATE TABLE IF NOT EXISTS `kb_tags` (
  `tagId` int(11) unsigned NOT NULL auto_increment,
  `content` varchar(20) collate utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) NOT NULL,
  PRIMARY KEY  (`tagId`),
  KEY `content` (`content`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `kb_term_log`;
CREATE TABLE IF NOT EXISTS `kb_term_log` (
  `termLogId` int(11) unsigned NOT NULL auto_increment,
  `userId` int(11) unsigned NOT NULL,
  `count` decimal(10,0) NOT NULL,
  `content` text collate utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY  (`termLogId`),
  KEY `userId` (`userId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;










