<?xml version="1.0"?>
<module>
	<title>UI: Map</title>
	<description><![CDATA[Loader for Google Maps.]]></description>
	<category>User Interface</category>
	<version>0.3.1</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Add helper class to render HTML.</log>
	<log version="0.2.2">Allow to add markers to map.</log>
	<log version="0.3">Add Google API key configuration and check.</log>
	<log version="0.3.1">Rewrite and rename JavaScript file.</log>
<!--	<log version="0.3.x">Support localization (therefore load API via hook and not automatically and detect language beforehand).</log>-->
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian Würker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>View/Helper/Map.php5</class>
		<script source="url">https://maps.google.com/maps/api/js</script>
		<script source="local" load="auto">module.ui.map.js</script>
		<style load="auto">module.ui.map.css</style>
	</files>
	<config protected="no" type="string" name="apiKey"></config>
	<hook type="resource" resource="Page" event="applyModules">View_Helper_Map::___onPageApplyModules</hook>
</module>
