<?xml version="1.0"?>
<module>
	<title>Manage: Forms</title>
	<description format="markdown"><![CDATA[Form handling.

Forms can be built of nested HTML blocks.
The form itself can be inserted by a shortcode:

````
[form id="123"]
````

The form action will save the entered data and send mails according to rules.

]]></description>
	<category>Resource</category>
	<version>0.6.3</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.3">Support delivery rules.</log>
	<log version="0.3.1">Add tab navigation on edit.</log>
	<log version="0.3.2">Add pagination.</log>
	<log version="0.3.3">Add fill export.</log>
	<log version="0.4">Use module UI:Helper:Forms.</log>
	<log version="0.4.1">Add role type to form mail model.</log>
	<log version="0.4.2">Extend form list by filter.</log>
	<log version="0.4.3">Extend form mail list by filter.</log>
	<log version="0.4.4">Extend form block list by filter.</log>
	<log version="0.4.5">Apply block identifier changes to forms and other blocks.</log>
	<log version="0.4.6">Use module JS:Ace as code editor.</log>
	<log version="0.4.7">Add style file.</log>
	<log version="0.4.8">Link blocks in form view.</log>
	<log version="0.5">Support form transfers.</log>
	<log version="0.5.1">Add fill transfers panel.</log>
	<log version="0.5.2">Add transfer target management.</log>
	<log version="0.5.3">Extract logic from controller to own class.</log>
	<log version="0.5.4">Add import rule management.</log>
	<log version="0.5.5">Show fill referrers in form view.</log>
	<log version="0.5.6">Support attachment rules.</log>
	<log version="0.5.7">Support multiple forms in fill filter, list and export.</log>
	<log version="0.5.8">Show applied transfers in fill list.</log>
	<log version="0.5.9">List latest unhandled transfer fails.</log>
	<log version="0.6.0">Code update and extract rule check to own AJAX controller.</log>
	<log version="0.6.1">Add import controller.</log>
	<log version="0.6.2">Extract receive controller.</log>
	<log version="0.6.3">Improve code strictness and documentation.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="https://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Ajax/Manage/Form.php</class>
		<class>Controller/Ajax/Manage/Form/Import.php</class>
		<class>Controller/Manage/Form.php</class>
		<class>Controller/Manage/Form/Block.php</class>
		<class>Controller/Manage/Form/Fill.php</class>
		<class>Controller/Manage/Form/Fill/Import.php</class>
		<class>Controller/Manage/Form/Fill/Receive.php</class>
		<class>Controller/Manage/Form/Import.php</class>
		<class>Controller/Manage/Form/Mail.php</class>
		<class>Controller/Manage/Form/Target.php</class>
		<class>Logic/Form/Fill.php</class>
		<class>View/Manage/Form.php</class>
		<class>View/Manage/Form/Block.php</class>
		<class>View/Manage/Form/Fill.php</class>
		<class>View/Manage/Form/Import.php</class>
		<class>View/Manage/Form/Mail.php</class>
		<class>View/Manage/Form/Target.php</class>
		<template>manage/form/add.php</template>
		<template>manage/form/edit.php</template>
		<template>manage/form/edit.blocks.within.php</template>
		<template>manage/form/edit.content.php</template>
		<template>manage/form/edit.facts.php</template>
		<template>manage/form/edit.rules.attachment.php</template>
		<template>manage/form/edit.rules.customer.php</template>
		<template>manage/form/edit.rules.manager.php</template>
		<template>manage/form/edit.rules.transfer.php</template>
		<template>manage/form/edit.view.php</template>
		<template>manage/form/index.php</template>
		<template>manage/form/index.filter.php</template>
		<template>manage/form/index.list.php</template>
		<template>manage/form/view.php</template>
		<template>manage/form/block/add.php</template>
		<template>manage/form/block/edit.php</template>
		<template>manage/form/block/index.php</template>
		<template>manage/form/block/index.filter.php</template>
		<template>manage/form/block/index.list.php</template>
		<template>manage/form/block/view.php</template>
		<template>manage/form/fill/index.php</template>
		<template>manage/form/fill/index.filter.php</template>
		<template>manage/form/fill/index.list.php</template>
		<template>manage/form/fill/view.php</template>
		<template>manage/form/import/add.php</template>
		<template>manage/form/import/edit.php</template>
		<template>manage/form/import/index.php</template>
		<template>manage/form/mail/add.php</template>
		<template>manage/form/mail/edit.php</template>
		<template>manage/form/mail/index.php</template>
		<template>manage/form/mail/index.filter.php</template>
		<template>manage/form/mail/index.list.php</template>
		<template>manage/form/mail/view.php</template>
		<template>manage/form/target/add.php</template>
		<template>manage/form/target/edit.php</template>
		<template>manage/form/target/index.php</template>
		<script load="auto">module.manage.forms.js</script>
		<style source="theme">module.manage.forms.css</style>
	</files>
	<config protected="yes" type="string" name="origin"></config>
	<config protected="yes" type="string" name="mailDomains" default="" original=""/>
	<relations>
		<needs type="module">JS_Ace</needs>
		<needs type="module">Resource_Forms</needs>
		<needs type="module">UI_Helper_Forms</needs>
	</relations>
	<link xml:lang="de" access="acl" rank="45" path="manage/form">Formulare</link>
	<link xml:lang="de" access="acl" rank="46" path="manage/form/fill">Einträge</link>
	<link xml:lang="de" access="acl" rank="47" path="manage/form/block">Blöcke</link>
	<link xml:lang="de" access="acl" rank="48" path="manage/form/mail">E-Mails</link>
	<link xml:lang="de" access="acl" rank="49" path="manage/form/import">Imports</link>
	<link xml:lang="en" access="acl" rank="45" path="manage/form">Forms</link>
	<link xml:lang="en" access="acl" rank="46" path="manage/form/fill">Entries</link>
	<link xml:lang="en" access="acl" rank="47" path="manage/form/block">Blocks</link>
	<link xml:lang="en" access="acl" rank="48" path="manage/form/mail">Mails</link>
	<link xml:lang="en" access="acl" rank="49" path="manage/form/import">Imports</link>
	<link access="public" path="manage/form/view"/>
	<link access="public" path="manage/form/fill/confirm"/>
	<link access="public" path="manage/form/fill/import"/>
	<link access="public" path="manage/form/fill/receive"/>
	<link access="acl" path="ajax/manage/form/import/testImportRules"/>
	<link access="acl" path="ajax/manage/form/import/testRules"/>
</module>
