<?xml version="1.0"?>
<module>
	<title>Work: Missions</title>
	<description><![CDATA[Compact task and event management.
To use the mail functions, please install module &quot;Resource_Jobs&quot; and the following cronjobs:
code>
  0 * * * * cd /path/to/office && php job.php5 work-mission-mail-daily
*/5 * * * * cd /path/to/office && php job.php5 work-mission-mail-changes
<code
]]></description>
	<version>0.8.27</version>
	<log version="0.8.23">Split JavaScript classes to separate files and allow lazy loading to increase performance.</log>
	<log version="0.8.24">Enable splitted markdown editor for article content while adding a mission.</log>
	<log version="0.8.25">Introduced filter model.</log>
	<log version="0.8.26">Updated module SQL parts.</log>
	<log version="0.8.27">Added small day lists.</log>
	<category>Work</category>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de" link="http://ceusmedia.de/">Christian W&#xFC;rker</author>
	<files>
		<class>Controller/Work/Mission.php5</class>
		<class>Model/Mission.php5</class>
		<class>Model/Mission/Change.php5</class>
		<class>Model/Mission/Filter.php5</class>
		<class>Logic/Mission.php5</class>
		<class>View/Work/Mission.php5</class>
		<class>View/Helper/Work/Mission/Abstract.php5</class>
		<class>View/Helper/Work/Mission/Calendar.php5</class>
		<class>View/Helper/Work/Mission/Filter.php5</class>
		<class>View/Helper/Work/Mission/List.php5</class>
		<class>View/Helper/Work/Mission/List/Days.php5</class>
		<class>View/Helper/Work/Mission/List/DaysSmall.php5</class>
		<class>View/Helper/Work/Mission/List/DayControls.php5</class>
		<class>View/Helper/Work/Mission/List/DayControlsSmall.php5</class>
		<class>View/Helper/Work/Mission/Mail/Daily.php5</class>
		<class>Mail/Work/Mission/New.php5</class>
		<class>Mail/Work/Mission/Daily.php5</class>
		<class>Mail/Work/Mission/Done.php5</class>
		<class>Mail/Work/Mission/Update.php5</class>
		<class>Job/Work/Mission.php5</class>
		<template>work/mission/add.php</template>
		<template>work/mission/calendar.php</template>
		<template>work/mission/edit.php</template>
		<template>work/mission/edit.close.php</template>
		<template>work/mission/edit.content.php</template>
		<template>work/mission/edit.info.php</template>
		<template>work/mission/edit.issue.php</template>
		<template>work/mission/index.php</template>
		<template>work/mission/index.days.php</template>
		<template>work/mission/index.filter.php</template>
		<template>work/mission/index.list.php</template>
		<template>work/mission/view.php</template>
		<template>work/mission/mails/new.php</template>
		<template>work/mission/mails/update.php</template>
		<locale>de/work/mission.ini</locale>
		<locale>de/html/work/mission/add.info.html</locale>
		<locale>de/html/work/mission/index.empty.html</locale>
		<script>WorkMissions.js</script>
		<script>WorkMissionsCalendar.js</script>
		<script>WorkMissionsFilter.js</script>
		<script>WorkMissionsEditor.js</script>
		<script>WorkMissionsList.js</script>
		<style load="auto">site.mission.css</style>
		<image source="theme">clearSearch.png</image>
		<file>config/jobs/work.mission.xml</file>
	</files>
	<relations>
		<needs type="module">Resource_Authentication</needs>
		<needs type="module">UI_Indicator</needs>
		<needs type="module">JS_CodeMirror</needs>
		<needs type="module">JS_Markdown</needs>
		<needs type="module">UI_Markdown</needs>
		<supports type="module">Resource_Jobs</supports>
		<supports type="module">Manage_Projects</supports>
	</relations>
	<config protected="user" type="boolean" name="mail.active">yes</config>
	<config protected="user" type="boolean" name="mail.html">yes</config>
	<config protected="user" type="boolean" name="mail.daily">yes</config>
	<config protected="user" type="integer" name="mail.daily.hour">8</config>
	<config protected="user" type="boolean" name="mail.changes">yes</config>
	<link xml:lang="de" access="acl" path="work/mission" rank="41">Aufgaben</link>
	<link xml:lang="en" access="acl" path="work/mission" rank="41">Missions</link>
	<link access="inside" path="work/mission/ajaxSelectDay"></link>
	<link access="inside" path="work/mission/ajaxRenderLists"></link>
	<link access="public" path="work/mission/export"></link>
	<link access="inside" path="work/mission/switchTense"></link>
	<link access="inside" path="work/mission/setFilter"></link>
	<link access="inside" path="work/mission/testMail" rank="99"></link>
	<sql on="install" type="mysql" version="final"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>missions`;
CREATE TABLE `<%?prefix%>missions` (
  `missionId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `ownerId` int(10) unsigned NOT NULL,
  `workerId` int(10) unsigned NOT NULL,
  `projectId` int(10) unsigned NOT NULL DEFAULT '0',
  `type` tinyint(1) unsigned NOT NULL,
  `priority` tinyint(1) unsigned NOT NULL,
  `status` tinyint(1) NOT NULL,
  `dayStart` varchar(10) COLLATE utf8_unicode_ci NOT NULL,
  `dayEnd` varchar(10) COLLATE utf8_unicode_ci NOT NULL,
  `timeStart` varchar(5) COLLATE utf8_unicode_ci NOT NULL,
  `timeEnd` varchar(5) COLLATE utf8_unicode_ci NOT NULL,
  `minutesProjected` int(10) unsigned DEFAULT '0',
  `minutesRequired` int(10) unsigned DEFAULT '0',
  `title` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `content` text COLLATE utf8_unicode_ci NOT NULL,
  `location` varchar(100) COLLATE utf8_unicode_ci DEFAULT NULL,
  `reference` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`missionId`),
  KEY `priority` (`priority`),
  KEY `type` (`type`),
  KEY `creatorId` (`ownerId`,`workerId`),
  KEY `projectId` (`projectId`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>mission_changes`;
CREATE TABLE `<%?prefix%>mission_changes` (
  `missionChangeId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `missionId` int(11) unsigned NOT NULL,
  `userId` int(11) unsigned NOT NULL,
  `type` varchar(20) COLLATE utf8_unicode_ci NOT NULL,
  `data` mediumtext COLLATE utf8_unicode_ci NOT NULL,
  `timestamp` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`missionChangeId`),
  KEY `missionId` (`missionId`),
  KEY `userId` (`userId`),
  KEY `type` (`type`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>mission_filters`;
CREATE TABLE `<%?prefix%>mission_filters` (
  `missionFilterId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `userId` int(11) unsigned NOT NULL,
  `serial` text COLLATE utf8_unicode_ci,
  `timestamp` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`missionFilterId`),
  KEY `userId` (`userId`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="update" type="mysql" version="0.8.8"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>mission_changes`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>mission_changes` (
  `missionChangeId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `missionId` int(11) unsigned NOT NULL,
  `userId` int(11) unsigned NOT NULL,
  `type` varchar(20) NOT NULL,
  `data` text COLLATE utf8_unicode_ci NOT NULL,
  `timestamp` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`missionChangeId`),
  KEY `missionId` (`missionId`),
  KEY `userId` (`userId`),
  KEY `type` (`type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="update" type="mysql" version="0.8.11"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>mission_filters`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>mission_filters` (
  `missionFilterId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `userId` int(11) unsigned NOT NULL,
  `serial` text COLLATE utf8_unicode_ci,
  `timestamp` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`missionFilterId`),
  KEY `userId` (`userId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="update" type="mysql" version="0.8.17-p2"><![CDATA[
ALTER TABLE `<%?prefix%>mission_changes` CHANGE  `data`  `data` MEDIUMTEXT CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL;
]]></sql>
	<sql on="update" type="mysql" version="0.8.18"><![CDATA[
UPDATE `<%?prefix%>missions` SET hoursProjected = hoursProjected * 60 WHERE hoursProjected > 0;
UPDATE `<%?prefix%>missions` SET hoursRequired = hoursRequired * 60 WHERE hoursRequired > 0;
ALTER TABLE `<%?prefix%>missions` CHANGE `hoursProjected`  `minutesProjected` INT( 10 ) UNSIGNED DEFAULT NULL;
ALTER TABLE `<%?prefix%>missions` CHANGE `hoursRequired`  `minutesRequired` INT( 10 ) UNSIGNED DEFAULT NULL;
]]></sql>
	<sql on="uninstall" type="mysql" version="final"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>missions`;
DROP TABLE IF EXISTS `<%?prefix%>mission_changes`;
DROP TABLE IF EXISTS `<%?prefix%>mission_filters`;
]]></sql>
</module>
