<?xml version="1.0"?>
<module>
	<title>Work: Missions</title>
	<description><![CDATA[]]></description>
	<version>0.1</version>
	<category>Work</category>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de" link="http://ceusmedia.de/">Christian Würker</author>
	<files>
		<class>Controller/Work/Mission.php5</class>
		<class>Model/Mission.php5</class>
		<class>Logic/Mission.php5</class>
		<class>View/Work/Mission.php5</class>
		<class>Mail/Work/Mission/Daily.php5</class>
		<template>work/mission/add.php</template>
		<template>work/mission/edit.php</template>
		<template>work/mission/index.php</template>
		<template>work/mission/index.filter.php</template>
		<locale>de/work/mission.ini</locale>
		<style load="auto">site.mission.css</style>
		<script load="auto">work.mission.js</script>
		<image source="theme">clearSearch.png</image>
	</files>
	<relations>
		<needs type="module">Auth</needs>
		<needs type="module">UI_Indicator</needs>
	</relations>
	<link xml:lang="de" access="acl" path="work/mission">Aufgaben</link>
	<link xml:lang="en" access="acl" path="work/mission">Missions</link>
	<sql on="install" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>missions`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>missions` (
  `missionId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `creatorId` int(10) unsigned NOT NULL,
  `workerId` int(10) unsigned NOT NULL,
  `type` tinyint(1) unsigned NOT NULL,
  `priority` tinyint(1) unsigned NOT NULL,
  `status` tinyint(1) NOT NULL,
  `dayStart` varchar(10) COLLATE utf8_unicode_ci NOT NULL,
  `dayEnd` varchar(10) COLLATE utf8_unicode_ci NOT NULL,
  `timeStart` varchar(5) COLLATE utf8_unicode_ci NOT NULL,
  `timeEnd` varchar(5) COLLATE utf8_unicode_ci NOT NULL,
  `content` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `location` varchar(100) COLLATE utf8_unicode_ci DEFAULT NULL,
  `reference` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` int(10) unsigned DEFAULT NULL,
  PRIMARY KEY (`missionId`),
  KEY `priority` (`priority`),
  KEY `type` (`type`),
  KEY `creatorId` (`creatorId`,`workerId`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="uninstall" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>missions`;
]]></sql>
</module>
