includes:
#	- vendor/phpstan/phpstan-strict-rules/rules.neon
#	- phpstan-baseline.neon
	
parameters:
	phpVersion: 70400
	level: 1
	paths:
		- Admin
#		- App
#		- Base
#		- Catalog
#		- Info
#		- JS
#		- Manage
#		- Members
#		- Resource
#		- Security
#		- Server
#		- Shop
#		- Tool
#		- UI
#		- Work
	fileExtensions:
		- php5
	excludePaths:
		- */templates
	scanDirectories:
		- Resource
	checkMissingIterableValueType: false
	treatPhpDocTypesAsCertain: false
							
