<?xml version="1.0"?>
<module>
	<title>Mail</title>
	<description>Enables application to send mails.</description>
	<category>Resource</category>
	<version>0.1</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian Würker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Mail/Abstract.php5</class>
		<style>mail.min.css</style>
		<script>mail.min.js</script>
	</files>
	<config protected="yes" type="string" name="sender.system" mandatory="yes"></config>
	<config protected="yes" type="string" name="transport.type" mandatory="yes" values="SMTP,sendmail">sendmail</config>
	<config protected="yes" type="string" name="transport.hostname" mandatory="transport.type:SMTP"></config>
	<config protected="yes" type="string" name="transport.username" mandatory="transport.type:SMTP"></config>
	<config protected="yes" type="string" name="transport.password" mandatory="transport.type:SMTP"></config>
	<config protected="no" type="string" name="subject.prefix"></config>
	<relations>
		<supports type="module">Users</supports>
	</relations>
</module>
