<?xml version="1.0"?>
<module>
	<title>Resource: Mail</title>
	<description><![CDATA[Enables application to send mails.

This modules represents a single point for mail sending.

Therefore it:
list>
- allows modules to easily send mails to application users
- configures SMTP access or uses local sendmail installation
- delivers an abstract mail class as blueprint for mails of modules
- delivers minimal standard CSS for HTML mails (should be replaced by application module)
- supports a queue and allows to enqueue mails for async sending via job
- holds a register of attachment files for mails by mail class
<list
Modules can send mails on (user) request or use the mail queue.	
Using the queue, provided by mail logic, will result in better web request performance. 
To enable queued mails you need to set a cron job: 
code>* * * * * cd /path/to/project && php job.php5 sendQueuedMails<code
]]></description>
	<category>Resource</category>
	<version>0.6.4</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Extended configuration by mandatory attributes.</log>
	<log version="0.3">Added example mail class.</log>
	<log version="0.3.1">Added default mail style and javascript file.</log>
	<log version="0.3.2">Added subject prefix.</log>
	<log version="0.3.3">Added subject template.</log>
	<log version="0.3.4">Extended subject handling by app title and host.</log>
	<log version="0.3.5">Adjusted subject handling to work in console environments.</log>
	<log version="0.4.0">Added mail queue and job.</log>
	<log version="0.4.1">Improved support for console environments.</log>
	<log version="0.4.2">Extended configuration of queue and job.</log>
	<log version="0.4.3">Added function to get mail receivers configured my modules.</log>
	<log version="0.4.4">Updated job handling and related modules.</log>
	<log version="0.4.5">Added function to get number of queued mails.</log>
	<log version="0.4.6">Improved support for queued mails.</log>
	<log version="0.4.7">Added insight in queued mails.</log>
	<log version="0.4.8">Updated insight in queued mails.</log>
	<log version="0.4.9">Added mail attachment register.</log>
	<log version="0.5.0">Extracted administrative parts to new module Admin:Mail.</log>
	<log version="0.5.1">Added language support for mail attachments.</log>
	<log version="0.5.2">Made path to mail classes configurable for remote management.</log>
	<log version="0.5.3">Fixed mail body line length to 76 when using base64.</log>
	<log version="0.5.4">Added switch for secured SMTP communication.</log>
	<log version="0.5.5">Added view helper for text mails.</log>
	<log version="0.5.6">Added view helper for collecting facts.</log>
	<log version="0.5.7">Replace file and folder class calls to use CeusMedia:Common.</log>
	<log version="0.6">Ready to use CeusMedia/Mail from GitHub.</log>
	<log version="0.6.1">Apply current environment and transport on waking queued mails.</log>
	<log version="0.6.2">Support negative mail status (cancelled).</log>
	<log version="0.6.3">Rewrite mail sending job loop and improve sleep time handling.</log>
	<log version="0.6.4">Send mails encoded in base64 by default.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Mail/Abstract.php5</class>
		<class>Mail/Example.php5</class>
		<class>Mail/Test.php5</class>
		<class>Model/Mail.php5</class>
		<class>Model/Mail/Attachment.php5</class>
		<class>Logic/Mail.php5</class>
		<class>Job/Mail.php5</class>
		<class>View/Helper/Mail/Facts.php5</class>
		<class>View/Helper/Mail/Text.php5</class>
		<style>mail.min.css</style>
		<script>mail.min.js</script>
		<file>config/jobs/mail.xml</file>
	</files>
	<config protected="yes" type="string" name="sender.system" mandatory="yes"></config>
	<config protected="yes" type="string" name="transport.type" mandatory="yes" values="SMTP,sendmail">sendmail</config>
	<config protected="yes" type="string" name="transport.hostname" mandatory="transport.type:SMTP">localhost</config>
	<config protected="yes" type="string" name="transport.port" mandatory="transport.type:SMTP">25</config>
	<config protected="yes" type="string" name="transport.username" mandatory="transport.type:SMTP"></config>
	<config protected="yes" type="string" name="transport.password" mandatory="transport.type:SMTP"></config>
	<config protected="yes" type="boolean" name="transport.secure" values="yes,no">yes</config>
	<config protected="yes" type="string" name="subject.prefix"></config>
	<config protected="yes" type="string" name="subject.template"></config>
	<config protected="yes" type="boolean" name="queue.enabled" mandatory="yes">yes</config>
	<config protected="yes" type="integer" name="queue.job.limit" title="number of mails to send during one job execution">1000</config>
	<config protected="yes" type="float" name="queue.job.sleep" title="seconds to sleep after job execution">10</config>
	<config protected="yes" type="string" name="path.attachments" title="path to attachment files">contents/attachments/</config>
	<config protected="yes" type="string" name="path.classes" title="path to mail classes to manage">classes/Mail/</config>
	<relations>
		<needs type="module">Resource_Jobs</needs>
		<supports type="module">Resource_Maintainer</supports>
	</relations>
	<sql on="install" type="mysql" version="final"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>mails`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>mails` (
  `mailId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `senderId` int(10) unsigned NOT NULL DEFAULT '0',
  `receiverId` int(10) unsigned NOT NULL DEFAULT '0',
  `status` tinyint(1) NOT NULL DEFAULT '0',
  `attempts` smallint(5) unsigned NOT NULL DEFAULT '0',
  `language` varchar(10) COLLATE utf8_unicode_ci NOT NULL,
  `senderAddress` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `receiverAddress` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `receiverName` varchar(100) COLLATE utf8_unicode_ci DEFAULT NULL,
  `subject` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `object` longblob NOT NULL,
  `enqueuedAt` decimal(12,0) unsigned NOT NULL,
  `attemptedAt` decimal(12,0) unsigned NOT NULL,
  `sentAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`mailId`),
  KEY `senderId` (`senderId`),
  KEY `receiverId` (`receiverId`),
  KEY `status` (`status`),
  KEY `attempts` (`attempts`),
  KEY `receiverAddress` (`receiverAddress`),
  KEY `receiverName` (`receiverName`),
  KEY `subject` (`subject`),
  KEY `enqueuedAt` (`enqueuedAt`),
  KEY `attemptedAt` (`attemptedAt`),
  KEY `sentAt` (`sentAt`),
  KEY `senderAddress` (`senderAddress`),
  KEY `language` (`language`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>mail_attachments`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>mail_attachments` (
  `mailAttachmentId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `status` tinyint(1) NOT NULL,
  `language` varchar(10) COLLATE utf8_unicode_ci NOT NULL,
  `className` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `filename` varchar(200) COLLATE utf8_unicode_ci NOT NULL,
  `mimeType` varchar(50) COLLATE utf8_unicode_ci NOT NULL,
  `countAttached` int(11) NOT NULL,
  `createdAt` decimal(12,0) NOT NULL,
  PRIMARY KEY (`mailAttachmentId`),
  KEY `status` (`status`),
  KEY `className` (`className`),
  KEY `filename` (`filename`),
  KEY `mimeType` (`mimeType`),
  KEY `createdAt` (`createdAt`),
  KEY `language` (`language`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;


]]></sql>
	<sql on="update" version="0.4.0" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>mails`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>mails` (
  `mailId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `senderId` int(10) unsigned NOT NULL DEFAULT '0',
  `receiverId` int(10) unsigned NOT NULL DEFAULT '0',
  `status` tinyint(1) unsigned NOT NULL DEFAULT '0',
  `attempts` smallint(5) unsigned NOT NULL DEFAULT '0',
  `receiverAddress` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `receiverName` varchar(100) COLLATE utf8_unicode_ci DEFAULT NULL,
  `subject` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `object` longblob NOT NULL,
  `enqueuedAt` decimal(12,0) unsigned NOT NULL,
  `attemptedAt` decimal(12,0) unsigned NOT NULL,
  `sentAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`mailId`),
  KEY `senderId` (`senderId`),
  KEY `receiverId` (`receiverId`),
  KEY `status` (`status`),
  KEY `attempts` (`attempts`),
  KEY `receiverAddress` (`receiverAddress`),
  KEY `receiverName` (`receiverName`),
  KEY `subject` (`subject`),
  KEY `enqueuedAt` (`enqueuedAt`),
  KEY `attemptedAt` (`attemptedAt`),
  KEY `sentAt` (`sentAt`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
	]]></sql>
	<sql on="update" version="0.4.7" type="mysql"><![CDATA[
ALTER TABLE  `<%?prefix%>mails` ADD  `senderAddress` VARCHAR( 255 ) NOT NULL AFTER `attempts` ,
ADD INDEX (  `senderAddress` ) ;
	]]></sql>
	<sql on="update" version="0.4.9" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>mail_attachments`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>mail_attachments` (
  `mailAttachmentId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `status` tinyint(1) NOT NULL,
  `className` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `filename` varchar(200) COLLATE utf8_unicode_ci NOT NULL,
  `mimeType` varchar(50) COLLATE utf8_unicode_ci NOT NULL,
  `countAttached` int(11) NOT NULL,
  `createdAt` decimal(12,0) NOT NULL,
  PRIMARY KEY (`mailAttachmentId`),
  KEY `status` (`status`),
  KEY `className` (`className`),
  KEY `filename` (`filename`),
  KEY `mimeType` (`mimeType`),
  KEY `createdAt` (`createdAt`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
	]]></sql>
	<sql on="update" version="0.5.1" type="mysql"><![CDATA[
ALTER TABLE  `<%?prefix%>mails` ADD `language` VARCHAR( 10 ) NOT NULL AFTER  `attempts` ,
ADD INDEX (  `language` ) ;
UPDATE `<%?prefix%>mails` SET language="de" WHERE language="";

ALTER TABLE  `<%?prefix%>mail_attachments` ADD `language` VARCHAR( 10 ) NOT NULL AFTER  `status` ,
ADD INDEX (  `language` ) ;
UPDATE `<%?prefix%>mail_attachments` SET language="de" WHERE language="";
	]]></sql>
	<sql on="update" version="0.6.2" type="mysql"><![CDATA[
ALTER TABLE `<%?prefix%>mails` CHANGE `status` `status` TINYINT(1) NOT NULL DEFAULT '0';
	]]></sql>
</module>
