div.framed {
	border: 1px solid gray;
	border-radius: 0.4em;
	padding: 1em 2em;
	overflow: auto;
	height: 200px;
	}

input.state-good {
	background-color: #DFFFEF;
	}

input.state-bad {
	background-color: #FFCFCF;
	}

textarea.monospace {
	font-family: "Monospace";
	fontface: "Monospace";
	}

div.framed {
	border: 1px solid gray;
	border-radius: 4px;
	padding: 1em 2em;
	overflow: auto;
	height: 300px;
	margin-bottom: 1em;
	font-size: 0.9em;
	}

/*  --  CENTERED PANE  --  */
/*  @todo transport to main auth module if possible */
body.moduleAuthLocal.action-login #layout-content,
body.moduleAuthLocal.action-login #layout-field,
body.moduleAuthLocal.action-login #layout-content{
	height: 100vh;
	}
body.moduleAuthLocal.action-login #layout-content .centered-pane-container{
	height: 100vh;
	}
body.moduleAuthLocal.action-login #layout-content .centered-pane{
	width: 400px;
	margin: 0px auto;
	margin-top: calc((90vh - 400px) / 2);
/*	box-shadow: 0 0 12vw 5vw rgba(127, 127, 127, 0.25), 0 0 2vw rgba(127, 127, 127, 0.25);*/
	}
