<?xml version="1.0"?>
<module>
	<title>UI: Helper: Datetime</title>
	<description><![CDATA[Convers timestamps to date, time or time phrases.]]></description>
	<category>User Interface</category>
	<version>0.1</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>View/Helper/TimePhraser.php5</class>
		<locale>de/datetime.ini</locale>
		<locale>en/datetime.ini</locale>
	</files>
	<relations/>
</module>
