<?xml version="1.0"?>
<module>
	<title>UI: Font</title>
	<description><![CDATA[Support for fonts provided by Ceus Media Font Repository.]]></description>
	<category>User Interface</category>
	<version>0.2.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separated to Hydrogen module.</log>
	<log version="0.2.1">Switch to HTTPS.</log>
	<log version="0.2.2">Switch to Ceus Media CDN.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files/>
	<config protected="no" type="boolean" name="enabled">1</config>
	<config protected="no" type="string" name="uri">https://cdn.ceusmedia.de/fonts/</config>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
		$config	= $env->getConfig();
		if( $config->get( 'module.ui_font.enabled' ) ){
			$config->set( 'paths.fonts.lib', $config->get( 'module.ui_font.uri' ) );
		}
]]></hook>
</module>
