<?xml version="1.0"?>
<module>
	<title>JS: AJAJ</title>
	<description><![CDATA[Client to read server via AJAX.

Encapsulates AJAX requests into JSON envelope with error handling.

]]></description>
	<version>0.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<category>JavaScript</category>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<script>ajaj.js</script>
	</files>
	<relations>
		<needs type="module">JS_jQuery</needs>
		<needs type="module">UI_JS_Messenger</needs>
	</relations>
</module>
