<?xml version="1.0"?>
<module xmlns="https://schema.ceusmedia.de/hydrogen/module-1.0.0.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://schema.ceusmedia.de/hydrogen/module-1.0.0.xsd https://schema.ceusmedia.de/hydrogen/module-1.0.0.xsd">
	<title>JS: Cookie</title>
	<description><![CDATA[A simple, lightweight JavaScript API for handling browser cookies.]]></description>
	<category>JavaScript</category>
	<version>2.2.0</version>
	<source url="https://github.com/js-cookie/js-cookie">Github</source>
	<license source="https://github.com/js-cookie/js-cookie/blob/master/MIT-LICENSE.txt">MIT</license>
	<files>
		<script source="local" load="auto">js.cookie.js</script>
	</files>
</module>
