<?xml version="1.0"?>
<module>
	<title>Resource: Provision</title>
	<description><![CDATA[Client for provisioning server.

This module needs an provisioning server to work with.

To clear cached provision information regularly, you need to install this cron job:
code>
0 * * * * cd [PATH] && ./job.php Provision.Cache.clear
</code

]]></description>
	<category>Resource</category>
	<version>0.4.3</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.3">Refactor hooks.</log>
	<log version="0.3.1">Support OAuth authentication.</log>
	<log version="0.3.2">Add switch for disabling accounting completely for local instances.</log>
	<log version="0.3.3">Add cache support and clearing job.</log>
	<log version="0.4">Derived from module Resource:Authentication:Accounting from protected repository.</log>
	<log version="0.4.1">Use general module main switch.</log>
	<log version="0.4.2">Replace job file by module configuration.</log>
	<log version="0.4.3">Adjust to changes in Hydrogen Framework version 0.8.7.3.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Provision.php</class>
		<class>Hook/Provision.php</class>
		<class>Job/Provision.php</class>
		<class>Resource/Provision/Client.php</class>
		<class>View/Provision.php</class>
		<template>provision/index.php</template>
		<template>provision/status.php</template>
		<locale>de/provision.ini</locale>
		<locale>de/html/provision/index.html</locale>
		<locale>de/html/provision/status/active.html</locale>
		<locale>de/html/provision/status/none.html</locale>
		<locale>de/html/provision/status/outdated.html</locale>
	</files>
	<config protected="yes" type="boolean" name="active" title="Main switch: Use this module">yes</config>
	<config protected="yes" mandatory="yes" type="string" name="mode" values="OAuth,Remote">OAuth</config>
	<config protected="yes" mandatory="yes" type="integer" name="productId"/>
	<config protected="yes" mandatory="yes" type="string" name="server.url"/>
	<config protected="yes" mandatory="no" type="string" name="server.username"/>
	<config protected="yes" mandatory="no" type="string" name="server.password"/>
	<config protected="yes" mandatory="yes" type="" name="licenseFreePaths">info,auth,member,provision,manage/my/user</config>
	<relations/>
	<link access="public" path="provision/index"/>
	<link access="public" path="provision/status"/>
	<hook type="resource" resource="App" event="onDispatch">Hook_Provision::onAppDispatch</hook>
	<hook type="resource" resource="Auth" event="afterConfirm">Hook_Provision::onAuthAfterConfirm</hook>
	<hook type="resource" resource="Auth" event="checkBeforeLogin">Hook_Provision::onAuthCheckBeforeLogin</hook>
	<hook type="resource" resource="Auth" event="checkBeforeRegister">Hook_Provision::onAuthCheckBeforeRegister</hook>
	<hook type="resource" resource="Auth" event="renderRegisterFormExtensions">Hook_Provision::onRenderRegisterFormExtensions</hook>
	<job id="Provision.Cache.clear">Provision::clearCache</job>
</module>
