<?xml version="1.0"?>
<module>
	<title>UI: Helper: Relations</title>
	<description><![CDATA[Lists item relations.

Can be used for confirmation views to enlist entities related to an item.

Uses hooks to retrieve information about related items from other modules.

To append entities, you need to implement Hook::listRelations.
]]></description>
	<category>User Interface</category>
	<version>0.4.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.3">Rework to match view helper interface.</log>
	<log version="0.3.1">Provider render types 'list' and 'table'.</log>
	<log version="0.3.2">Limit relations list items.</log>
	<log version="0.4">Support localization.</log>
	<log version="0.4.1">Support chainability on view helper class.</log>
	<log version="0.4.2">Improve localization.</log>
	<files>
		<class>View/Helper/ItemRelationLister.php5</class>
		<locale>de/helper/relation.ini</locale>
		<locale>en/helper/relation.ini</locale>
		<style source="common" load="auto">module.ui.helper.relations.css</style>
	</files>
<!--	<relations>
		<needs type="module">UI_Bootstrap</needs>
	</relations>-->
</module>
