<?xml version="1.0"?>
<module>
	<title>JS: jQuery</title>
	<description><![CDATA[jQuery JavaScript Library]]></description>
	<version>1.7.2</version>
	<category>JavaScript</category>
	<author site="http://jquery.org/team">jQuery Team</author>
	<url>http://jquery.com/</url>
	<license source="http://jquery.org/license">MIT / GPL 2</license>
	<files>
		<script load="auto" top="yes">jquery.min.js</script>
	</files>
</module>
