<?xml version="1.0"?>
<module>
	<title>Authentication</title>
	<description>Module for authentication against local database using the Users module.</description>
	<version>0.1</version>
	<requires>
		<module>Users</module>
		<module>Roles</module>
	</requires>
	<files>
		<class>Controller/Auth.php5</class>
		<class>View/Auth.php5</class>
		<template>auth/confirm.php</template>
		<template>auth/login.php</template>
		<template>auth/password.php</template>
		<template>auth/register.php</template>
		<locale>de/auth.ini</locale>
		<locale>de/html/auth/confirm.top.html</locale>
		<locale>de/html/auth/confirm.info.html</locale>
		<locale>de/html/auth/confirm.bottom.html</locale>
		<locale>de/html/auth/login.top.html</locale>
		<locale>de/html/auth/login.info.html</locale>
		<locale>de/html/auth/login.bottom.html</locale>
		<locale>de/html/auth/password.top.html</locale>
		<locale>de/html/auth/password.info.html</locale>
		<locale>de/html/auth/password.bottom.html</locale>
		<locale>de/html/auth/register.top.html</locale>
		<locale>de/html/auth/register.info.html</locale>
		<locale>de/html/auth/register.bottom.html</locale>
		<locale>en/auth.ini</locale>
		<locale>en/html/auth.login.info.html</locale>
	</files>
	<config name="strict">TRUE</config>
	<relations>
		<needs type="module">Roles</needs>
		<needs type="module">Users</needs>
	</relations>
	<link xml:lang="de" access="outside" path="auth/login">Login</link>
	<link xml:lang="de" access="outside" path="auth/register">Registrieren</link>
	<link xml:lang="de" access="outside" path="auth/confirm">Konto bestätigen</link>
	<link xml:lang="de" access="outside" path="auth/password">Passwort</link>
	<link xml:lang="de" access="inside" path="auth/logout" rank="99">Logout</link>
	<link xml:lang="en" access="outside" path="auth/login">Login</link>
	<link xml:lang="en" access="outside" path="auth/register">Rgister Account</link>
	<link xml:lang="en" access="outside" path="auth/confirm">Confirm Account</link>
	<link xml:lang="en" access="outside" path="auth/password">Password</link>
	<link xml:lang="en" access="inside" path="auth/logout" rank="99">Logout</link>
</module>

