body.controller-info-forum table {
	table-layout: fixed;
	}
body.controller-info-forum table td.topic-label a {
	font-size: 1.2em;
	}

body.controller-info-forum table td.topic-label {
	background-position: 11px 8px;
	background-repeat: no-repeat;
	padding-left: 52px;
	background-image: url(//cdn.int1a.net/img/fatcow/32/folder.png);
	line-height: 1.15em;
	}

body.controller-info-forum table td.thread-label {
	background-position: 11px 8px;
	background-repeat: no-repeat;
	padding-left: 52px;
	background-image: url(//cdn.int1a.net/img/fatcow/32/script.png);
	line-height: 1.15em;
	}

body.controller-info-forum table tr.type-important td.thread-label a {
	font-weight: bold;
	}

body.controller-info-forum table figure {
	}
body.controller-info-forum table figure figcaption {
	text-align: center;
	padding: 0.3em 0em 0.6em 0em;
	font-size: 0.85em;
	font-style: italic;
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	}


body.info-forum-mail #layout-mail .layout-header a {
	color: black;
	}
body.info-forum-mail #layout-mail .layout-content {
	border-top: 5px solid #FF5500;
	}
body.info-forum-mail #layout-mail .intro {
	margin-top: 1em;
	}
body.info-forum-mail #layout-mail .intro .salutation {
	font-weight: bold;
	font-size: 1.15em;
	line-height: 1.5em;
	}
body.info-forum-mail #layout-mail .post-header {
	margin-top: 1em;
	margin-left: 1em;
	font-weight: bold;
	}
body.info-forum-mail #layout-mail .post-content {
	background-color: #F7F7F7;
	border: 1px solid #E7E7E7;
	border-radius: 0.5em;
	padding: 1em 2em;
	}
