<?xml version="1.0"?>
<module>
	<title>Resource: Authentication: Backend: OAuth</title>
	<description><![CDATA[Module for authentication against OAuth provider.

Official providers:
http://oauth2-client.thephpleague.com/providers/league/

Third-party providers:
http://oauth2-client.thephpleague.com/providers/thirdparty/

Popular provider packages:
list>
- facebook: league/oauth2-facebook
- Google: league/oauth2-google
- GitHub: league/oauth2-github
- GitLab: omines/oauth2-gitlab
- PayPal: stevenmaguire/oauth2-paypal
- Slack: adam-paterson/oauth2-slack
<list

Register app on providers and install composer package:
list>
- facebook: https://developers.facebook.com/apps/
- Google: https://console.cloud.google.com/apis/credentials
- GitHub: https://github.com/settings/developers (scope: user_read)
- GitLab: https://gitlab.com/profile/applications (scope: api)
- PayPal: https://developer.paypal.com/developer/applications/ (scope: Full name, Email, Street, City, Country, Zip, Phone)
- Slack: https://api.slack.com/apps (scope: identity.basic)
<list


]]></description>
	<version>0.2.6</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Add provider icon support.</log>
	<log version="0.2.2">Add helper for provider buttons.</log>
	<log version="0.2.3">Support redirecting after authorization.</log>
	<log version="0.2.4">Extract hooks to own hook class.</log>
	<log version="0.2.5">Improve use of resource owner data.</log>
	<log version="0.2.6">Add loading modal.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian Würker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Auth/Oauth2.php5</class>
		<class>Model/Oauth/Provider.php5</class>
		<class>Model/Oauth/User.php5</class>
		<class>View/Auth/Oauth2.php5</class>
		<class>View/Helper/Oauth/ProviderButtons.php5</class>
<!--		<class>Logic/Authentication/Backend/Oauth2.php5</class>-->
		<class>Hook/Auth/Oauth2.php5</class>
		<template>auth/oauth2/login.php</template>
		<locale>de/auth/oauth2.ini</locale>
	</files>
	<relations>
		<needs type="module">Resource_Users</needs>
		<needs type="module">UI_Helper_HTML</needs>
		<supports type="module">Security_CSRF</supports>
	</relations>
	<link xml:lang="de" rank="10" access="outside" path="auth/oauth2/login">Login</link>
	<link xml:lang="de" rank="99" access="inside" path="auth/oauth2/logout">Logout</link>
	<link xml:lang="en" rank="10" access="outside" path="auth/oauth2/login">Login</link>
	<link xml:lang="en" rank="99" access="inside" path="auth/oauth2/logout">Logout</link>
	<link access="public" path="auth/oauth2/index"></link>
	<link access="outside" path="auth/oauth2/unbind"></link>
	<link access="outside" path="auth/oauth2/register"></link>
	<hook type="resource" resource="Auth" event="registerBackends">Hook_Auth_Oauth2::onAuthRegisterBackend</hook>
<!--	<hook type="resource" resource="Auth" event="registerLoginTabs">Hook_Auth_Oauth2::onAuthRegisterLoginTab</hook>-->
<!--	<hook type="resource" resource="Page" event="applyModules">Hook_Oauth2::onPageApplyModules</hook>-->
	<sql type="mysql" on="install" version="0.1"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>oauth_providers`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>oauth_providers` (
  `oauthProviderId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `status` tinyint(1) NOT NULL,
  `rank` tinyint(1) unsigned NOT NULL,
  `title` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `clientId` varchar(60) COLLATE utf8_unicode_ci NOT NULL,
  `clientSecret` varchar(200) COLLATE utf8_unicode_ci NOT NULL,
  `composerPackage` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `className` varchar(200) COLLATE utf8_unicode_ci NOT NULL,
  `options` text COLLATE utf8_unicode_ci,
  `icon` varchar(50) COLLATE utf8_unicode_ci,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned DEFAULT '0',
  PRIMARY KEY (`oauthProviderId`),
  UNIQUE KEY `title` (`title`),
  UNIQUE KEY `clientId` (`clientId`),
  UNIQUE KEY `className` (`className`),
  KEY `status` (`status`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>oauth_users`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>oauth_users` (
  `oauthUserId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `oauthProviderId` int(11) unsigned NOT NULL,
  `oauthId` varchar(32) CHARACTER SET latin1 NOT NULL,
  `localUserId` int(11) unsigned NOT NULL,
  `timestamp` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`oauthUserId`),
  KEY `oauthProviderId` (`oauthProviderId`,`oauthId`,`localUserId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql type="mysql" on="uninstall"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>oauth_providers`;
DROP TABLE IF EXISTS `<%?prefix%>oauth_users`;
]]></sql>
</module>
