<?xml version="1.0"?>
<module>
	<title>Admin: Module Installer</title>
	<description><![CDATA[Install modules from module sources.

Building on basic module administration, this module allows you to install modules from any defined module source. Installing a modules with needed but not installed related modules will install these needed modules as well.

This module can be extended by:
list>
- Module Editor
- Module Creator
<list

This module needs other modules to be installed:
list>
- Modules Editor (thus Modules, Module Sources, App Instances)
<list
]]></description>
	<category>Administration</category>
	<version>0.2.15</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.10">Adjusted database update handling.</log>
	<log version="0.2.11">Update: Added version log panel.</log>
	<log version="0.2.12">Update: Hide file without change by default and show by switch.</log>
	<log version="0.2.13">Update: Added new panel about local installation.</log>
	<log version="0.2.14">Update: Moved dev output of local and source module to bottom.</log>
	<log version="0.2.15">Update: Use module JS:CodeMirror to display database changes.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Admin/Module/Installer.php5</class>
		<class>View/Admin/Module/Installer.php5</class>
		<locale>de/admin/module/installer.ini</locale>
		<locale>en/admin/module/installer.ini</locale>
		<template>admin/module/installer/index.php</template>
		<template>admin/module/installer/update.php</template>
		<template>admin/module/installer/update.config.php</template>
		<template>admin/module/installer/update.database.php</template>
		<template>admin/module/installer/update.files.php</template>
		<template>admin/module/installer/update.info.php</template>
		<template>admin/module/installer/view.php</template>
		<script>module.admin.module.installer.js</script>
		<style source="theme">php-diff.css</style>
	</files>
	<relations>
		<needs type="module">JS_CodeMirror</needs>
	</relations>
	<link xml:lang="de" path="admin/module/installer" access="acl" rank="37">Modulinstallation</link>
	<link xml:lang="en" path="admin/module/installer" access="acl" rank="37">Module Installer</link>
</module>
