<?xml version="1.0"?>
<module>
	<title>Manage: Forms</title>
	<description><![CDATA[Basic handling for forms.]]></description>
	<category>Resource</category>
	<version>0.4</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.3">Support delivery rules.</log>
	<log version="0.3.1">Add tab navigation on edit.</log>
	<log version="0.3.2">Add pagination.</log>
	<log version="0.3.3">Add fill export.</log>
	<log version="0.3.4">Use module UI:Helper:Forms.</log>
	<log version="0.3.5">Support role type to form mail model.</log>
	<log version="0.3.6">Extend form list by filter.</log>
	<log version="0.3.7">Extend form mail list by filter.</log>
	<log version="0.3.8">Extend form block list by filter.</log>
	<log version="0.3.9">Apply block identifier changes to forms and other blocks.</log>
	<log version="0.4">Use module JS:Ace as code editor.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
<!--		<class>Logic/Form.php5</class>-->
		<class>Controller/Manage/Form.php5</class>
		<class>Controller/Manage/Form/Block.php5</class>
		<class>Controller/Manage/Form/Fill.php5</class>
		<class>Controller/Manage/Form/Mail.php5</class>
		<class>View/Manage/Form.php5</class>
		<class>View/Manage/Form/Block.php5</class>
		<class>View/Manage/Form/Fill.php5</class>
		<class>View/Manage/Form/Mail.php5</class>
		<template>manage/form/add.php</template>
		<template>manage/form/edit.php</template>
		<template>manage/form/edit.blocks.within.php</template>
		<template>manage/form/edit.content.php</template>
		<template>manage/form/edit.facts.php</template>
		<template>manage/form/edit.rules.customer.php</template>
		<template>manage/form/edit.rules.manager.php</template>
		<template>manage/form/edit.view.php</template>
		<template>manage/form/index.php</template>
		<template>manage/form/index.filter.php</template>
		<template>manage/form/index.list.php</template>
		<template>manage/form/view.php</template>
		<template>manage/form/block/add.php</template>
		<template>manage/form/block/edit.php</template>
		<template>manage/form/block/index.php</template>
		<template>manage/form/block/index.filter.php</template>
		<template>manage/form/block/index.list.php</template>
		<template>manage/form/block/view.php</template>
		<template>manage/form/fill/index.php</template>
		<template>manage/form/fill/index.filter.php</template>
		<template>manage/form/fill/index.list.php</template>
		<template>manage/form/fill/view.php</template>
		<template>manage/form/mail/add.php</template>
		<template>manage/form/mail/edit.php</template>
		<template>manage/form/mail/index.php</template>
		<template>manage/form/mail/index.filter.php</template>
		<template>manage/form/mail/index.list.php</template>
		<template>manage/form/mail/view.php</template>
		<script load="auto">module.manage.forms.js</script>
	</files>
	<config protected="yes" type="string" name="origin"></config>
	<relations>
		<needs type="module">JS_Ace</needs>
		<needs type="module">Resource_Forms</needs>
		<needs type="module">UI_Helper_Forms</needs>
	</relations>
	<link xml:lang="de" access="acl" rank="45" path="manage/form">Formulare</link>
	<link xml:lang="de" access="acl" rank="46" path="manage/form/fill">Einträge</link>
	<link xml:lang="de" access="acl" rank="47" path="manage/form/block">Blöcke</link>
	<link xml:lang="de" access="acl" rank="48" path="manage/form/mail">E-Mails</link>
	<link access="public" path="manage/form/view"/>
	<link access="public" path="manage/form/fill/receive"/>
	<link access="public" path="manage/form/fill/confirm"/>
</module>
