<?xml version="1.0"?>
<module xmlns="https://schema.ceusmedia.de/hydrogen/module-1.0.0.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://schema.ceusmedia.de/hydrogen/module-1.0.0.xsd https://schema.ceusmedia.de/hydrogen/module-1.0.0.xsd">
	<title>JS: jQuery: deparam</title>
	<description><![CDATA[Extends jQuery by deparam.]]></description>
	<category>JavaScript</category>
	<version>0.1</version>
	<files>
		<script source="local">jquery.deparam.js</script>
		<script source="local" load="auto">jquery.deparam.min.js</script>
	</files>
</module>
