<?xml version="1.0"?>
<module>
	<title>UI: Nav: Bootstrap: Dropdown List</title>
	<description><![CDATA[Renders list of Bootstrap dropdowns for navbar.

This module is receiving a link map, like from pages.json.

There is no support for pages yet.This will come in version 0.3.
]]></description>
	<category>User Interface</category>
	<version>0.2.1</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Support FontAwesome icons.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>View/Helper/Navigation/Bootstrap/DropdownList.php5</class>
	</files>
	<relations>
		<needs type="module">UI_Bootstrap</needs>
	</relations>
</module>
