<div class="content-panel">
	<h3>Erläuterung</h3>
	<div class="content-panel-inner">
		<div class="row-fluid">
			<div class="span5">
				<p>
					Vorlagen stellen die Grundlage für eine Kampagne dar.<br/>
					Während jede Kampagne einen anderen Titel und Inhalt beinhaltet, liefert die Vorlage einen gleichbleibenden Rahmen für die Kampagnen.<br/>
				</p>
				<p>
					Eine Vorlage besteht aus Gerüsten für Text- und HTML-E-Mails sowie Style-Angaben.<br/>
					Bestehende Vorlagen können exportiert und neue Vorlagen importiert werden.
				</p>
			</div>
			<div class="span5 offset1">
				<p>
					Die Verlage kann sowohl für HTML- als auch für Test-E-Mails folgende Bausteine bereitstellen:
					<ul>
						<li>Gestaltung und Inhalt des E-Mail-Kopfes</li>
						<li>Anordnung der Inhalte der Kampagne (Titel und Inhalt)</li>
						<li>Impressum und andere gesetzlich notwendige Inhalte</li>
						<li>Gestaltung und Inhalt des E-Mail-Fusses</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>
