<?xml version="1.0"?>
<module>
	<title>Dev: ErrorException</title>
	<description><![CDATA[Turns PHP error messages into ErrorExceptions.]]></description>
	<category>Dev</category>
	<version>0.2.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Handle suppressed errors in error exception handler.</log>
	<log version="0.2.2">Use general module main switch.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<config protected="yes" type="boolean" name="active" title="Main switch: Use this module">yes</config>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
/**
 *	@see	https://stackoverflow.com/questions/1241728/
 */
function exceptionErrorHandler( $errno, $errstr, $errfile, $errline, array $errcontext ){
	if( 0 === error_reporting() ){									// error was suppressed with the @-operator
		return false;
	}
	throw new ErrorException( $errstr, 0, $errno, $errfile, $errline );
}
if( $env->getConfig()->get( 'module.errorexception.active' ) ){
	set_error_handler( 'exceptionErrorHandler' );
}
]]></hook>
</module>
