<?xml version="1.0"?>
<module>
	<title>Manage: Contents: Links</title>
	<description>Basic management of noted links for use on e.G. HTML-Editors or some sort of stored locations or blog article references.</description>
	<category>Management</category>
	<version>0.1</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Manage/Content/Link.php5</class>
		<class>Model/Link.php5</class>
		<class>View/Manage/Content/Link.php5</class>
<!--		<locale>de/manage/content/link.ini</locale>-->
		<template>manage/content/link/index.php</template>
	</files>
	<relations/>
	<link xml:lang="de" path="manage/content/document">Links</link>
	<link xml:lang="en" path="manage/content/document">Links</link>
</module>
