<?xml version="1.0"?>
<module>
	<title>Manage: Bookmarks</title>
	<description>Basic management of noted links for use on e.G. HTML-Editors or some sort of stored locations or blog article references.</description>
	<category>Management</category>
	<version>0.3</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Manage/Bookmark.php5</class>
		<class>Model/Bookmark.php5</class>
		<class>View/Manage/Bookmark.php5</class>
<!--		<locale>de/manage/bookmark.ini</locale>-->
<!--		<locale>en/manage/bookmark.ini</locale>-->
		<template>manage/bookmark/add.php</template>
		<template>manage/bookmark/edit.php</template>
		<template>manage/bookmark/index.php</template>
	</files>
	<relations/>
	<link xml:lang="de" access="public" path="manage/bookmark">Lesezeichen</link>
	<link xml:lang="en" access="public" path="manage/bookmark">Bookmarks</link>
</module>
