<?xml version="1.0"?>
<module>
	<title>Uberlog Client</title>
	<description><![CDATA[/ U B E R L O G \]]></description>
	<version>0.3</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.3">Extract hook to own class.</log>
	<category>Resource</category>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de" link="https://ceusmedia.de/">Christian W&#xFC;rker</author>
	<files>
		<class>Hook/Resource/Uberlog.php</class>
		<class>Resource/Uberlog.php</class>
		<script load="auto">UberlogClient.js</script>
	</files>
	<relations/>
	<config protected="yes" type="string" name="uri">https://example.org/work/uberlog</config>
	<hook type="resource" resource="Page" event="applyModules">Hook_Resource_Uberlog::onPageApplyModules</hook>
</module>
