<?xml version="1.0"?>
<module>
	<title>UI:CSS: Form</title>
	<description><![CDATA[Basic styling of form elements (input, select, textarea, fieldset, button).]]></description>
	<category>User Interace</category>
	<version>0.1</version>
	<files>
		<style source="primer">form.css</style>
		<style source="primer">form.button.css</style>
		<style source="primer">form.fieldset.css</style>
	</files>
</module>
