<?xml version="1.0"?>
<module>
	<title>UI: Font: Muli</title>
	<description><![CDATA[Integration of Muli typeface.]]></description>
	<category>User Interface</category>
	<version>0.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separated to Hydrogen module.</log>
	<config protected="yes" type="boolean" name="active" title="Main switch: Use this module">yes</config>
	<files>
		<class>Hook/UI/Font/Muli.php5</class>
	</files>
	<relations>
		<needs type="module">UI_Font</needs>
	</relations>
	<hook type="resource" resource="Page" event="applyModules">Hook_UI_Font_Muli::onPageApplyModules</hook>
</module>
