<?xml version="1.0"?>
<module>
	<title>UI: Font: FontAwesome</title>
	<description><![CDATA[Integration of Font Awesome icons.]]></description>
	<category>User Interface</category>
	<version>5.1.0</version>
	<company site="https://fontawesome.com">fontawesome.com</company>
	<author twitter="@davegandy">Dave Gandy</author>
	<license source="http://fontawesome.com/license">Font Awesome Free / Font Awesome Pro</license>
	<files>
		<class>Hook/UI/Font/FontAwesome.php5</class>
	</files>
	<config protected="yes" type="boolean" name="enabled">1</config>
	<config protected="yes" type="string" name="version" values="4.7.0,5.1.0">4.7.0</config>
	<config protected="yes" type="string" name="v5.license" values="free,pro">free</config>
	<config protected="yes" type="boolean" name="v5.free.all">yes</config>
	<config protected="yes" type="boolean" name="v5.free.solid">no</config>
	<config protected="yes" type="boolean" name="v5.free.regular">no</config>
	<config protected="yes" type="boolean" name="v5.free.brand">no</config>
	<config protected="yes" type="boolean" name="v5.pro.all">yes</config>
	<config protected="yes" type="boolean" name="v5.pro.solid">no</config>
	<config protected="yes" type="boolean" name="v5.pro.regular">no</config>
	<config protected="yes" type="boolean" name="v5.pro.light">no</config>
	<config protected="yes" type="boolean" name="v5.pro.brand">no</config>
	<relations>
		<needs type="module">UI_Font</needs>
	</relations>
	<hook type="resource" resource="Page" event="applyModules">Hook_UI_Font_FontAwesome::onPageApplyModules</hook>
</module>
