div.framed {
	border: 1px solid gray;
	border-radius: 0.4em;
	padding: 1em 2em;
	overflow: auto;
	height: 200px;
	}

input.state-good {
	background-color: #DFFFEF;
	}

input.state-bad {
	background-color: #FFCFCF;
	}

textarea.monospace {
	font-family: "Monospace";
	fontface: "Monospace";
	}

/*  --  FRAMED DOCUMENT  --  */
body.moduleAuthLocal div.framed {
	border: 1px solid gray;
	border-radius: 4px;
	padding: 1em 2em;
	overflow: auto;
	height: 300px;
	margin-bottom: 1em;
	font-size: 0.9em;
	}
body.moduleAuthLocal div.framed {
	padding: 1em 2em;
	font-size: 0.8rem;
	}
body.moduleAuthLocal div.framed .address {
	margin: 2em;
	border: 1px solid gray;
	background-color: #EFEFEF;
	}
body.moduleAuthLocal div.framed h2 {
	font-size: 1.9em !important;
	text-transform: none !important;
	border: none !important;
	}
body.moduleAuthLocal div.framed h3 {
	font-size: 1.3em !important;
	border: none !important;
	}


/*  --  CENTERED PANE  --  */
/*  @todo transport to main auth module if possible */
body.auth-centered.moduleAuthLocal.action-confirm #layout-content,
body.auth-centered.moduleAuthLocal.action-confirm #layout-field,
body.auth-centered.moduleAuthLocal.action-confirm #layout-content,
body.auth-centered.moduleAuthLocal.action-login #layout-content,
body.auth-centered.moduleAuthLocal.action-login #layout-field,
body.auth-centered.moduleAuthLocal.action-login #layout-content,
body.auth-centered.moduleAuthLocal.action-password #layout-content,
body.auth-centered.moduleAuthLocal.action-password #layout-field,
body.auth-centered.moduleAuthLocal.action-password #layout-content{
	height: 80vh;
	margin-top: 0 !important;
	overflow: hidden;
	}
body.auth-centered.moduleAuthLocal.action-confirm #layout-content .centered-pane-container,
body.auth-centered.moduleAuthLocal.action-login #layout-content .centered-pane-container,
body.auth-centered.moduleAuthLocal.action-password #layout-content .centered-pane-container{
	height: 80vh;
	display: flex;           /* establish flex container */
	flex-direction: column;  /* make main axis vertical */
	justify-content: center; /* center items vertically, in this case */
	align-items: center;     /* center items horizontally, in this case */
	}
body.auth-centered.moduleAuthLocal.action-confirm #layout-content .centered-pane,
body.auth-centered.moduleAuthLocal.action-login #layout-content .centered-pane,
body.auth-centered.moduleAuthLocal.action-password #layout-content .centered-pane{
	width: 400px;
	margin-top: 2em;
/*	box-shadow: 0 0 12vw 5vw rgba(127, 127, 127, 0.25), 0 0 2vw rgba(127, 127, 127, 0.25);*/
	box-shadow: 0 0 12vw 5vw rgba(127, 127, 127, 0.15), 0 0 2vw rgba(127, 127, 127, 0.5);
	}
body.auth-centered.moduleAuthLocal.action-confirm #layout-content .centered-pane .content-panel.content-panel-form,
body.auth-centered.moduleAuthLocal.action-login #layout-content .centered-pane .content-panel.content-panel-form,
body.auth-centered.moduleAuthLocal.action-password #layout-content .centered-pane .content-panel.content-panel-form{
	margin-bottom: 0;
	}
