<?xml version="1.0"?>
<module>
	<title>UI: JS: cmFormChange</title>
	<description><![CDATA[Simple marker for changed form input elements before commit.]]></description>
    <category>User Interface</category>
    <version>0.2.1</version>
    <log version="0.1">Initial prototype.</log>
    <log version="0.1.1">Add script extracted from module Work:Missions.</log>
    <log version="0.1.2">Add style definition extracted from module Work:Missions.</log>
    <log version="0.1.3">Add hook for auto apply.</log>
    <log version="0.1.4">Add switch for auto apply.</log>
    <log version="0.1.5">Add selector for auto apply.</log>
    <log version="0.2">Separation to Hydrogen module.</log>
    <log version="0.2.1">Rename from UI:JS:cmFormInputChange to UI:JS:cmFormChange.</log>
    <company site="http://ceusmedia.de/">Ceus Media</company>
    <author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
    <license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
    <files>
        <script load="auto">cmFormChange.js</script>
		<style load="auto">module.ui.cmFormChange.css</style>
    </files>
    <config protected="no" type="boolean" name="auto.enabled">yes</config>
    <config protected="no" type="string" name="auto.selector">.cmFormChange-auto</config>
    <relations>
        <needs type="module">JS_jQuery</needs>
    </relations>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
		$page		= $env->getPage();
		$options	= $env->getConfig()->getAll( 'module.ui_js_cmformchange.auto.', TRUE );
		if( $options->get( 'enabled' ) && $options->get( 'selector' ) ){
			$script		= sprintf( 'cmFormChange.applyTo("%s");', $options->get( 'selector' ) );
			$script		= sprintf( '$(document).ready(function(){%s});', $script );
			$page->addScript( $script ); 
		}
	]]></hook>
</module>



