/*  --  GENERAL  --  */
body.controller-manage-content-image .autocut{
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	}

/*  --  FOLDER LIST  --  */
body.controller-manage-content-image ul#list-folders {}
body.controller-manage-content-image ul#list-folders li {
	position: relative;
	}
body.controller-manage-content-image ul#list-folders li .muted {
	color: rgba(0,0,0,0.5);
	}
body.controller-manage-content-image ul#list-folders li.active .muted {
	color: rgba(255,255,255,0.5);
	}

/*  --  IMAGE LIST  --  */
body.controller-manage-content-image ul.thumbs {
	list-style: none;
	margin: 0px;
	}
body.controller-manage-content-image ul.thumbs:after {
	clear: left;
	content: "";
	}
body.controller-manage-content-image ul.thumbs > li {
	margin: 0px;
	padding: 0px;
	padding: 0.4em 0.6em;
	float: left;
	width: 140px;
	height: 110px;
	cursor: pointer;
	}
body.controller-manage-content-image ul.thumbs > li:hover {
	background-color: #EFEFEF;
	}
body.controller-manage-content-image ul.thumbs > li > div {
	float: left;
	width: 140px;
	height: 100px;
	text-align: center;
	}
body.controller-manage-content-image ul.thumbs > li > div > div {
	text-align: center;
	font-size: 0.8em;
	color: #777;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	}
body.controller-manage-content-image ul.thumbs > li > div > img,
body.controller-manage-content-image img.thumbnail {
	border: 1px solid #AAA;
	border-radius: 0.3em;
	padding: 0.4em;
	box-shadow: 1px 1px 2px 1px #CCC;
	}

/*  --  IMAGE FACTS  --  */
body.controller-manage-content-image dl.dl-horizontal dt {
	width: 100px;
	text-align: left;
	}
body.controller-manage-content-image dl.dl-horizontal dd {
	margin-left: 120px;
	}

