<?xml version="1.0"?>
<module>
	<title>UI: Nav: Bootstrap: Position Bar</title>
	<description><![CDATA[]]></description>
	<category>User Interface</category>
	<version>0.2.1</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Add basic styling.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>View/Helper/Navigation/Bootstrap/Position.php5</class>
		<style load="auto">module.ui.navigation.bootstrap.position.css</style>
	</files>
	<config protected="yes" type="boolean" name="enabled">yes</config>
	<relations>
		<supports type="module">Info_Pages</supports>
	</relations>
</module>
