<?xml version="1.0"?>
<module>
	<title>Labs: Disclosure</title>
	<description></description>
	<version>0.1</version>
	<requires>
	</requires>
	<files>
		<class>Controller/Labs/Disclosure.php5</class>
		<class>View/Labs/Disclosure.php5</class>
		<template>labs/disclosure/index.php</template>
	</files>
</module>

