<?xml version="1.0"?>
<module>
	<title><![CDATA[Blog &raquo;Compact&laquo;]]></title>
	<description>Simple blog with tags but without comments.</description>
	<version>0.4</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.3">Adding features.</log>
	<log version="0.3.1">Added content helper.</log>
	<log version="0.3.2">Supported feed via RSS and added link.</log>
	<log version="0.3.3">Integrated editor and set rights.</log>
	<log version="0.3.4">Added article versioning.</log>
	<log version="0.3.5">Redesigned article information box.</log>
	<log version="0.3.6">Redesigned article tag link list.</log>
	<log version="0.3.7">Migration to Bootstrap and FontAwesome.</log>
	<log version="0.3.8">Added list of least used tags.</log>
	<log version="0.3.9">Extracted JavaScript.</log>
	<log version="0.4">Switched modules for authentication, roles and users</log>
	<files>
		<class>Controller/Blog.php5</class>
		<class>Model/Article.php5</class>
		<class>Model/ArticleAuthor.php5</class>
		<class>Model/ArticleTag.php5</class>
		<class>Model/ArticleVersion.php5</class>
		<class>Model/Tag.php5</class>
		<class>View/Blog.php5</class>
		<class>View/Helper/Blog.php5</class>
		<template>blog/add.php</template>
		<template>blog/article.php</template>
		<template>blog/author.php</template>
		<template>blog/edit.php</template>
		<template>blog/index.php</template>
		<template>blog/tag.php</template>
		<style load="auto">module.blog.css</style>
		<locale>de/blog.ini</locale>
		<script load="auto">Blog.js</script>
	</files>
	<config protected="yes" type="string" name="feed.editor">johndoe@example.org (John Doe)</config>
	<config protected="yes" type="string" name="feed.language">de-de</config>
	<config protected="yes" type="string" name="feed.image"></config>
	<config protected="yes" type="string" name="feed.image.width"></config>
	<config protected="yes" type="string" name="feed.image.height"></config>
	<config protected="yes" type="string" name="path.images">blog/</config>
	<config protected="no" type="integer" name="perPage">10</config>
	<config protected="no" type="boolean" name="niceURLs">yes</config>
	<relations>
		<needs type="module">Resource_Database</needs>
		<needs type="module">Resource_Authentication</needs>
		<needs type="module">JS_Layer</needs>
		<needs type="module">JS_jQuery_UI_Timepicker</needs>
		<needs type="module">UI_Helper_Content</needs>
		<needs type="module">UI_Helper_Pagination</needs>
	</relations>
	<link xml:lang="de" access="public" path="blog">Blog</link>
	<link rank="99" access="public" path="blog/feed"/>
	<link rank="99" access="public" path="blog/index"/>
	<link rank="99" access="public" path="blog/article"/>
	<link rank="99" access="public" path="blog/tag"/>
	<link rank="99" access="public" path="blog/thumb"/>
	<link rank="99" access="public" path="blog/images"/>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
		$env->getLanguage()->load( 'blog' );														//  load blog language file
		$words		= $env->getLanguage()->getWords( 'blog' );										//  get blog feed words
		$context->addHead( UI_HTML_Tag::create( 'link', NULL, array(								//  create link with attributes
			'rel'	=> "alternate",																	//  
			'type'	=> "application/rss+xml",														//  MIME type of RSS
			'href'	=> $env->getConfig()->get( 'app.base.url' )."blog/feed",						//  URL to RSS feed
			'title'	=> $env->getConfig()->get( 'app.name' ).': '.$words['feed']['title']			//  link title
		) ) );																						//  and add link to page head
		View_Helper_ContentConverter::register( "View_Helper_Blog", "formatBlogLinks" );
		View_Helper_ContentConverter::register( "View_Helper_Blog", "formatEmoticons" );
		View_Helper_ContentConverter::register( "View_Helper_Blog", "formatImages" );
		View_Helper_ContentConverter::register( "View_Helper_Blog", "formatIFrames" );
	]]></hook>
</module>
