<?xml version="1.0"?>
<module>
	<title>Resource: Frontend</title>
	<description><![CDATA[Remote access to frontend for administrative and management modules.]]></description>
	<category>Resource</category>
	<version>0.2.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Refactored logic class to singleton.</log>
	<log version="0.2.2">Add method to get frontend languages, default language first.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Logic/Frontend.php5</class>
	</files>
	<config protected="yes" type="string" name="path">../</config>
	<relations/>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
	]]></hook>
</module>
