<?xml version="1.0"?>
<module>
	<title>JSON Server</title>
	<description><![CDATA[Standalone JSON answering server application base.]]></description>
This module installs the main classes needed to run a server application which is requested using REST and answering in JSON.
	<category>Server</category>
	<version>0.3.2</version>
	<log version="0.1">Initial prototype in project Chat:Server.</log>
	<log version="0.2">Separated into this Hydrogen module.</log>
	<log version="0.2.3">Added Piwik as tracker.</log>
	<log version="0.2.4">Added .htaccess files to protect folders.</log>
	<log version="0.2.5">Extended index script by library path.</log>
	<log version="0.2.6">Moved index.php5 to index.php.</log>
	<log version="0.2.7">Extracted Piwik support to module Resource:Tracker:Piwik.</log>
	<log version="0.2.8">Updated abstract controller to match Hydrogen update.</log>
	<log version="0.2.9">Removed artefacts from chat server.</log>
	<log version="0.3">Updated environment strictness.</log>
	<log version="0.3.1">Replace file and folder class calls to use CeusMedia:Common.</log>
	<log version="0.3.2">Load support for page in environment for browser.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>Dispatcher.php5</class>
		<class>Environment.php5</class>
		<class>Server.php5</class>
		<class>Controller/Abstract.php5</class>
		<class>Controller/Index.php5</class>
		<locale>de/main.ini</locale>
		<locale>en/main.ini</locale>
		<file>.htaccess</file>
		<file>index.php</file>
		<file>config/config.ini.dist</file>
		<file>config/.htaccess</file>
		<file>logs/.htaccess</file>
	</files>
	<config protected="yes" type="boolean" name="token.active" info="force token authentication">yes</config>
	<config protected="yes" type="string" name="token.excludes" info="request paths which do not need a token">index/index,auth/getToken,auth/validateToken</config>					; controller/action patterns allowed without token
	<config protected="yes" type="string" name="referers.only" info="comma separated list of allowed referers, empty: all allowed"></config>
	<relations>
		<supports type="module">Resource_TokenStore</supports>
		<supports type="module">Server_JSON_Browser</supports>
		<supports type="module">Server_Syslog</supports>
		<supports type="module">Resource_Tracker_Piwik</supports>
	</relations>
</module>
