<?xml version="1.0"?>
<module>
	<title>Manage: Downloads</title>
	<description><![CDATA[Management for frontend module Info:Downloads.]]></description>
	<category>Management</category>
	<version>0.3.6</version>
	<log version="0.3.4">Cloned from module Info:Files.</log>
	<log version="0.3.5">Use module Resource:Upload.</log>
	<log version="0.3.6">Replace CDN resource.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>Controller/Manage/Download.php5</class>
		<class>View/Manage/Download.php5</class>
		<class>Model/Download/File.php5</class>
		<class>Model/Download/Folder.php5</class>
		<locale>de/manage/download.ini</locale>
		<locale>de/html/manage/download/index.bottom.html</locale>
		<locale>de/html/manage/download/index.top.html</locale>
		<template>manage/download/index.php</template>
		<template>manage/download/index.folder.php</template>
		<template>manage/download/index.info.php</template>
		<template>manage/download/index.scan.php</template>
		<template>manage/download/index.upload.php</template>
		<style>module.manage.downloads.css</style>
		<script load="auto">module.manage.downloads.js</script>
	</files>
	<link xml:lang="de" access="acl" rank="21" path="manage/file">Download-Verwaltung</link>
	<link xml:lang="en" access="acl" rank="21" path="manage/file">Download Management</link>
	<relations>
		<needs type="module">Resource_Frontend</needs>
		<needs type="module">Resource_Upload</needs>
		<needs type="module">UI_Bootstrap</needs>
		<needs type="module">UI_Helper_TimePhraser</needs>
		<needs type="module">UI_Helper_Input_File</needs>
	</relations>
</module>
