<?xml version="1.0"?>
<module>
	<title>Manage: Customers</title>
	<description><![CDATA[Extensible customer database management.]]></description>
	<category>Management</category>
	<version>0.3.3</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.3">Integrated extension support.</log>
	<log version="0.3.1">Integrated extension tabs.</log>
	<log version="0.3.2">Updated hooks for tabs.</log>
	<log version="0.3.3.">Fixed bug in form views.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Manage/Customer.php5</class>
		<class>View/Manage/Customer.php5</class>
		<class>Model/Customer.php5</class>
		<template>manage/customer/add.php</template>
		<template>manage/customer/edit.php</template>
		<template>manage/customer/index.php</template>
		<template>manage/customer/map.php</template>
		<locale>de/manage/customer.ini</locale>
	</files>
	<relations>
		<needs type="module">Resource_Database</needs>
		<needs type="module">UI_Indicator</needs>
	</relations>
	<link xml:lang="de" access="inside" path="manage/customer" rank="36">Kunden</link>
	<link xml:lang="en" access="inside" path="manage/customer" rank="36">Customers</link>
	<hook type="resource" resource="CustomerManager" event="registerTabs">View_Manage_Customer::___onRegisterTab</hook>
	<sql on="install" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>customers`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>customers` (
  `customerId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `creatorId` INT(10) unsigned NOT NULL,
  `type` tinyint(1) unsigned NOT NULL,
  `size` tinyint(1) unsigned NOT NULL,
  `title` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `description` text COLLATE utf8_unicode_ci,
  `country` varchar(100) COLLATE utf8_unicode_ci DEFAULT NULL,
  `city` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `postcode` varchar(10) COLLATE utf8_unicode_ci DEFAULT NULL,
  `street` varchar(100) COLLATE utf8_unicode_ci DEFAULT NULL,
  `nr` varchar(10) COLLATE utf8_unicode_ci DEFAULT NULL,
  `url` varchar(100) COLLATE utf8_unicode_ci DEFAULT NULL,
  `latitude` float DEFAULT NULL,
  `longitude` float DEFAULT NULL,
  `contact` varchar(100) COLLATE utf8_unicode_ci DEFAULT NULL,
  `email` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `phone` varchar(20) COLLATE utf8_unicode_ci NOT NULL,
  `fax` varchar(20) COLLATE utf8_unicode_ci DEFAULT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`customerId`),
  UNIQUE KEY `title` (`title`),
  KEY `type` (`type`),
  KEY `size` (`size`),
  KEY `creatorId` (`creatorId`),
  KEY `url` (`url`),
  KEY `latitude` (`latitude`),
  KEY `longitude` (`longitude`),
  KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="uninstall" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>customers`;
]]></sql>
</module>

