<?xml version="1.0"?>
<module>
	<title>Info: Manual</title>
	<description><![CDATA[Viewer for documents written using Markdown.

Additionally contains editing features which need to be enabled.

Features of viewer:	
list>
- Documents are existing as files and can be stored in (nested) folders 
- Markdown syntax can be rendered:
list>
	- before delivery using serverside Markdown renderer (server-inline)
	- before display using AJAX and serverside Markdown renderer (server-ajax)
	- before display using PageDown.js (client)
<list
<list
Features of editor:	
list>
- Documents can be added, updated, renamed/moved or removed
- Document list order can be managed by pushing documents up or down
- Renaming a document will adjust links to this document in others
<list
This module can be localized.
]]></description>
	<version>0.6.9</version>
	<log version="0.6.3">Extract CSS to style file.</log>
	<log version="0.6.4">Add support for serverside Markdown rendering.</log>
	<log version="0.6.5">Add configuration and detection of renderer.</log>
	<log version="0.6.6">Load script and style only within module.</log>
	<log version="0.6.7">Add support for new AJAJ client.</log>
	<log version="0.6.8">Add relation to module JS:CodeMirror.</log>
	<log version="0.6.9">Replace file and folder class calls to use CeusMedia:Common.</log>
<!--	<log version="0.6.x">Use editor configuration switch for read-only mode.</log>-->
	<category>Info</category>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Info/Manual.php5</class>
		<class>View/Info/Manual.php5</class>
		<template>info/manual/add.php</template>
		<template>info/manual/edit.php</template>
		<template>info/manual/index.php</template>
		<template>info/manual/view.php</template>
		<locale>de/info/manual.ini</locale>
		<locale>de/info/manual/demo.syntax.md</locale>
		<locale>de/info/manual/order.list</locale>
		<script>Info.Manual.js</script>
		<style>module.info.manual.css</style>
	</files>
	<config type="string" protected="yes" name="path">locales/de/info/manual/</config>
	<config type="string" protected="no" name="renderer" values="client,server-ajax,server-inline">server-inline</config>
	<config type="boolean" name="editor">1</config>
	<config type="integer" name="editor.rows">20</config>
	<relations>
		<needs type="module">JS_jQuery</needs>
		<needs type="module">JS_CodeMirror</needs>
		<needs type="module">JS_Markdown</needs>
		<needs type="module">UI_Markdown</needs>
	</relations>
</module>
