<?xml version="1.0"?>
<module>
	<title>Info: Contact</title>
	<description><![CDATA[Simple contact form.]]></description>
	<category>Info</category>
	<version>0.8.1</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Added support for static content blocks (top, right, bottom).</log>
	<log version="0.2.2">Added support for more static content blocks (before, after).</log>
	<log version="0.2.3">Updated locales.</log>
	<log version="0.2.4">Integrate CAPTCHA.</log>
	<log version="0.2.5">Integrate honey pot.</log>
	<log version="0.2.6">Improve CAPTCHA folder detection.</log>
	<log version="0.3">Applied panel style.</log>
	<log version="0.3.1">Fill static content blocks with hidden examples.</log>
	<log version="0.3.2">Adjust to changes of module Info:Pages.</log>
	<log version="0.4">Implement contact form modals.</log>
	<log version="0.4.1">Improve contact form modals and triggers.</log>
	<log version="0.4.2">Use module UI_Shortcode to perform contact forms.</log>
	<log version="0.5">Support for newsletter registration.</log>
	<log version="0.5.1">Add privacy text placeholder.</log>
	<log version="0.6">Use module UI_Captcha and remove own implementation.</log>
	<log version="0.6.1">Support new Google reCaptcha.</log>
	<log version="0.6.2">Improve form validation.</log>
	<log version="0.6.3">Extract contact form modals shortcode to own hook class.</log>
	<log version="0.7">Extend contact form modals by phone number and refactor fields.</log>
	<log version="0.7.1">Export contact form modals result layers to HTML blocks.</log>
	<log version="0.7.2">Prepare for Bootstrap 3 and 4.</log>
	<log version="0.7.3">Refactor contact form field name to fullname.</log>
	<log version="0.7.4">Make modal forms configurable.</log>
	<log version="0.7.5">Migrate to support CeusMedia::Common 0.8.5.</log>
	<log version="0.7.6">Spelling Fix in Post Contact Message.</log>
	<log version="0.7.7">Use module Security:CSRF.</log>
	<log version="0.7.8">Extend HTML mails by plain text variant.</log>
	<log version="0.7.9">Extract AJAX to own controller.</log>
	<log version="0.8">Update code style.</log>
	<log version="0.8.1">Add referer check.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Ajax/Info/Contact.php</class>
		<class>Controller/Info/Contact.php</class>
		<class>Hook/Info/Contact.php</class>
		<class>Mail/Info/Contact.php</class>
		<class>Mail/Info/Contact/Form.php</class>
		<class>View/Helper/Info/Contact/Form/Modal.php</class>
		<class>View/Helper/Info/Contact/Form/Trigger.php</class>
		<class>View/Info/Contact.php</class>
		<template>info/contact/index.php</template>
		<locale>de/html/info/contact/bottom.html</locale>
		<locale>de/html/info/contact/privacy.html</locale>
		<locale>de/html/info/contact/top.html</locale>
		<locale>de/html/info/contact/form/success.html</locale>
		<locale>de/html/info/contact/form/error.html</locale>
		<locale>de/info/contact.ini</locale>
		<locale>de/mail/info/contact.html</locale>
		<locale>de/mail/info/contact.txt</locale>
		<locale>de/mail/info/contact/form.html</locale>
		<locale>de/mail/info/contact/form.txt</locale>
		<locale>en/html/info/contact/bottom.html</locale>
		<locale>en/html/info/contact/privacy.html</locale>
		<locale>en/html/info/contact/top.html</locale>
		<locale>en/html/info/contact/form/success.html</locale>
		<locale>en/html/info/contact/form/error.html</locale>
		<locale>en/info/contact.ini</locale>
		<locale>en/mail/info/contact.html</locale>
		<locale>en/mail/info/contact.txt</locale>
		<locale>en/mail/info/contact/form.html</locale>
		<locale>en/mail/info/contact/form.txt</locale>
		<script load="auto" level="end">module.info.contact.js</script>
		<style source="common" load="auto">module.info.contact.css</style>
	</files>
	<relations>
		<needs type="module">JS_Form_Optionals</needs>
		<needs type="module">Resource_Mail</needs>
		<needs type="module">Security_CSRF</needs>
		<needs type="module">UI_Shortcode</needs>
	</relations>
	<config protected="yes" mandatory="yes" type="string" name="mail.sender"></config>
	<config protected="yes" mandatory="yes" type="string" name="mail.receiver"></config>
	<config protected="yes" type="boolean" name="captcha.enable">no</config>
	<config protected="yes" type="integer" name="captcha.length">4</config>
	<config protected="yes" type="string" name="captcha.strength" values="soft,hard">soft</config>
	<config protected="yes" type="string" name="captcha.path"></config>
	<config protected="yes" type="boolean" name="csrf.enable">yes</config>
	<config protected="yes" type="boolean" name="honeypot.enable">yes</config>
	<config protected="yes" type="boolean" name="newsletter.enable">yes</config>
	<config protected="yes" type="boolean" name="modal.show.company">yes</config>
	<config protected="yes" type="string" name="modal.default.type">question</config>
	<config protected="yes" type="boolean" name="modal.show.type.question">yes</config>
	<config protected="yes" type="boolean" name="modal.show.type.request">yes</config>
	<config protected="yes" type="boolean" name="modal.show.type.problem">yes</config>
	<link xml:lang="de" rank="80" access="public" path="info/contact/index" link="info/contact">Kontakt</link>
	<link xml:lang="en" rank="80" access="public" path="info/contact/index" link="info/contact">Contact</link>
	<link access="public" path="info/contact/ajaxForm"/>
	<hook type="resource" resource="View" event="onRenderContent">Hook_Info_Contact::onRenderContent</hook>
	<sql on="install" type="mysql"><![CDATA[
]]></sql>
	<sql on="uninstall" type="mysql"><![CDATA[
]]></sql>
</module>
