<?xml version="1.0"?>
<module>
	<title>Manage: My User Avatar</title>
	<description>Extends own user management by avatar settings.</description>
	<version>0.4.5</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Support tabs.</log>
	<log version="0.2.2">Add helper.</log>
	<log version="0.3">Finish implementation.</log>
	<log version="0.3.1">Cleanup configuration.</log>
	<log version="0.3.2">Extacted template texts to locales.</log>
	<log version="0.4">Refactoring.</log>
	<log version="0.4.1">Improved upload check.</log>
	<log version="0.4.2">Support 3 image sizes.</log>
	<log version="0.4.3">Extends configuration by switches for local avatar and Gravatar.</log>
	<log version="0.4.4">Check for module UI_Helper_Gravatar.</log>
	<log version="0.4.5">Add tab icon.</log>
	<category>Management</category>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian Würker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Manage/My/User/Avatar.php5</class>
		<class>Model/User/Avatar.php5</class>
		<class>View/Manage/My/User/Avatar.php5</class>
		<class>View/Helper/UserAvatar.php5</class>
		<template>manage/my/user/avatar/index.php</template>
		<locale>de/manage/my/user/avatar.ini</locale>
		<locale>de/html/manage/my/user/avatar/info.avatar.html</locale>
		<locale>de/html/manage/my/user/avatar/info.gravatar.html</locale>
		<locale>en/manage/my/user/avatar.ini</locale>
		<locale>en/html/manage/my/user/avatar/info.avatar.html</locale>
		<locale>en/html/manage/my/user/avatar/info.gravatar.html</locale>
		<style load="auto">module.manage.my.user.avatar.css</style>
	</files>
	<config protected="yes" type="string" name="path.images" mandatory="yes" title="path to images within managed application, needs trailing slash">contents/avatars/</config>
	<config protected="yes" type="float" name="image.upload.maxFileSize" title="Maximum upload file size in MB">2</config>
	<config protected="yes" type="integer" name="image.upload.minSize" title="Image width and height in pixels to scale to">256</config>
	<config protected="yes" type="integer" name="image.size.large" title="Image width and height in pixels to scale to">1024</config>
	<config protected="yes" type="integer" name="image.size.medium" title="Image width and height in pixels to scale to">256</config>
	<config protected="yes" type="integer" name="image.size.small" title="Image width and height in pixels to scale to">64</config>
	<config protected="yes" type="boolean" name="use.avatar" mandatory="no" title="Flag: use local avatar image upload">1</config>
	<config protected="yes" type="boolean" name="use.gravatar" mandatory="no" title="Flag: use Gravatar as fallback">1</config>
	<relations>
		<needs type="module">Manage_My_User</needs>
	</relations>
	<hook type="resource" resource="MyUser" event="registerTabs">View_Manage_My_User_Avatar::___onRegisterTab</hook>
	<sql on="install" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>user_avatars`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>user_avatars` (
  `userAvatarId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `userId` int(10) unsigned NOT NULL,
  `status` tinyint(1) NOT NULL,
  `filename` varchar(200) COLLATE utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`userAvatarId`),
  KEY `userId` (`userId`),
  KEY `status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="uninstall" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>user_avatars`;
]]></sql>
</module>
