<div id="layout-mail">
	<div id="layout-mail-header">
		<h1>Mein Projekt</h1>
		<div id="browser-link"><small class="muted">Diesen Newsletter können Sie auch bequem in Ihrem <a href="[#linkView#]">Internet-Browser betrachten</a>.</small></div>
	</div>
	<div id="layout-mail-content">
		<h2>[#nr#]: [#title#]</h2>
		[#content#]
	</div>
	<div id="layout-mail-footer">
		<h4>Impressum</h4>
		<div id="layout-mail-footer-left">
			<address>
				[#imprint#]
			</address>
		</div>
		<div id="layout-mail-footer-right">
			Sie, [#prefix#] [#firstname#] [#surname#], erhalten diesen Newsletter aufgrund Ihrer Registrierung am [#registerDate#] um [#registerTime#] Uhr.<br/>
			Wenn Sie diesen Newsletter nicht mehr erhalten wollen, können Sie ihn komplett oder teilweise <a href="[#linkUnregister#]" target="_blank">abbestellen</a>.<br/>
		</div>
	</div>
	[#tracking#]
</div>
