<?xml version="1.0"?>
<module>
	<title>Info: Relocation</title>
	<description><![CDATA[Short-URL relocation to external internet resources.]]></description>
	<category>Info</category>
	<version>0.3</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Support localization.</log>
	<log version="0.2.2">Add shortcut route if router module is installed.</log>
	<log version="0.2.3">Make shortcut route configurable.</log>
	<log version="0.2.4">Extend model by creator ID.</log>
	<log version="0.2.4">Add fallback page.</log>
	<log version="0.2.5">Support localization and add english locales.</log>
	<log version="0.2.6">Count views only for requests from outside.</log>
	<log version="0.2.7">Set new status "used" for relocations requested from outside.</log>
	<log version="0.3">First production version.</log>
<!--
	<log version="0.3.x">Inform manager on failed relocations.</log>
	<log version="0.3.x">Add generation of QR-Code.</log>
-->
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Info/Relocation.php5</class>
		<class>Model/Relocation.php5</class>
		<class>View/Info/Relocation.php5</class>
		<locale>de/info/relocation.ini</locale>
		<locale>de/html/info/relocation/fail.html</locale>
		<locale>en/info/relocation.ini</locale>
		<locale>en/html/info/relocation/fail.html</locale>
	</files>
	<config protected="yes" type="integer" name="status" values="301,308">308</config>
    <config protected="yes" type="boolean" name="shortcut" values="yes,no">no</config>
    <config protected="yes" type="integer" name="shortcut.code">308</config>
    <config protected="yes" type="string" name="shortcut.source">/go\/([0-9]+)$/</config>
    <config protected="yes" type="string" name="shortcut.target">info/relocation/$1</config>
	<link path="info/relocation/index" access="public"></link>
	<link path="info/relocation/fail" access="public"></link>
    <hook type="event" resource="Page" event="applyModules">Controller_Info_Relocation::___onReadyCheckShortcutRoute</hook>
	<sql on="install" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>relocations`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>relocations` (
  `relocationId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `creatorId` int(11) unsigned DEFAULT '0',
  `status` tinyint(1) DEFAULT '0',
  `title` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `url` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `views` int(10) unsigned DEFAULT '0',
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `usedAt` decimal(12,0) unsigned DEFAULT '0',
  PRIMARY KEY (`relocationId`),
  KEY `creatorId` (`creatorId`),
  KEY `status` (`status`),
  KEY `title` (`title`),
  KEY `url` (`url`),
  KEY `createdAt` (`createdAt`),
  KEY `usedAt` (`usedAt`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
	]]></sql>
	<sql on="uninstall" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>relocations`;
	]]></sql>
</module>
