<?xml version="1.0"?>
<module>
	<title>JS: Underscore</title>
	<description><![CDATA[Underscore JavaScript Library]]></description>
	<version>1.5.2-p1</version>
	<log version="1.5.2-p1">Extract hook to own hook class.</log>
	<category>JavaScript</category>
	<author site="https://www.documentcloud.org/">DocumentCloud</author>
	<url>https://underscorejs.org/</url>
	<license source="https://github.com/jashkenas/underscore/blob/master/LICENSE">Open Source</license>
	<files>
		<class>Hook/JS/Underscore.php</class>
		<script load="auto" level="top">underscore-1.5.2-min.js</script>
		<script level="top">underscore-1.5.2.js</script>
	</files>
	<hook type="resource" resource="Page" event="applyModules">Hook_JS_Underscore::onPageApplyModules</hook>
</module>
