<?xml version="1.0"?>
<module>
	<title>Manage: Shop Bridge</title>
	<description><![CDATA[...]]></description>
	<category>Management</category>
	<version>0.2.9</version>
	<log version="0.1.0">Initial prototype.</log>
	<log version="0.2.0">Separation to Hydrogen module.</log>
	<log version="0.2.1">Finish add and edit.</log>
	<log version="0.2.2">Use catalog title.</log>
	<log version="0.2.3">Integrate discovery system.</log>
	<log version="0.2.4">Extract bridge facts detection to shop bridge logic.</log>
	<log version="0.2.5">Use new tab system.</log>
	<log version="0.2.6">Add locale file.</log>
	<log version="0.2.7">Updated relations.</log>
	<log version="0.2.8">Extend forms by table data.</log>
	<log version="0.2.9">Add method to remove bidge.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Manage/Shop/Bridge.php5</class>
		<class>View/Manage/Shop/Bridge.php5</class>
		<locale>de/manage/shop/bridge.ini</locale>
		<locale>en/manage/shop/bridge.ini</locale>
		<template>manage/shop/bridge/add.php</template>
		<template>manage/shop/bridge/edit.php</template>
		<template>manage/shop/bridge/index.php</template>
		<template>manage/shop/bridge/index.discover.php</template>
		<template>manage/shop/bridge/index.list.php</template>
	</files>
	<relations>
		<needs type="module">Shop_Bridge</needs>
		<needs type="module">Manage_Shop</needs>
	</relations>
	<link xml:lang="de" path="manage/shop/bridge">Kataloge</link>
	<link xml:lang="en" path="manage/shop/bridge">Catalogs</link>
	<hook type="resource" resource="ManageShop" event="registerTabs">View_Manage_Shop_Bridge::___onRegisterTab</hook>
</module>
