<?xml version="1.0"?>
<module>
	<title>App: Site</title>
	<description><![CDATA[Empty web site application as base for your projects.]]></description>
	<category>Application</category>
	<version>0.5.6</version>
	<log version="0.3.7">Added robots file and locked log folder.</log>
	<log version="0.3.8">Using new script auto load level support to load layout.css at last.</log>
	<log version="0.3.9">Adjusted .htaccess for newer Apache: strict option switches.</log>
	<log version="0.3.10">Integrated rendering of hints.</log>
	<log version="0.3.11">Added version and hook to use version to solve browser cache problems.</log>
	<log version="0.3.12">Added .htaccess to protect config folder.</log>
	<log version="0.4">Dispatching is done by hook App::onAppDispatch by now.</log>
	<log version="0.4.1">Extended master template by support for links defined in config/pages.json.</log>
	<log version="0.4.2">Extended master template by support for navigation helper for pages.</log>
	<log version="0.4.3">Updated master template to get brand from main locale.</log>
	<log version="0.4.4">Load index template by convention.</log>
	<log version="0.4.5">load index HTML files by arguments.</log>
	<log version="0.4.6">Replace file and folder class calls to use CeusMedia:Common.</log>
	<log version="0.4.7">Removed app version and public index link.</log>
	<log version="0.4.8">Add style definition for fixed table layout.</log>
	<log version="0.4.9">Enable gzip compression in .htaccess by default.</log>
	<log version="0.5">Scan for public links in pages file, if available.</log>
	<log version="0.5.1">Support module UI:LanguageSelector.</log>
	<log version="0.5.2">Extend master template by HTML blocks.</log>
	<log version="0.5.3">Support separate index HTML file for being logged in (inside).</log>
	<log version="0.5.4">Extract hooks to own hook class.</log>
	<log version="0.5.5">Prepare to use new abstract hook provided by framework.</log>
	<log version="0.5.6">Add background images and rename logo images.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>Controller/Index.php5</class>
		<class>View/Index.php5</class>
		<class>Hook/App/Site.php5</class>
		<class>.htaccess</class>
		<locale>de/main.ini</locale>
		<locale>de/html/app.brand.html</locale>
		<locale>de/html/app.footer.html</locale>
		<locale>de/html/app.header.html</locale>
		<locale>en/main.ini</locale>
		<locale>en/html/app.brand.html</locale>
		<locale>en/html/app.footer.html</locale>
		<locale>en/html/app.header.html</locale>
		<locale>.htaccess</locale>
		<template>index/index.php</template>
		<template>master.php</template>
		<template>.htaccess</template>
		<style source="theme" theme="common" load="auto" level="end">layout.css</style>
        <image source="theme" theme="common">background/CeusMedia/Logo.xcf</image>
        <image source="theme" theme="common">background/CeusMedia/Logo_dark_25.png</image>
        <image source="theme" theme="common">background/CeusMedia/Logo_dark_50.png</image>
        <image source="theme" theme="common">background/CeusMedia/Logo_dark_75.png</image>
        <image source="theme" theme="common">background/CeusMedia/Logo_light_25.png</image>
        <image source="theme" theme="common">background/CeusMedia/Logo_light_50.png</image>
        <image source="theme" theme="common">background/CeusMedia/Logo_light_75.png</image>
		<image source="theme" theme="common">logo/CeusMedia/Inline_Blue_Transparent.svg</image>
		<image source="theme" theme="common">logo/CeusMedia/Inline_White_Transparent.svg</image>
		<image source="theme" theme="common">logo/CeusMedia/Stacked_Blue_Transparent.svg</image>
		<image source="theme" theme="common">logo/CeusMedia/Stacked_White_Transparent.svg</image>
		<file>index.php</file>
		<file>robots.txt</file>
		<file>.htaccess.dist</file>
		<file>.htpasswd.dist</file>
		<file>config/.htaccess</file>
		<file>logs/.htaccess</file>
	</files>
	<relations>
		<needs type="module">JS_jQuery</needs>
		<needs type="module">UI_Bootstrap</needs>
		<needs type="module">Server_System_Exception</needs>
		<supports type="module">Info_Contact</supports>
		<supports type="module">Info_Pages</supports>
		<supports type="module">JS_Modernizr</supports>
		<supports type="module">UI_Compressor</supports>
		<supports type="module">UI_FavIcon</supports>
		<supports type="module">UI_MetaTags</supports>
		<supports type="module">UI_LanguageSelector</supports>
		<supports type="module">UI_TEA</supports>
	</relations>
	<hook type="resource" resource="TinyMCE" event="getImageList">Hook_App_Site::onTinyMCEGetImageList</hook>
	<hook type="resource" resource="Page" event="applyModules">Hook_App_Site::onPageApplyModules</hook>
	<hook type="resource" resource="Page" event="init">Hook_App_Site::onPageInit</hook>
	<hook type="resource" resource="Env" event="constructEnd">Hook_App_Site::onEnvConstructEnd</hook>
	<hook type="resource" resource="Framework" event="calledDeprecationResource">Hook_App_Site::onFrameworkDeprecation</hook>
</module>
