<?xml version="1.0"?>
<module xmlns="https://schema.ceusmedia.de/hydrogen/module-1.0.0.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://schema.ceusmedia.de/hydrogen/module-1.0.0.xsd https://schema.ceusmedia.de/hydrogen/module-1.0.0.xsd">
	<title>JS: Modernizr</title>
	<description><![CDATA[Browser feature detection and media query support.]]></description>
	<category>JavaScript</category>
	<version>2.6.2</version>
	<files>
		<script load="auto" level="top">modernizr-2.6.2.min.js</script>
		<script>modernizr-2.6.2.js</script>
	</files>
</module>
