<?xml version="1.0"?>
<module>
	<title>Info: Pages</title>
	<description><![CDATA[Support for static pages and automatic routing to them.]]></description>
	<category>Info</category>
	<version>0.2</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Logic/Page.php5</class>
		<class>Model/Page.php5</class>
	</files>
	<config type="string" protected="yes" name="title.separator">&lt;</config>
	<relations>
		<needs type="module">Resource_Database</needs>
	</relations>
	<sql on="install" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>pages`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>pages` (
  `pageId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `parentId` int(10) unsigned DEFAULT '0',
  `status` tinyint(1) DEFAULT '0',
  `type` tinyint(4) DEFAULT '0',
  `scope` int(10) unsigned DEFAULT '0',
  `rank` tinyint(1) NOT NULL,
  `identifier` varchar(20) COLLATE utf8_unicode_ci DEFAULT NULL,
  `module` varchar(100) COLLATE utf8_unicode_ci DEFAULT NULL,
  `title` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `content` text COLLATE utf8_unicode_ci,
  `timestamp` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`pageId`),
  KEY `scope` (`scope`),
  KEY `key` (`identifier`),
  KEY `parentId` (`parentId`),
  KEY `type` (`type`),
  KEY `module` (`module`),
  KEY `status` (`status`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="uninstall" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>pages`;
]]></sql>
	
</module>
