<?xml version="1.0"?>
<module>
	<title>Info: Pages</title>
	<description><![CDATA[Support for static pages and automatic routing to them.]]></description>
	<category>Info</category>
	<version>0.9.1</version>
	<log version="0.5">Complete redesign with hook on App:onDispatch.</log>
	<log version="0.5.1">Switch to deny direct access to controller.</log>
	<log version="0.5.2">Added page content format.</log>
	<log version="0.5.3">Added hook View:onRenderContent for nested pages.</log>
	<log version="0.5.4">Extended database table by timestamps.</log>
	<log version="0.5.5">Added hook for sitemap data collection.</log>
	<log version="0.5.6">Improved sitemap data collection by subpages and order.</log>
	<log version="0.5.7">Merged SQL updates into SQL install script.</log>
	<log version="0.5.8">Add pages navigation helper for projects without module UI:Navigation.</log>
	<log version="0.5.9">Add new page status "deactivated" and avoid access.</log>
	<log version="0.6">Support sitemap information in model.</log>
	<log version="0.6.1">Support subpage resolution of module controlled pages.</log>
	<log version="0.6.2">Add default page content (which is empty) for empty pages.</log>
	<log version="0.6.3">Allow page resolution of empty node page and redirect to first child.</log>
	<log version="0.6.4">Redirect module page only if module path is not within linked page.</log>
	<log version="0.6.5">Set relation to module UI:MetaTags from optional to mandatory.</log>
	<log version="0.6.6">Support page icons.</log>
	<log version="0.6.7">Add hook to help controller classes to detect their URI path.</log>
	<log version="0.6.8">Allow pages modules to call controller method by requested path.</log>
	<log version="0.6.9">Prefix all form elements with namespace.</log>
	<log version="0.7">Change module column to controller and action.</log>
	<log version="0.7.1">Support search module.</log>
	<log version="0.7.2">Support page access.</log>
	<log version="0.7.3">Add language support using module Resource:Localization.</log>
	<log version="0.7.4">Disable page dispatching on backend app instances.</log>
	<log version="0.7.5">Identify page by controller and action.</log>
	<log version="0.7.6">Extract hooks to own hook class.</log>
	<log version="0.7.7">Improve and localize hook.</log>
	<log version="0.7.8">Adjust to new shortcode handling.</log>
	<log version="0.7.9">Cleanup and documentation.</log>
	<log version="0.8">Improve dispatching.</log>
	<log version="0.8.1">Refactor page detection to work by recursion.</log>
	<log version="0.8.2">Add component page type.</log>
	<log version="0.8.3">Extend logic class by method hasPages.</log>
	<log version="0.8.4">Add support to set master template per page.</log>
	<log version="0.9">Use logic and model from Resource:Pages.</log>
	<log version="0.9.1">Add module main switch.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Info/Page.php5</class>
		<class>Hook/Info/Page.php5</class>
		<class>View/Info/Page.php5</class>
		<class>View/Helper/Navigation/Pages/Navbar.php5</class>
		<locale>de/info/pages.ini</locale>
		<locale>de/html/info/page/empty.html</locale>
		<locale>en/info/pages.ini</locale>
		<locale>en/html/info/page/empty.html</locale>
	</files>
	<config protected="no" type="boolean" name="active" title="Main switch: Use this module" default="yes" original="yes">yes</config>
	<config protected="yes" type="string" name="title.separator"> - </config>
	<config protected="yes" type="string" name="direct" values="allowed,denied">denied</config>
	<config protected="yes" type="boolean" name="sitemap">yes</config>
	<config protected="yes" type="boolean" name="masterTemplateOverride.active">yes</config>
	<config protected="yes" type="string" name="masterTemplateOverride.default"></config>
	<config protected="yes" type="string" name="masterTemplateOverride.fallback">master.php</config>
	<config protected="yes" type="string" name="masterTemplateOverride.force"></config>
	<relations>
		<needs type="module">Resource_Pages</needs>
		<needs type="module">UI_MetaTags</needs>
	</relations>
	<hook type="resource" resource="App" event="onDispatch">Hook_Info_Page::onAppDispatch</hook>
	<hook type="resource" resource="App" event="getMasterTemplate">Hook_Info_Page::onAppGetMasterTemplate</hook>
	<hook type="resource" resource="Env" event="constructEnd">Hook_Info_Page::onEnvConstructEnd</hook>
	<hook type="resource" resource="Controller" event="onDetectPath">Hook_Info_Page::onControllerDetectPath</hook>
	<hook type="resource" resource="Sitemap" event="registerLinks">Hook_Info_Page::onRegisterSitemapLinks</hook>
	<hook type="resource" resource="View" event="onRenderContent">Hook_Info_Page::onRenderContent</hook>
	<sql type="mysql" on="install" version="final"><![CDATA[--  DO NOTHING  --]]></sql>
	<sql type="mysql" on="update" version="0.8.4"><![CDATA[
ALTER TABLE `<%?prefix%>pages` ADD `template` VARCHAR(255) NULL DEFAULT NULL AFTER `icon`;
]]></sql>
</module>
