
#dashboard-board ul.thumbnails div.thumbnail {
	text-align: left;
/*	height: 300px;*/
	}

#dashboard-board .dashboard-panel {
	height: 290px;
	}
#dashboard-board .dashboard-panel .dashboard-panel-handle {
	background: #EEE;
	padding: 0.2em 0.4em;
	margin-bottom: 0.5em;
	border-radius: 0.2em;
	cursor: move;
	}
#dashboard-board .dashboard-panel .dashboard-panel-handle h4 {
	padding: 1px 0px 1px 2px;
	margin: 0;
	font-size: 1.2em;
	font-weight: lighter;
	}
#dashboard-board .dashboard-panel .dashboard-panel-container {
	height: 240px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0px 6px 3px 6px;
	}

#dashboard-board .dashboard-panel .dashboard-panel-handle .handle-icon {
	float: right;
	display: none;
	}
#dashboard-board .dashboard-panel .dashboard-panel-handle:hover .handle-icon {
	display: inline;
	}
#dashboard-board .dashboard-panel .dashboard-panel-handle .handle-icon.handle-button-move {
	float: right;
	margin-right: 0.5em;
	}
#dashboard-board .sortable-placeholder {
	background-color: rgba(127, 127, 127, 0.15);
	background-color: rgba(255, 255, 255, 0.5);
/*	width: 30.65%;*/
	height: 290px;
	border: 1px dashed rgba(127, 127, 127, 0.25);
	box-sizing: border-box;
	}
