<?xml version="1.0"?>
<module>
	<title>JS: Modernizr</title>
	<description><![CDATA[Browser feature detection and media query support.]]></description>
	<category>JavaScript</category>
	<version>2.5.3</version>
	<files>
		<script source="lib" load="auto">modernizr/2.5.3.js</script>
	</files>
</module>
