<?xml version="1.0"?>
<module>
	<title>UI: Helper: TimePhraser</title>
	<description><![CDATA[Convers timestamps to time phrases.]]></description>
	<category>User Interface</category>
	<version>0.2.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Added prefix and suffix arguments.</log>
	<log version="0.2.2">Added static access.</log>
	<files>
		<class>View/Helper/TimePhraser.php5</class>
		<locale>de/timephraser.ini</locale>
		<locale>en/timephraser.ini</locale>
	</files>
	<relations/>
</module>
