body.moduleManageProject.action-index table {
	table-layout: fixed;
	}
body.moduleManageProject.action-index table tr td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }


.project.status-2 {
	background-color: rgba(255,255,255,.5);
	}
.project.status-1 {
	background-color: rgba(255,102,0,.5)
	}
.project.status0 {
	background-color: rgba(255,204,0,.5);
	}
.project.status1 {
	background-color: rgba(204,255,0,.5);
	}
.project.status2 {
	background-color: rgba(102,255,0,.5);
	}
.project.status3 {
	background-color: rgba(0,255,0,.5);
	}

#project-users ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
#project-users li {
	clear: both;
	height: 1.8em;
	border-bottom: 1px solid #CFCFCF;
	}
#project-users button.remove {
	float: right;
	right: 0px;
	margin-top: 2px;
	}
body.site-manage-project-index #input_status {
	height: 8.75em;
	}
