<?xml version="1.0"?>
<module>
	<title>Manage: Workshops</title>
	<description/>
	<category>Management</category>
	<version>0.2.3</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Add locales.</log>
	<log version="0.2.2">Improve index.</log>
	<log version="0.2.3">Migrate to support CeusMedia::Common 0.8.5.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>Controller/Manage/Workshop.php5</class>
		<class>Model/Workshop.php5</class>
		<class>View/Manage/Workshop.php5</class>
		<locale>de/manage/workshop.ini</locale>
		<locale>en/manage/workshop.ini</locale>
		<template>manage/workshop/add.php</template>
		<template>manage/workshop/edit.php</template>
		<template>manage/workshop/index.php</template>
	</files>
	<relations>
		<needs type="module">Resource_Database</needs>
	</relations>
	<link xml:lang="de" access="acl" path="manage/workshop">Lehrgänge</link>
	<link xml:lang="en" access="acl" path="manage/workshop">Workshops</link>
</module>
