<?xml version="1.0"?>
<module>
	<title>UI: JS: Messenger</title>
	<description><![CDATA[
JavaScript binding to the Hydrogen UI Messenger, which displays result messages after interaction.
Now you can create messages while working with JavaScript. There a 4 methods callable:
code:js>
UI.Messenger.noteSuccess("Work done! What's next, pal?");
UI.Messenger.noteNotice("Maybe you should know that ...");
UI.Messenger.noteError("There was a problem with ...");
UI.Messenger.noteFailure("Ouh crap! There was an unexpected error with ...");
<code
These methods rely on <cite>UI.Messenger.renderMessage()</cite> with a second parameter, for example:
code:js>
UI.Messenger.renderMessage("This is a test","notice");
<code
This second parameter can be one of {success,notice,error,failure}.
]]></description>
	<category>User Interface</category>
	<version>0.1.3</version>
	<log version="0.1.2">Added visibility of configuration pairs.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<script load="auto">UI.Messenger.js</script>
	</files>
	<config protected="no" type="integer" name="slideDown">500</config>
	<config protected="no" type="integer" name="slideUp">500</config>
	<config protected="no" type="integer" name="autoRemove">5000</config>
	<relations>
		<needs type="module">JS_jQuery</needs>
	</relations>
</module>
