<?xml version="1.0"?>
<module>
	<title>Work: Missions</title>
	<description><![CDATA[Compact task and event management.
To use the mail functions, please install module &quot;Resource_Jobs&quot; and the following cronjobs:
code>
  0 * * * * cd /path/to/office && php job.php5 work-mission-mail-daily
*/5 * * * * cd /path/to/office && php job.php5 work-mission-mail-changes
<code
]]></description>
	<version>0.9.33</version>
	<log version="0.8.23">Split JavaScript classes to separate files and allow lazy loading to increase performance.</log>
	<log version="0.8.24">Enable splitted markdown editor for article content while adding a mission.</log>
	<log version="0.8.25">Introduced filter model.</log>
	<log version="0.8.26">Updated module SQL parts.</log>
	<log version="0.8.27">Added small day lists.</log>
	<log version="0.8.28">Improved request and rendering of day lists and buttons.</log>
	<log version="0.8.29">Completed JavaScript and AJAX refactoring.</log>
	<log version="0.8.30">Improved AJAX request performance and day list buttons.</log>
	<log version="0.8.31">Implemented new filter handling and improved projects filter.</log>
	<log version="0.8.32">Changed behavior: Show mission first and allow to edit if user role right is given.</log>
	<log version="0.8.33">Improved handling of edit requests without set user role right.</log>
	<log version="0.8.34">Moved context menu setup from template to JavaScript class WorkMissionsCalendar.</log>
	<log version="0.8.35">Improved context menu on calendar view.</log>
	<log version="0.8.36">Refactoring tense perspectives.</log>
	<log version="0.8.37">Evolved tenses to modes of perspective with own controllers and views.</log>
	<log version="0.8.38">Finished refactoring of view modes, formerly known as tenses.</log>
	<log version="0.8.39">Extracted export to own controller and view.</log>
	<log version="0.8.40">Updated filter sizing and hover effect.</log>
	<log version="0.8.41">Allow to copy a mission from its view.</log>
	<log version="0.8.42">Show changes fields in edit mode.</log>
	<log version="0.8.43">Lock missions in edit mode using new database lock module.</log>
	<log version="0.8.44">Replaced client markdown rendering by server side.</log>
	<log version="0.8.45">Separated events and tasks in day lists.</log>
	<log version="0.8.46">Moved filter components from template to view helper and cleanup of classes.</log>
	<log version="0.8.47">Updated JavaScript invokation.</log>
	<log version="0.8.48">Selectable workers will change relative to project.</log>
	<log version="0.8.49">Updated archive and future list if empty.</log>
	<log version="0.8.50">Added markdown preview while adding a mission.</log>
	<log version="0.8.51">Updated worker selection.</log>
	<log version="0.8.52">Ordered users in edit mode.</log>
	<log version="0.8.53">Renamed ownerId to creatorId and added modifiedId.</log>
	<log version="0.8.54">Fix Bug: Invalid end date possible.</log>
	<log version="0.8.55">Feature: Prefill all dates for new tasks or events.</log>
	<log version="0.8.56">Use modules UI:JS:cmFormChange and UI:JS:cmFormOptionals.</log>
	<log version="0.8.57">Sanitize date and time inputs.</log>
	<log version="0.8.58">Added missing mail class.</log>
	<log version="0.8.59">Day controls for empty days with lower opacity.</log>
	<log version="0.9">Complete iCal synchronization.</log>
	<log version="0.9.1">Added index view for export.</log>
	<log version="0.9.2">Handle iCall import/export errors with log.</log>
	<log version="0.9.3">Add mission version model.</log>
	<log version="0.9.4">Add version difference viewer.</log>
	<log version="0.9.5">Allow to not inform on edit.</log>
	<log version="0.9.6">Extract view JavaScript parts into WorkMissionsViewer.</log>
	<log version="0.9.7">Split view template into parts.</log>
	<log version="0.9.8">Replace file and folder class calls to use CeusMedia:Common.</log>
	<log version="0.9.9">Replace modules UI:JS:cmFormChange and UI:JS:cmFormOptionals by JS:Form:Changes and JS:Form:Optionals.</log>
	<log version="0.9.10">Add relation to module Members and order relations.</log>
	<log version="0.9.11">Use TinyMCE as editor and allow user to change to Markdown.</log>
	<log version="0.9.12">Extend database model by content format.</log>
	<log version="0.9.13">Improve module configuration locales.</log>
	<log version="0.9.14">Use module Work:Timer only if available.</log>
	<log version="0.9.15">Switch to tabbed Markdown editor and viewer.</log>
	<log version="0.9.16">Fix Markdown rendering in add view.</log>
	<log version="0.9.17">Add converter from Markdown to HTML.</log>
	<log version="0.9.18">Improve editor height calculation and dynamics.</log>
	<log version="0.9.19">Use helper of Work:Timer to render work hours spans.</log>
	<log version="0.9.20">Show tracked work hours in mission view.</log>
	<log version="0.9.21">Rename CSS file from site.mission.css to module.work.missions.css.</log>
	<log version="0.9.22">Improve list performance and provide number of missions in all days.</log>
	<log version="0.9.23">Handle sync link in browser with new help view.</log>
	<log version="0.9.24">Extracted timer panel.</log>
	<log version="0.9.25">Update calendar.</log>
	<log version="0.9.26">Use new Work:Timer integration with hooks.</log>
	<log version="0.9.27">Add Kanban perspective.</log>
	<log version="0.9.28">Add support for mission documents.</log>
	<log version="0.9.29">Rearrange column order in days lists.</log>
	<log version="0.9.30">Extend filters by icons and change order.</log>
	<log version="0.9.31">Use module JS:jQuery:equalize for drop columns in Kanban mode.</log>
	<log version="0.9.32">Change type of view type filter.</log>
	<log version="0.9.33">Reorder form fields.</log>
	<log version="0.9.34">Add document handling in edit mode.</log>
	<category>Work</category>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de" link="http://ceusmedia.de/">Christian W&#xFC;rker</author>
	<files>
		<class>Controller/Work/Mission.php5</class>
		<class>Controller/Work/Mission/Archive.php5</class>
		<class>Controller/Work/Mission/Calendar.php5</class>
		<class>Controller/Work/Mission/Export.php5</class>
		<class>Controller/Work/Mission/Future.php5</class>
		<class>Controller/Work/Mission/Kanban.php5</class>
		<class>Model/Mission.php5</class>
		<class>Model/Mission/Change.php5</class>
		<class>Model/Mission/Document.php5</class>
		<class>Model/Mission/Filter.php5</class>
		<class>Model/Mission/Version.php5</class>
		<class>Logic/Mission.php5</class>
		<class>View/Work/Mission.php5</class>
		<class>View/Work/Mission/Archive.php5</class>
		<class>View/Work/Mission/Calendar.php5</class>
		<class>View/Work/Mission/Export.php5</class>
		<class>View/Work/Mission/Future.php5</class>
		<class>View/Work/Mission/Kanban.php5</class>
		<class>View/Helper/Work/Mission/Abstract.php5</class>
		<class>View/Helper/Work/Mission/Calendar.php5</class>
		<class>View/Helper/Work/Mission/Filter.php5</class>
		<class>View/Helper/Work/Mission/List.php5</class>
		<class>View/Helper/Work/Mission/List/Days.php5</class>
		<class>View/Helper/Work/Mission/List/DaysSmall.php5</class>
		<class>View/Helper/Work/Mission/List/DayControls.php5</class>
		<class>View/Helper/Work/Mission/List/DayControlsSmall.php5</class>
		<class>View/Helper/Work/Mission/List/Pagination.php5</class>
		<class>View/Helper/Work/Mission/Mail/Daily.php5</class>
		<class>Mail/Work/Mission/Change.php5</class>
		<class>Mail/Work/Mission/Daily.php5</class>
		<class>Mail/Work/Mission/Done.php5</class>
		<class>Mail/Work/Mission/New.php5</class>
		<class>Mail/Work/Mission/Update.php5</class>
		<class>Job/Work/Mission.php5</class>
		<template>work/mission/add.php</template>
		<template>work/mission/calendar.php</template>
		<template>work/mission/calendar/index.php</template>
		<template>work/mission/edit.php</template>
		<template>work/mission/edit.close.php</template>
		<template>work/mission/edit.content.php</template>
		<template>work/mission/edit.info.php</template>
		<template>work/mission/edit.issue.php</template>
		<template>work/mission/edit.time.php</template>
		<template>work/mission/index.php</template>
		<template>work/mission/index.days.php</template>
		<template>work/mission/index.filter.php</template>
		<template>work/mission/index.list.php</template>
		<template>work/mission/view.php</template>
		<template>work/mission/view.facts.php</template>
		<template>work/mission/view.content.php</template>
		<template>work/mission/view.documents.php</template>
		<template>work/mission/kanban/index.php</template>
		<template>work/mission/mails/new.php</template>
		<template>work/mission/mails/update.php</template>
		<locale>de/work/mission.ini</locale>
		<locale>de/html/work/mission/add.info.html</locale>
		<locale>de/html/work/mission/export.html</locale>
		<locale>de/html/work/mission/index.empty.html</locale>
		<script>WorkMissions.js</script>
		<script>WorkMissionsCalendar.js</script>
		<script>WorkMissionsFilter.js</script>
		<script>WorkMissionsEditor.js</script>
		<script>WorkMissionsKanban.js</script>
		<script>WorkMissionsList.js</script>
		<script>WorkMissionsViewer.js</script>
		<script load="auto">bindWithDelay.js</script>
		<style load="auto">module.work.missions.css</style>
		<image source="theme">clearSearch.png</image>
		<file>config/jobs/work.mission.xml</file>
	</files>
	<relations>
		<needs type="module">JS_CodeMirror</needs>
		<needs type="module">JS_Form_Changes</needs>
		<needs type="module">JS_Form_Optionals</needs>
		<needs type="module">JS_jQuery_equalize</needs>
		<needs type="module">JS_Markdown</needs>
		<needs type="module">JS_TinyMCE</needs>
		<needs type="module">Manage_Projects</needs>
		<needs type="module">Members</needs>
		<needs type="module">Resource_Authentication</needs>
		<needs type="module">Resource_Database_Lock</needs>
		<needs type="module">Resource_Jobs</needs>
		<needs type="module">UI_Helper_HTML_Diff</needs>
		<needs type="module">UI_Indicator</needs>
		<needs type="module">UI_Markdown</needs>
	</relations>
<!--	<config protected="user" type="integer" name="editor.height" title="height of content editor in px">460</config>-->
	<config protected="no" type="string" name="editor.TinyMCE.toolbar">minimal</config>
	<config protected="no" type="boolean" name="editor.TinyMCE.menubar">no</config>
	<config protected="user" type="string" name="format" values="HTML,Markdown">HTML</config>
	<config protected="user" type="boolean" name="mail.active">no</config>
	<config protected="user" type="boolean" name="mail.html">yes</config>
	<config protected="user" type="boolean" name="mail.daily">yes</config>
	<config protected="user" type="integer" name="mail.daily.hour">8</config>
	<config protected="user" type="boolean" name="mail.changes">yes</config>
	<link xml:lang="de" access="acl" path="work/mission" rank="41">Aufgaben</link>
	<link xml:lang="en" access="acl" path="work/mission" rank="41">Missions</link>
	<link access="inside" path="work/mission/ajaxRenderContent"/>
	<link access="inside" path="work/mission/ajaxRenderIndex"/>
	<link access="inside" path="work/mission/ajaxSelectDay"/>
	<link access="public" path="work/mission/export/ical"/>
	<link access="inside" path="work/mission/export/index"/>
	<link access="inside" path="work/mission/filter"/>
	<link access="inside" path="work/mission/now"/>
	<link access="inside" path="work/mission/setFilter"/>
	<link access="inside" path="work/mission/testMail" rank="99"/>
	<link access="inside" path="work/mission/archive/ajaxRenderContent"/>
	<link access="inside" path="work/mission/archive/ajaxRenderIndex"/>
	<link access="inside" path="work/mission/archive/index"/>
	<link access="inside" path="work/mission/calendar/ajaxRenderContent"/>
	<link access="inside" path="work/mission/calendar/ajaxRenderIndex"/>
	<link access="inside" path="work/mission/calendar/index"/>
	<link access="inside" path="work/mission/future/ajaxRenderContent"/>
	<link access="inside" path="work/mission/future/ajaxRenderIndex"/>
	<link access="inside" path="work/mission/future/index"/>
	<hook type="resource" resource="Database_Lock" event="checkRelease">Controller_Work_Mission::___onDatabaseLockReleaseCheck</hook>
	<hook type="resource" resource="Work_Timer" event="registerModule">Controller_Work_Mission::___onRegisterTimerModule</hook>
	<sql on="install" type="mysql" version="final"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>missions`;
CREATE TABLE `<%?prefix%>missions` (
  `missionId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `creatorId` int(10) unsigned NOT NULL,
  `modifierId` int(10) unsigned NOT NULL,
  `workerId` int(10) unsigned NOT NULL,
  `projectId` int(10) unsigned NOT NULL DEFAULT '0',
  `type` tinyint(1) unsigned NOT NULL,
  `priority` tinyint(1) unsigned NOT NULL,
  `status` tinyint(1) NOT NULL,
  `dayStart` varchar(10) COLLATE utf8_unicode_ci NOT NULL,
  `dayEnd` varchar(10) COLLATE utf8_unicode_ci NOT NULL,
  `timeStart` varchar(5) COLLATE utf8_unicode_ci NOT NULL,
  `timeEnd` varchar(5) COLLATE utf8_unicode_ci NOT NULL,
  `minutesProjected` int(10) unsigned DEFAULT '0',
  `minutesRequired` int(10) unsigned DEFAULT '0',
  `title` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `content` text COLLATE utf8_unicode_ci NOT NULL,
  `format` varchar(20) COLLATE utf8_unicode_ci DEFAULT 'HTML',
  `location` varchar(100) COLLATE utf8_unicode_ci DEFAULT NULL,
  `reference` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`missionId`),
  KEY `creatorId` (`creatorId`),
  KEY `modifierId` (`modifierId`),
  KEY `workerId` (`workerId`),
  KEY `projectId` (`projectId`),
  KEY `priority` (`priority`),
  KEY `type` (`type`),
  KEY `title` (`title`),
  KEY `format` (`format`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>mission_changes`;
CREATE TABLE `<%?prefix%>mission_changes` (
  `missionChangeId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `missionId` int(11) unsigned NOT NULL,
  `userId` int(11) unsigned NOT NULL,
  `type` varchar(20) COLLATE utf8_unicode_ci NOT NULL,
  `data` mediumtext COLLATE utf8_unicode_ci NOT NULL,
  `timestamp` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`missionChangeId`),
  KEY `missionId` (`missionId`),
  KEY `userId` (`userId`),
  KEY `type` (`type`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>mission_documents`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>mission_documents` (
  `missionDocumentId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `missionId` int(11) unsigned NOT NULL,
  `userId` int(11) unsigned NOT NULL,
  `size` decimal(12,0) unsigned NOT NULL,
  `mimeType` varchar(50) COLLATE utf8_unicode_ci NOT NULL,
  `filename` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `hashname` varchar(64) COLLATE utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned DEFAULT NULL,
  `accessedAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`missionDocumentId`),
  KEY `missionId` (`missionId`),
  KEY `userId` (`userId`),
  KEY `mimeType` (`mimeType`),
  KEY `filename` (`filename`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>mission_filters`;
CREATE TABLE `<%?prefix%>mission_filters` (
  `missionFilterId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `userId` int(11) unsigned NOT NULL,
  `serial` text COLLATE utf8_unicode_ci,
  `timestamp` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`missionFilterId`),
  KEY `userId` (`userId`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>mission_versions`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>mission_versions` (
  `missionVersionId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `missionId` int(11) unsigned NOT NULL,
  `userId` int(11) unsigned NOT NULL,
  `version` int(6) unsigned NOT NULL,
  `content` text COLLATE utf8_unicode_ci NOT NULL,
  `timestamp` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`missionVersionId`),
  KEY `missionId` (`missionId`),
  KEY `userId` (`userId`),
  KEY `version` (`version`),
  KEY `timestamp` (`timestamp`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="update" type="mysql" version="0.8.8"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>mission_changes`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>mission_changes` (
  `missionChangeId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `missionId` int(11) unsigned NOT NULL,
  `userId` int(11) unsigned NOT NULL,
  `type` varchar(20) NOT NULL,
  `data` text COLLATE utf8_unicode_ci NOT NULL,
  `timestamp` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`missionChangeId`),
  KEY `missionId` (`missionId`),
  KEY `userId` (`userId`),
  KEY `type` (`type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="update" type="mysql" version="0.8.11"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>mission_filters`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>mission_filters` (
  `missionFilterId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `userId` int(11) unsigned NOT NULL,
  `serial` text COLLATE utf8_unicode_ci,
  `timestamp` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`missionFilterId`),
  KEY `userId` (`userId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="update" type="mysql" version="0.8.17-p2"><![CDATA[
ALTER TABLE `<%?prefix%>mission_changes` CHANGE  `data`  `data` MEDIUMTEXT CHARACTER SET utf8 COLLATE utf8_unicode_ci NOT NULL;
]]></sql>
	<sql on="update" type="mysql" version="0.8.18"><![CDATA[
UPDATE `<%?prefix%>missions` SET hoursProjected = hoursProjected * 60 WHERE hoursProjected > 0;
UPDATE `<%?prefix%>missions` SET hoursRequired = hoursRequired * 60 WHERE hoursRequired > 0;
ALTER TABLE `<%?prefix%>missions` CHANGE `hoursProjected`  `minutesProjected` INT( 10 ) UNSIGNED DEFAULT NULL;
ALTER TABLE `<%?prefix%>missions` CHANGE `hoursRequired`  `minutesRequired` INT( 10 ) UNSIGNED DEFAULT NULL;
]]></sql>
	<sql on="update" type="mysql" version="0.8.53"><![CDATA[
ALTER TABLE `<%?prefix%>missions` CHANGE `ownerId` `creatorId` INT(10) UNSIGNED NOT NULL;
ALTER TABLE `<%?prefix%>missions` ADD `modifierId` INT(10) UNSIGNED NULL AFTER `creatorId`, ADD INDEX (`modifierId`) ;
]]></sql>
	<sql on="update" type="mysql" version="0.8.53"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>mission_versions`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>mission_versions` (
  `missionVersionId` int(11) unsigned NOT NULL,
  `missionId` int(11) unsigned NOT NULL,
  `userId` int(11) unsigned NOT NULL,
  `version` int(6) unsigned NOT NULL,
  `content` text COLLATE utf8_unicode_ci NOT NULL,
  `timestamp` decimal(12,0) unsigned NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;


ALTER TABLE `<%?prefix%>mission_versions`
  ADD PRIMARY KEY (`missionVersionId`),
  ADD KEY `missionId` (`missionId`),
  ADD KEY `userId` (`userId`),
  ADD KEY `version` (`version`),
  ADD KEY `timestamp` (`timestamp`);


ALTER TABLE `<%?prefix%>mission_versions`
  MODIFY `missionVersionId` int(11) unsigned NOT NULL AUTO_INCREMENT;
]]></sql>
	<sql on="update" type="mysql" version="0.9.12"><![CDATA[
ALTER TABLE  `missions` ADD  `format` VARCHAR( 20 ) NULL DEFAULT  'Markdown' AFTER  `content` ,
ADD INDEX (  `title` ) ,
ADD INDEX (  `format` ) ;
ALTER TABLE  `missions` CHANGE  `format`  `format` VARCHAR( 20 ) CHARACTER SET utf8 COLLATE utf8_unicode_ci NULL DEFAULT  'HTML';
]]></sql>
	<sql on="update" type="mysql" version="0.9.28"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>mission_documents`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>mission_documents` (
  `missionDocumentId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `missionId` int(11) unsigned NOT NULL,
  `userId` int(11) unsigned NOT NULL,
  `size` decimal(12,0) unsigned NOT NULL,
  `mimeType` varchar(50) COLLATE utf8_unicode_ci NOT NULL,
  `filename` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `hashname` varchar(64) COLLATE utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned DEFAULT NULL,
  `accessedAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`missionDocumentId`),
  KEY `missionId` (`missionId`),
  KEY `userId` (`userId`),
  KEY `mimeType` (`mimeType`),
  KEY `filename` (`filename`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="uninstall" type="mysql" version="final"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>missions`;
DROP TABLE IF EXISTS `<%?prefix%>mission_changes`;
DROP TABLE IF EXISTS `<%?prefix%>mission_filters`;
DROP TABLE IF EXISTS `<%?prefix%>mission_versions`;
]]></sql>
</module>
