.autocut {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	}
.table-fixed {
	table-layout: fixed;
	}

abbr[title], abbr[data-original-title] {
	text-decoration: none;
	}
