<?xml version="1.0"?>
<!--suppress CheckTagEmptyBody -->
<module>
	<title>Server: Measurement: InfluxDB</title>
	<description>Client to report measurements to InfluxDB instance.</description>
	<category>Server</category>
	<version>0.2.3</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Add default tags.</log>
	<log version="0.2.2">Add hook Env::logException.</log>
	<log version="0.2.3">Add config for checking valid SSL certificates.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>Hook/Server/Measurement/Influx.php</class>
		<class>Logic/Measurement/Influx.php</class>
	</files>
	<config protected="yes" type="boolean" name="active" title="Main switch: Use this module">yes</config>
	<config protected="yes" type="string" name="host"></config>
	<config protected="yes" type="string" name="port" default="8086"></config>
	<config protected="yes" type="boolean" name="verifySSL">yes</config>
	<config protected="yes" type="string" name="org"></config>
	<config protected="yes" type="string" name="token"></config>
	<config protected="yes" type="string" name="bucket"></config>
	<relations>
		<needs type="package" version="^3.0">influxdata/influxdb-client-php</needs>
		<needs type="package" version="^1.0">guzzlehttp/guzzle</needs>
	</relations>
	<hook type="resource" resource="App" event="onMeasure">Hook_Server_Measurement_Influx::onAppMeasure</hook>
	<hook type="resource" resource="Env" event="logException">Hook_Server_Measurement_Influx::onEnvLogException</hook>
</module>
