<?xml version="1.0"?>
<module>
	<title>Admin: Payment: Mangopay</title>
	<description><![CDATA[MangoPay Administration.]]></description>
	<category>Resource</category>
	<version>0.2.3</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Add event management.</log>
	<log version="0.2.2">Add hook management.</log>
	<log version="0.2.3">Add view for payin.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>Controller/Admin/Payment/Mangopay/Event.php5</class>
		<class>Controller/Admin/Payment/Mangopay/Hook.php5</class>
		<class>Controller/Admin/Payment/Mangopay/Payin.php5</class>
		<class>View/Admin/Payment/Mangopay/Event.php5</class>
		<class>View/Admin/Payment/Mangopay/Hook.php5</class>
		<class>View/Admin/Payment/Mangopay/Payin.php5</class>
		<template>admin/payment/mangopay/event/index.php</template>
		<template>admin/payment/mangopay/event/view.php</template>
<!--		<template>admin/payment/mangopay/hook/add.php</template>-->
		<template>admin/payment/mangopay/hook/apply.php</template>
		<template>admin/payment/mangopay/hook/index.php</template>
		<template>admin/payment/mangopay/hook/view.php</template>
		<template>admin/payment/mangopay/payin/index.php</template>
		<template>admin/payment/mangopay/payin/view.php</template>
	</files>
	<link access="acl" xml:lang="de" path="admin/payment/mangopay/event">MangoPay-Events</link>
	<link access="acl" xml:lang="de" path="admin/payment/mangopay/event">MangoPay-Hooks</link>
	<link access="acl" xml:lang="de" path="admin/payment/mangopay/event">MangoPay-Payins</link>
	<link access="acl" xml:lang="en" path="admin/payment/mangopay/event">MangoPay Events</link>
	<link access="acl" xml:lang="en" path="admin/payment/mangopay/event">MangoPay Hooks</link>
	<link access="acl" xml:lang="en" path="admin/payment/mangopay/event">MangoPay Payins</link>
	<relations>
		<needs type="module">Resource_Payment</needs>
	</relations>
</module>
