<?xml version="1.0"?>
<module>
	<title>JS: MailDecrypt</title>
	<description><![CDATA[Renders mail links for encrypted addresses.

This is the second step for protecting mail addresses against harvesting bots.<br/>The first part is to store mail addresses encrypted within HTML contents, like this:
code:html>[mail:john#example.net]<code
You can define attributes for the rendered anchor like this:
code:html>[mail:john#example.net@class:mail@title:Mail me!]<code
The decryption will be applied automatically on the HTML node defined selector (see module configuration).<br/>The result then will be:
code:html><a href="mailto:john@example.net" class="mail" title="Mail me!">john@example.net</a><code

]]></description>
	<version>0.1</version>
	<category>JavaScript</category>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian Würker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<script load="auto">MailDecrypt.js</script>
	</files>
	<config name="pattern">/\[mail:([\S]+)#([^@]+)(@.+)?\]/g</config>
	<config name="selector">body>div#container</config>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
		$selector	= $env->getConfig()->get( 'module.js_maildecrypt.selector' );
		$pattern	= $env->getConfig()->get( 'module.js_maildecrypt.pattern' );
		$script		= '$(document).ready(function(){MailDecrypt("'.$selector.'",'.$pattern.');})';
		$context->js->addScript( $script );
	]]></hook>
</module>
