<?xml version="1.0"?>
<module>
	<title>JS: MailDecrypt</title>
	<description><![CDATA[Renders mail links for encrypted addresses.
This is the second step for protecting mail addresses against harvesting bots.<br/>The first part is to store mail addresses encrypted within HTML contents, like this:
code:html><span class="encrypted-mail" data-name="john" data-host="example.net">John Doe</span><code
]]></description>
	<version>0.3</version>
	<category>JavaScript</category>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<script load="auto">MailDecrypt.js</script>
	</files>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
		$script		= '$(document).ready(function(){MailDecrypt();})';
		$context->js->addScript( $script );
	]]></hook>
</module>
