
.role.role1,
.role.role2,
.role.role3,
.role.role4,
.role.role5 {
	background-repeat: no-repeat;
	background-position: 2px 1px;
	padding-left: 1.8em;
	}

.role.role1,
.role.role2 {
	background-image: url(//icons.ceusmedia.de/famfamfam/silk/user_gray.png);
	font-style: italic;
	}
.role.role3 {
	background-image: url(//icons.ceusmedia.de/famfamfam/silk/user_suit.png);
	font-weight: bold;
	}
.role.role4 {
	background-image: url(//icons.ceusmedia.de/famfamfam/silk/user.png);
	}
.role.role5 {
	background-image: url(//icons.ceusmedia.de/famfamfam/silk/user_green.png);
	}

.role-access {
	background-repeat: no-repeat;
	background-position: 2px 1px;
	padding-left: 1.8em;
	min-height: 20px;
	display: block;
	float: left;
	}
.role-access.access0 {
	background-image: url(//icons.ceusmedia.de/famfamfam/silk/stop.png);
	}
.role-access.access64 {
	background-image: url(//icons.ceusmedia.de/famfamfam/silk/shield.png);
	}
.role-access.access128 {
	background-image: url(//icons.ceusmedia.de/famfamfam/silk/world.png);
	}

#role-edit-rights {
	}
#role-edit-rights ul {
	padding: 0px;
	margin: 0px;
	}
#role-edit-rights li {
	float: left;
	display: block;
	padding: 0px 4px;
	margin-right: 2px;
	font-size: 0.9em;
	color: #3F3F3F;
	}
#role-edit-rights li.changable {
	color: black;
	cursor: pointer;
	}
#role-edit-rights li.changable label {
	cursor: pointer;
	}
#role-edit-rights li.green {
	background-color: #BFFFBF;
	}
#role-edit-rights li.green.changable {
	background-color: #7FFF7F;
	}
#role-edit-rights li.red {
	background-color: #FFBFBF;
	}
#role-edit-rights li.red.changable {
	background-color: #FF7F7F;
	}

