<?xml version="1.0"?>
<module>
	<title>Catalog: Accounts</title>
	<description><![CDATA[Catalog for product licenses.]]></description>
	<category>Catalog</category>
	<version>0.5.4</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Extend models by duration.</log>
	<log version="0.2.2">Add ranking for products and licenses.</log>
	<log version="0.2.3">Add mails.</log>
	<log version="0.3">Add REST controller.</log>
	<log version="0.3.1">Add shop bridge.</log>
	<log version="0.3.2">Improve logic and REST controller.</log>
	<log version="0.3.3">Improved models.</log>
	<log version="0.3.4">Support locales.</log>
	<log version="0.3.5">Extract hook to controller.</log>
	<log version="0.3.6">Add job to handle expired keys.</log>
	<log version="0.4">Migrate module Resource:Accounting to Resource:Accounts.</log>
	<log version="0.4.1">Add controller, view and templates for products.</log>
	<log version="0.5">Derived from module Resource:Accounts.</log>
	<log version="0.5.1">Implement articleUriTemplate.</log>
	<log version="0.5.2">Add style file.</log>
	<log version="0.5.3">Extract models and logic to new module Base:Catalog:Provision.</log>
	<log version="0.5.4">Use new module Base:Catalog:Provision instead of own model and logic classes.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Catalog/Provision/Product.php</class>
		<class>Hook/Catalog/Provision.php</class>
		<class>View/Catalog/Provision/Product.php</class>
		<template>catalog/provision/product/index.php</template>
		<template>catalog/provision/product/license.php</template>
		<template>catalog/provision/product/view.php</template>
		<locale>de/catalog/provision.ini</locale>
		<style theme="common">module.catalog.provision.css</style>
	</files>
	<config protected="yes" type="boolean" name="tax.included">1</config>
	<config protected="yes" type="float" name="tax.rate">19</config>
	<relations>
		<needs type="module">Base_Catalog_Provision</needs>
		<needs type="module">Base_User_Provision</needs>
		<needs type="module">Resource_Users</needs>
	</relations>
	<link access="public" path="catalog/provision/product/index"/>
	<link access="public" path="catalog/provision/product/license"/>
	<link access="public" path="catalog/provision/product/view"/>
	<hook type="resource" resource="App" event="onDispatch">Hook_Catalog_Provision::onAppDispatch</hook>
	<hook type="resource" resource="Shop" event="onFinish">Hook_Catalog_Provision::onShopFinish</hook>
<!--	<hook type="resource" resource="Shop" event="onService">Controller_Account::___onShopRenderService</hook>-->
</module>
