<?xml version="1.0"?>
<module>
	<title>UI: Nav: Bootstrap: Tabs</title>
	<description><![CDATA[Simple Bootstrap tabs implementation.]]></description>
	<category>User Interface</category>
	<version>0.2</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>View/Helper/Navigation/Bootstrap/Tabs.php5</class>
<!--		<style load="auto">module.ui.helper.bootstrap.tabs.css</style>-->
	</files>
	<relations>
		<needs type="module">UI_Bootstrap</needs>
	</relations>
</module>
