<?xml version="1.0"?>
<module>
	<title>Admin: Mail</title>
	<description/>
	<category>Administration</category>
	<version>0.7.7</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Extracted parts of mail resource module to form this module.</log>
	<log version="0.3">Finished migration to own module.</log>
	<log version="0.3.1">Added auto detection of MIME types.</log>
	<log version="0.3.2">Extracted all labels of attachment management to language file.</log>
	<log version="0.3.3">Improved error handling of attachment management by more information.</log>
	<log version="0.3.4">Secured error messages of attachment management.</log>
	<log version="0.3.5">Extracted panels for add and upload.</log>
	<log version="0.3.6">Made attachments related to languages.</log>
	<log version="0.3.7">Implemented queued mail view prototype.</log>
	<log version="0.3.8">Use time phraser module.</log>
	<log version="0.4">Finished detail view of sent mails with HTML and text body.</log>
	<log version="0.4.1">Start localization.</log>
	<log version="0.4.2">Add HTML blocks.</log>
	<log version="0.4.3">Add english locales.</log>
	<log version="0.4.4">Use module UI:Helper:Input:File for file uploads.</log>
	<log version="0.4.5">Integrate HTML blocks into templates.</log>
	<log version="0.4.6">Apply module UI:CSS:Panel.</log>
	<log version="0.4.7">Add panel to list available attachment files.</log>
	<log version="0.4.8">Finish filter.</log>
	<log version="0.5">Add tabs and separate views.</log>
	<log version="0.5.1">Use module Resource:Upload.</log>
	<log version="0.5.2">Use helper for Bootstap tabs.</log>
	<log version="0.6">Ready to use CeusMedia/Mail from GitHub.</log>
	<log version="0.6.1">Add pagination.</log>
	<log version="0.6.2">Add button to cancel unsent mail.</log>
	<log version="0.6.3">Add filter for receiver address.</log>
	<log version="0.6.4">Add file download and lock folder against browser access.</log>
	<log version="0.6.5">Add button to resend sent mail.</log>
	<log version="0.6.6">Add locales for mail facts.</log>
	<log version="0.6.7">Add prototype of dashboard support.</log>
	<log version="0.6.8">Use frontend logic only of module Resource:Frontend is installed.</log>
	<log version="0.6.9">Tolerate lack of frontend mail classes.</log>
	<log version="0.7">Upgrade support for new dasboard module.</log>
	<log version="0.7.1">Remove support for old dasboard module.</log>
	<log version="0.7.2">Support new mail model statuses.</log>
	<log version="0.7.3">Support embedded images in HTML mail view.</log>
	<log version="0.7.4">Support mail templates.</log>
	<log version="0.7.5">Use mail logic to decode enqueued mails.</log>
	<log version="0.7.6">Add management for embedded template images.</log>
	<log version="0.7.7">Use Ace editor instead of CodeMirror in template editor.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Admin/Mail/Attachment.php5</class>
		<class>Controller/Admin/Mail/Queue.php5</class>
		<class>Controller/Admin/Mail/Template.php5</class>
		<class>View/Admin/Mail/Attachment.php5</class>
		<class>View/Admin/Mail/Queue.php5</class>
		<class>View/Admin/Mail/Template.php5</class>
		<template>admin/mail/attachment/add.php</template>
		<template>admin/mail/attachment/index.php</template>
		<template>admin/mail/attachment/index.files.php</template>
		<template>admin/mail/attachment/index.filter.php</template>
		<template>admin/mail/attachment/index.list.php</template>
		<template>admin/mail/attachment/upload.php</template>
		<template>admin/mail/queue/enqueue.php</template>
		<template>admin/mail/queue/index.php</template>
		<template>admin/mail/queue/view.php</template>
		<template>admin/mail/queue/view.body.php</template>
		<template>admin/mail/queue/view.facts.php</template>
		<template>admin/mail/template/add.php</template>
		<template>admin/mail/template/edit.php</template>
		<template>admin/mail/template/index.php</template>
		<locale>de/admin/mail/attachment.ini</locale>
		<locale>de/admin/mail/queue.ini</locale>
		<locale>de/html/admin/mail/attachment/bottom.html</locale>
		<locale>de/html/admin/mail/attachment/top.html</locale>
		<locale>de/html/admin/mail/queue/bottom.html</locale>
		<locale>de/html/admin/mail/queue/top.html</locale>
		<locale>de/html/admin/mail/template/bottom.html</locale>
		<locale>de/html/admin/mail/template/top.html</locale>
		<locale>en/admin/mail/attachment.ini</locale>
		<locale>en/admin/mail/queue.ini</locale>
		<locale>en/html/admin/mail/attachment/bottom.html</locale>
		<locale>en/html/admin/mail/attachment/top.html</locale>
		<locale>en/html/admin/mail/queue/bottom.html</locale>
		<locale>en/html/admin/mail/queue/top.html</locale>
		<locale>en/html/admin/mail/template/bottom.html</locale>
		<locale>en/html/admin/mail/template/top.html</locale>
	</files>
	<link access="acl" xml:lang="de" rank="87" path="admin/mail/queue">E-Mail-Queue</link>
	<link access="acl" xml:lang="en" rank="87" path="admin/mail/queue">Email queue</link>
	<link access="acl" xml:lang="de" rank="88" path="admin/mail/attachment">Email-Anh&#xE4;nge</link>
	<link access="acl" xml:lang="en" rank="88" path="admin/mail/attachment">Email attachments</link>
	<link access="acl" xml:lang="de" rank="89" path="admin/mail/template">E-Mail-Templates</link>
	<link access="acl" xml:lang="en" rank="89" path="admin/mail/template">Email templates</link>
	
	<todo>Implement attachment filters</todo>
	<relations>
		<needs type="module">JS_Ace</needs>
		<needs type="module">Resource_Mail</needs>
		<needs type="module">Resource_Upload</needs>
		<needs type="module">UI_Helper_TimePhraser</needs>
		<needs type="module">UI_Helper_Input_File</needs>
		<needs type="module">UI_Navigation_Bootstrap_Tabs</needs>
	</relations>
	<hook type="resource" resource="AdminMailAttachment" event="registerTabs">View_Admin_Mail_Attachment::___onRegisterTab</hook>
	<hook type="resource" resource="Dashboard" event="registerPanels">Controller_Admin_Mail_Queue::___onRegisterDashboardPanels</hook>
</module>
