
/*  TABLE  */
div.item-relations table.item-relation-lister {
	table-layout: fixed;
	}
div.item-relations table.item-relation-lister ul {
	padding: 2px 4px;
	margin: 0px;
	max-height: 180px;
	overflow-y: auto;
	}
div.item-relations table.item-relation-lister.limited ul {
	padding: 2px 4px;
	margin: 0px;
	max-height: 180px;
	overflow-y: auto;
	}

/*  LIST  */
div.item-relations ul {
	padding: 2px 4px;
	margin: 0px;
	border: 1px solid rgba(191, 191, 191, 0.33);
	border-radius: 3px;
	background-color: rgba(191, 191, 191, 0.16);
	}
div.item-relations ul.limited {
	max-height: 180px;
	overflow-y: auto;
	}
div.item-relations ul.limited > li {}
