<?xml version="1.0"?>
<module>
	<title>JS: String: sprintf</title>
	<description><![CDATA[Extends strings by simple sprintf method.]]></description>
	<version>0.1</version>
	<category>JavaScript</category>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<script load="auto">String.sprintf.js</script>
	</files>
</module>
