<?xml version="1.0"?>
<module>
	<title><![CDATA[Resource: Localization]]></title>
	<description><![CDATA[Language support to database entities.]]></description>
	<category>Resource</category>
	<version>0.2</version>
	<log version="0.1">Initital prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Model/Localization.php5</class>
		<class>Logic/Localization.php5</class>
	</files>
	<relations>
		<needs type="module">Resource_Database</needs>
	</relations>
	<sql on="install" type="mysql" version="0.1"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>localizations`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>localizations` (
  `localizationId` int(11) UNSIGNED NOT NULL AUTO_INCREMENT,
  `language` varchar(5) COLLATE utf8_unicode_ci NOT NULL,
  `id` varchar(200) COLLATE utf8_unicode_ci NOT NULL,
  `content` text COLLATE utf8_unicode_ci,
  PRIMARY KEY (`localizationId`),
  KEY `language` (`language`),
  KEY `id` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="uninstall" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>localizations`;
]]></sql>
</module>
