<?xml version="1.0"?>
<module>
	<title>Work: Mail Group</title>
	<description/>
	<category>Work</category>
	<version>0.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Work/Mail/Group.php5</class>
<!--		<class>Logic/Mail/Group.php5</class>-->
		<class>View/Work/Mail/Group.php5</class>
<!--		<class>Model/Mail/Host.php5</class>
		<class>Model/Mail/Sync.php5</class>
		<class>Model/Mail/Sync/Run.php5</class>-->
<!--		<class>Job/Work/Mail/Group.php5</class>-->
		<template>work/mail/group/index.php</template>
<!--		<template>work/mail/group/addHost.php</template>
		<template>work/mail/group/addSync.php</template>
		<template>work/mail/group/editSync.php</template>-->
<!--		<locale>de/work/mail/sync.ini</locale>
		<style source="theme" load="auto" level="end">module.work.mail.sync.css</style>-->
<!--		<script load="auto" level="end">module.work.mail.group.js</script>-->
<!--		<file>config/jobs/work.mail.group.xml</file>-->
	</files>
	<relations>
		<needs type="module">UI_Helper_TimePhraser</needs>
		<needs type="module">UI_Navigation_Bootstrap_Tabs</needs>
	</relations>
<!--	<hook type="resource" resource="WorkMailGroup" event="registerTabs">View_Work_Mail_Group::___onRegisterTab</hook>-->
	<sql type="mysql" on="install" version="0.1"><![CDATA[
]]></sql>
</module>
