<?xml version="1.0"?>
<module>
	<title>Work: Mail Group</title>
	<description/>
	<category>Work</category>
	<version>0.2.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Add database models for groups and members.</log>
	<log version="0.2.2">Add database models for servers and roles.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Work/Mail/Group.php5</class>
<!--		<class>Logic/Mail/Group.php5</class>-->
		<class>Model/Mail/Group.php5</class>
		<class>Model/Mail/Group/Member.php5</class>
		<class>Model/Mail/Group/Role.php5</class>
		<class>Model/Mail/Group/Server.php5</class>
		<class>View/Work/Mail/Group.php5</class>
		<template>work/mail/group/add.php</template>
		<template>work/mail/group/edit.php</template>
		<template>work/mail/group/index.php</template>
<!--		<style source="theme" load="auto" level="end">module.work.mail.sync.css</style>-->
<!--		<script load="auto" level="end">module.work.mail.group.js</script>-->
<!--		<file>config/jobs/work.mail.group.xml</file>-->
	</files>
	<relations>
		<needs type="module">UI_Helper_TimePhraser</needs>
		<needs type="module">UI_Navigation_Bootstrap_Tabs</needs>
	</relations>
<!--	<hook type="resource" resource="WorkMailGroup" event="registerTabs">View_Work_Mail_Group::___onRegisterTab</hook>-->
	<sql type="mysql" on="install" version="0.1"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>mail_groups`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>mail_groups` (
  `mailGroupId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `mailGroupServerId` int(11) unsigned NOT NULL,
  `defaultRoleId` tinyint(1) unsigned NOT NULL,
  `adminId` int(10) unsigned NOT NULL,
  `status` tinyint(4) NOT NULL,
  `title` varchar(200) COLLATE utf8_unicode_ci NOT NULL,
  `address` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `password` varchar(200) COLLATE utf8_unicode_ci NOT NULL,
  `bounce` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`mailGroupId`),
  UNIQUE KEY `address` (`address`),
  KEY `mailServerId` (`mailGroupServerId`),
  KEY `status` (`status`),
  KEY `title` (`title`),
  KEY `adminId` (`adminId`),
  KEY `defaultRoleId` (`defaultRoleId`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>mail_group_members`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>mail_group_members` (
  `mailGroupMemberId` int(10) UNSIGNED NOT NULL AUTO_INCREMENT,
  `mailGroupId` int(10) UNSIGNED NOT NULL,
  `status` tinyint(1) UNSIGNED NOT NULL,
  `address` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `title` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) UNSIGNED NOT NULL,
  `modifiedAt` decimal(12,0) UNSIGNED NOT NULL,
  PRIMARY KEY (`mailGroupMemberId`),
  KEY `mailGroupId` (`mailGroupId`),
  KEY `status` (`status`),
  KEY `address` (`address`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>mail_group_roles`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>mail_group_roles` (
  `mailGroupRoleId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `status` tinyint(1) unsigned NOT NULL,
  `rank` tinyint(1) unsigned NOT NULL,
  `title` varchar(50) COLLATE utf8_unicode_ci NOT NULL,
  `read` tinyint(1) unsigned NOT NULL,
  `write` tinyint(1) unsigned NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`mailGroupRoleId`),
  UNIQUE KEY `title` (`title`),
  KEY `status` (`status`,`rank`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>mail_group_servers`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>mail_group_servers` (
  `mailGroupServerId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `status` tinyint(1) unsigned NOT NULL,
  `host` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `port` decimal(5,0) unsigned NOT NULL,
  `title` varchar(200) COLLATE utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) NOT NULL,
  `modifiedAt` decimal(12,0) NOT NULL,
  PRIMARY KEY (`mailGroupServerId`),
  KEY `status` (`status`,`host`,`title`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

]]></sql>
</module>
