

body.site-work-note-view h1 {
	font-size: 1.6em;
	color: #00AFC4;
	}
body.site-work-note-view h2 {
	border-bottom: 1px solid rgba(0,175,196,0.3);
	font-size: 1.5em;
	color: #00AFC4;
	}
body.site-work-note-view h3 {
	border-bottom: 1px solid rgba(9,145,160,0.2);
	font-size: 1.3em;
	font-weight: normal;
	color: #0991A0;
	}
body.site-work-note-view h4 {
	border-bottom: 1px solid rgba(10,115,127,0.1);
	font-size: 1.1em;
	color: #0A737F;
	}
body.site-work-note-view h5 {
	font-size: 1.0em;
	color: #075A63;
	}


span.high {
	background-color: yellow;
	}

span.high.term-1 {
	background-color: #70FF70;
	}

span.high.term-2 {
	background-color: #FF7070;
	}

span.high.term-3 {
	background-color: #7070FF;
	}

/*  --  site.notes.css  --  */
/*  --  NOTE: ARTICLES  --  */
ul.results {
	margin: 0px;
	padding: 0px;
	list-style: none;
	}
ul.results li.note {
	position: relative;
	padding-bottom: 1px;
	border-bottom: 1px dotted #BFBFBF;
	margin-bottom: 5px;
	min-height: 50px;
	}

ul.results a.link {
	margin: 0px 4px;
	font-size: 0.8em;
	color: #005F00;
	text-decoration: none;
	}
ul.results li.note .note-title {
	font-size: 1.4em;
	}
ul.results li.note .note-title a {
	text-decoration: none;
	line-height: 1.5em;
	}
ul.results li.note:last-child {
	border-bottom: 0px;
	}
ul.results li.note div.info-inline {
	clear: both;
	height: 18px;
	margin-top: 0px;
	}

	
	
	
	
	
/*  --  list.tags.css  --  */
/*  --  TAGS  --  */
ul.tags-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
	}
ul.tags-list li.tag {
	float: left;
	margin: 0px 3px 2px 0px;
	padding: 0px;
	background-color: #DDD;
	border: 1px solid #AAA;
	border-radius: 4px;
	}
ul.tags-list li.tag:last-child {
	padding: 0px;
	}
ul.tags-list li.tag.clickable {
	margin: 2px 5px 5px 2px;
	background-image: url(../img/background_button_gradient_1.png);
	background-position: 0px 0px;
	border-color: #CCCCCC #999999 #999999 #CCCCCC;
	cursor: pointer;
	overflow: hidden;
	}
ul.tags-list li.tag span {
	display: block;
	min-height: 18px;
	padding: 1px 10px 1px 22px;
	background-image: url(http://img.int1a.net/famfamfam/silk/tag_blue.png);
	background-position: 3px 3px;
	background-repeat: no-repeat;
	outline: none;
/*	font-size: 1.1em;
	font-weight: bold;
*/	}
ul.tags-list li.tag span small{
	font-weight: normal;
	font-size: 0.9em;
	font-style: italic;
	color: #666;
	}

ul.tags-list li.tag.add span,
ul.tags-list li.tag.action-add:hover span {
	background-image: url(http://img.int1a.net/famfamfam/silk/tag_blue_add.png);
	}
ul.tags-list li.tag.remove span,
ul.tags-list li.tag.action-remove:hover span {
	background-image: url(http://img.int1a.net/famfamfam/silk/tag_blue_delete.png);
	}


ul.tags-list-inline {
	margin: 0px;
	}
ul.tags-list-inline li {
	float: left;
	list-style: none;
	}
ul.tags-list-inline li button.tag {
	cursor: pointer;
	}

ul.tags-list-inline li button.tag span {
	display: block;
	float: left;
	min-height: 18px;
	padding: 1px 6px 1px 22px;
	background-position: 3px 2px;
	text-shadow: 0px 1px solid white;
	}	
button.tag.add span {
	background-image: url(http://img.int1a.net/famfamfam/silk/tag_blue_add.png);
	}
button.tag.remove span {
	background-image: url(http://img.int1a.net/famfamfam/silk/tag_blue_delete.png);
	}
	


li.note span.info{
	display: block;
	float: left;
	margin-right: 10px;
	padding-right: 10px;
	height: 18px;
	}
li.note span.info span{
	padding-right: 10px;
	}
li.note span.date {
	display: block;
	float: left;
	padding-left: 20px;
	height: 18px;
	background-repeat: no-repeat;
	background-position: 0px 2px;
	background-image: url(http://img.int1a.net/famfamfam/silk/date.png);
	}
span.indicator.rating {
	position: absolute;
	top: 30px;
	right: 0px;
	height: 10px;
	}
	
	
	
	
/*  --  list.links.css  --  */
/*  --  LINKS  --  */
ul.links-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
	}
ul.links-list li.link {
	float: left;
	margin: 0px 3px 2px 0px;
	padding: 0px;
	background-color: #DDD;
	border: 1px solid #AAA;
	border-radius: 4px;
	}
ul.links-list li.link:last-child {
	padding: 0px;
	}
ul.links-list li.link.clickable {
	margin: 2px 5px 5px 2px;
	background-image: url(../img/nav_logo13.png);
	background-position: 0px -192px;
	border-color: #CCCCCC #999999 #999999 #CCCCCC;
	cursor: pointer;
	overflow: hidden;
	}
ul.links-list li.link span {
	display: block;
	min-height: 18px;
	padding: 1px 10px 1px 22px;
	background-image: url(http://img.int1a.net/famfamfam/silk/link.png);
	background-position: 2px 2px;
	background-repeat: no-repeat;
	font-size: 1em;
	outline: none;
	}
ul.links-list li.link span small{
	font-weight: normal;
	font-size: 0.9em;
	font-style: italic;
	color: #666;
	}

ul.links-list li.link span.titled {
	font-size: 1.1em;
	font-weight: bold;
	}
	
ul.links-list li.link.add span,
ul.links-list li.link.action-add:hover span {
	background-image: url(http://img.int1a.net/famfamfam/silk/link_add.png);
	}
ul.links-list li.link.remove span,
ul.links-list li.link.action-remove:hover span {
	background-image: url(http://img.int1a.net/famfamfam/silk/link_delete.png);
	}


	
	
	
	
	

ul.results li.note ul.tags-list {
	margin-top: 2px;
	float: right;
	}

a.nav-button span {
	background-repeat: no-repeat;
	background-position: 0px 2px;
	padding-left: 22px;
	padding-right: 5px;
	}
a.nav-button.search span {
	background-image: url(http://img.int1a.net/famfamfam/silk/magnifier.png);
	}
a.nav-button.add span {
	background-image: url(http://img.int1a.net/famfamfam/silk/comment_add.png);
	}


/*  --  TAG LIST: EXTENDED  --  */
li.item-tag-extended {
	position: relative;
	display: block;
	margin: 1px;
	padding: 3px 5px;
	}
li.item-tag-extended button {
	}
li.item-tag-extended .item-tag-label {
	font-weight: bold;
	background-image: url(http://img.int1a.net/famfamfam/silk/tag_blue.png);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	padding-left: 22px;
	padding-right: 5px;
	}
li.item-tag-extended .item-tag-tray {
	position: absolute;
	right: 0px;
	top: 1px;
	}
li.item-tag-extended .item-tag-tray .number-indicator {
	float: left;
	display: block;
	margin: 4px 1em 1px 0em;
	padding: 0px 6px 0px 6px;
	background-color: #999;
	border-radius: 10px;
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
	font-size: 0.8em;
	}

/*  --  TAG LIST: EXTENDED  --  */
li.item-link-extended {
	position: relative;
	display: block;
	margin: 1px;
	padding: 3px 5px;
	}
li.item-link-extended button {
	}
li.item-link-extended .item-link-label {
	font-weight: bold;
	background-image: url(http://img.int1a.net/famfamfam/silk/world.png);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	padding-left: 22px;
	padding-right: 5px;
	}
li.item-link-extended .item-link-tray {
	position: absolute;
	right: 0px;
	top: 1px;
	}
li.item-link-extended .item-link-tray .number-indicator {
	float: left;
	display: block;
	margin: 4px 1em 1px 0em;
	padding: 0px 6px 0px 6px;
	background-color: #999;
	border-radius: 10px;
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
	font-size: 0.8em;
	}

	
	
.border-top {
	border-top: 1px solid #DFDFDF;
	}

.border-bottom {
	border-bottom: 1px solid #DFDFDF;
	}

legend.tag {
	background-image: url(http://img.int1a.net/famfamfam/silk/tag_blue.png);
	}

legend.link {
	background-image: url(http://img.int1a.net/famfamfam/silk/link.png);
	}

legend.note {
	background-image: url(http://img.int1a.net/famfamfam/silk/comment.png);
	}
legend.note-edit {
	background-image: url(http://img.int1a.net/famfamfam/silk/comment_edit.png);
	}

.note-view-content p {
	font-size: 1em;
	}
