body.moduleManageContentLocale form#file-selector ul,
body.moduleManageContentLocale form#file-selector ul li {
	padding: 0;
	margin: 0;
	list-style: none;
	}
body.moduleManageContentLocale form#file-selector ul ul {
	margin-left: 1em;
	}
body.moduleManageContentLocale form#file-selector ul li {
	font-weight: normal;
	padding: 1px 3px;
	border-radius: 4px;
	}
body.moduleManageContentLocale form#file-selector ul li:hover {
	background-color: rgba(127,127,127,0.1);
	}
body.moduleManageContentLocale form#file-selector ul li a {
	text-decoration: none;
	}
body.moduleManageContentLocale form#file-selector ul li small.muted {
	}
body.moduleManageContentLocale form#file-selector ul li.folder {
	font-weight: bold;
	}
body.moduleManageContentLocale form#file-selector ul li.active {
	background-color: #08c;
	}
body.moduleManageContentLocale form#file-selector ul li.active a {
	color: white;
	}
