<?xml version="1.0"?>
<module>
	<title>Work: Issues</title>
	<description>Issue management</description>
	<category>Work</category>
	<version>0.4.3</version>
	<log version="0.2.2">Adapted templates to bootstrap.</log>
	<log version="0.2.3">Rearranged form elements in editor.</log>
	<log version="0.2.4">Add logic class from extracted controller methods.</log>
	<log version="0.2.5">Lint JavaScript.</log>
	<log version="0.2.6">Translate to english.</log>
	<log version="0.2.7">Add relation to module Manage:Projects.</log>
	<log version="0.2.8">Use new Work:Timer integration with hooks.</log>
	<log version="0.3">Improve stability and views.</log>
	<log version="0.3.1">Support hook Project::onListRelations.</log>
	<log version="0.3.2">Support hook Project::onRemove.</log>
	<log version="0.3.3">Support hook Dashboard::renderPanels.</log>
	<log version="0.3.4">Upgrade support for new dasboard module.</log>
	<log version="0.3.5">Remove support for old dasboard module.</log>
	<log version="0.3.6">Split note change view into several view helpers.</log>
	<log version="0.3.7">Send mail on every issue change.</log>
	<log version="0.3.8">Send mail on every new issue.</log>
	<log version="0.4">Add relation filter to show my issues.</log>
	<log version="0.4.1">Adjust behaviour of filters.</log>
	<log version="0.4.2">Add abstract mail class.</log>
	<log version="0.4.3">Rewrite mail components to support HTML and plain text.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Work/Issue.php5</class>
		<class>Mail/Work/Issue/Abstract.php5</class>
		<class>Mail/Work/Issue/Change.php5</class>
		<class>Mail/Work/Issue/New.php5</class>
		<class>Model/Issue.php5</class>
		<class>Model/Issue/Note.php5</class>
		<class>Model/Issue/Change.php5</class>
		<class>Logic/Issue.php5</class>
		<class>View/Work/Issue.php5</class>
		<class>View/Helper/Work/Issue/ChangeFact.php5</class>
		<class>View/Helper/Work/Issue/ChangeFacts.php5</class>
		<class>View/Helper/Work/Issue/ChangeNote.php5</class>
		<class>View/Helper/Work/Issue/Changes.php5</class>
		<locale>de/work/issue.ini</locale>
		<template>work/issue/add.php</template>
		<template>work/issue/edit.php</template>
		<template>work/issue/edit.info.php</template>
		<template>work/issue/edit.changes.php</template>
		<template>work/issue/edit.emerge.php</template>
		<template>work/issue/index.php</template>
		<template>work/issue/index.filter.php</template>
		<template>work/issue/index.filter.control.php</template>
		<template>work/issue/index.graphs.php</template>
		<template>work/issue/index.list.php</template>
		<style source="theme" load="auto">site.work.issue.css</style>
		<script load="auto">Issues.js</script>
	</files>
	<config protected="yes" type="integer" name="graph.all.width">520</config>
	<config protected="yes" type="integer" name="graph.all.height">300</config>
	<config protected="yes" type="float" name="graph.all.centerX">0.35</config>
	<config protected="yes" type="float" name="graph.all.centerY">0.45</config>
	<config protected="yes" type="integer" name="graph.all.cropX">0</config>
	<config protected="yes" type="integer" name="graph.all.cropY">60</config>
	<config protected="yes" type="boolean" name="graph.all.antialias">1</config>
	<config protected="yes" type="boolean" name="graph.all.shadow">0</config>
	<config protected="yes" type="boolean" name="graph.all.legend.layout">0</config>
	<config protected="yes" type="integer" name="graph.all.legend.margin.hcol">10</config>
	<config protected="yes" type="string" name="graph.all.legend.alignX">right</config>
	<config protected="yes" type="string" name="graph.all.legend.alignY">top</config>
	<config protected="yes" type="float" name="graph.all.legend.marginX">0.001</config>
	<config protected="yes" type="float" name="graph.all.legend.marginY">0.3</config>
	<config protected="yes" type="string" name="graph.status.colors">#FFFFFF,#FF0F0F,#FF7F0F,#FFFF0F,#0FFF0F,#FF7FFF,#BFFFDF</config>
	<config protected="yes" type="float" name="graph.status.legend.marginY">0.25</config>
	<config protected="yes" type="string" name="graph.priority.colors">#07277F,#2F4F9F,#476FBF,#6F8FDF,#87AFFF,#A7CFFF</config>
	<config protected="yes" type="float" name="graph.priority.legend.marginY">0.28</config>
	<config protected="yes" type="string" name="graph.type.colors">#3F3F3F,#7F7F7F,#DFDFDF</config>
	<config protected="yes" type="float" name="graph.type.legend.marginY">0.35</config>
	<relations>
		<needs type="module">Resource_Database</needs>
		<needs type="module">Resource_Users</needs>
		<needs type="module">Manage_Projects</needs>
		<supports type="module">UI_Markdown</supports>
	</relations>
	<link xml:lang="de" access="acl" rank="80" path="work/issue">Probleme</link>
	<link xml:lang="en" access="acl" rank="80" path="work/issue">Issues</link>
	<hook type="resource" resource="Work_Timer" event="registerModule">Controller_Work_Issue::___onRegisterTimerModule</hook>
	<hook type="resource" resource="Project" event="listRelations">Controller_Work_Issue::___onListProjectRelations</hook>
	<hook type="resource" resource="Project" event="onRemove">Controller_Work_Issue::___onProjectRemove</hook>
	<hook type="resource" resource="Dashboard" event="registerPanels">Controller_Work_Issue::___onRegisterDashboardPanels</hook>
	<sql on="install" version="0.1"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>issues`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>issues` (
  `issueId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `projectId` int(11) unsigned NOT NULL,
  `reporterId` int(11) unsigned NOT NULL,
  `managerId` int(11) NOT NULL,
  `type` tinyint(1) unsigned NOT NULL,
  `severity` tinyint(1) unsigned NOT NULL,
  `priority` tinyint(1) unsigned NOT NULL,
  `status` tinyint(1) unsigned NOT NULL,
  `progress` decimal(3,0) unsigned NOT NULL,
  `title` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `content` text COLLATE utf8_unicode_ci,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`issueId`),
  KEY `reporterId` (`reporterId`),
  KEY `managerId` (`managerId`),
  KEY `type` (`type`),
  KEY `severity` (`severity`),
  KEY `priority` (`priority`),
  KEY `status` (`status`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=1 ;

DROP TABLE IF EXISTS `<%?prefix%>issue_changes`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>issue_changes` (
  `issueChangeId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `issueId` int(11) unsigned NOT NULL,
  `userId` int(11) unsigned NOT NULL,
  `noteId` int(11) unsigned NOT NULL,
  `type` tinyint(1) unsigned NOT NULL,
  `from` text COLLATE utf8_unicode_ci,
  `to` text COLLATE utf8_unicode_ci,
  `timestamp` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`issueChangeId`),
  KEY `issueId` (`issueId`),
  KEY `userId` (`userId`),
  KEY `noteId` (`noteId`),
  KEY `type` (`type`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=1 ;

DROP TABLE IF EXISTS `<%?prefix%>issue_notes`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>issue_notes` (
  `issueNoteId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `issueId` int(11) unsigned NOT NULL,
  `userId` int(11) unsigned NOT NULL,
  `note` text COLLATE utf8_unicode_ci,
  `timestamp` decimal(12,0) NOT NULL,
  PRIMARY KEY (`issueNoteId`),
  KEY `issueId` (`issueId`),
  KEY `userId` (`userId`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=1 ;
]]>
	<sql on="update" version="0.4.2"><![CDATA[
ALTER TABLE `<%?prefix%>issues` CHANGE `progress` `progress` DECIMAL(3,0) UNSIGNED NULL DEFAULT '0';
]]>
	</sql>
	<sql on="uninstall"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>issues`;
DROP TABLE IF EXISTS `<%?prefix%>issue_changes`;
DROP TABLE IF EXISTS `<%?prefix%>issue_notes`;
]]>
	</sql>
</module>
