


.mission.priority1 {
	background-color: rgba(255,0,0,0.20);
	}
.mission.priority2 {
	background-color: rgba(255,127,0,0.20);
	}
.mission.priority3 {
	background-color: rgba(255,255,63,0.20);
	}
.mission.priority4 {
	background-color: rgba(127,255,0,0.20);
	}
.mission.priority5 {
	background-color: rgba(0,255,0,0.20);
	}

.mission.status-3 {
	background-color: rgba(191,191,191,1);
	}
.mission.status-2 {
	background-color: rgba(255,127,127,1);
	}
.mission.status-1 {
	background-color: rgba(255,191,191,1);
	}
.mission.status0 {
	background-color: rgba(255,255,255,1);
	}
.mission.status1 {
	background-color: rgba(255,223,192,1);
	}
.mission.status2 {
	background-color: rgba(255,255,191,1);
	}
.mission.status3 {
	background-color: rgba(191,255,191,1);
	}
.mission.status4 {
	background-color: rgba(127,255,127,1);
	}

	
	
tr.row-priority.priority-1 {
	background-color: rgba(255,0,0,0.20);
	}
tr.row-priority.priority-2 {
	background-color: rgba(255,127,0,0.20);
	}
tr.row-priority.priority-3 {
	background-color: rgba(255,255,63,0.20);
	}
tr.row-priority.priority-4 {
	background-color: rgba(127,255,0,0.20);
	}
tr.row-priority.priority-5 {
	background-color: rgba(0,255,0,0.20);
	}

#mission-folders {
	}
#mission-folders td {
	padding: 2px 2px;
	}


#mission-folders1 {
	border: 1px solid #BFBFBF;
	overflow: hidden;
	}
#mission-folders .panelHead {
	font-weight: normal;
	}
#mission-folders .panelContent {
	background-color: #FFF;
	}
#mission-folders .panelContentInner {
	padding: 3px 6px;
	}

#mission-folders .panel {
	border: 0px solid #BFBFBF;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	overflow: hidden;
	margin-bottom: 1em;
	}

#mission-folders .panel .panelHead {
	border-radius: 5px;
	overflow: hidden;
	}
	
	
#mission-folders div.mission-number {
	float: right;
	display: block;
	margin: 1px 1em 1px 0em;
	padding: 0px 6px 0px 6px;
	background-color: #999;
	border-radius: 10px;
	color: rgba(255,255,255,1);
	font-weight: bold;
	font-size: 0.8em;
/*	margin: 2px 1em 1px 0em;
	padding: 0px 7px 0px 6px;
	box-shadow: 0px 1px 1px white, 0px -1px 1px black;
*/	
	}
#mission-folders div.overdue {
	float: right;
	display: block;
	margin: 1px 4px 1px 6px;
	padding: 0px 6px 0px 6px;
	background-color: rgba(255,0,0,0.85);
	border-radius: 12px;
	color: rgba(255,255,255,0.85);
	font-size: 0.9em;
	font-weight: bold;
/*	margin: 2px 1em 1px 0em;
	padding: 0px 7px 0px 6px;
	box-shadow: 0px 1px 1px white, 0px -1px 1px black;
*/	
	}

button.event span {
	background-image: url(http://img.int1a.net/famfamfam/silk/date.png);
	}
button.event-add span {
	background-image: url(http://img.int1a.net/famfamfam/silk/date_add.png);
	}
button.task span {
	background-image: url(http://img.int1a.net/famfamfam/silk/script.png);
	}
button.task-add span {
	background-image: url(http://img.int1a.net/famfamfam/silk/script_add.png);
	}
	

	
#input-import {
	background-color: white;
	font-style: italic;
	font-weight: bold;
	}
#input-serial {
	position: absolute;
	left: -1000px;
	}
/*  table.sort.css  */
table tr th.sortable {
	cursor: pointer;
	text-decoration: underline;
	}
table tr th.sortable.ordered {
	}
table tr th.sortable.ordered.direction-asc {
	}
table tr th.sortable.ordered.direction-desc {
	}
button.export.ical span{
	background-image: url(http://img.int1a.net/famfamfam/silk/date.png);
	}
button.export.archive span{
	background-image: url(http://img.int1a.net/famfamfam/silk/compress.png);
	}
legend.icon.export {
	background-image: url(http://img.int1a.net/famfamfam/silk/package.png);
	}


/*  --  DAY TABLES  -- */

body.controller-work-mission.action-index #day-controls {
	overflow: hidden;
	}


body.controller-work-mission.action-index #day-controls button.day {
	position: relative;
	min-width: 90px;
	width: 12%;
	height: 50px;
	margin-right: 0.5%;
	border-radius: 0.5em;
	background: #f2f5f6; /* Old browsers */
	background: -moz-linear-gradient(top, #f2f5f6 0%, #EDEDED 37%, #D7D7D7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#EDEDED), color-stop(100%,#D7D7D7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2f5f6 0%,#EDEDED 37%,#D7D7D7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2f5f6 0%,#EDEDED 37%,#D7D7D7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2f5f6 0%,#EDEDED 37%,#D7D7D7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f2f5f6 0%,#EDEDED 37%,#D7D7D7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#D7D7D7',GradientType=0 ); /* IE6-9 */
	border: 1px solid #8F8F8F;
	}
body.controller-work-mission.action-index #day-controls button.day.active {
	border-width: 2px;
	border-style: solid;
	border-color: green;
	background-color: #EFE;
	color: #000;
/*	color: #23738F;
*/	}
body.controller-work-mission.action-index #day-controls button.day.important {
	width: 16%;
	}
body.controller-work-mission.action-index #day-controls button.day.empty {
	min-width: 80px !important;
	background: #EFEFEF;
	}
body.controller-work-mission.action-index #day-controls button.day.important.empty {
	}
body.controller-work-mission.action-index #day-controls button.day .mission-number {
	position: relative;
	float: none !important;
	display: inline !important;
	margin: 0px 0.8em 0px 0px !important;
	top: 0px;
	right: 0px;
	}

body.controller-work-mission.action-index #day-lists {
	margin-top: 1em;
	}

body.controller-work-mission.action-index #day-lists .table-day {
	display: none;
	}
	
	
/*  --  MAIL  --  */
body.jobWorkMission .table-mail {
	width: 500px;
	border-radius: 0.4em;
	overflow: hidden;
	border: 1px solid gray;
	box-shadow: 2px 2px 3px #BBB
	}
body.jobWorkMission .table-mail td.cell-title a {
	text-decoration: none;
	font-size: 1.0em;	
	}
body.jobWorkMission .table-mail td.cell-time {
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
	}
	
/*  --  MAIL: DAILY  --  */
body.jobWorkMission.job-work-mission-mail-daily div.tasks {
	margin-top: 1em;
	}
body.jobWorkMission.job-work-mission-mail-daily div.events {
	clear: both;
	margin-top: 1em;
	}
body.jobWorkMission.job-work-mission-mail-daily div.text-greeting {
	font-size: 1.2em;
/*	font-weight: bold;*/
	}
body.jobWorkMission.job-work-mission-mail-daily div.text-date-full {
	font-size: 1.2em;
	font-weight: bold;
	}
body.jobWorkMission.job-work-mission-mail-daily div.text-date-short {
	font-size: 0.9em;
	font-weight: lighter;
	}
body.jobWorkMission.job-work-mission-mail-daily div.text-salute {
	font-style: italic;
	font-weight: bold;
	font-size: 1.1em;
	}
body.jobWorkMission.job-work-mission-mail-daily div.text-signature {
	font-style: italic;
	font-weight: lighter;
	font-size: 1.0em;
	}

.icon-label {
	background-repeat: no-repeat;
	background-position: 0px 1px;
	padding-left: 20px;
	}
.icon-label.mission-type-0 {
	background-image: url(http://img.int1a.net/famfamfam/silk/script.png);
	}
.icon-label.mission-type-1 {
	background-image: url(http://img.int1a.net/famfamfam/silk/date.png);
	}
