tr.row-priority.priority-1 {
	background-color: rgba(255,0,0,0.20);
	}
tr.row-priority.priority-2 {
	background-color: rgba(255,127,0,0.20);
	}
tr.row-priority.priority-3 {
	background-color: rgba(255,255,63,0.20);
	}
tr.row-priority.priority-4 {
	background-color: rgba(127,255,0,0.20);
	}
tr.row-priority.priority-5 {
	background-color: rgba(0,255,0,0.20);
	}

#mission-folders1 {
	border: 1px solid #BFBFBF;
	overflow: hidden;
	}
#mission-folders .panelHead {
	font-weight: normal;
	}
#mission-folders .panelContent {
	background-color: #FFF;
	}
#mission-folders .panelContentInner {
	padding: 3px 6px;
	}

#mission-folders .panel {
	border: 0px solid #BFBFBF;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	overflow: hidden;
	margin-bottom: 1em;
	}

#mission-folders .panel .panelHead {
	border-radius: 5px;
	overflow: hidden;
	}
	
	
#mission-folders div.mission-number {
	float: right;
	display: block;
	margin: 1px 1em 1px 0em;
	padding: 0px 6px 0px 6px;
	background-color: #999;
	border-radius: 10px;
	color: rgba(255,255,255,1);
	font-weight: bold;
	font-size: 0.8em;
/*	margin: 2px 1em 1px 0em;
	padding: 0px 7px 0px 6px;
	box-shadow: 0px 1px 1px white, 0px -1px 1px black;
*/	
	}
#mission-folders div.overdue {
	float: left;
	display: block;
	margin: 1px 1em 1px 0em;
	padding: 0px 6px 0px 5px;
	background-color: red;
	border-radius: 10px;
	color: rgba(255,255,255,0.8);
	font-weight: bold;
/*	margin: 2px 1em 1px 0em;
	padding: 0px 7px 0px 6px;
	box-shadow: 0px 1px 1px white, 0px -1px 1px black;
*/	
	}

button.event span {
	background-image: url(http://img.int1a.net/famfamfam/silk/date.png);
	}
button.event-add span {
	background-image: url(http://img.int1a.net/famfamfam/silk/date_add.png);
	}
button.task span {
	background-image: url(http://img.int1a.net/famfamfam/silk/script.png);
	}
button.task-add span {
	background-image: url(http://img.int1a.net/famfamfam/silk/script_add.png);
	}
	

	
#input-import {
	background-color: white;
	font-style: italic;
	font-weight: bold;
	}
#input-serial {
	position: absolute;
	left: -1000px;
	}
/*  table.sort.css  */
table tr th.sortable {
	cursor: pointer;
	text-decoration: underline;
	}
table tr th.sortable.ordered {
	}
table tr th.sortable.ordered.direction-asc {
	}
table tr th.sortable.ordered.direction-desc {
	}
button.export.ical span{
	background-image: url(http://img.int1a.net/famfamfam/silk/date.png);
	}
button.export.archive span{
	background-image: url(http://img.int1a.net/famfamfam/silk/compress.png);
	}
legend.icon.export {
	background-image: url(http://img.int1a.net/famfamfam/silk/package.png);
	}

/*  --  MAIL  --  */
body.controller-work-mission.action-mail div.text-greeting {
	font-size: 1.2em;
/*	font-weight: bold;
*/	}
body.controller-work-mission.action-mail div.text-salute {
	font-style: italic;
	font-weight: bold;
	font-size: 1.1em;
	}
body.controller-work-mission.action-mail div.text-signature {
	font-style: italic;
	font-weight: lighter;
	font-size: 1.0em;
	}
body.controller-work-mission.action-mail div.tasks {
	margin-top: 1em;
	}
body.controller-work-mission.action-mail div.events {
	clear: both;
	margin-top: 1em;
	}
body.controller-work-mission.action-mail div.text-greeting {}
body.controller-work-mission.action-mail div.text-greeting {}
body.controller-work-mission.action-mail .table-mail {
	width: 600px;
	border-radius: 0.4em;
	overflow: hidden;
	border: 1px solid gray;
	box-shadow: 2px 2px 3px #BBB
	}
body.controller-work-mission.action-mail .table-mail td.cell-title a {
	text-decoration: none;
	font-size: 1.1em;	
	}
body.controller-work-mission.action-mail .table-mail td.cell-time {
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
	}
