<?xml version="1.0"?>
<module>
	<title>JS: cmSelectBox</title>
	<description><![CDATA[Replacement for HTML selects.]]></description>
	<category>JavaScript</category>
	<version>0.2.3</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Support inverted mode (show options above input).</log>
	<log version="0.2.2">Move style files from theme to common.</log>
	<log version="0.2.3">Extract hook to own hook class.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="https://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Hook/JS/SelectBox.php</class>
		<script source="local" load="auto">cmSelectBox-0.1.js</script>
		<style source="common" load="auto">cmSelectBox-0.1.css</style>
		<image source="theme">bg_select_arrow.png</image>
		<image source="theme">bg_select_arrow.psd</image>
	</files>
	<relations>
		<needs type="module">JS_jQuery</needs>
	</relations>
	<hook type="resource" resource="Page" event="applyModules">Hook_JS_SelectBox::onPageApplyModules</hook>
</module>
