<?xml version="1.0"?>
<module>
	<title>UI: Bootstrap: Switch</title>
	<description><![CDATA[]]></description>
	<category>User Interface</category>
	<version>3.3.4</version>
	<author site="http://www.larentis.eu">Mattia Larentis</author>
	<license source="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</license>
	<files>
		<style source="common" load="auto">bootstrap-switch.min.css</style>
		<script load="auto">bootstrap-switch.min.js</script>
	</files>
	<relations>
		<needs type="module">UI_Bootstrap</needs>
	</relations>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
$script	= '
$(":input[type=checkbox].shiftbox").bootstrapSwitch();
$(":input[type=checkbox].shiftbox").bind("change",function(e){
	console.log($(this).attr("id")+": "+$(this).is(":checked"))
});';
$context->addScriptOnReady( $script );
]]></hook>
</module>
