<?xml version="1.0"?>
<module>
	<title>Resource: Payment: Mangopay</title>
	<description><![CDATA[...]]></description>
	<category>Resource</category>
	<version>0.3.3</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Start to move common functionality to logic class.</log>
	<log version="0.2.2">Move module to Resource:Payment:Mangopay.</log>
	<log version="0.2.3">Add entity view helpers.</log>
	<log version="0.2.4">Add credit card number validation.</log>
	<log version="0.2.5">Add helper for responded result codes.</log>
	<log version="0.2.6">Add helper for card and wallet.</log>
	<log version="0.3">Add event receiver with database model.</log>
	<log version="0.3.1">Add event management.</log>
	<log version="0.3.2">Add hook management.</log>
	<log version="0.3.3">Verify events.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>Controller/Mangopay/Event.php5</class>
		<class>Controller/Mangopay/Hook.php5</class>
		<class>Mail/Mangopay/EventFailed.php5</class>
		<class>Mail/Mangopay/EventAgain.php5</class>
		<class>Mail/Mangopay/EventUnverfied.php5</class>
		<class>Model/Mangopay/Event.php5</class>
		<class>Logic/Payment/Mangopay.php5</class>
		<class>Resource/Mangopay.php5</class>
		<class>View/Mangopay/Event.php5</class>
		<class>View/Mangopay/Hook.php5</class>
		<class>View/Helper/Mangopay/Error.php5</class>
		<class>View/Helper/Mangopay/Entity/Money.php5</class>
		<class>View/Helper/Mangopay/Entity/Card.php5</class>
		<class>View/Helper/Mangopay/Entity/CardNumber.php5</class>
		<class>View/Helper/Mangopay/Entity/CardProviderLogo.php5</class>
		<class>View/Helper/Mangopay/Entity/Wallet.php5</class>
		<locale>de/resource/payment/mangopay/error.ini</locale>
		<template>mangopay/event/index.php</template>
		<template>mangopay/event/view.php</template>
<!--		<template>mangopay/hook/add.php</template>-->
		<template>mangopay/hook/apply.php</template>
		<template>mangopay/hook/index.php</template>
		<template>mangopay/hook/view.php</template>
	</files>
	<config protected="yes" mandatory="no" type="string" name="mail.hook"></config>
	<config protected="yes" mandatory="yes" type="string" name="client.id"></config>
	<config protected="yes" mandatory="yes" type="string" name="client.password"></config>
	<config protected="yes" mandatory="yes" type="string" name="api.mode" values="sandbox,production">sandbox</config>
	<config protected="yes" mandatory="yes" type="string" name="api.url.sandbox" title="URL of Mangopay API sandbox environment">https://api.sandbox.mangopay.com</config>
	<config protected="yes" mandatory="yes" type="string" name="api.url.production" title="URL of Mangopay API production environment">https://api.mangopay.com</config>
	<relations>
		<needs type="module">Resource_Payment</needs>
	</relations>
	<sql type="mysql" on="install" version="0.3"><![CDATA[
CREATE TABLE IF NOT EXISTS `<%?prefix%>mangopay_events` (
  `eventId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `status` tinyint(3) unsigned DEFAULT '0' COMMENT '0:received, 1:failed, 2:handled',
  `id` int(10) unsigned NOT NULL,
  `type` varchar(50) COLLATE utf8_unicode_ci NOT NULL,
  `output` text COLLATE utf8_unicode_ci NOT NULL,
  `triggeredAt` decimal(12,0) unsigned NOT NULL,
  `receivedAt` decimal(12,0) unsigned NOT NULL,
  `handledAt` decimal(12,0) unsigned DEFAULT '0',
  PRIMARY KEY (`eventId`),
  KEY `status` (`status`),
  KEY `id` (`id`),
  KEY `type` (`type`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql type="mysql" on="uninstall"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>mangopay_events`;
]]></sql>



</module>
