<?xml version="1.0"?>
<module>
	<title>Manage: My User Settings</title>
	<description>Management for user configuration settings.</description>
	<version>0.3.9</version>
	<log version="0.3.6">Changes to support new tab module.</log>
	<log version="0.3.7">Fixed bug in database script.</log>
	<log version="0.3.8">Replace file and folder class calls to use CeusMedia:Common.</log>
	<log version="0.3.9">Complete locales.</log>
	<category>Management</category>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Manage/My/User/Setting.php5</class>
		<class>Model/User/Setting.php5</class>
		<class>View/Manage/My/User/Setting.php5</class>
		<class>View/Helper/UserModuleSettings.php5</class>
		<template>manage/my/user/setting/index.php</template>
		<style load="auto">site.manage.my.user.setting.css</style>
		<locale>de/manage/my/user/setting.ini</locale>
		<locale>en/manage/my/user/setting.ini</locale>
	</files>
	<relations>
		<needs type="module">Manage_My_User</needs>
	</relations>
	<link path="manage/my/user/setting" access="inside" xml:lang="de">Einstellungen</link>
	<link path="manage/my/user/setting" access="inside" xml:lang="en">Settings</link>
	<hook type="resource" resource="Session" event="init"><![CDATA[
if( $env->has( 'session' ) ){												//  environment has session support
	if( ( $userId = $env->getSession()->get( 'userId' ) ) ){				//  an user is logged in
		$config	= Model_User_Setting::applyConfigStatic( $env, $userId );	//  apply user configuration
		$env->set( 'config', $config, TRUE );								//  override config by user config
	}
}
]]></hook>
	<hook type="resource" resource="MyUser" event="registerTabs">View_Manage_My_User_Setting::___onRegisterTab</hook>
	<sql on="install" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>user_settings`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>user_settings` (
  `userSettingId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `moduleId` varchar(200) NOT NULL,
  `managerId` int(10) unsigned NOT NULL,
  `userId` int(10) unsigned NOT NULL,
  `key` varchar(200) NOT NULL,
  `value` varchar(200) NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`userSettingId`),
  KEY `moduleId` (`moduleId`),
  KEY `managerId` (`managerId`),
  KEY `userId` (`userId`),
  KEY `key` (`key`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="update" type="mysql" version-from="0.2.0" version-to="0.2.1"><![CDATA[
RENAME TABLE `user_settings` TO `<%?prefix%>user_settings`;
]]></sql>
	<sql on="uninstall" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>user_settings`;
]]></sql>
</module>
