<?xml version="1.0"?>
<module>
	<title>UI: Panel</title>
	<description><![CDATA[Support for (collapsable) panels.
	
See [http://ceusmedia.de/demos/cmClasses/UI_HTML_CollapsePanel/ Collapse Panel Demo] for more information.
	]]></description>
	<category>User Interface</category>
	<version>0.3.1</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.3">Redesign.</log>
	<log version="0.3.1">Added plugin call in hook.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<style source="scripts-lib" load="auto">jquery/cmCollapsePanel/0.3/panel.default.css</style>
		<style source="scripts-lib" load="auto">jquery/cmCollapsePanel/0.3/panel.default.collapse.css</style>
		<script source="lib" load="auto">jquery/cmCollapsePanel/0.3/cmCollapsePanel.js</script>
	</files>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
        $script     = '$(".panel.collapsable").cmCollapsePanel();';
        $context->js->addScriptOnReady( $script );
    ]]></hook>
</module>
