<?xml version="1.0"?>
<module>
	<title>JS: CodeMirror</title>
	<description><![CDATA[Component that provides a code editor in the browser.]]></description>
	<version>5.53.2</version>
	<category>JavaScript</category>
	<company site="http://codemirror.net/">codemirror.net</company>
	<author email="marijnh@gmail.com">marijnh@gmail.com</author>
	<license source="http://codemirror.net/LICENSE">MIT-style</license>
	<files>
		<class>Hook/JS/CodeMirror.php</class>
		<script>module.js.codemirror.js</script>
		<style source="common">module.js.codemirror.css</style>
		<image source="common">bg_code_tab.png</image>
		<image source="common">bg_code_tab.psd</image>
	</files>
	<config protected="no" type="boolean" name="active" title="Main switch: Use this module">yes</config>
	<config protected="no" type="string" name="load.cdn" values="cdnjs,configJsLib" title="Name of CDN to use (configJsLib is deprecated configured Ceus Media CDN)">cdnjs</config>
	<config protected="no" type="string" name="load.version" values="">5.53.2</config>
	<config protected="no" type="boolean" name="load.minified" title="Load minified resource file">yes</config>
	<config protected="no" type="boolean" name="load.map" title="Load minification map (for dev mode)">no</config>
	<config protected="yes" type="string" name="load.modes">css,xml,javascript,clike,php,htmlmixed,sql</config>
	<config protected="yes" type="string" name="load.addons">dialog/dialog,search/search,search/searchcursor,edit/matchbrackets</config>
	<config protected="yes" type="string" name="load.themes">neo</config>
	<config protected="no" type="string" name="load.cdn.url.cdnjs">https://cdnjs.cloudflare.com/ajax/libs/codemirror/%s/</config>
	<config title="@deprecated use CDN and load.modes instead" protected="yes" type="string" name="modes">css,xml,javascript,clike,php,htmlmixed,sql</config>
	<config title="@deprecated use CDN and load.addons instead" protected="yes" type="string" name="addons">dialog/dialog,search/search,search/searchcursor,edit/matchbrackets</config>
	<config title="@deprecated use CDN and load.themes instead" protected="yes" type="string" name="themes">elegant</config>
	<config title="@deprecated use CDN and load.version instead" protected="no" type="string" name="version" values="5.0,3.20,3.11,3.1,3.02">5.0</config>
	<config protected="no" type="boolean" name="auto.active" title="Flag: Apply editor on elements classified by auto selector">yes</config>
	<config protected="no" type="integer" name="auto.level" title="Script run level if document is ready" values="1,2,3,4,5,6,7,8,9">5</config>
	<config protected="no" type="boolean" name="auto.option.lineNumbers">yes</config>
	<config protected="no" type="boolean" name="auto.option.lineWrapping">no</config>
	<config protected="no" type="boolean" name="auto.option.indentWithTabs">yes</config>
	<config protected="no" type="integer" name="auto.option.indentUnit">4</config>
	<config protected="no" type="boolean" name="auto.option.fullscreen">yes</config>
	<config protected="no" type="string" name="auto.option.theme">default</config>
	<config protected="no" type="string" name="auto.selector">textarea.CodeMirror-auto</config>
	<config protected="no" type="boolean" name="auto.verbose">no</config>
	<hook type="resource" resource="Page" event="applyModules">Hook_JS_CodeMirror::onPageApplyModules</hook>
	<hook type="resource" resource="Module" event="onGetAvailableContentEditor">Hook_JS_CodeMirror::onGetAvailableContentEditor</hook>
</module>
