<?xml version="1.0"?>
<module>
	<title>Modules</title>
	<description>Module support and administration</description>
	<version>0.2.1</version>
	<files>
		<class>Controller/Admin/Module.php5</class>
		<class>Model/Module.php5</class>
		<class>View/Admin/Module.php5</class>
		<locale>de/admin/module.ini</locale>
		<css>site.admin.module.css</css>
		<template>admin/module/index.php</template>
		<template>admin/module/view.php</template>
	</files>
	<config name="path">./modules/</config>
	<sql on="install" type="*"><![CDATA[
]]>
	</sql>
	<sql on="uninstall" type="*"><![CDATA[
]]>
	</sql>
</module>

