<?xml version="1.0"?>
<module>
	<title>Server: Test</title>
	<description><![CDATA[]]></description>
	<category>Server</category>
	<version>0.1</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>Controller/Test.php5</class>
	</files>
</module>
