<?xml version="1.0"?>
<module>
	<title>Manage: Pages</title>
	<description><![CDATA[Editor for page structure.]]></description>
	<category>Management</category>
	<version>0.9.7</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.7.4">Added links.</log>
	<log version="0.7.5">Added support for content format attributes.</log>
	<log version="0.7.6">Use new module Resource:Frontend for access to frontend.</log>
	<log version="0.7.7">Refactored page settings forms.</log>
	<log version="0.7.8">Improved format support and content editor handling.</log>
	<log version="0.7.9">Added copy function.</log>
	<log version="0.8">Added support for keywords list file for meta tags.</log>
	<log version="0.8.1">Save codemirror content with Ctrl-S.</log>
	<log version="0.8.2">Updated TinyMCE link collection.</log>
	<log version="0.8.3">Extended TinyMCE by image alignment and decoration.</log>
	<log version="0.8.4">Updated integration of TinyMCE.</log>
	<log version="0.8.5">Replace file and folder class calls to use CeusMedia:Common.</log>
	<log version="0.8.6">Replace module JS:Optionals by JS:Form:Optionals.</log>
	<log version="0.8.7">Apply jQuery UI sortable to page tree.</log>
	<log version="0.8.8">Add support for module Resource:Versions.</log>
	<log version="0.8.9">Check for pages support in frontend environment.</log> 
	<log version="0.9">Replace module selector by controller selector.</log>
	<log version="0.9.1">Apply panel style.</log>
	<log version="0.9.2">Extract index text to locale HTML file.</log>
	<log version="0.9.3">Apply module JS:Form:Changes.</log>
	<log version="0.9.4">Allow hypen and underscore in page identifier.</log>
	<log version="0.9.5">Finished localisation.</log>
	<log version="0.9.6">Disable tabs for junctions or module pages.</log>
	<log version="0.9.7">Support sitemap information in meta editor.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Manage/Page.php5</class>
		<class>Logic/Page.php5</class>
		<class>Model/Page.php5</class>
		<class>View/Manage/Page.php5</class>
		<template>manage/page/add.php</template>
		<template>manage/page/edit.php</template>
		<template>manage/page/edit.content.php</template>
		<template>manage/page/edit.meta.php</template>
		<template>manage/page/edit.preview.php</template>
		<template>manage/page/edit.settings.php</template>
		<template>manage/page/index.php</template>
		<template>manage/page/tree.php</template>
		<locale>de/manage/page.ini</locale>
		<locale>de/html/manage/page/index.html</locale>
		<script load="auto">PageEditor.js</script>
		<style load="auto">module.manage.pages.css</style>
	</files>
    <config type="string" protected="yes" name="site.domain">localhost</config>
    <config type="string" protected="yes" name="site.path">/</config>
    <config type="string" protected="user" name="editor" values="none,CodeMirror,TinyMCE">TinyMCE</config>
    <config type="string" protected="user" name="link.resources">pages,bookmarks,documents,images</config>
	<relations>
		<needs type="module">JS_CodeMirror</needs>
		<needs type="module">JS_Form_Optionals</needs>
		<needs type="module">JS_jQuery_UI</needs>
		<needs type="module">JS_TinyMCE</needs>
		<needs type="module">Resource_Database</needs>
		<needs type="module">Resource_Frontend</needs>
	</relations>
	<link access="inside" path="manage/page" xml:lang="de">Seiten</link>
	<link access="inside" path="manage/page" xml:lang="en">Pages</link>
	<link access="inside" path="manage/page/ajaxOrderPages"/>
	<link access="inside" path="manage/page/ajaxSaveContent"/>
	<link access="inside" path="manage/page/ajaxSetEditor"/>
	<link access="inside" path="manage/page/ajaxSetTab"/>
	<link access="inside" path="manage/page/copy"/>
	<link access="inside" path="manage/page/edit"/>
	<link access="inside" path="manage/page/getJsImageList"/>
	<link access="inside" path="manage/page/preparePageTree"/>
	<link access="inside" path="manage/page/setScope"/>
	<hook type="resource" resource="TinyMCE" event="getLinkList">Controller_Manage_Page::___onTinyMCE_getLinkList</hook>
</module>
