<?xml version="1.0"?>
<module>
	<title>UI: Template Engines</title>
	<description><![CDATA[Support for several template engines.
]]></description>
	<category>User Interface</category>
	<version>0.3</version>
	<files>
		<class>Hook/UI/TEA.php</class>
	</files>
	<relations/>
	<config protected="yes" type="string" name="pathCache" mandatory="yes">tmp/cache/templates/</config>
	<config protected="yes" type="string" name="pathCacheCompiled" mandatory="yes">tmp/cache/templates_c/</config>
	<config protected="yes" type="string" name="defaultsForTemplates" mandatory="yes">PHP</config>
	<config protected="yes" type="string" name="defaultsForContents" mandatory="yes">STE</config>
	<config protected="yes" type="boolean" name="engine.Dwoo" mandatory="yes" title="Dwoo Template Engine">no</config>
	<config protected="yes" type="boolean" name="engine.H2O" mandatory="yes" title="H2O Template Engine">no</config>
	<config protected="yes" type="boolean" name="engine.Latte" mandatory="yes" title="Latte Template Engine">no</config>
	<config protected="yes" type="boolean" name="engine.Mustache" mandatory="yes" title="Mustache Template Engine">no</config>
	<config protected="yes" type="boolean" name="engine.PHP" mandatory="yes">yes</config>
	<config protected="yes" type="boolean" name="engine.phpHaml" mandatory="yes" title="phpHaml Template Engine">no</config>
	<config protected="yes" type="boolean" name="engine.PHPTAL" mandatory="yes" title="PHPTAL Template Engine">no</config>
	<config protected="yes" type="boolean" name="engine.Smarty" mandatory="yes" title="Smarty Template Engine">no</config>
	<config protected="yes" type="boolean" name="engine.STE" mandatory="yes" title="Simple Template Engine by Ceus Media">yes</config>
	<config protected="yes" type="string" name="engine.STE.filter.Code">code</config>
	<config protected="yes" type="string" name="engine.STE.filter.Strip">strip</config>
	<config protected="yes" type="boolean" name="engine.STE.plugin.Comments">yes</config>
	<config protected="yes" type="boolean" name="engine.STE.plugin.Files">no</config>
	<config protected="yes" type="boolean" name="engine.STE.plugin.Includes">no</config>
	<config protected="yes" type="boolean" name="engine.STE.plugin.Optionals">no</config>
	<config protected="yes" type="boolean" name="engine.STE.plugin.Tidy">no</config>
	<config protected="yes" type="boolean" name="engine.Twig" mandatory="yes" title="Twig Template Engine">no</config>
	<relations>
		<needs type="package">ceus-media/template-abstraction</needs>
	</relations>
	<hook type="resource" resource="Env" event="init">Hook_UI_TEA::onEnvInit</hook>
	<hook type="resource" resource="View" event="realizeTemplate">Hook_UI_TEA::onViewRealizeTemplate</hook>
</module>
