<?xml version="1.0"?>
<module>
	<title>UI: Navigation</title>
	<description><![CDATA[...]]></description>
	<version>0.3.6</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Improve configuration and scoped rendering.</log>
	<log version="0.2.2">Improve scope handling.</log>
	<log version="0.2.3">Fix current page detection.</log>
	<log version="0.2.4">Replace file and folder class calls to use CeusMedia:Common.</log>
	<log version="0.2.5">Support page icons in reader and renderer.</log>
	<log version="0.2.6">Extend to receive and transport settings to rendering helper classes.</log>
	<log version="0.2.7">Make light or dark theme configurable.</log>
	<log version="0.2.8">Add mobile navigation helper for jQuery mmenu.</log>
	<log version="0.3">Add mobile navigation and navbar helpers.</log>
	<log version="0.3.1">Improve configuration value titles.</log>
	<log version="0.3.2">Support mmenu in stylesheet.</log>
	<log version="0.3.3">Make mobile navbar configurable.</log>
	<log version="0.3.4">Track current page for other navigation components.</log>
	<log version="0.3.5">Hide disabled or hidden pages or subpages.</log>
	<log version="0.3.6">Skip menu links if there are no nested links available/allowed.</log> 
	<category>User Interface</category>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Model/Menu.php5</class>
		<class>View/Helper/Navigation.php5</class>
		<class>View/Helper/Navigation/Bootstrap/Dropdown.php5</class>
		<class>View/Helper/Navigation/Bootstrap/NavbarMobile.php5</class>
		<class>View/Helper/Navigation/Bootstrap/NavbarMobileTitle.php5</class>
		<class>View/Helper/Navigation/BootstrapResponsive.php5</class>
		<class>View/Helper/Navigation/Mobile.php5</class>
	</files>
	<config protected="yes" type="string" name="menu.source" values="Modules,Database,Config" title="Source to collect navigation links from">Config</config>
	<config protected="yes" type="string" name="render.class" values="View_Helper_Navigation,View_Helper_Navigation_BootstrapResponsive">View_Helper_Navigation_BootstrapResponsive</config>
	<config protected="no" type="boolean" name="render.desktop" title="Switch: Enable default desktop menu and navbar">1</config>
	<config protected="yes" type="string" name="render.desktop.class" values="View_Helper_Navigation_Bootstrap_Dropdown">View_Helper_Navigation_Bootstrap_Dropdown</config>
	<config protected="no" type="string" name="render.desktop.style" values="Default,Pills" title="Style of main links in desktop main navigation bar.">Pills</config>
	<config protected="no" type="boolean" name="render.desktop.navbar" title="Switch: Enable desktop main navigation bar">1</config>
	<config protected="no" type="string" name="render.desktop.theme" values="light,dark" title="Theme of desktop main navigation bar">light</config>
	<config protected="no" type="boolean" name="render.mobile" title="Switch: Enable mobile menu and navbar">1</config>
	<config protected="no" type="boolean" name="render.mobile.navbar" title="Switch: Enable mobile title navbar">0</config>
	<config protected="no" type="string" name="render.mobile.navbar.theme" values="light,dark" title="Theme of mobile main navigation">light</config>
	<config protected="no" type="string" name="render.mobile.theme" values="light,dark" title="Theme of mobile main navigation bar">light</config>
	<relations>
		<supports type="module">JS_jQuery_mmenu</supports>
		<supports type="module">UI_Navigation_Bootstrap_Navbar</supports>
	</relations>
</module>
