<?xml version="1.0"?>
<module>
	<title>UI: Navigation</title>
	<description><![CDATA[...]]></description>
	<version>0.2.3</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Improve configuration and scoped rendering.</log>
	<log version="0.2.2">Improve scope handling.</log>
	<log version="0.2.3">Fix current page detection.</log>
	<category>User Interface</category>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Model/Menu.php5</class>
		<class>View/Helper/Navigation.php5</class>
		<class>View/Helper/Navigation/Dropdown.php5</class>
	</files>
	<config protected="yes" type="string" name="source" values="Modules,Database,Config">Config</config>
	<config protected="yes" type="string" name="nav.class" values="View_Helper_Navigation_Dropdown">View_Helper_Navigation_Dropdown</config>
	<config protected="yes" type="string" name="nav.style" values="Default,Pills">Pills</config>
	<relations/>
</module>
