#issue-details .issue-title {
	font-size: 1.2em;
	font-weight: bold;
	}
#issue-details .issue-content {}

#issue-change-list-facts dl dt {
	width: 100px;
	}


.issue-progress {
	padding: 1px 4px;
	}
.issue-progress.progress-0 {
	background-color: #FF7F7F;
	}
.issue-progress.progress-25 {
	background-color: #FFBF7F;
	}
.issue-progress.progress-50 {
	background-color: #FFFF7F;
	}
.issue-progress.progress-75 {
	background-color: #BFFF7F;
	}
.issue-progress.progress-100 {
	background-color: #7FFF7F;
	}

.issue-severity {
	padding: 1px 4px;
	}
.issue-severity.severity-0 {
	}
.issue-severity.severity-1 {
	background-color: #FF7F7F;
	}
.issue-severity.severity-2 {
	background-color: #FFFF7F;
	}
.issue-severity.severity-3 {
	background-color: #7FFF7F;
	}
.issue-severity.severity-4 {
	background-color: #BFFF7F;
	}
.issue-severity.severity-5 {
	background-color: #7FFF7F;
	}

.issue-priority {
	padding: 1px 4px;
	}
.issue-priority.priority-0 {
	background-color: #FFFFFF;
	background-color: #0F2F7F;
	background-color: #7FAFFF;
	}
.issue-priority.priority-1 {
	background-color: #FFBFBF;
	background-color: #2F4F9F;
	background-color: #8FBFFF;
	}
.issue-priority.priority-2 {
	background-color: #FFDFBF;
	background-color: #4F6FBF;
	background-color: #9FCFFF;
	}
.issue-priority.priority-3 {
	background-color: #FFFFBF;
	background-color: #6F8FDF;
	background-color: #AFDFFF;
	}
.issue-priority.priority-4 {
	background-color: #DFFFBF;
	background-color: #8FAFFF;
	background-color: #BFEFFF;
	}
.issue-priority.priority-5 {
	background-color: #BFFFBF;
	background-color: #AFCFFF;
	background-color: #CFFFFF;
	}

.issue-status {
	padding: 1px 4px;
	}
.issue-status.status-0 {
	border: 1px dotted gray;
	}
.issue-status.status-1 {
	background-color: #FFBFBF;
	}
.issue-status.status-2 {
	background-color: #FFDFBF;
	}
.issue-status.status-3 {
	background-color: #FFFFBF;
	}
.issue-status.status-4 {
	background-color: #BFFFBF;
	}
.issue-status.status-5 {
	background-color: #FFDFFF;
	}
.issue-status.status-6 {
	background-color: #DFFFEF;
	}


.issue-type {
	padding: 1px 4px;
	}
.issue-type.type-0 {
	background-color: #FFBFBF;
	}
.issue-type.type-1 {
	background-color: #BFFFBF;
	}
.issue-type.type-2 {
	background-color: #FFDFFF;
	}


#issue-list a.issue-title {
	font-weight: bold;
	}


/*  --  ISSUE CHANGE LIST  --  */
#issue-change-list-facts {
	border-right: 1px solid #DFDFDF;
	}
#issue-change-list-facts dl dt {
	width: 90px;
	}
#issue-change-list-facts dl dd {
	margin-left: 0px;
	}
#issue-change-list-facts dl dt .issue-note-date {
	font-size: 0.8em;
	}

#issue-change-list-note {}

#issue-change-list-note .issue-change-list-note-content > h1:first-child,
#issue-change-list-note .issue-change-list-note-content > h2:first-child,
#issue-change-list-note .issue-change-list-note-content > h3:first-child,
#issue-change-list-note .issue-change-list-note-content > h4:first-child,
#issue-change-list-note .issue-change-list-note-content > h5:first-child {
	margin-top: 0;
	padding-top: 0;
	}


table.issues tr td {
/*	text-shadow: 0px 1px 1px rgba(127,127,127,0.5);*/
	}

table.issues tr td a {
	text-decoration: none;
/*	border-bottom: 1px dotted #BBB;
*/	}
table.issues tr.priority-0 * {
	color: #000;
	color: #0F2F7F;
	}
table.issues tr.priority-1 * {
	color: #000;
	color: #2F4F9F;
	}
table.issues tr.priority-2 * {
	font-weight: normal;
	color: #333;
	color: #4F6FBF;
	}
table.issues tr.priority-3 * {
	font-weight: normal;
	color: #666;
	color: #6F8FDF;
	}
table.issues tr.priority-4 * {
	font-weight: lighter;
	color: #999;
	color: #8FAFFF;
	}
table.issues tr.priority-5 * {
	font-weight: lighter;
	opacity: 0.75;
	color: #AFCFFF;
	}
table.issues tr td.cell-status {
	width: 12px;
	text-align: center;
	}
table.issues tr td.cell-age {
	width: 12px;
	text-align: right;
	font-size: 0.85em;
	}
table.issues tr.status-0 td.cell-status {
	border: 1px dotted gray;
	}
table.issues tr.status-1 td.cell-status {
	background-color: #FF7F7F;
	}
table.issues tr.status-2 td.cell-status {
	background-color: #FFBF7F;
	}
table.issues tr.status-3 td.cell-status {
	background-color: #FFFF7F;
	}
table.issues tr.status-4 td.cell-status {
	background-color: #7FFF7F;
	}
table.issues tr.status-5 td.scell-tatus {
	background-color: #FFBFFF;
	}
table.issues tr.status-6 td.cell-status {
	background-color: #DFFFEF;
	}

body.controller-work-issue.action-index fieldset h4 {
	margin-bottom: 2px;
	}


body.moduleWorkIssues dl.facts-vertical {
	padding: 0;
	margin: 0 0 0.5em 0;
	}
body.moduleWorkIssues dl.facts-vertical dt {
	display: block;
	float: none;
	clear: left;
	font-size: 0.85em;
	}
body.moduleWorkIssues dl.facts-vertical dd {
	display: block;
	float: none;
	clear: left;
	font-size: 1.1em;
	margin: 0 0 0.5em 0;
	}
