tr.row-priority.priority-1 {
	background-color: rgba(255,0,0,0.20);
	}
tr.row-priority.priority-2 {
	background-color: rgba(255,127,0,0.20);
	}
tr.row-priority.priority-3 {
	background-color: rgba(255,255,63,0.20);
	}
tr.row-priority.priority-4 {
	background-color: rgba(127,255,0,0.20);
	}
tr.row-priority.priority-5 {
	background-color: rgba(0,255,0,0.20);
	}
