tr.row-priority.priority-1 {
	background-color: rgba(255,0,0,0.20);
	}
tr.row-priority.priority-2 {
	background-color: rgba(255,127,0,0.20);
	}
tr.row-priority.priority-3 {
	background-color: rgba(255,255,63,0.20);
	}
tr.row-priority.priority-4 {
	background-color: rgba(127,255,0,0.20);
	}
tr.row-priority.priority-5 {
	background-color: rgba(0,255,0,0.20);
	}

#mission-folders1 {
	border: 1px solid #BFBFBF;
	overflow: hidden;
	}
#mission-folders .panelHead {
	font-weight: normal;
	}
#mission-folders .panelContent {
	background-color: #FFF;
	}
#mission-folders .panelContentInner {
	padding: 3px 6px;
	}

#mission-folders .panel {
	border: 0px solid #BFBFBF;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	overflow: hidden;
	margin-bottom: 1em;
	}

#mission-folders .panel .panelHead {
	border-radius: 5px;
	overflow: hidden;
	}
	
	
#mission-folders div.mission-number {
	float: right;
	display: block;
	margin: 1px 1em 1px 0em;
	padding: 0px 6px 0px 6px;
	background-color: #999;
	border-radius: 10px;
	color: rgba(255,255,255,1);
	font-weight: bold;
	font-size: 0.8em;
/*	margin: 2px 1em 1px 0em;
	padding: 0px 7px 0px 6px;
	box-shadow: 0px 1px 1px white, 0px -1px 1px black;
*/	
	}
#mission-folders div.overdue {
	float: left;
	display: block;
	margin: 1px 1em 1px 0em;
	padding: 0px 6px 0px 5px;
	background-color: red;
	border-radius: 10px;
	color: rgba(255,255,255,0.8);
	font-weight: bold;
/*	margin: 2px 1em 1px 0em;
	padding: 0px 7px 0px 6px;
	box-shadow: 0px 1px 1px white, 0px -1px 1px black;
*/	
	}

	
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

button.event span {
	background-image: url(http://img.int1a.net/famfamfam/silk/date.png);
	}
button.event-add span {
	background-image: url(http://img.int1a.net/famfamfam/silk/date_add.png);
	}
button.task span {
	background-image: url(http://img.int1a.net/famfamfam/silk/script.png);
	}
button.task-add span {
	background-image: url(http://img.int1a.net/famfamfam/silk/script_add.png);
	}
	