<?xml version="1.0"?>
<module>
	<title>Manage: Projects</title>
	<description>Management for projects.</description>
	<version>0.6.5</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Added status indicator.</log>
	<log version="0.3">Refactored filter, index and forms.</log>
	<log version="0.3.1">Added support for code mirros.</log>
	<log version="0.3.2">Adjusted CSS definitions.</log>
	<log version="0.3.3">Added hook to update project modification timestamp.</log>
	<log version="0.3.4">Added priority attribute and filter.</log>
	<log version="0.3.5">Extended logic methods.</log>
	<log version="0.3.6">Added more filters and search query.</log>
	<log version="0.3.7">Fixed SQL query bug if no project is assigned, yet.</log>
	<log version="0.3.8">Let user create a project if none available, yet.</log>
	<log version="0.3.9">Add second add button in list.</log>
	<log version="0.4">Add relation to module UI:Helper:TimePhraser.</log>
	<log version="0.4.1">Aovid removal of last project user.</log>
	<log version="0.4.2">Extracted more locales from templates.</log>
	<log version="0.4.3">Improved code syntax of controller and templates.</log>
	<log version="0.4.4">Check project membership in controller.</log>
	<log version="0.4.5">Update button color schema.</log>
	<log version="0.4.6">Use module UI:Helper:Relations for remove confirmation.</log>
	<log version="0.4.7">Added empty mail classes for development.</log>
	<log version="0.4.8">Developed mail classes.</log>
	<log version="0.5">Added creator in database table.</log>
	<log version="0.5.1">Added status in project user relation.</log>
	<log version="0.5.2">Use CMM_Bootstrap_PageControl for pagination.</log>
	<log version="0.5.3">Extend by default project flag for users.</log>
	<log version="0.5.4">Add view for setting default project.</log>
	<log version="0.5.5">Force to set default project if none set.</log>
	<log version="0.5.6">Add project view.</log>
	<log version="0.5.7">Allow redirection after a project has been created.</log>
	<log version="0.6">Add support for module Members.</log>
	<log version="0.6.1">Combine related members and related projected users correctly.</log>
	<log version="0.6.2">Implement hook Resource:Users::getRelatedUsers.</log>
	<log version="0.6.3">Add new logic method getProjectsUsers.</log>
	<log version="0.6.4">Improve performance by using less database requests.</log>
	<log version="0.6.5">Rework support for hook Project::onListRelations.</log>
	<category>Management</category>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Manage/Project.php5</class>
		<class>Logic/Project.php5</class>
		<class>Mail/Manage/Project/Abstract.php5</class>
		<class>Mail/Manage/Project/Changed.php5</class>
		<class>Mail/Manage/Project/Invited.php5</class>
		<class>Mail/Manage/Project/Members.php5</class>
		<class>Mail/Manage/Project/Removed.php5</class>
		<class>Model/Project.php5</class>
		<class>Model/Project/User.php5</class>
		<class>View/Manage/Project.php5</class>
		<template>manage/project/add.php</template>
		<template>manage/project/edit.php</template>
		<template>manage/project/edit.info.php</template>
		<template>manage/project/edit.users.php</template>
		<template>manage/project/index.php</template>
		<template>manage/project/index.filter.php</template>
		<template>manage/project/index.list.php</template>
		<template>manage/project/remove.php</template>
		<template>manage/project/setDefault.php</template>
		<template>manage/project/view.php</template>
		<locale>de/manage/project.ini</locale>
		<locale>de/html/manage/project/remove.panel.top.html</locale>
		<locale>de/html/manage/project/remove.right.html</locale>
		<style load="auto">site.manage.project.css</style>
	</files>
	<relations>
		<needs type="module">Resource_Database</needs>
		<needs type="module">UI_Helper_TimePhraser</needs>
		<needs type="module">UI_Helper_Relations</needs>
		<supports type="module">Work_Missions</supports>
		<supports type="module">Work_Issues</supports>
	</relations>
	<link path="manage/project" access="acl" xml:lang="de" rank="82">Projekte</link>
	<link path="manage/project" access="acl" xml:lang="en" rank="82">Projects</link>
	<hook type="resource" resource="Project" event="update">Controller_Manage_Project::___onUpdate</hook>
	<hook type="resource" resource="Project" event="listRelations">Controller_Manage_Project::___onListRelations</hook>
	<hook type="resource" resource="Resource:Users" event="getRelatedUsers">Controller_Manage_Project::___onGetRelatedUsers</hook>
	<sql on="install" type="mysql" version="final"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>projects`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>projects` (
  `projectId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `creatorId` int(11) unsigned DEFAULT '0',
  `parentId` int(10) unsigned NOT NULL,
  `status` tinyint(1) NOT NULL DEFAULT '0',
  `priority` tinyint(1) unsigned NOT NULL DEFAULT '3',
  `url` varchar(200) COLLATE utf8_unicode_ci DEFAULT NULL,
  `title` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `description` text COLLATE utf8_unicode_ci,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`projectId`),
  KEY `parentId` (`parentId`),
  KEY `status` (`status`),
  KEY `priority` (`priority`),
  KEY `creatorId` (`creatorId`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>project_users`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>project_users` (
  `projectUserId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `projectId` int(10) unsigned NOT NULL,
  `creatorId` int(11) unsigned DEFAULT '0',
  `userId` int(10) unsigned NOT NULL,
  `isDefault` tinyint(1) unsigned DEFAULT '0',
  `status` tinyint(1) DEFAULT '1',
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`projectUserId`),
  KEY `projectId` (`projectId`),
  KEY `userId` (`userId`),
  KEY `creatorId` (`creatorId`),
  KEY `status` (`status`),
  KEY `isDefault` (`isDefault`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="install" type="mysql" version="0.2"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>projects`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>projects` (
  `projectId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `parentId` int(10) unsigned NOT NULL,
  `status` tinyint(1) NOT NULL DEFAULT '0',
  `url` varchar(200) COLLATE utf8_unicode_ci DEFAULT NULL,
  `title` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `description` text COLLATE utf8_unicode_ci,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`projectId`),
  KEY `parentId` (`parentId`),
  KEY `status` (`status`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>project_users`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>project_users` (
  `projectUserId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `projectId` int(10) unsigned NOT NULL,
  `userId` int(10) unsigned NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`projectUserId`),
  KEY `projectId` (`projectId`),
  KEY `userId` (`userId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="update" type="mysql" version-from="0.3.3" version-to="0.3.4"><![CDATA[
ALTER TABLE `<%?prefix%>projects` ADD `priority` TINYINT(1) UNSIGNED NOT NULL DEFAULT '3' AFTER `status` ,
ADD INDEX ( `priority` ) ;
]]></sql>
	<sql on="update" type="mysql" version="0.3.19"><![CDATA[
ALTER TABLE `<%?prefix%>projects` ADD `creatorId` INT(11) UNSIGNED DEFAULT '0' AFTER `projectId` ,
ADD INDEX ( `creatorId` ) ;
]]></sql>
	<sql on="update" type="mysql" version="0.3.20"><![CDATA[
ALTER TABLE `<%?prefix%>project_users` ADD `creatorId` INT(11) UNSIGNED DEFAULT '0' AFTER `projectId` ,
ADD INDEX ( `creatorId` ) ;
ALTER TABLE `<%?prefix%>project_users` ADD `status` TINYINT(1) DEFAULT '1' AFTER `userId` ,
ADD INDEX ( `status` ) ;
]]></sql>
	<sql on="update" type="mysql" version="0.3.22"><![CDATA[
ALTER TABLE `project_users` ADD `isDefault` TINYINT(1) UNSIGNED NULL DEFAULT '0' AFTER `userId`, ADD INDEX `isDefault` (`isDefault`);
]]></sql>
	<sql on="uninstall" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>projects`;
DROP TABLE IF EXISTS `<%?prefix%>project_users`;
]]></sql>
</module>
