<?xml version="1.0"?>
<module>
	<title>Import</title>
	<subtitle>Provider for import connections.</subtitle>
	<description><![CDATA[]]></description>
	<category>Resource</category>
	<version>0.2.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Extracted to Hydrogen module.</log>
	<log version="0.2.1">Add mailbox as first connector.</log>
	<log version="0.2.2">Refactor connectors.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>Logic/Import.php5</class>
		<class>Logic/Import/Connector/Abstract.php5</class>
		<class>Logic/Import/Connector/Interface.php5</class>
<!--		<class>Logic/Import/Connector/Mailbox.php5</class>-->
		<class>Logic/Import/Connector/MailAbstract.php5</class>
		<class>Logic/Import/Connector/MailAttachmentCsv.php5</class>
		<class>Model/Import/Connection.php5</class>
		<class>Model/Import/Connector.php5</class>
	</files>
	<relations/>
	<sql type="mysql" on="install" version="0.1"><![CDATA[
		DROP TABLE IF EXISTS `<%?prefix%>import_connections`;
		CREATE TABLE IF NOT EXISTS `<%?prefix%>import_connections` (
		  `importConnectionId` int(10) UNSIGNED NOT NULL AUTO_INCREMENT,
		  `importConnectorId` int(10) UNSIGNED NOT NULL,
		  `creatorId` int(10) UNSIGNED DEFAULT '0',
		  `status` tinyint(1) UNSIGNED DEFAULT '0' COMMENT '0:disabled, 1:enabled',
		  `hostName` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
		  `hostPort` int(5) UNSIGNED NOT NULL DEFAULT '0',
		  `hostPath` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
		  `authType` tinyint(1) UNSIGNED NOT NULL COMMENT '0:none, 1:login, 2:key',
		  `authKey` text COLLATE utf8_unicode_ci,
		  `authUsername` varchar(127) COLLATE utf8_unicode_ci DEFAULT NULL,
		  `authPassword` varchar(127) COLLATE utf8_unicode_ci DEFAULT NULL,
		  `title` varchar(127) COLLATE utf8_unicode_ci NOT NULL,
		  `description` text COLLATE utf8_unicode_ci,
		  `createdAt` decimal(12,0) NOT NULL,
		  `modifiedAt` decimal(12,0) NOT NULL,
		  PRIMARY KEY (`importConnectionId`),
		  KEY `importConnectorId` (`importConnectorId`),
		  KEY `creatorId` (`creatorId`),
		  KEY `status` (`status`),
		  KEY `hostName` (`hostName`)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

		DROP TABLE IF EXISTS `<%?prefix%>import_connectors`;
		CREATE TABLE IF NOT EXISTS `<%?prefix%>import_connectors` (
		  `importConnectorId` int(11) UNSIGNED NOT NULL AUTO_INCREMENT,
		  `creatorId` int(11) UNSIGNED NOT NULL,
		  `status` tinyint(1) UNSIGNED NOT NULL COMMENT '0:disabled, 1:enabled',
		  `type` tinyint(1) UNSIGNED NOT NULL,
		  `className` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
		  `title` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
		  `description` text COLLATE utf8_unicode_ci NOT NULL,
		  `createdAt` decimal(12,0) UNSIGNED NOT NULL,
		  `modifiedAt` decimal(12,0) UNSIGNED NOT NULL,
		  PRIMARY KEY (`importConnectorId`),
		  KEY `creatorId` (`creatorId`),
		  KEY `status` (`status`),
		  KEY `type` (`type`),
		  KEY `className` (`className`)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

		INSERT INTO `import_connectors` (`importConnectorId`, `creatorId`, `status`, `type`, `className`, `title`, `description`, `createdAt`, `modifiedAt`) VALUES
		(1, 0, 1, 0, 'Logic_Import_Connector_MailAttachmentCsv', 'Mailbox > Mail > Attachment > CSV', '', '1618884309', '1618884309');
	]]></sql>
	<sql type="mysql" on="uninstall"><![CDATA[
		DROP TABLE IF EXISTS `<%?prefix%>import_connections`;
		DROP TABLE IF EXISTS `<%?prefix%>import_connectors`;
]]></sql>
</module>
