<?xml version="1.0"?>
<module>
	<title>JS: Modernizr</title>
	<description><![CDATA[Browser feature detection and media query support.]]></description>
	<category>JavaScript</category>
	<version>2.6.2</version>
	<files>
		<script load="auto" top="yes">modernizr-2.6.2.min.js</script>
		<script>modernizr-2.6.2.js</script>
	</files>
</module>
