<?xml version="1.0"?>
<module>
	<title>Dev: Icons</title>
	<description>Viewer for cmIcons.</description>
	<version>0.1</version>
	<category>Development</category>
	<files>
		<class>Controller/Dev/Icons.php5</class>
		<class>View/Dev/Icons.php5</class>
		<template>dev/icons/index.php</template>
	</files>
	<relations/>
	<link path="dev/icons">Icons</link>
</module>
