<?xml version="1.0"?>
<module>
	<title>Admin: App</title>
	<description>Editor for App settings like title and logo.</description>
	<category>Administration</category>
	<version>0.2.1</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Improve code style.</log>
	<files>
		<class>Controller/Admin/App.php</class>
		<class>View/Admin/App.php</class>
		<template>admin/app/index.php</template>
	</files>
	<relations>
		<needs type="module">Resource_Upload</needs>
	</relations>
	<link xml:lang="de" rank="97" access="acl" path="admin/app">App-Einstellungen</link>
	<link xml:lang="en" rank="97" access="acl" path="admin/app">App Settings</link>
</module>
