<Files ~ "^(config.+|.+\.inc|.*\.dist)$">
    Deny From All
</Files>

Options -MultiViews -Indexes FollowSymLinks

RewriteEngine On

RewriteRule index.html index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/?$ index.php?__path=$1&%{QUERY_STRING} [L]

#  AUTHENTICATION
AuthType Basic
AuthName "My Project"
AuthUserFile /path/to/my/project/.htpasswd
#Require valid-user

#  DISABLE ETAGS
#FileETag none
