<?xml version="1.0"?>
<module>
	<title>App: Site</title>
	<description><![CDATA[Empty web site application as base for your projects.]]></description>
	<category>Application</category>
	<version>0.3.2</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>Controller/Index.php5</class>
		<class>View/Index.php5</class>
		<locale>de/main.ini</locale>
		<locale>en/main.ini</locale>
		<template>index/index.php</template>
		<template>master.php</template>
		<style source="theme" load="auto">layout.css</style>
		<file>index.php</file>
		<file>.htaccess.dist</file>
		<file>.htpasswd</file>
	</files>
	<link xml:lang="de" access="public" rank="0" path="">Start</link>
	<link xml:lang="en" access="public" rank="0" path="">Home</link>
	<relations>
		<needs type="module">JS_jQuery</needs>
		<needs type="module">UI_Bootstrap</needs>
		<supports type="module">UI_FavIcon</supports>
		<supports type="module">UI_MetaTags</supports>
		<supports type="module">UI_Compressor</supports>
		<supports type="module">UI_TEA</supports>
		<supports type="module">JS_Modernizr</supports>
		<supports type="module">Info_Contact</supports>
		<supports type="module">Info_Pages</supports>
	</relations>
    <hook type="resource" resource="Page" event="applyModules">
		<![CDATA[
	        //  --  INIT  --  //
	        $messenger  = $context->env->getMessenger();                            //  shortcut messenger
	        $config     = $module->config;                                          //  shortcut module configuration pairs
			if( file_exists( '.htaccess.dist' ) ){
				if( file_exists( '.htaccess' ) ){
					if( !@copy( '.htaccess.dist', '.htaccess' ) ){
						throw new RuntimeException( "Cannot create .htaccess from .htaccess.dist" );
					}
					$messenger->noteSuccess( 'Created .htaccess' );
				}
			}
		}]]>
	</hook>
</module>
