<?xml version="1.0"?>
<module>
	<title>UI: Markdown</title>
	<description><![CDATA[Markdown transformation support.]]></description>
	<version>1.3.4</version>
	<log version="1.0.1">Add support for INS(++) and DEL(--).</log>
	<log version="1.0.2">Add AJAX support.</log>
	<log version="1.0.3">Add hook View:onRenderContent.</log>
	<log version="1.0.4">Add support for AJAJ client.</log>
	<log version="1.0.5">Add flag to wrap out in paragraph.</log>
	<log version="1.0.6">Add public link to AJAX/AJAJ rendering.</log>
	<log version="1.0.7">Extract hook to own hook class.</log>
	<log version="1.0.8">Add main switch config pair.</log>
	<log version="1.0.9">Add version support range config pairs.</log>
	<log version="1.1.0">Check for installation of markdown library and version.</log>
	<log version="1.2.0">Convert controller to AJAX controller.</log>
	<log version="1.3.0">Replace used markdown library by CeusMedia/Markdown.</log>
	<log version="1.3.1">Change AJAX controller handling.</log>
	<log version="1.3.2">Cleanup.</log>
	<log version="1.3.3">Support selection of renderer.</log>
	<log version="1.3.4">Add default renderer to config.</log>
	<category>User Interface</category>
    <company site="https://ceusmedia.de/">Ceus Media</company>
    <author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
    <license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Ajax/Helper/Markdown.php</class>
		<class>Hook/UI/Markdown.php</class>
		<class>View/Helper/Markdown.php</class>
	</files>
	<config protected="no" type="boolean" name="active" title="Main switch of module">yes</config>
	<config protected="yes" type="string" name="renderer" title="Default Markdown renderer library" values="CommonMark,Parsedown,MichelF,MichelF_Extra,Cebe,Cebe_Extra,Cebe_GitHub,Ciconia,Ciconia_GitHub,Markdown_Extended">CommonMark</config>
	<link access="public" rank="99" path="ajax/helper/markdown/render"/>
	<relations/>
	<hook type="resource" resource="View" event="onRenderContent">Hook_UI_Markdown::onRenderContent</hook>
	<hook type="resource" resource="Page" event="applyModules">Hook_UI_Markdown::onPageApplyModules</hook>
</module>
