<?xml version="1.0"?>
<module>
	<title>Module Creator</title>
	<description><![CDATA[Create local modules.
Building on basic module administration, this module allows you to create local modules.
This module can be extended by:
- Module Installer
This module needs other modules to be installed:
- Modules Editor(thus Modules, Module Sources, App Instances)
]]></description>
	<category>Administration</category>
	<version>0.1</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Admin/Module/Creator.php5</class>
		<class>View/Admin/Module/Creator.php5</class>
		<class>Logic/Module/Creator.php5</class>
		<locale>de/admin/module/creator.ini</locale>
		<locale>en/admin/module/creator.ini</locale>
		<template>admin/module/creator/index.php</template>
		<template>admin/module/creator/controller.tmpl</template>
		<template>admin/module/creator/locale.tmpl</template>
		<template>admin/module/creator/logic.tmpl</template>
		<template>admin/module/creator/model.tmpl</template>
		<template>admin/module/creator/module.xml.tmpl</template>
		<template>admin/module/creator/template.empty.tmpl</template>
		<template>admin/module/creator/template.tmpl</template>
		<template>admin/module/creator/view.tmpl</template>
	</files>
	<relations>
		<needs type="module">Admin_Module_Editor</needs>
	</relations>
	<link xml:lang="de" path="admin/module/creator" access="acl" rank="45">Neues Modul</link>
	<link xml:lang="en" path="admin/module/creator" access="acl" rank="45">New module</link>
</module>
