<!--
<h3><span class="muted">Newsletter: </span>Vorlagen</h3>
<div class="row-fluid">
	<div class="span6">
		<p>
			Vorlagen stellen die Grundlage für einen Newsletter dar.<br/>
			Während jeder Newsletter einen anderen Titel und Inhalt beinhaltet, stellt das Template einen gleichbleibenden Rahmen für den Newsletter dar.<br/>
		</p>
		<p>
			Eine Vorlage besteht aus Gerüsten für Text- und HTML-E-Mails sowie Style-Angaben.<br/>
			Bestehende Vorlagen können exportiert und neue Vorlagen importiert werden.
		</p>
	</div>
	<div class="span6">
		<p>
			Die Verlage kann sowohl für HTML- als auch für Test-E-Mails folgende Bausteine bereitstellen:
			<ul>
				<li>Gestaltung und Inhalt des E-Mail-Kopfes</li>
				<li>Anordnung der Newsletter-Inhalte (Titel und Inhalt)</li>
				<li>Impressum und andere gesetzlich notwendige Inhalte</li>
				<li>Gestaltung und Inhalt des E-Mail-Fusses</li>
			</ul>
		</p>
	</div>
</div>
<div class="alert alert-info">
<!--	<big>Limitierungen in dieser Demo-Installation</big><br/>-->
	<p>
		In dieser Demo-Installation steht nur die Standardvorlage bearbeitet werden.<br/>
		In der Vollversion können beliebig viele Vorlagen erstellt und importiert werden.<br/>
	</p>
</div>
-->
