<?xml version="1.0"?>
<module>
	<title>Google Analytics Tracker</title>
	<description><![CDATA[Request tracking using Google Analytics.]]></description>
	<category>Resource</category>
	<version>0.2.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Moved script called after document ready.</log>
	<log version="0.2.2">Handle blocking of script loading.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<script load="auto">ga.js</script>
	</files>
	<relations/>
	<config protected="no" type="boolean" name="enabled" info="">yes</config>
	<config protected="no" type="string" name="option.trackingID" info="starting with UA-"></config>
	<config protected="no" type="boolean" name="option.anonymizeIP">no</config>
	<config protected="no" type="boolean" name="reportBlocking.enabled">yes</config>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
		$options	= $env->getConfig()->getAll( 'module.resource_tracker_google.', TRUE );
		if( !$options->get( 'enabled' ) )
			return;
		$script	= '
var hasGaFunction	= typeof initGoogleAnalytics !== "undefined";
var hasMessenger	= typeof settings.UI_JS_Messenger !== "undefined";
var useMessenger	= settings.Resource_Tracker_Google.reportBlocking_enabled;
if(hasGaFunction){
	initGoogleAnalytics('.json_encode( $options->getAll( 'option.' ) ).')
}
else if(hasMessenger && useMessenger){
	var message = "You are using an Adblocker. Please disable this extension for full functionality!";
	UI.Messenger.noteNotice(message);
};';
		$env->getPage()->runScript( $script, 9 );
	]]></hook>
</module>

