<?xml version="1.0"?>
<module>
	<title>Google Analytics Tracker</title>
	<description><![CDATA[Request tracking using Google Analytics.]]></description>
	<category>Resource</category>
	<version>0.3.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Moved script called after document ready.</log>
	<log version="0.2.2">Handle blocking of script loading.</log>
	<log version="0.3">Use new analytics script and apply options directly.</log>
	<log version="0.3.1">Use general module main switch.</log>
	<log version="0.3.2">Extract hook to own class.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Hook/Tracker/Google.php</class>
	</files>
	<relations/>
	<config protected="no" type="boolean" name="active" title="Main switch: Use this module">yes</config>
	<config protected="no" type="string" name="option.trackingID" info="starting with UA-"></config>
	<config protected="no" type="boolean" name="option.anonymizeIP">yes</config>
	<hook type="resource" resource="Page" event="applyModules">Hook_Tracker_Google::onPageApplyModules</hook>
</module>
