<?xml version="1.0"?>
<module>
	<title>Manage: Shop</title>
	<description><![CDATA[...]]></description>
	<category>Management</category>
	<version>0.2.7</version>
	<log version="0.1.0">Initial prototype.</log>
	<log version="0.2.0">Separation to Hydrogen module.</log>
	<log version="0.2.1">Added shipping.</log>
	<log version="0.2.2">Added reporting.</log>
	<log version="0.2.3">Added customer information.</log>
	<log version="0.2.4">Designed status graph.</log>
	<log version="0.2.5">Reworked order position status handling.</log>
	<log version="0.2.6">Integrated shop bridge.</log>
	<log version="0.2.7">Use new bootstrap tab system with hooks.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Manage/Shop.php5</class>
		<class>Controller/Manage/Shop/Order.php5</class>
		<class>Controller/Manage/Shop/Report.php5</class>
		<class>Logic/Shop.php5</class>
		<class>Model/Shop/Customer.php5</class>
		<class>Model/Shop/Order.php5</class>
		<class>Model/Shop/Order/Position.php5</class>
		<class>Model/Shop/Shipping/Country.php5</class>
		<class>Model/Shop/Shipping/Grade.php5</class>
		<class>Model/Shop/Shipping/Option.php5</class>
		<class>Model/Shop/Shipping/Price.php5</class>
		<class>Model/Shop/Shipping/Zone.php5</class>
		<class>View/Manage/Shop.php5</class>
		<class>View/Manage/Shop/Order.php5</class>
		<class>View/Manage/Shop/Report.php5</class>
		<locale>de/manage/shop.ini</locale>
		<locale>de/manage/shop/order.ini</locale>
		<template>manage/shop/index.php</template>
		<template>manage/shop/order/edit.php</template>
		<template>manage/shop/order/filter.php</template>
		<template>manage/shop/order/index.php</template>
		<template>manage/shop/report/index.php</template>
		<image>states.dot</image>
		<image>states.png</image>
	</files>
	<relations>
		<needs type="module">Resource_Library_cmModules</needs>
		<needs type="module">Shop_Bridge</needs>
		<needs type="module">UI_Navigation_Bootstrap_Tabs</needs>
	</relations>
	<link xml:lang="de" path="manage/shop/order">Bestellungen</link>
	<link xml:lang="en" path="manage/shop/report">Statistik</link>
	<hook type="resource" resource="ManageShop" event="registerTabs">View_Manage_Shop::___onRegisterTab</hook>
	<hook type="resource" resource="ManageShop" event="registerTabs">View_Manage_Shop_Order::___onRegisterTab</hook>
	<hook type="resource" resource="ManageShop" event="registerTabs">View_Manage_Shop_Report::___onRegisterTab</hook>
</module>
