<?xml version="1.0"?>
<module>
	<title>Info</title>
	<description><![CDATA[Collects news from modules as list for index page.]]></description>
	<category>Info</category>
	<version>0.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<files>
		<class>View/Helper/Info/NewsList.php5</class>
	</files>
	<relations>
		<neeeds>UI_Helper_TimePhraser</needs>
	</relations>
</module>
