<?xml version="1.0"?>
<module>
	<title>JS: jQuery: equalize</title>
	<description><![CDATA[Equalize height or width of floating HTML elements.]]></description>
	<version>1.0.2-p1</version>
	<log version="1.0.2-p1">Extract hook to own hook class.</log>
	<category>JavaScript</category>
	<author site="https://timsvensen.com/">Tim Svensen</author>
	<url>https://github.com/tsvensen</url>
	<license>MIT</license>
	<license>GPL 2</license>
	<files>
		<class>Hook/JS/jQuery/Equalize.php</class>
		<script load="auto">equalize.min.js</script>
		<script>equalize.js</script>
	</files>
	<config protected="no" type="boolean" name="auto">1</config>
	<config protected="no" type="string" name="auto.selector">.equalize-auto</config>
	<config protected="no" type="string" name="auto.dimension" values="height,innerHeight,outerHeight,width,innerWidth,outerWidth">height</config>
	<config protected="no" type="boolean" name="auto.reset">false</config>
	<hook type="resource" resource="Page" event="applyModules">Hook_JS_jQuery_Equalize::onPageApplyModules</hook>
</module>
