<?xml version="1.0"?>
<module>
	<title>UI: Bootstrap: Datepicker</title>
	<description><![CDATA[Datepicker for Bootstrap.

A datepicker for bootstrap forked from [Stefan Petre's](http://eyecon.ro/).
Improvements by [GitHub: eternicode](https://github.com/eternicode).

code>
Usage: $("#selector").datepicker({
	format: "mm/dd/yyyy",
	weekStart: 1,
	language: "de",
});
<code

For more options see [documentation](language)!

To apply automatically, extend HTML element by class "bs-datepicker-auto"
or whatever is configured to be the automatic selector (auto.selector).

]]></description>
	<category>User Interface</category>
	<version>1.5.1</version>
	<author site="http://eyecon.ro">Stefan Petre</author>
	<author site="https://github.com/eternicode">Andrew Rowls</author>
	<license source="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</license>
	<files>
		<style>bootstrap-datepicker3.css</style>
		<style>bootstrap-datepicker3.min.css</style>
		<style>bootstrap-datepicker3.standalone.css</style>
		<style>bootstrap-datepicker3.standalone.min.css</style>
		<style>bootstrap-datepicker.css</style>
		<style>bootstrap-datepicker.min.css</style>
		<style>bootstrap-datepicker.standalone.css</style>
		<style>bootstrap-datepicker.standalone.min.css</style>
		<script>bootstrap-datepicker.js</script>
		<script>bootstrap-datepicker.min.js</script>
		<script>locales/bootstrap-datepicker.ar.min.js</script>
		<script>locales/bootstrap-datepicker.az.min.js</script>
		<script>locales/bootstrap-datepicker.bg.min.js</script>
		<script>locales/bootstrap-datepicker.bs.min.js</script>
		<script>locales/bootstrap-datepicker.ca.min.js</script>
		<script>locales/bootstrap-datepicker.cs.min.js</script>
		<script>locales/bootstrap-datepicker.cy.min.js</script>
		<script>locales/bootstrap-datepicker.da.min.js</script>
		<script>locales/bootstrap-datepicker.de.min.js</script>
		<script>locales/bootstrap-datepicker.el.min.js</script>
		<script>locales/bootstrap-datepicker.en-GB.min.js</script>
		<script>locales/bootstrap-datepicker.eo.min.js</script>
		<script>locales/bootstrap-datepicker.es.min.js</script>
		<script>locales/bootstrap-datepicker.et.min.js</script>
		<script>locales/bootstrap-datepicker.eu.min.js</script>
		<script>locales/bootstrap-datepicker.fa.min.js</script>
		<script>locales/bootstrap-datepicker.fi.min.js</script>
		<script>locales/bootstrap-datepicker.fo.min.js</script>
		<script>locales/bootstrap-datepicker.fr-CH.min.js</script>
		<script>locales/bootstrap-datepicker.fr.min.js</script>
		<script>locales/bootstrap-datepicker.gl.min.js</script>
		<script>locales/bootstrap-datepicker.he.min.js</script>
		<script>locales/bootstrap-datepicker.hr.min.js</script>
		<script>locales/bootstrap-datepicker.hu.min.js</script>
		<script>locales/bootstrap-datepicker.hy.min.js</script>
		<script>locales/bootstrap-datepicker.id.min.js</script>
		<script>locales/bootstrap-datepicker.is.min.js</script>
		<script>locales/bootstrap-datepicker.it-CH.min.js</script>
		<script>locales/bootstrap-datepicker.it.min.js</script>
		<script>locales/bootstrap-datepicker.ja.min.js</script>
		<script>locales/bootstrap-datepicker.ka.min.js</script>
		<script>locales/bootstrap-datepicker.kh.min.js</script>
		<script>locales/bootstrap-datepicker.kk.min.js</script>
		<script>locales/bootstrap-datepicker.ko.min.js</script>
		<script>locales/bootstrap-datepicker.kr.min.js</script>
		<script>locales/bootstrap-datepicker.lt.min.js</script>
		<script>locales/bootstrap-datepicker.lv.min.js</script>
		<script>locales/bootstrap-datepicker.me.min.js</script>
		<script>locales/bootstrap-datepicker.mk.min.js</script>
		<script>locales/bootstrap-datepicker.mn.min.js</script>
		<script>locales/bootstrap-datepicker.ms.min.js</script>
		<script>locales/bootstrap-datepicker.nb.min.js</script>
		<script>locales/bootstrap-datepicker.nl-BE.min.js</script>
		<script>locales/bootstrap-datepicker.nl.min.js</script>
		<script>locales/bootstrap-datepicker.no.min.js</script>
		<script>locales/bootstrap-datepicker.pl.min.js</script>
		<script>locales/bootstrap-datepicker.pt-BR.min.js</script>
		<script>locales/bootstrap-datepicker.pt.min.js</script>
		<script>locales/bootstrap-datepicker.ro.min.js</script>
		<script>locales/bootstrap-datepicker.rs-latin.min.js</script>
		<script>locales/bootstrap-datepicker.rs.min.js</script>
		<script>locales/bootstrap-datepicker.ru.min.js</script>
		<script>locales/bootstrap-datepicker.sk.min.js</script>
		<script>locales/bootstrap-datepicker.sl.min.js</script>
		<script>locales/bootstrap-datepicker.sq.min.js</script>
		<script>locales/bootstrap-datepicker.sr-latin.min.js</script>
		<script>locales/bootstrap-datepicker.sr.min.js</script>
		<script>locales/bootstrap-datepicker.sv.min.js</script>
		<script>locales/bootstrap-datepicker.sw.min.js</script>
		<script>locales/bootstrap-datepicker.th.min.js</script>
		<script>locales/bootstrap-datepicker.tr.min.js</script>
		<script>locales/bootstrap-datepicker.uk.min.js</script>
		<script>locales/bootstrap-datepicker.vi.min.js</script>
		<script>locales/bootstrap-datepicker.zh-CN.min.js</script>
		<script>locales/bootstrap-datepicker.zh-TW.min.js</script>
	</files>
	<config protected="yes" type="boolean" name="active">1</config>
	<config protected="yes" type="boolean" name="auto">1</config>
	<config protected="yes" type="string" name="auto.selector">.bs-datepicker-auto</config>
<!--	<config protected="yes" type="string" name="language">auto</config>-->
	<config protected="yes" type="boolean" name="minified">1</config>
	<relations>
		<needs type="module">UI_Bootstrap</needs>
	</relations>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
$config		= $env->getConfig()->getAll( 'module.ui_bootstrap_datepicker.', TRUE );
if( $config->get( 'active' ) ){
	$page		= $env->getPage();
	$minified	= $config->get( 'minified' );
	$pathJs		= $this->config->get( 'path.scripts' );
	$pathCss	= $this->config->get( 'path.themes' ).'/'.$this->config->get( 'theme.custom' ).'/css/';
	$bsVersion	= 2;

	if( $minified ){
		$css	= $bsVersion > 2 ? 'bootstrap-datepicker3.min.css' : 'bootstrap-datepicker.min.css';
		$page->css->theme->addUrl( $pathCss.$css );
		$page->js->addUrl( $pathJs.'bootstrap-datepicker.min.js' );
	}
	else{
		$css	= $bsVersion > 2 ? 'bootstrap-datepicker3.css' : 'bootstrap-datepicker.css';
		$page->css->theme->addUrl( $pathCss.$css );
		$page->js->addUrl( $pathJs.'bootstrap-datepicker.js' );
	}

	$language	= $env->getLanguage()->getLanguage();
	if( $language != "en" ){
		$page->js->addUrl( $pathJs.'locales/bootstrap-datepicker.'.$language.'.min.js' );
	}
	$context->addBodyClass( 'uses-bootstrap-datepicker' );

	if( $config->get( 'auto' ) ){
		$script	= 'jQuery("'.$config->get( 'auto.selector' ).'").datepicker({language: "'.$language.'"});';
		$page->js->addScriptOnReady( $script );
	}
}
	]]></hook>
</module>
