<?xml version="1.0"?>
<module>
	<title>UI: Helper: Messenger: Bootstrap</title>
	<version>0.3</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>View/Helper/Messenger/Bootstrap.php5</class>
	</files>
	<relations>
		<needs type="module">UI_Bootstrap</needs>
	</relations>
</module>
