<?xml version="1.0"?>
<module>
	<title>UI: Helper: Messenger: Bootstrap</title>
	<description><![CDATA[

**Do not use with module UI:JS:Messenger.**

]]></description>
	<version>0.4.2</version>
	<log version="0.4.1">Add script from module UI:JS:Messenger.</log>
	<log version="0.4.2">Add sticky attribute to avoid automatic removal of message.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>View/Helper/Messenger/Bootstrap.php5</class>
		<script source="local" load="auto">UI.Messenger.js</script>
		<style source="theme" load="auto">messenger.bootstrap.css</style>
	</files>
	<config protected="no" type="integer" name="slideDown">500</config>
	<config protected="no" type="integer" name="slideUp">500</config>
	<config protected="no" type="integer" name="autoRemove">5000</config>
	<relations>
		<needs type="module">UI_Bootstrap</needs>
		<conflicts type="module">UI_JS_Messenger</conflicts>
	</relations>
</module>
