<?xml version="1.0"?>
<module>
	<title>UI: Indicator</title>
	<description><![CDATA[CSS-Support for UI_HTML_Indicator.]]></description>
	<category>User Interface</category>
	<version>0.2</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<script load="auto">UI.Indicator.js</script>
		<style source="theme" load="auto">indicator.css</style>
	</files>
</module>
