<?xml version="1.0"?>
<module>
	<title>UI: Helper: HTML</title>
	<description><![CDATA[
]]></description>
	<category>User Interface</category>
	<version>0.3</version>
	<files>
		<class>View/Helper/HTML.php5</class>
	</files>
	<relations/>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
new View_Helper_HTML;
]]></hook>
</module>
