<div id="layout-mail">
	<div id="layout-mail-header">
		<h1>My Project</h1>
		<div id="browser-link"><small class="muted">You can view a nicer version of this newsletter in your <a href="[#linkView]">browser</a>.</small></div>
	</div>
	<div id="layout-mail-content">
		<h2>[#nr#]: [#title#]</h2>
		[#content#]
	</div>
	<div id="layout-mail-footer">
		You, [#prefix#] [#firstname#] [#surname#], received this newsletter according to your registration on [#registerDate#] at [#registerTime#].<br/>
		If you don't want to receive this newsletters anymore, please <a href="[#linkUnregister#]" target="_blank">sign out</a>.<br/>
	</div>
	[#tracking#]
</div>
