<?xml version="1.0"?>
<module>
	<title>JS: TinyMCE</title>
	<description><![CDATA[WYSIWYG Editor.]]></description>
	<version>4.0.10-p7</version>
	<category>JavaScript</category>
	<company site="http://www.tinymce.com/">www.tinymce.com</company>
	<author><![CDATA[Moxiecode Systems AB]]></author>
	<license source="http://www.gnu.org/licenses/lgpl-2.1.html">LGPL 2.1</license>
	<files>
		<class>View/Helper/TinyMceResourceLister.php5</class>
		<script load="auto" source="lib">tinymce/4.0.10/tinymce.min.js</script>
		<style load="auto" source="theme">tinymce.css</style>
		<locale>de/js/tinymce.ini</locale>
		<locale>en/js/tinymce.ini</locale>
	</files>
	<config type="boolean" protected="no" name="auto">1</config>
	<config type="string" protected="no" name="auto.language" values="de,en">de</config>
	<config type="string" protected="no" name="auto.plugins">textcolor advlist autolink link image lists charmap print preview autosave code charmap hr paste searchreplace visualblocks wordcount visualchars table</config>
	<config type="string" protected="no" name="auto.selector">textarea.TinyMCE</config>
	<config type="string" protected="no" name="auto.tools">inserttable</config>
	<config type="string" protected="no" name="auto.baseUrl">./</config>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
$config	= $env->getConfig()->getAll( 'module.js_tinymce.', TRUE );

if( $config->get( 'auto' ) && $config->get( 'auto.selector' ) ){
	$helper	= new View_Helper_TinyMceResourceLister( $env );
	$script	= '
$(document).ready(function(){
	if($("settings.Module_JS_TinyMCE.auto_selector").size()){
		var listImages	= '.json_encode( $helper->getImageList() ).';
		var listLinks	= '.json_encode( $helper->getLinkList() ).';
		if(settings.Module_JS_TinyMCE.auto_selector){
			var options = {
				document_base_url: settings.Module_JS_TinyMCE.auto_baseUrl,
				selector: settings.Module_JS_TinyMCE.auto_selector,
				plugins: settings.Module_JS_TinyMCE.auto_plugins,
				language: settings.Module_JS_TinyMCE.auto_language,
				image_list: listImages,
				link_list: listLinks
			};
			if(settings.Module_JS_TinyMCE.auto_tools)
				options.tools = settings.Module_JS_TinyMCE.auto_tools;
			tinymce.init(options);
		}
	}
})';
	$context->js->addScript( $script );
}
	]]></hook>
</module>
