<?xml version="1.0"?>
<module>
	<title>JS: TinyMCE</title>
	<description><![CDATA[WYSIWYG Editor.]]></description>
	<version>4.1.10b9</version>
	<category>JavaScript</category>
	<company site="http://www.tinymce.com/">www.tinymce.com</company>
	<author><![CDATA[Moxiecode Systems AB]]></author>
	<license source="http://www.gnu.org/licenses/lgpl-2.1.html">LGPL 2.1</license>
	<files>
		<class>View/Helper/TinyMceResourceLister.php5</class>
		<style source="theme" load="auto">tinymce.css</style>
		<style source="theme">tinymce.content.css</style>
		<script source="local">TinyMCE.Config.js</script>
		<locale>de/js/tinymce.ini</locale>
		<locale>en/js/tinymce.ini</locale>
	</files>
	<config type="boolean" protected="no" name="auto">yes</config>
	<config type="integer" protected="no" name="auto.height">460</config>
	<config type="string" protected="no" name="auto.mode" values="default,extended,minimal">extended</config>
	<config type="string" protected="no" name="auto.plugins">textcolor advlist autolink link image lists charmap preview autosave code charmap hr paste searchreplace visualblocks wordcount visualchars table emoticons</config>
	<config type="string" protected="no" name="auto.selector">textarea.TinyMCE</config>
	<config type="string" protected="no" name="auto.toolbar.default">styleselect | fontselect | fontsizeselect | bold italic forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image</config>
	<config type="string" protected="no" name="auto.toolbar.extended">styleselect | fontselect | fontsizeselect | forecolor backcolor | bold italic underline | alignleft aligncenter alignright alignjustify # cut copy paste | link unlink image | bullist numlist outdent indent | table anchor charmap hr | undo redo | searchreplace visualblocks blockquote removeformat</config>
	<config type="string" protected="no" name="auto.toolbar.minimal">styleselect | bold italic underline | bullist numlist outdent indent | link image</config>
	<config type="string" protected="no" name="auto.tools">inserttable</config>
	<config type="string" protected="no" name="version" values="4.1.9,4.1.7,4.0.26,4.0.10,4.0.2">4.1.9</config>
	<relations>
		<supports type="module">Resource_Frontend</supports>
	</relations>
	<hook type="resource" resource="Page" event="applyModules">View_Helper_TinyMceResourceLister::___onPageApplyModules</hook>
</module>
