<?xml version="1.0"?>
<module>
	<title>UI:CSS: Columns</title>
	<description><![CDATA[Basic styling for columns.]]></description>
	<category>User Interface</category>
	<version>0.1</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<style load="auto">layout.column.css</style>
	</files>
</module>
