<?xml version="1.0"?>
<module>
	<title>UI: Helper: Input: File</title>
	<description><![CDATA[Replacement for HTML file input.]]></description>
	<category>User Interface</category>
	<version>0.2.4</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Improved scalability.</log>
	<log version="0.2.2">Extended rendered output by container.</log>
	<log version="0.2.3">Add parameter for being mandatory or not.</log>
	<log versino="0.2.4">Add reference to module Resource:Upload.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>View/Helper/Input/File.php5</class>
		<script load="auto">module.ui.helper.input.fileupload.js</script>
		<style load="auto">module.ui.helper.input.fileupload.css</style>
	</files>
	<relations>
		<needs type="module">UI_Bootstrap</needs>
		<needs type="module">Resource_Upload</needs>
	</relations>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
		$context->js->addScriptOnReady( 'setupInputFileUpload()' );
	]]></hook>
</module>

