<?xml version="1.0"?>
<module>
	<title>Info: Files</title>
	<description><![CDATA[]]></description>
	<category>Info</category>
	<version>0.3.3</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydroge module.</log>
	<log version="0.2.1">Added support for news list via hook.</log>
	<log version="0.3">Apply module UI:CSS:Panel.</log>
	<log version="0.3.1">Use module UI:Helper:Input:File.</log>
	<log version="0.3.2">Start implementing a file view.</log>
	<log version="0.3.3">Support module Info:Novelties.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>Controller/Info/File.php5</class>
		<class>View/Info/File.php5</class>
		<class>Model/Download/File.php5</class>
		<class>Model/Download/Folder.php5</class>
		<locale>de/info/file.ini</locale>
		<locale>de/html/info/file/index.bottom.html</locale>
		<locale>de/html/info/file/index.top.html</locale>
		<template>info/file/index.php</template>
		<template>info/file/index.folder.php</template>
		<template>info/file/index.info.php</template>
		<template>info/file/index.scan.php</template>
		<template>info/file/index.upload.php</template>
		<style>module.info.files.css</style>
		<script load="auto">InfoFile.js</script>
		<file>contents/files/.htaccess</file>
	</files>
	<config protected="yes" type="string" name="path">contents/files/</config>
	<link xml:lang="de" access="acl" rank="21" path="info/file">Dateien</link>
	<link xml:lang="en" access="acl" rank="21" path="info/file">Files</link>
	<relations>
		<needs type="module">UI_Bootstrap</needs>
		<needs type="module">UI_Helper_TimePhraser</needs>
		<needs type="module">UI_Helper_Input_File</needs>
	</relations>
	<hook type="resource" resource="Page" event="collectNews">Controller_Info_File::___onPageCollectNews</hook>
	<hook type="resource" resource="Novelties" event="collect">Controller_Info_File::___onCollectNovelties</hook>
	<sql on="install" type="mysql" version="0.1"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>download_files`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>download_files` (
  `downloadFileId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `downloadFolderId` int(10) unsigned NOT NULL,
  `rank` smallint(6) NOT NULL,
  `title` varchar(200) COLLATE utf8_unicode_ci NOT NULL,
  `description` text COLLATE utf8_unicode_ci NOT NULL,
  `nrDownloads` smallint(5) unsigned NOT NULL,
  `uploadedAt` decimal(12,0) unsigned NOT NULL,
  `downloadedAt` decimal(12,0) unsigned DEFAULT '0',
  PRIMARY KEY (`downloadFileId`),
  KEY `downloadFolderId` (`downloadFolderId`),
  KEY `rank` (`rank`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>download_folders`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>download_folders` (
  `downloadFolderId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `parentId` int(10) unsigned NOT NULL,
  `type` tinyint(1) unsigned NOT NULL,
  `rank` smallint(5) unsigned NOT NULL,
  `title` varchar(200) COLLATE utf8_unicode_ci NOT NULL,
  `description` text COLLATE utf8_unicode_ci NOT NULL,
  `nrFolders` smallint(5) unsigned DEFAULT '0',
  `nrFiles` smallint(5) unsigned DEFAULT '0',
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned DEFAULT '0',
  PRIMARY KEY (`downloadFolderId`),
  KEY `parentId` (`parentId`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="update" type="mysql" version="0.2.9"><![CDATA[
ALTER TABLE `<%?prefix%>download_files` ADD  `size` INT UNSIGNED NOT NULL AFTER  `rank`;
ALTER TABLE `<%?prefix%>download_files` ADD INDEX ( `title` );
ALTER TABLE `<%?prefix%>download_folders` ADD INDEX ( `type` );
ALTER TABLE `<%?prefix%>download_folders` ADD INDEX ( `rank` );
ALTER TABLE `<%?prefix%>download_folders` ADD INDEX ( `title` );
]]></sql>
</module>
