<?xml version="1.0"?>
<module>
	<title>UI: Layout: Footer</title>
	<description><![CDATA[]]></description>
	<category>User Interface</category>
	<version>0.2</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>View/Helper/Footer.php5</class>
		<style source="theme" load="auto" level="end">layout.footer.css</style>
	</files>
	<relations/>
	<hook type="resource" resource="Page" event="build">View_Helper_Footer::___onPageBuild</hook>
</module>
