div.CodeMirror{
	border: 1px solid gray;
	border-radius: 5px;
	background-color: #FFFFFF;
	font-size: 0.9em;
	line-height: 1.25em;
/*	box-shadow: 1px 1px 2px gray;
*/	}
div.CodeMirror,
div.CodeMirror-scroll {
/*	height: 100%;
	min-height: 300px;
	max-height: 450px;
*/	}
div.CodeMirror-lines pre{
	}
div.CodeMirror-lines span.cm-tab{
	background-image: url(../img/bg_code_tab.png);
	background-repeat: no-repeat;
	background-position: 1px 6px;
	}

div.CodeMirror.changed {
	background-color: #FFF7CF;
	}
div.CodeMirror-fullscreen,
body.uses-bootstrap div.CodeMirror-fullscreen {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	z-index: 9999;
	margin: 0px !important;
	border: 0px !important;
	box-shadow: none !important;
	overflow: hidden !important;
	}

/*  --  BOOTSTRAP EXTENSION  --  */
body.uses-bootstrap div.CodeMirror {
	border: 1px solid rgb(204, 204, 204);
	margin: 2px 2px 5px 1px;
	font-size: 0.9em;
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
body.uses-bootstrap div.CodeMirror-focused {
	border-color: rgba(82,168,236,0.8);
	outline: 0;
	outline: thin dotted 9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	}
textarea.CodeMirror {
		height: auto;
	}