<?xml version="1.0"?>
<module>
	<title>Manage: My: Orders</title>
	<description><![CDATA[]]></description>
	<category>Management</category>
	<version>0.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>Controller/Manage/My/Order.php</class>
		<class>View/Manage/My/Order.php</class>
		<template>manage/my/order/index.php</template>
		<template>manage/my/order/view.php</template>
	</files>
	<relations/>
</module>
