<?xml version="1.0"?>
<module>
	<title>Users</title>
	<description>Basic user support and management.</description>
	<version>0.2</version>
	<links>
		<class>Controller/Manage/User.php5</class>
		<class>Model/User.php5</class>
		<class>View/Manage/User.php5</class>
		<locale>de/manage/user.ini</locale>
		<template>manage/user/add.php</template>
		<template>manage/user/edit.php</template>
		<template>manage/user/index.php</template>
		<template>manage/user/index.filter.php</template>
		<template>manage/user/index.list.php</template>
		<style>site.user.css</style>
	</links>
</module>

