<?xml version="1.0"?>
<module>
	<title>Users</title>
	<description>Basic user support and administration.</description>
	<category>Administration</category>
	<version>0.3</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Admin/User.php5</class>
		<class>Model/User.php5</class>
		<class>View/Admin/User.php5</class>
		<locale>de/admin/user.ini</locale>
		<template>admin/user/add.php</template>
		<template>admin/user/edit.php</template>
		<template>admin/user/index.php</template>
		<template>admin/user/index.filter.php</template>
		<template>admin/user/index.list.php</template>
		<style>site.user.css</style>
	</files>
	<relations>
		<needs type="module">Resource_Database</needs>
		<needs type="module">Roles</needs>
	</relations>
	<config type="integer" name="status.register" protected="yes">1</config>						; user status to be set on register, set to 1 for "auto active"
	<config type="integer" name="name.length.min">3</config>										; lowest number of name characters
	<config type="integer" name="name.length.max">17</config>										; highest number of name characters
	<config type="string"  name="name.preg">/[a-z][a-z0-9_-]/i</config>								; regular expression to match with username
	<config type="integer" name="password.length.min">3</config>									; lowest number of password characters
	<config type="integer" name="password.strength.min">0</config>									; highest number of password characters
	<config type="string" name="password.salt" protected="yes"></config>							; string to salt password with
	<config type="boolean" name="email.mandatory">no</config>										; user needs a mail address on register and change
	<config type="boolean" name="firstname.mandatory">no</config>									; user needs a firstname
	<config type="boolean" name="surname.mandatory">no</config>										; user needs a surname
	<link xml:lang="de" access="acl" path="admin/user" rank="60">Benutzer</link>
	<link xml:lang="en" access="acl" path="admin/user" rank="60">Users</link>
	<sql on="install" type="mysql"><![CDATA[

SET SQL_MODE="NO_AUTO_VALUE_ON_ZERO";

DROP TABLE IF EXISTS `<%?prefix%>users`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>users` (
  `userId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `roleId` int(11) unsigned DEFAULT NULL,
  `companyId` int(11) unsigned NOT NULL,
  `roomId` int(11) unsigned NOT NULL,
  `status` tinyint(1) NOT NULL,
  `email` varchar(200) COLLATE utf8_unicode_ci DEFAULT NULL,
  `username` varchar(30) COLLATE utf8_unicode_ci NOT NULL,
  `password` varchar(32) COLLATE utf8_unicode_ci NOT NULL,
  `gender` tinyint(1) unsigned NOT NULL DEFAULT '0',
  `salutation` varchar(20) COLLATE utf8_unicode_ci DEFAULT NULL,
  `firstname` varchar(100) COLLATE utf8_unicode_ci DEFAULT NULL,
  `surname` varchar(100) COLLATE utf8_unicode_ci DEFAULT NULL,
  `postcode` varchar(10) COLLATE utf8_unicode_ci DEFAULT NULL,
  `city` varchar(200) COLLATE utf8_unicode_ci DEFAULT NULL,
  `street` varchar(200) COLLATE utf8_unicode_ci DEFAULT NULL,
  `number` varchar(100) COLLATE utf8_unicode_ci DEFAULT NULL,
  `phone` varchar(100) COLLATE utf8_unicode_ci DEFAULT NULL,
  `fax` varchar(100) COLLATE utf8_unicode_ci DEFAULT NULL,
  `createdAt` decimal(12,0) NOT NULL,
  `modifiedAt` decimal(12,0) DEFAULT NULL,
  `loggedAt` decimal(12,0) DEFAULT NULL,
  `activeAt` decimal(12,0) DEFAULT NULL,
  PRIMARY KEY (`userId`),
  KEY `roleId` (`roleId`),
  KEY `status` (`status`),
  KEY `email` (`email`),
  KEY `username` (`username`),
  KEY `gender` (`gender`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=1 ;

]]>
	</sql>
	<sql on="install" type="sqlite"><![CDATA[
DROP TABLE IF EXISTS "<%?prefix%>users";
CREATE TABLE "<%?prefix%>users" (
	"userId" INTEGER PRIMARY KEY  AUTOINCREMENT  NOT NULL ,
	"roleId" INTEGER,
	"status" INTEGER,
	"username" VARCHAR,
	"password" VARCHAR,
	"email" VARCHAR,
	"gender" INTEGER,
	"salutation" VARCHAR,
	"firstname" VARCHAR,
	"surname" VARCHAR,
	"postcode" VARCHAR,
	"city" VARCHAR,
	"street" VARCHAR,
	"number" VARCHAR,
	"phone" VARCHAR,
	"fax" VARCHAR,
	"createdAt" DECIMAL,
	"modifiedAt" DECIMAL,
	"loggedAt" DECIMAL,
	"activeAt" DECIMAL
	);

]]>
	</sql>
	
	<sql on="uninstall" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>users`;
]]>
	</sql>
	<sql on="uninstall" type="sqlite"><![CDATA[
DROP TABLE IF EXISTS "<%?prefix%>users";
]]>
	</sql>
</module>

