<?xml version="1.0"?>
<module>
	<title>Work: Timer</title>
	<description><![CDATA[Time tracking extension for Work:Missions.]]></description>
	<category>Work</category>
	<version>0.6.2</version>
	<log version="0.1">Initial prototype of module.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.2">Remove releation to Resource_Library_cmModules.</log>
	<log version="0.3">Finish basic idea.</log>
	<log version="0.3.1">Move filter and list to archive.</log>
	<log version="0.3.2">Add tabs.</log>
	<log version="0.3.3">Provide helpers for integration.</log>
	<log version="0.3.4">Improve lists.</log>
	<log version="0.3.5">Extract logic from controller to new logic class.</log>
	<log version="0.3.6">Extend list helper by buttons and flexibility.</log>
	<log version="0.3.7">Prepare timer description.</log>
	<log version="0.3.8">Add description.</log>
	<log version="0.3.9">Finish view design.</log>
	<log version="0.4">Support several related modules.</log>
	<log version="0.4.1">Migrate to full related modules support.</log>
	<log version="0.4.2">Add worker user ID to timer model and forms.</log>
	<log version="0.4.3">Split timer seconds into planned and needed.</log>
	<log version="0.4.4">Improve timer status handling.</log>
	<log version="0.4.5">Pause user timer on logout using hook Auth::onBeforeLogout.</log>
	<log version="0.4.6">Call hooks if timer is started, paused or stopped.</log>
	<log version="0.4.7">Support multiple running timers in one view.</log>
	<log version="0.4.8">Apply owner and worker rights on status buttons.</log>
	<log version="0.5">Add new tab for analysis.</log>
	<log version="0.5.1">Finish analysis tab.</log>
	<log version="0.5.2">Support hook Project::onRemove.</log>
	<log version="0.5.3">Support hook Dashboard::renderPanels.</log>
	<log version="0.5.4">Load script str_pad automatically.</log>
	<log version="0.5.5">Add dashboard panels.</log>
	<log version="0.5.6">Upgrade support for new dasboard module.</log>
	<log version="0.5.7">Remove support for old dasboard module.</log>
	<log version="0.5.8">Extract template parts to own template files.</log>
	<log version="0.5.9">Add modal to assign unrelated timers.</log>
	<log version="0.6">Upgrade short list.</log>
	<log version="0.6.1">Adjust to changes of CeusMedia:Database.</log>
	<log version="0.6.2">Import from protected SVN repository.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Work/Time.php5</class>
		<class>Controller/Work/Time/Analysis.php5</class>
		<class>Controller/Work/Time/Archive.php5</class>
		<class>Logic/Work/Timer.php5</class>
		<class>Model/Work/Timer.php5</class>
		<class>View/Helper/Work/Time.php5</class>
		<class>View/Helper/Work/Time/Dashboard/My.php5</class>
		<class>View/Helper/Work/Time/Dashboard/Others.php5</class>
		<class>View/Helper/Work/Time/Buttons.php5</class>
		<class>View/Helper/Work/Time/ShortList.php5</class>
		<class>View/Helper/Work/Time/Timer.php5</class>
		<class>View/Helper/Work/Time/Modal/Add.php5</class>
		<class>View/Helper/Work/Time/Modal/Assign.php5</class>
		<class>View/Work/Time.php5</class>
		<class>View/Work/Time/Analysis.php5</class>
		<class>View/Work/Time/Archive.php5</class>
		<locale>de/work/time.ini</locale>
		<locale>de/work/time/analysis.ini</locale>
		<locale>de/work/time/archive.ini</locale>
		<template>work/time/add.php</template>
		<template>work/time/edit.php</template>
		<template>work/time/edit.related.php</template>
		<template>work/time/index.php</template>
		<template>work/time/index.active.php</template>
		<template>work/time/index.done.php</template>
		<template>work/time/index.new.php</template>
		<template>work/time/index.paused.php</template>
		<template>work/time/index.unrelated.php</template>
		<template>work/time/analysis/index.php</template>
		<template>work/time/analysis/index.filter.php</template>
		<template>work/time/analysis/index.list.php</template>
		<template>work/time/archive/index.php</template>
		<template>work/time/archive/index.filter.php</template>
		<template>work/time/archive/index.list.php</template>
		<script load="auto">str_pad.js</script>
		<script load="auto">work.timer.js</script>
		<style load="auto">module.work.timer.css</style>
	</files>
	<relations>
		<needs type="module">Manage_Projects</needs>
		<needs type="module">Work_Missions</needs>
		<needs type="module">Resource_Users</needs>
		<needs type="module">UI_Bootstrap</needs>
	</relations>
	<link xml:lang="de" access="acl" path="work/time" rank="55">Zeiterfassung</link>
	<link xml:lang="en" access="acl" path="work/time" rank="55">Time Tracking</link>
	<hook type="resource" resource="WorkTime" event="registerTabs">View_Work_Time::___onRegisterTab</hook>
	<hook type="resource" resource="WorkTime" event="registerTabs">View_Work_Time_Archive::___onRegisterTab</hook>
	<hook type="resource" resource="WorkTime" event="registerTabs">View_Work_Time_Analysis::___onRegisterTab</hook>
	<hook type="resource" resource="Env" event="init">View_Helper_Work_Time_Timer::___onCallForModules</hook>
	<hook type="resource" resource="Auth" event="onBeforeLogout">Controller_Work_Time::___onBeforeLogout</hook>
	<hook type="resource" resource="Project" event="onRemove">Controller_Work_Time::___onProjectRemove</hook>
	<hook type="resource" resource="Dashboard" event="registerPanels">Controller_Work_Time::___onRegisterDashboardPanels</hook>
	<sql type="mysql" on="install" version="0.1"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>work_timers`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>work_timers` (
  `workTimerId` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `userId` int(11) unsigned NOT NULL,
  `projectId` int(11) unsigned NOT NULL,
  `module` varchar(50) COLLATE utf8_unicode_ci NOT NULL,
  `moduleId` int(11) unsigned NOT NULL,
  `status` tinyint(1) NOT NULL,
  `seconds` decimal(12,0) unsigned NOT NULL,
  `title` varchar(250) COLLATE utf8_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8_unicode_ci,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`workTimerId`),
  KEY `userId` (`userId`),
  KEY `projectId` (`projectId`),
  KEY `missionId` (`moduleId`),
  KEY `status` (`status`),
  KEY `seconds` (`seconds`),
  KEY `title` (`title`),
  KEY `module` (`module`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql type="mysql" on="update" version="0.4.2"><![CDATA[
DROP INDEX `seconds` ON `<%?prefix%>work_timers`;
ALTER TABLE `<%?prefix%>work_timers` ADD `workerId` INT(11) UNSIGNED NOT NULL AFTER `projectId`, ADD INDEX (`workerId`) ;
ALTER TABLE `<%?prefix%>work_timers` CHANGE `seconds` `secondsNeeded` DECIMAL(12,0) UNSIGNED NOT NULL;
ALTER TABLE `<%?prefix%>work_timers` ADD `secondsPlanned` DECIMAL(12,0) UNSIGNED NOT NULL AFTER `status`;
]]></sql>
	<sql type="mysql" on="uninstall"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>work_timers`;
]]></sql>
</module>
