<?xml version="1.0"?>
<module>
	<title>Info: Downloads</title>
	<description><![CDATA[
Simple frontend view of downloadable files, provided by module Resource:Downloads and managed by module Manage:Downloads.

Can be replaced by module Info:Files, which adds management to frontend, based on role rights.
]]></description>
	<category>Info</category>
	<version>0.4.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Added support for news list via hook.</log>
	<log version="0.3">Apply module UI:CSS:Panel.</log>
	<log version="0.3.1">Use module UI:Helper:Input:File.</log>
	<log version="0.3.2">Start implementing a file view.</log>
	<log version="0.3.3">Support module Info:Novelties.</log>
	<log version="0.3.4">Renamed from module Info:Files to Info:Downloads.</log>
	<log version="0.3.5">Use module Resource:Upload.</log>
	<log version="0.3.6">Replace CDN resource.</log>
	<log version="0.3.7">Added English Localization Files.</log>
	<log version="0.3.8">Update code style.</log>
	<log version="0.3.9">Extract hooks to own class.</log>
	<log version="0.4.0">Migration to PHP 8.</log>
	<log version="0.4.1">Strict types.</log>
	<log version="0.4.2">Extracted logic and models to new Module Resource:Downloads.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>Controller/Info/Download.php</class>
		<class>View/Info/Download.php</class>
		<locale>de/info/download.ini</locale>
		<locale>de/html/info/download/index.bottom.html</locale>
		<locale>de/html/info/download/index.top.html</locale>
		<locale>en/info/download.ini</locale>
		<locale>en/html/info/download/index.bottom.html</locale>
		<locale>en/html/info/download/index.top.html</locale>
		<template>info/download/index.php</template>
		<template>info/download/index.info.php</template>
		<style>module.info.downloads.css</style>
		<script load="auto">module.info.downloads.js</script>
	</files>
	<config protected="yes" type="string" name="path">contents/downloads/</config>
	<link xml:lang="de" access="acl" rank="21" path="info/download">Downloads</link>
	<link xml:lang="en" access="acl" rank="21" path="info/download">Downloads</link>
	<link access="acl" path="info/download/deliver"></link>
	<link access="acl" path="info/download/download"></link>
	<relations>
		<needs type="module">Resource_Database</needs>
		<needs type="module">UI_Bootstrap</needs>
		<needs type="module">UI_Helper_TimePhraser</needs>
	</relations>
	<hook type="resource" resource="Page" event="collectNews">Controller_Info_Download::___onPageCollectNews</hook>
	<hook type="resource" resource="Novelties" event="collect">Controller_Info_Download::___onCollectNovelties</hook>
</module>
