<?xml version="1.0"?>
<module>
	<title>Manage: Blog</title>
	<description><[CDATA[Simple blog management.]]</description>
	<category>Management</category>
	<version>0.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Manage/Blog.php5</class>
		<class>Model/Blog/Category.php5</class>
		<class>Model/Blog/Comment.php5</class>
		<class>Model/Blog/Post.php5</class>
		<class>View/Manage/Blog.php5</class>
		<locale>de/manage/blog.ini</locale>
		<template>manage/blog/add.php</template>
		<template>manage/blog/edit.php</template>
		<template>manage/blog/index.php</template>
		<template>manage/blog/index.filter.php</template>
		<template>manage/blog/index.list.php</template>
		<style>module.manage.blog.css</style>
	</files>
	<relations>
		<needs type="module">Resource_Users</needs>
	</relations>
	<link xml:lang="de" access="acl" path="manage/blog">Blog</link>
	<link xml:lang="de" access="acl" path="manage/blog/edit"/>
</module>
