<?xml version="1.0"?>
<module>
	<title>Resource: Authentication</title>
	<description><![CDATA[Module for authentication against local database using the Users module.

**Attention:**
Basic Authentication will not work, if PHP is integrated into Apache via CGI/FastCGI.
The reason: Authorisation headers will not be included automatically.
You need to set this header in your Apache configuration. For example in .htaccess:
<code>SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0</code>

]]></description>
	<version>0.6.20</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.3">Added text block support for every page (german only).</log>
	<log version="0.4">Added support for HTTP basic authentication.</log>
	<log version="0.4.1">Added support for password salt.</log>
	<log version="0.5">Refactored JavaScript for auto logout and session refresh.</log>
	<log version="0.5.1">Made session refresh and its interval (in seconds) configurable.</log>
	<log version="0.5.2">Made auto logout and its timeout (in seconds) configurable.</log>
	<log version="0.5.3">Allow user configuration to configure auto logout.</log>
	<log version="0.5.4">Added AJAX method to check username existance (used on registration).</log>
	<log version="0.5.5">Added support to forward to a controller action on logout.</log>
	<log version="0.5.6">Fixed logout loop.</log>
	<log version="0.5.7">Force to reload page if session refresh indicates expired server session.</log>
	<log version="0.5.8">Updated registration form for error handling or preset information.</log>
	<log version="0.5.9">Provide current user ID to Auth script on init by hook.</log>
	<log version="0.5.10">Let the framework run the initial JavaScript code.</log>
	<log version="0.5.11">Moved HTML files to subfolders.</log>
	<log version="0.5.12">Added support for module Security:CSRF.</log>
	<log version="0.5.13">Allow to remembered login using cookies.</log>
	<log version="0.5.14">Add configuration for remembered login.</log>
	<log version="0.5.15">Use newer password hash for remembered login.</log>
	<log version="0.5.16">Support CGI/FastCGI for Basic Authentication.</log>
	<log version="0.6">Migrate registration to Bootstrap, add logic class and cleanup.</log>
	<log version="0.6.1">Migrate confirmation to Bootstrap.</log>
	<log version="0.6.2">Implement check of user name by regular expression.</log>
	<log version="0.6.3">Implement check of password length and strength.</log>
	<log version="0.6.4">Improve registration mail and handling of mail failure.</log>
	<log version="0.6.5">Carry source URL through registration/confirmation/login process.</log>
	<log version="0.6.6">Migrate password recovery.</log>
	<log version="0.6.7">Add english HTML and mail files.</log>
	<log version="0.6.8">Translated language file.</log>
	<log version="0.6.9">Add empty terms and conditions in HTML and Markdown.</log>
	<log version="0.6.10">Added support for auto forward after login and on index.</log>
	<log version="0.6.11">Changed support for auto forward after logout.</log>
	<log version="0.6.12">Removed old loginInside action and view.</log>
	<log version="0.6.13">Added flag to allow or deny registration.</log>
	<log version="0.6.14">Lay mails on queue but send immediately.</log>
	<log version="0.6.15">Finish localization.</log>
	<log version="0.6.16">Rearrange templates and text blocks.</log>
	<log version="0.6.17">Extend logic by role related methods.</log>
	<log version="0.6.18">No auto logout if user is remembered.</log>
	<log version="0.6.19">Extract login form into own template.</log>
	<log version="0.6.20">Add new method checkPassword.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian Würker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Auth.php5</class>
		<class>Mail/Auth/Register.php5</class>
		<class>Mail/Auth/Password.php5</class>
		<class>View/Auth.php5</class>
		<class>BasicAuthentication.php5</class>
		<class>Logic/Authentication.php5</class>
		<template>auth/confirm.php</template>
		<template>auth/login.php</template>
		<template>auth/login.form.php</template>
		<template>auth/password.php</template>
		<template>auth/register.php</template>
		<locale>de/auth.ini</locale>
		<locale>de/html/auth/confirm/top.html</locale>
		<locale>de/html/auth/confirm/info.html</locale>
		<locale>de/html/auth/confirm/bottom.html</locale>
		<locale>de/html/auth/login/top.html</locale>
		<locale>de/html/auth/login/info.html</locale>
		<locale>de/html/auth/login/bottom.html</locale>
		<locale>de/html/auth/password/top.html</locale>
		<locale>de/html/auth/password/info.html</locale>
		<locale>de/html/auth/password/bottom.html</locale>
		<locale>de/html/auth/register/top.html</locale>
		<locale>de/html/auth/register/info.html</locale>
		<locale>de/html/auth/register/bottom.html</locale>
		<locale>de/html/auth/tac.html</locale>
		<locale>de/html/auth/tac.md</locale>
		<locale>de/mail/auth/register.txt</locale>
		<locale>de/mail/auth/password.txt</locale>
		<locale>en/auth.ini</locale>
		<locale>en/html/auth/login/top.html</locale>
		<locale>en/html/auth/login/info.html</locale>
		<locale>en/html/auth/login/bottom.html</locale>
		<locale>en/html/auth/confirm/top.html</locale>
		<locale>en/html/auth/confirm/info.html</locale>
		<locale>en/html/auth/confirm/bottom.html</locale>
		<locale>en/html/auth/password/top.html</locale>
		<locale>en/html/auth/password/info.html</locale>
		<locale>en/html/auth/password/bottom.html</locale>
		<locale>en/html/auth/register/top.html</locale>
		<locale>en/html/auth/register/info.html</locale>
		<locale>en/html/auth/register/bottom.html</locale>
		<locale>en/html/auth/tac.html</locale>
		<locale>en/html/auth/tac.md</locale>
		<locale>en/mail/auth/register.txt</locale>
		<locale>en/mail/auth/password.txt</locale>
		<style source="theme">module.resource.auth.css</style>
		<script load="auto">Auth.js</script>
	</files>
	<config protected="yes" type="string" name="login.forward.path"></config>
	<config protected="yes" type="boolean" name="login.forward.force">no</config>
	<config protected="yes" type="boolean" name="login.remember">yes</config>
	<config protected="user" type="boolean" name="logout.auto">yes</config>
	<config protected="user" type="integer" name="logout.auto.minutes">30</config>
	<config protected="yes" type="boolean" name="logout.clearSession">yes</config>
	<config protected="yes" type="string" name="logout.forward.path"></config>
	<config protected="yes" type="boolean" name="logout.forward.force">no</config>
	<config protected="no" type="boolean" name="register">yes</config>
	<config protected="no" type="boolean" name="session.refresh">yes</config>
	<config protected="no" type="integer" name="session.refresh.minutes">10</config>
	<relations>
		<needs type="module">Resource_Users</needs>
		<needs type="module">Resource_Mail</needs>
		<needs type="module">UI_Helper_HTML</needs>
		<supports type="module">Security_CSRF</supports>
		<supports type="module">UI_Markdown</supports>
	</relations>
	<link xml:lang="de" rank="10" access="outside" path="auth/login">Login</link>
	<link xml:lang="de" rank="11" access="outside" path="auth/password">Passwort</link>
	<link xml:lang="de" rank="12" access="outside" path="auth/register">Registrieren</link>
	<link xml:lang="de" rank="13" access="outside" path="auth/confirm">Konto bestätigen</link>
	<link xml:lang="de" rank="99" access="inside" path="auth/logout">Logout</link>
	<link xml:lang="en" rank="10" access="outside" path="auth/login">Login</link>
	<link xml:lang="en" rank="11" access="outside" path="auth/password">Password</link>
	<link xml:lang="en" rank="12" access="outside" path="auth/register">Rgister Account</link>
	<link xml:lang="en" rank="13" access="outside" path="auth/confirm">Confirm Account</link>
	<link xml:lang="en" rank="99" access="inside" path="auth/logout">Logout</link>
	<link rank="99" access="public" path="auth/ajaxEmailExists"></link>
	<link rank="99" access="public" path="auth/ajaxIsAuthenticated"></link>
	<link rank="99" access="public" path="auth/ajaxPasswordStrength"/>
	<link rank="99" access="public" path="auth/ajaxRefreshSession"></link>
	<link rank="99" access="public" path="auth/ajaxUsernameExists"></link>
	<link rank="99" access="public" path="auth/index"></link>
	<hook type="resource" resource="Page" event="applyModules">Controller_Auth::___onPageApplyModules</hook>
</module>
