<?xml version="1.0"?>
<module>
	<title>Tools: Index</title>
	<description><![CDATA[Calculator.]]></description>
	<version>0.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<category>Tools</category>
	<files>
		<class>Controller/Tool/Calculator.php5</class>
		<class>Model/Calculator/Addition.php5</class>
		<class>Model/Calculator/Division.php5</class>
		<class>Model/Calculator/Math.php5</class>
		<class>Model/Calculator/Multiplication.php5</class>
		<class>Model/Calculator/Number.php5</class>
		<class>Model/Calculator/Operator.php5</class>
		<class>Model/Calculator/Parenthesis.php5</class>
		<class>Model/Calculator/Power.php5</class>
		<class>Model/Calculator/Stack.php5</class>
		<class>Model/Calculator/Subtraction.php5</class>
		<class>Model/Calculator/TerminalExpression.php5</class>
		<class>View/Helper/Tool/Calculator.php5</class>
		<class>View/Tool/Calculator.php5</class>
		<template>tool/calculator/index.php</template>
		<script load="auto">module.tool.calculator.js</script>
		<style load="auto">module.tool.calculator.css</style>
	</files>
	<link access="public">tool/calculator/index</link>
	<hook env="resource" resource="Page" event="build">View_Tool_Calculator::___onPageBuild</hook>
</module>
