<?xml version="1.0"?>
<module>
	<title>UI: Helper: Content</title>
	<description><![CDATA[Content converter and format helper.]]></description>
	<category>User Interface</category>
	<version>0.2.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Replace CDN resource.</log>
	<log version="0.2.2">Extract hook to own class.</log>
	<files>
		<class>Hook/UI/Helper/Content.php</class>
		<class>View/Helper/ContentConverter.php</class>
		<style source="theme" load="auto">links.css</style>
		<image source="theme">icons/wikipedia.png</image>
		<image source="theme">icons/youtube.png</image>
		<image source="theme">icons/google.png</image>
		<image source="theme">icons/imdb.png</image>
		<image source="theme">icons/discogs.png</image>
		<image source="theme">icons/myspace.png</image>
	</files>
	<config protected="yes" type="boolean" name="register.breaks">1</config>
	<config protected="yes" type="boolean" name="register.code">1</config>
	<config protected="yes" type="boolean" name="register.currencies">1</config>
	<config protected="yes" type="boolean" name="register.links">1</config>
	<config protected="yes" type="boolean" name="register.links.wiki">1</config>
	<config protected="yes" type="boolean" name="register.links.youtube">1</config>
	<config protected="yes" type="boolean" name="register.links.imdb">1</config>
	<config protected="yes" type="boolean" name="register.links.discogs">1</config>
	<config protected="yes" type="boolean" name="register.links.myspace">1</config>
	<config protected="yes" type="boolean" name="register.links.map">1</config>
	<config protected="yes" type="boolean" name="register.lists">1</config>
	<config protected="yes" type="boolean" name="register.search.image">1</config>
	<config protected="yes" type="boolean" name="register.search.map">1</config>
	<config protected="yes" type="boolean" name="register.text">1</config>
	<relations/>
	<hook type="resource" resource="Page" event="applyModules">Hook_UI_Helper_Content::onPageApplyModules</hook>
</module>
