#manageMyUserModuleSettings tr.changed {
	background-color: #DFFFDF; 
	}
#manageMyUserModuleSettings tr.modified {
	background-color: #FFFFBF; 
	}
#manageMyUserModuleSettings legend.config {
	background-image: url(http://img.int1a.net/famfamfam/silk/wrench.png);
	}
#manageMyUserModuleSettings table th {
	text-align: left;
	}
#manageMyUserModuleSettings table td {
	border-top: 1px solid #DFDFDF;
	font-size: 0.9em;
	vertical-align: middle;
	}
#manageMyUserModuleSettings table td.input,
#manageMyUserModuleSettings table td.input {
/*	text-align: right;
*/	font-size: 1em;
	margin-bottom: 1px;
	}
#manageMyUserModuleSettings table span.button-reset {
	float: right;
	}
#manageMyUserModuleSettings span.suffix {
	margin-left: 0.5em;
	}
