#manageMyUserModuleSettings div.changed,
#manageMyUserModuleSettings .changed input,
#manageMyUserModuleSettings .changed select,
#manageMyUserModuleSettings .changed textarea {
	background-color: #DFFFDF; 
	}
#manageMyUserModuleSettings .modified {
	background-color: #FFFFBF; 
	}
#manageMyUserModuleSettings div.input-append,
#manageMyUserModuleSettings div.input input,
#manageMyUserModuleSettings div.input select,
#manageMyUserModuleSettings div.input textarea {
	margin-bottom: 0px;
	}
#manageMyUserModuleSettings div.input {
/*	text-align: right;
*/	font-size: 1em;
	margin-top: 1px;
	margin-bottom: 1px;
	}
#manageMyUserModuleSettings span.button-reset {
	margin-left: 1em;
	}
#manageMyUserModuleSettings span.suffix {
	margin-left: 0.5em;
	}
#manageMyUserModuleSettings div.row-fluid.setting-line {
	border-bottom: 1px solid #EEE;
	}
#manageMyUserModuleSettings div.setting-label {
	padding-top: 6px;
/*	height: 24px;*/
	}
