<?xml version="1.0"?>
<module>
	<title>UI: JS: fancyBox</title>
	<description><![CDATA[Lightbox replacement.

fancyBox is a tool that offers a nice and elegant way to add zooming functionality for images, html content and multi-media on your webpages.
It is built on the top of the popular JavaScript framework jQuery and is both easy to implement and a snap to customize.
]]></description>
	<category>User Interface</category>
	<version>3.3.5-p3</version>
	<log version="3.3.5-p2">Extract hook to own hook class.</log>
	<log version="3.3.5-p3">Support module main switch.</log>
	<company site="http://fancyapps.com/">fancyapps</company>
	<author email="janis@fancyapps.com">Jānis Skarnelis</author>
	<license source="http://opensource.org/licenses/gpl-3.0.html">GPL v3</license>
	<files>
		<class>Hook/UI/JS/FancyBox.php</class>
		<script>jquery.fancybox-3.3.5.min.js</script>
		<style source="common">jquery.fancybox-3.3.5.min.css</style>
	</files>
	<relations>
		<needs type="module">JS_jQuery</needs>
	</relations>
	<config protected="no" type="boolean" name="active" title="Main switch: Use this module">yes</config>
	<config protected="no" type="boolean" name="auto">yes</config>
	<config protected="no" type="string" name="auto.class">fancybox-auto</config>
	<config protected="no" type="boolean" name="auto.option.button.share">yes</config>
	<config protected="no" type="boolean" name="auto.option.button.download">no</config>
	<config protected="no" type="boolean" name="auto.option.button.thumbs">no</config>
	<config protected="no" type="boolean" name="auto.option.button.slideShow">no</config>
	<config protected="no" type="boolean" name="auto.option.button.zoom">no</config>
	<config protected="no" type="boolean" name="auto.option.button.fullScreen">no</config>
	<config protected="no" type="boolean" name="auto.option.button.close">yes</config>
	<config protected="no" type="boolean" name="auto.option.arrows">yes</config>
	<config protected="no" type="boolean" name="auto.option.keyboard">yes</config>
	<config protected="no" type="boolean" name="auto.option.protect">yes</config>
	<config protected="no" type="boolean" name="auto.option.hideOnContentClick">yes</config>
	<config protected="no" type="string" name="auto.option.animationEffect" values="none,fade,zoom">fade</config>
	<hook type="resource" resource="Page" event="applyModules">Hook_UI_JS_FancyBox::onPageApplyModules</hook>
</module>
