<?xml version="1.0"?>
<module>
	<title>Server</title>
	<description><![CDATA[Manage multiple servers.]]></description>
	<version>0.1</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian Würker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
<!--		<class>Controller/Admin/Server.php5</class>
		<class>View/Admin/serverTest.php5</class>
		<template>test/index.php</template>
		<locale>de/test</locale>
		<style>site.test.css</style>
		<script></script>
		<image>__testImage__</image>-->
	</files>
<!--	<config name="testKey1">This is a test!</config>-->
	<relations>
		<needs>Projects</needs>
	</relations>
<!--	<sql on="install">SELECT *;</sql>
	<sql on="uninstall">SELECT *;</sql>-->
</module>

