<?xml version="1.0"?>
<module>
	<title>Manage: User: Provision</title>
	<description><![CDATA[Management for user-ordered provisioning of products, licenses and their keys.]]></description>
	<category>Management</category>
	<version>0.5.1</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Extend models by duration.</log>
	<log version="0.2.2">Add ranking for products and licenses.</log>
	<log version="0.2.3">Add mails.</log>
	<log version="0.3">Add REST controller.</log>
	<log version="0.3.1">Add shop bridge.</log>
	<log version="0.3.2">Improve logic and REST controller.</log>
	<log version="0.3.3">Improved models.</log>
	<log version="0.3.4">Support locales.</log>
	<log version="0.3.5">Extract hook to controller.</log>
	<log version="0.3.6">Add job to handle expired keys.</log>
	<log version="0.4">Migrate module Resource:Accounting to Resource:Accounts.</log>
	<log version="0.4.1">Add controller, view and templates for products.</log>
	<log version="0.5">Derived from module Resource:Accounts.</log>
	<log version="0.5.1">Use new module Base:User:Provision instead of own model and logic classes.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Manage/User/Provision/Product.php5</class>
		<class>Controller/Provision/Rest.php5</class>
		<class>Hook/Manage/User/Provision.php5</class>
		<class>View/Manage/User/Provision/Product.php5</class>
		<template>manage/user/provision/product/add.php</template>
		<template>manage/user/provision/product/edit.php</template>
		<template>manage/user/provision/product/index.php</template>
		<template>manage/user/provision/product/index.filter.php</template>
		<template>manage/user/provision/product/index.list.php</template>
		<locale>de/manage/user/provision/product.ini</locale>
	</files>
	<relations>
		<needs type="module">Base_User_Provision</needs>
	</relations>
	<link xml:lang="de" access="acl" path="manage/user/provision" rank="73">Benutzer-Lizenzen</link>
	<hook type="resource" resource="ManageUser" event="registerTabs">Hook_Manage_User_Provision::onRegisterTab</hook>
</module>
