<?xml version="1.0"?>
<module>
	<title>Manage: User: Provision</title>
	<description><![CDATA[Management for user-ordered provisioning of products, licenses and their keys.]]></description>
	<category>Management</category>
	<version>0.5</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Extend models by duration.</log>
	<log version="0.2.2">Add ranking for products and licenses.</log>
	<log version="0.2.3">Add mails.</log>
	<log version="0.3">Add REST controller.</log>
	<log version="0.3.1">Add shop bridge.</log>
	<log version="0.3.2">Improve logic and REST controller.</log>
	<log version="0.3.3">Improved models.</log>
	<log version="0.3.4">Support locales.</log>
	<log version="0.3.5">Extract hook to controller.</log>
	<log version="0.3.6">Add job to handle expired keys.</log>
	<log version="0.4">Migrate module Resource:Accounting to Resource:Accounts.</log>
	<log version="0.4.1">Add controller, view and templates for products.</log>
	<log version="0.5">Derived from module Resource:Accounts.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Manage/User/Provision/Product.php5</class>
		<class>Controller/Provision/Rest.php5</class>
		<class>Hook/Manage/User/Provision.php5</class>
		<class>Job/User/Provision.php5</class>
		<class>Logic/User/Provision.php5</class>
		<class>Model/Provision/User/License.php5</class>
		<class>Model/Provision/User/License/Key.php5</class>
		<class>View/Manage/User/Provision/Product.php5</class>
		<template>manage/user/provision/product/add.php</template>
		<template>manage/user/provision/product/edit.php</template>
		<template>manage/user/provision/product/index.php</template>
		<template>manage/user/provision/product/index.filter.php</template>
		<template>manage/user/provision/product/index.list.php</template>
		<locale>de/manage/catalog/provision/product.ini</locale>
		<locale>de/mail/license/outdated.txt</locale>
		<locale>de/mail/license/key/assigned.txt</locale>
		<locale>de/mail/license/key/continued.txt</locale>
		<locale>de/mail/license/key/expired.txt</locale>
		<locale>de/mail/license/key/revoked.txt</locale>
		<file>config/jobs/manage.user.provision.xml</file>
	</files>
	<config protected="yes" type="boolean" name="REST">1</config>
	<relations/>
	<link access="public" path="provision/rest/getLicense"/>
	<link access="public" path="provision/rest/getLicenses"/>
	<link access="public" path="provision/rest/getProducts"/>
	<link access="public" path="provision/rest/orderLicense"/>
	<link access="public" path="provision/rest/test"/>
	<link xml:lang="de" access="acl" path="manage/user/provision" rank="73">Benutzer-Lizenzen</link>
	<hook type="resource" resource="ManageUser" event="registerTabs">Hook_Manage_User_Provision::onRegisterTab</hook>
	<sql type="mysql" on="install" version="0.1"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>user_provision_licenses`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>user_provision_licenses` (
  `userLicenseId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `userId` int(10) unsigned NOT NULL,
  `productLicenseId` int(10) unsigned NOT NULL,
  `productId` int(10) unsigned NOT NULL,
  `status` tinyint(1) NOT NULL,
  `uid` varchar(6) COLLATE utf8_unicode_ci NOT NULL,
  `duration` varchar(10) COLLATE utf8_unicode_ci NOT NULL,
  `users` tinyint(3) unsigned NOT NULL,
  `price` decimal(6,2) unsigned NOT NULL,
  `currency` varchar(3) COLLATE utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `modifiedAt` decimal(12,0) unsigned DEFAULT NULL,
  `startsAt` decimal(12,0) unsigned DEFAULT '0',
  `endsAt` decimal(12,0) unsigned DEFAULT '0',
  PRIMARY KEY (`userLicenseId`),
  KEY `userId` (`userId`),
  KEY `licenseId` (`productLicenseId`),
  KEY `status` (`status`),
  KEY `uid` (`uid`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>user_provision_license_keys`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>user_provision_license_keys` (
  `userLicenseKeyId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `userLicenseId` int(10) unsigned NOT NULL,
  `userId` int(10) unsigned NOT NULL,
  `productLicenseId` int(10) unsigned NOT NULL,
  `productId` int(10) unsigned NOT NULL,
  `status` tinyint(1) NOT NULL,
  `uid` varchar(13) COLLATE utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `startsAt` decimal(12,0) unsigned DEFAULT NULL,
  `endsAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`userLicenseKeyId`),
  KEY `userLicenseId` (`userLicenseId`),
  KEY `userId` (`userId`),
  KEY `productLicenseId` (`productLicenseId`),
  KEY `productId` (`productId`),
  KEY `status` (`status`),
  KEY `startsAt` (`startsAt`),
  KEY `endsAt` (`endsAt`),
  KEY `uid` (`uid`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql type="mysql" on="uninstall"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>user_provision_licenses`;
DROP TABLE IF EXISTS `<%?prefix%>user_provision_license_keys`;
]]></sql>
</module>
