<?xml version="1.0"?>
<module>
	<title><![CDATA[Gallery &raquo;Compact&laquo;]]></title>
	<description>Simple gallery with auto indexing in nested folders.</description>
	<version>0.1</version>
	<files>
		<class>Controller/Gallery.php5</class>
		<class>View/Gallery.php5</class>
		<class>View/Helper/Gallery.php5</class>
		<template>gallery/index.php</template>
		<style load="auto">module.gallery.css</style>
		<locale>de/html/gallery/index.bottom.html</locale>
		<locale>de/html/gallery/license.html</locale>
	</files>
	<config protected="yes" type="string" name="path">gallery/</config>
	<config protected="yes" type="integer" name="image.width">1024</config>
	<config protected="yes" type="integer" name="image.height">768</config>
	<config protected="yes" type="integer" name="image.quality">90</config>
	<config protected="yes" type="integer" name="thumb.width">126</config>
	<config protected="yes" type="integer" name="thumb.height">84</config>
	<config protected="yes" type="integer" name="thumb.quality">80</config>
	<config type="string" name="license.path">http://creativecommons.org/licenses/by-nc-sa/3.0/</config>
	<config type="string" name="license.image">http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png</config>
	<config type="string" name="license.label">Creative Commons Namensnennung-Nicht-kommerziell-Weitergabe unter gleichen Bedingungen 3.0 Unported Lizenz</config>
	<config type="string" name="license.work.creator">kriss</config>
	<config type="string" name="license.work.url">http://iamkriss.net/gallery/</config>
	<config type="string" name="license.work.title">Bildmaterial</config>
	<relations>
		<needs type="module">JS_Layer</needs>
	</relations>
	<link xml:lang="de" access="public" path="gallery">Galerie</link>
	<link rank="99" access="public" path="gallery/feed"/>
	<link rank="99" access="public" path="gallery/index"></link>
	<link rank="99" access="public" path="gallery/download"></link>
</module>