<?xml version="1.0"?>
<module>
	<title>UI: Font: Fira</title>
	<description><![CDATA[Integration of Firefox OS Typeface "Fira".]]></description>
	<category>User Interface</category>
	<version>0.3.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separated to Hydrogen module.</log>
	<log version="0.3">Removed local file and linked online resource.</log>
	<log version="0.3.1">Use general module main switch.</log>
	<log version="0.3.2">Extract hook to own hook class.</log>
	<company site="https://www.mozilla.org/">mozilla.org</company>
	<license source="https://www.mozilla.org/en-US/foundation/licensing/website-content/">Creative Commons Attribution Share-Alike 3.0 Unported</license>
	<config protected="yes" type="boolean" name="active" title="Main switch: Use this module">yes</config>
	<files>
		<class>Hook/UI/Font/Fira.php</class>
	</files>
	<relations>
		<needs type="module">UI_Font</needs>
	</relations>
	<hook type="resource" resource="Page" event="applyModules">Hook_UI_Font_Fira::onPageApplyModules</hook>
</module>
