<?xml version="1.0"?>
<module>
	<title>Piwik Tracker</title>
	<description><![CDATA[Request tracking using Piwik.

This module allows to use Piwik as web request tracker.

It will load the Piwik script of an defined Piwik installation
and enable JavaScript side tracking.

Using a global Piwik installation will need the server URI and Piwik site ID to be set.
Login to your Piwik server and create a new Piwik site, first. You will get the ID.

Having a local Piwik installation, this module will enable PHP side tracking, too.

Future features:
list>
- provide view for users to deactivate tracking
<list

]]></description>
	<deprecation url="https://github.com/CeusMedia/HydrogenModules/tree/master/Resource/Tracker/Matomo">End of life: Use module Resource:Tracker:Matomo instead!</deprecation>
	<category>Resource</category>
	<version>0.4.5</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.3">Add hooks for server and client.</log>
	<log version="0.3.1">Extract hooks to new controller class.</log>
	<log version="0.3.2">Improve configuration.</log>
	<log version="0.3.3">Improve controller code syntax.</log>
	<log version="0.3.4">Reintegrate script into helper to avoid load block of browser plugins.</log>
	<log version="0.4">Add view for deactivation-by-user.</log>
	<log version="0.4.1">Add public link to index in module configuration.</log>
	<log version="0.4.2">Switch to HTTPS.</log>
	<log version="0.4.3">Announce deprecation. Use Resource:Tracker:Matomo instead.</log>
	<log version="0.4.4">Use general module main switch.</log>
	<log version="0.4.5">Extract hook to own class.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="https://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Piwik.php</class>
		<class>Hook/Tracker/Piwik.php</class>
		<class>View/Piwik.php</class>
		<template>piwik/index.php</template>
		<locale>de/html/piwik/index.html</locale>
		<script>piwik.js</script>
	</files>
	<relations/>
	<config protected="yes" type="boolean" name="active" title="Main switch: Use this module">yes</config>
	<config protected="yes" mandatory="yes" type="integer" name="ID" title="Piwik site ID"></config>
	<config protected="yes" mandatory="no" type="boolean" name="local" title="use local installation">0</config>
	<config protected="yes" mandatory="no" type="string" name="local.path" title="path to local installation">vendor/piwik/piwik/</config>
	<config protected="yes" mandatory="yes" type="string" name="URI" title="URI to Piwik service">https://stats.ceusmedia.de/</config>
	<link access="public" path="piwik/index"/>
	<hook type="resource" resource="Env" event="init">Hook_Piwik::onEnvInit</hook>
	<hook type="resource" resource="Page" event="applyModules">Hook_Piwik::onPageApplyModules</hook>
	<hook type="resource" resource="Page" event="build">Hook_Piwik::onPageBuild</hook>
</module>
