<?xml version="1.0"?>
<module>
	<title>Manage: My User</title>
	<description>Management for own user account.</description>
	<version>0.3.8</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.3.0">Added support for tabs.</log>
	<log version="0.3.1">Added hooks for tabs.</log>
	<log version="0.3.2">Fixed bug in tab system.</log>
	<log version="0.3.3">Extracted tabs navigation to new Hydrogen module UI:Navigation:Bootstrap:Tabs.</log>
	<log version="0.3.4">Fixed link access.</log>
	<log version="0.3.5">Added english locale.</log>
	<log version="0.3.6">Updated button colors.</log>
	<log version="0.3.7">Added HTML blocks.</log>
	<log version="0.3.8">Need to confirm new password.</log>
	<category>Management</category>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Manage/My/User.php5</class>
		<class>View/Manage/My/User.php5</class>
		<template>manage/my/user/index.php</template>
		<template>manage/my/user/index.info.php</template>
		<template>manage/my/user/index.password.php</template>
		<locale>de/manage/my/user.ini</locale>
		<locale>de/html/manage/my/user/bottom.html</locale>
		<locale>de/html/manage/my/user/top.html</locale>
		<locale>en/manage/my/user.ini</locale>
		<locale>en/html/manage/my/user/bottom.html</locale>
		<locale>en/html/manage/my/user/top.html</locale>
	</files>
	<relations>
		<needs type="module">Resource_Authentication</needs>
		<needs type="module">UI_Navigation_Bootstrap_Tabs</needs>
	</relations>
	<link xml:lang="de" rank="92" access="inside" path="manage/my/user/index">Mein Konto</link>
	<link xml:lang="en" rank="92" access="inside" path="manage/my/user/index">My account</link>
	<link path="manage/my/user/password" access="inside"></link>
	<link path="manage/my/user/edit" access="inside"></link>
	<hook type="resource" resource="MyUser" event="registerTabs">View_Manage_My_User::___onRegisterTab</hook>
</module>
