<?xml version="1.0"?>
<module>
	<title>UI: JS: Cookie Warning</title>
	<description><![CDATA[Informs user about cookies being stored.]]></description>
	<category>User Interface</category>
	<version>0.2.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separated to Hydrogen module.</log>
	<log version="0.2.1">Support absolute positioning on top and bottom.</log>
	<log version="0.2.2">Group buttons.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>View/Helper/CookieWarning.php5</class>
		<locale>de/cookiewarning.ini</locale>
		<style>module.ui.js.cookiewarning.css</style>
	</files>
	<config protected="no" type="boolean" name="enabled">1</config>
	<config protected="no" type="boolean" name="absolute">0</config>
	<config protected="no" type="string" name="absolute.position" values="top,bottom">bottom</config>
	<config protected="no" type="string" name="readMorePagePath"></config>
	<relations>
		<needs type="module">JS_Cookie</needs>
	</relations>
	<hook type="resource" resource="Page" event="build">View_Helper_CookieWarning::___onPageBuild</hook>
</module>
