<?xml version="1.0"?>
<module>
	<title>Manage: Locales</title>
	<description><![CDATA[]]></description>
	<category>Management</category>
	<version>0.1</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian Würker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Manage/Locale.php5</class>
		<class>View/Manage/Locale.php5</class>
		<template>manage/locale/edit.php</template>
		<template>manage/locale/filter.php</template>
		<template>manage/locale/index.php</template>
		<template>manage/locale/list.php</template>
		<locale>de/manage/locale.ini</locale>
		<style>site.locale.css</style>
	</files>
	<link>manage/locale</link>
</module>
