<?xml version="1.0"?>
<module>
	<title>UI: Captcha</title>
	<description><![CDATA[CAPTCHA.]]></description>
	<category>User Interface</category>
	<version>0.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>View/Helper/Captcha.php5</class>
		<script load="auto">module.ui.captcha.js</script>
		<file>themes/common/font/tahoma.ttf</file>
	</files>
	<config protected="yes" type="string" name="path">./</config>
	<config protected="yes" type="string" name="strength" values="soft,hard">soft</config>
	<relations/>
	<hook type="resource" resource="View" event="onRenderContent">Hook_Captcha::onViewRenderContent</hook>
</module>
