<?xml version="1.0"?>
<module>
	<title>UI: Nav: Bootstrap: Dropdown Pill Bar</title>
	<description><![CDATA[]]></description>
	<category>User Interface</category>
	<version>0.2.1</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Improved detection of current link.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>View/Helper/Navigation/Bootstrap/DropdownPillBar.php5</class>
<!--		<style load="auto">module.ui.helper.bootstrap.dropdownpillbar.css</style>-->
	</files>
	<relations>
		<needs type="module">UI_Bootstrap</needs>
	</relations>
</module>
