includes:
#	- ../../vendor/phpstan/phpstan-strict-rules/rules.neon
	- phpstan-baseline.neon
	
parameters:
	phpVersion: 80100
	level: 0
	paths:
		- ../../src/Admin
		- ../../src/App
		- ../../src/Base
		- ../../src/Catalog
		- ../../src/Info
		- ../../src/JS
		- ../../src/Manage
		- ../../src/Members
		- ../../src/Resource
		- ../../src/Security
		- ../../src/Server
		- ../../src/Shop
		- ../../src/Tool
		- ../../src/UI
		- ../../src/Work
	fileExtensions:
		- php
	excludePaths:
		analyse:
			- ../../*/templates/*
		analyseAndScan:
			- ../../vendor/ceus-media/common/src/compat8.php
			- ../../vendor/ceus-media/common/src/compat9.php
			- ../../vendor/ceus-media/common/src/Exception/Abstraction.php
			- ../../vendor/ceus-media/common/src/Exception/Interface_.php
	scanDirectories:
		- ../../vendor/ceus-media/common
		- ../../vendor/ceus-media/hydrogen-framework
	treatPhpDocTypesAsCertain: false
#	ignoreErrors:
#		- identifier: missingType.generics
#		- identifier: missingType.iterableValue