parameters:
	ignoreErrors:
		-
			message: "#^Call to static method render\\(\\) on an unknown class CeusMedia\\\\Mail\\\\Renderer\\.$#"
			count: 2
			path: ../../src/Resource/Mail/classes/Job/Mail/Archive.php

		-
			message: "#^Class CeusMedia\\\\Mail\\\\Part\\\\Attachment not found\\.$#"
			count: 1
			path: ../../src/Resource/Mail/classes/Job/Mail/Archive.php

		-
			message: "#^Access to static property \\$delimiter on an unknown class Net_Mail\\.$#"
			count: 1
			path: ../../src/Resource/Mail/classes/Job/Mail/Migration.php

		-
			message: "#^Call to static method parseBody\\(\\) on an unknown class CeusMedia\\\\Mail\\\\Parser\\.$#"
			count: 1
			path: ../../src/Resource/Mail/classes/Job/Mail/Migration.php

		-
			message: "#^Call to static method render\\(\\) on an unknown class CeusMedia\\\\Mail\\\\Renderer\\.$#"
			count: 1
			path: ../../src/Resource/Mail/classes/Job/Mail/Migration.php

		-
			message: "#^Instantiated class CeusMedia\\\\Mail\\\\Participant not found\\.$#"
			count: 1
			path: ../../src/Resource/Mail/classes/Job/Mail/Migration.php

		-
			message: "#^Call to static method render\\(\\) on an unknown class CeusMedia\\\\Mail\\\\Renderer\\.$#"
			count: 1
			path: ../../src/Resource/Mail/classes/Logic/Mail.php
