<?xml version="1.0"?>
<module>
	<title>UI: Meta Tags: Mobile Web App</title>
	<description><![CDATA[Web App on Mobile Devices.

Some browsers are able to bookmark an opened web application to desktop.
Browsers on mobile devices allow this too, but will open the pinned Web App as tab with a browser.

Having this module activated, a pinned Web App can opened in a new browser instance without chrome.
]]></description>
	<category>User Interface</category>
	<version>0.2.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Use general module main switch.</log>
	<log version="0.2.2">Extract hook to own hook class.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de"><![CDATA[Christian Würker]]></author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Hook/UI/MetaTags/MobileWebApp.php</class>
	</files>
	<config protected="yes" type="boolean" name="active" title="Main switch: Use this module">yes</config>
	<hook type="resource" resource="Page" event="applyModules">Hook_UI_MetaTags_MobileWebApp::onPageApplyModules</hook>
</module>
