<?xml version="1.0"?>
<module>
	<title>UI: Image: Slider</title>
	<description><![CDATA[Model and renderer for image sliders.

You can create sliders having at least one image, called slide.
Each slider can have different settings, like animation type or show time per slide.

Prepared sliders can be inserted by shortcode:

code>[shortcode id="1"]<code

]]></description>
	<category>User Interface</category>
	<version>0.4.5</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Refactoring to Hydrogen Module.</log>
	<log version="0.2.1">Added title layer.</log>
	<log version="0.2.2">Added scale to fit option.</log>
	<log version="0.2.3">Added view counter.</log>
	<log version="0.2.4">Updated database tables.</log>
	<log version="0.2.5">Added hook View:onRenderContent to inject slider into static content.</log>
	<log version="0.2.6">Added base path.</log>
	<log version="0.2.7">Fixed bug in slider animation time calculation.</log>
	<log version="0.2.8">Improved slider hook onRenderContent.</log>
	<log version="0.2.9">Changed slide size ratio calculation and use on window size change.</log>
	<log version="0.2.10">Added slide content in database for later use.</log>
	<log version="0.2.11">Added slide timestamp.</log>
	<log version="0.3">Refactoring to support multiple instances.</log>
	<log version="0.3.1">Updated database to allow negative slide status.</log>
	<log version="0.3.2">No buttons, dots and animation for sliders with less than 2 slides.</log>
	<log version="0.3.3">Apply link to slider title too, if slider has a link.</log>
	<log version="0.3.4">Added power switch for view helper.</log>
	<log version="0.3.5">Made slider path configurable.</log>
	<log version="0.3.6">Add fade animation.</log>
	<log version="0.3.7">Fix bug on having several instances in one page.</log>
	<log version="0.3.8">Add mandatory relation to module JS:jQuery:easing to complete easing support.</log>
	<log version="0.4">Migration from protected SVN repository.</log>
	<log version="0.4.1">Improve code style and doc blocks.</log>
	<log version="0.4.2">Reduce former SQL install scripts to one finale script.</log>
	<log version="0.4.3">Make prefix for CSS classes and JavaScript IDs variable.</log>
	<log version="0.4.4">Extract hook to own class and refactor to use module UI:Shortcode.</log>
	<log version="0.4.5">Add model entity classes.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="https://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Entity/Image/Slider.php</class>
		<class>Entity/Image/Slide.php</class>
		<class>Hook/UI/Image/Slider.php</class>
		<class>Model/Image/Slider.php</class>
		<class>Model/Image/Slide.php</class>
		<class>View/Helper/Image/Slider.php</class>
		<script load="auto">UI.Image.Slider.js</script>
		<style source="theme" load="auto">UI.Image.Slider.css</style>
	</files>
	<config protected="yes" type="string" name="path" title="path to slider images within images folder">sliders/</config>
	<relations>
		<needs type="module">Resource_Database</needs>
		<needs type="module">JS_jQuery</needs>
		<needs type="module">JS_jQuery_easing</needs>
	</relations>
	<hook type="resource" resource="View" event="onRenderContent">Hook_UI_Image_Slider::onRenderContent</hook>
	<sql type="mysql" on="install" version="final"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>sliders`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>sliders` (
  `sliderId` int(11) UNSIGNED NOT NULL AUTO_INCREMENT,
  `creatorId` int(11) UNSIGNED DEFAULT '0',
  `status` tinyint(1) DEFAULT '0',
  `title` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `width` decimal(4,0) UNSIGNED NOT NULL,
  `height` decimal(4,0) UNSIGNED NOT NULL,
  `path` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `durationShow` decimal(5,0) UNSIGNED NOT NULL,
  `durationSlide` decimal(5,0) UNSIGNED NOT NULL,
  `animation` varchar(10) COLLATE utf8_unicode_ci NOT NULL,
  `easing` varchar(30) COLLATE utf8_unicode_ci DEFAULT 'linear',
  `randomOrder` tinyint(1) UNSIGNED DEFAULT '0',
  `showButtons` tinyint(1) UNSIGNED DEFAULT '0',
  `showDots` tinyint(1) UNSIGNED DEFAULT '0',
  `showTitle` tinyint(1) UNSIGNED DEFAULT '0',
  `scaleToFit` tinyint(1) UNSIGNED DEFAULT '0',
  `views` int(11) UNSIGNED DEFAULT '0',
  `createdAt` decimal(12,0) UNSIGNED NOT NULL,
  `modifiedAt` decimal(12,0) UNSIGNED DEFAULT NULL,
  PRIMARY KEY (`sliderId`),
  KEY `creatorId` (`creatorId`),
  KEY `status` (`status`),
  KEY `title` (`title`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>slider_slides`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>slider_slides` (
  `sliderSlideId` int(11) NOT NULL AUTO_INCREMENT,
  `sliderId` int(11) NOT NULL,
  `status` tinyint(1) DEFAULT '0',
  `source` varchar(200) COLLATE utf8_unicode_ci NOT NULL,
  `title` varchar(200) COLLATE utf8_unicode_ci DEFAULT NULL,
  `content` text COLLATE utf8_unicode_ci,
  `link` varchar(200) COLLATE utf8_unicode_ci DEFAULT NULL,
  `rank` decimal(2,0) DEFAULT '0',
  `timestamp` decimal(12,0) UNSIGNED NOT NULL,
  PRIMARY KEY (`sliderSlideId`),
  KEY `sliderId` (`sliderId`),
  KEY `status` (`status`),
  KEY `source` (`source`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
	]]></sql>
	<sql type="mysql" on="uninstall"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>sliders`;
DROP TABLE IF EXISTS `<%?prefix%>slider_slides`;
	]]></sql>
</module>
