<?xml version="1.0"?>
<module>
	<title>Disclosure</title>
	<description></description>
	<category>Development</category>
	<version>0.1</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian Würker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<requires>
	</requires>
	<files>
		<class>Controller/Lab/Disclosure.php5</class>
		<class>View/Lab/Disclosure.php5</class>
		<template>lab/disclosure/index.php</template>
		<style>site.lab.disclosure.css</style>
	</files>
	<link>lab/disclosure</link>
</module>

