<?xml version="1.0"?>
<module>
	<title>Shop: Payment: Stripe</title>
	<description><![CDATA[Integrates Stripe into shop.
]]></description>
	<category>Shop</category>
	<version>0.2.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Integrate credit card payment.</log>
	<log version="0.2.2">Extract hooks to own hook class.</log>
<!--	<log version="0.2.1">Improve relations.</log>
	<log version="0.2.2">Set access for inside links.</log>
	<log version="0.2.3">Add model for stripe payments.</log>
	<log version="0.2.4">Add finish panel helper for service tab.</log>
	<log version="0.2.5">Add switches for every payment method.</log>
	<log version="0.2.6">Add shop service panel view helper.</log>
	<log version="0.2.7">Add job to finish order payment.</log>
	<log version="0.2.8">Extract controller methods to new logic class.</log>
	<log version="0.2.9">Send mails if payment succeeded or failed.</log>-->
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Shop/Payment/Stripe.php5</class>
		<class>Hook/Shop/Payment/Stripe.php5</class>
		<class>Job/Shop/Payment/Stripe.php5</class>
		<class>Logic/Shop/Payment/Stripe.php5</class>
		<class>Model/Shop/Payment/Stripe.php5</class>
		<class>View/Helper/Shop/FinishPanel/Stripe.php5</class>
		<class>View/Shop/Payment/Stripe.php5</class>
		<template>shop/payment/stripe/perCreditCard.php</template>
		<script>Module.Shop.Payment.Stripe.js</script>
		<style>module.shop.payment.stripe.css</style>
		<locale>de/shop/payment/stripe.ini</locale>
		<locale>de/html/shop/payment/stripe/perCreditCard/bottom.html</locale>
		<locale>de/html/shop/payment/stripe/perCreditCard/top.html</locale>
		<file>config/jobs/shop.payment.stripe.xml</file>
	</files>
	<config protected="yes" type="integer" name="method.Card" title="priority: 0-disabled, 1-highest, ..., 9-lowest">8</config>
	<config protected="yes" type="integer" name="method.Giropay" title="priority: 0-disabled, 1-highest, ..., 9-lowest">4</config>
	<config protected="yes" type="integer" name="method.Sofort" title="priority: 0-disabled, 1-highest, ..., 9-lowest">2</config>
	<relations>
<!--		<needs type="module">Shop_Payment</needs>-->
		<needs type="module">Resource_Payment_Stripe</needs>
	</relations>
	<link access="inside" path="shop/payment/stripe/index"/>
	<link access="inside" path="shop/payment/stripe/perBankWire"/>
	<link access="inside" path="shop/payment/stripe/perCreditCard"/>
	<link access="inside" path="shop/payment/stripe/perDirectDebit"/>
	<link access="inside" path="shop/payment/stripe/perSofort"/>
	<link access="inside" path="shop/payment/stripe/perGiropay"/>
	<link access="inside" path="shop/payment/stripe/perGiropay"/>
	<hook type="resource" resource="ShopPayment" event="registerPaymentBackend">Hook_Shop_Payment_Stripe::__onRegisterShopPaymentBackends</hook>
	<hook type="resource" resource="Shop" event="renderServicePanels">Hook_Shop_Payment_Stripe::__onRenderServicePanels</hook>
	<sql on="install" type="mysql" version="final"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>shop_payments_stripe`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>shop_payments_stripe` (
  `paymentId` int(11) UNSIGNED NOT NULL AUTO_INCREMENT,
  `orderId` int(11) NOT NULL,
  `userId` varchar(100) NOT NULL,
  `payInId` varchar(100) NOT NULL,
  `status` tinyint(1) NOT NULL COMMENT '0: created, 1: failed, 2: succeeded',
  `object` text COLLATE utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) NOT NULL,
  `modifiedAt` decimal(12,0) NOT NULL,
  PRIMARY KEY (`paymentId`),
  KEY `orderId` (`orderId`),
  KEY `userId` (`userId`),
  KEY `payInId` (`payInId`),
  KEY `status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="update" type="mysql" version="0.2.1"><![CDATA[
ALTER TABLE `<%?prefix%>shop_payments_stripe` CHANGE `userId` `userId` VARCHAR(100) NOT NULL;
ALTER TABLE `<%?prefix%>shop_payments_stripe` CHANGE `payInId` `payInId` VARCHAR(100) NOT NULL;
]]></sql>
</module>
