body {
	padding: 2em;
	}
div.mail-layout {
	width: 600px;
	margin: 0px auto;
	}
div.mail-layout div.mail-header {
	border-bottom: 4px solid rgba(127, 127, 127, 0.75);
	}
div.mail-layout div.mail-content {
	padding: 1em 0em;
	}
div.mail-layout div.mail-footer {
	border-top: 2px solid rgba(127, 127, 127, 0.5);
	font-size: 0.8rem;
	}
