<?xml version="1.0"?>
<module>
	<title>JS: Layer</title>
	<description><![CDATA[Layer for displaying images and contents.]]></description>
	<version>0.1</version>
	<category>JavaScript</category>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian Würker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<script load="auto" source="local">UI.Layer.js</script>
		<style load="auto" source="theme">layer.css</script>
	</files>
</module>
