<?xml version="1.0"?>
<module>
	<title>JS: MailDecrypt</title>
	<description><![CDATA[Deprecated: Please use UI:JS:MailEncryption instead!

Renders mail links for encrypted addresses.
This is the second step for protecting mail addresses against harvesting bots.<br/>The first part is to store mail addresses encrypted within HTML contents, like this:
code:html><span class="encrypted-mail" data-name="john" data-host="example.net">John Doe</span><code
]]></description>
	<version>0.4</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.3">Changed syntax.</log>
	<log version="0.3.1">Let the framework run the initial JavaScript code.</log>
	<log version="0.4">End of life. Use UI:JS:MailEncryption instead!</log>
	<category>JavaScript</category>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<script load="auto">MailDecrypt.js</script>
	</files>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
		$script		= 'MailDecrypt();';
		$context->js->addScriptOnReady( $script, 8 );
	]]></hook>
</module>
