<?xml version="1.0"?>
<module>
	<title>UI: JS: DialogLink</title>
	<description><![CDATA[Converts selected links to jQuery UI dialogs.]]></description>
	<category>User Interface</category>
	<version>0.1</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian Würker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<script load="auto">UI.DialogLink.js</script>
	</files>
	<relations/>
</module>
