<?xml version="1.0"?>
<module>
	<title>Manage: Bookmarks</title>
	<description>Basic management of noted links for use on e.G. HTML-Editors or some sort of stored locations or blog article references.</description>
	<category>Management</category>
	<version>0.3.1</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Manage/Bookmark.php5</class>
		<class>Model/Bookmark.php5</class>
		<class>View/Manage/Bookmark.php5</class>
<!--		<locale>de/manage/bookmark.ini</locale>-->
<!--		<locale>en/manage/bookmark.ini</locale>-->
		<template>manage/bookmark/add.php</template>
		<template>manage/bookmark/edit.php</template>
		<template>manage/bookmark/index.php</template>
	</files>
	<relations>
		<supports type="module">JS_TinyMCE</supports>
	</relations>
	<sql on="install" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>bookmarks`;
CREATE TABLE `<%?prefix%>bookmarks` (
  `bookmarkId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `status` tinyint(4) DEFAULT '0',
  `url` varchar(200) COLLATE utf8_unicode_ci NOT NULL,
  `title` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `checkedAt` decimal(12,0) unsigned DEFAULT NULL,
  `usedAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`bookmarkId`),
  KEY `status` (`status`),
  KEY `url` (`url`)
) ENGINE=InnoDBDEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="uninstall"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>bookmarks`;
]]></sql>
	<link xml:lang="de" access="public" path="manage/bookmark" rank="67">Lesezeichen</link>
	<link xml:lang="en" access="public" path="manage/bookmark" rank="67">Bookmarks</link>
	<hook type="resource" resource="TinyMCE" event="getLinkList">Controller_Manage_Bookmark::___onTinyMCE_getLinkList</hook>
</module>
