<?xml version="1.0"?>
<module>
	<title>Resource: Database: Undo</title>
	<description><![CDATA[Database undo support.]]></description>
	<category>Resource</category>
	<version>0.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Model/Undo/Log.php5</class>
		<class>Resource/Database/Undo.php5</class>
	</files>
	<sql on="install" type="mysql" version="0.1"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>undo_log`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>undo_log` (
  `changeId` int(11) NOT NULL AUTO_INCREMENT,
  `userId` int(11) unsigned DEFAULT '0',
  `mode` tinyint(1) NOT NULL,
  `tableName` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `primaryKey` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `values` text COLLATE utf8_unicode_ci NOT NULL,
  `timestamp` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`changeId`),
  KEY `userId` (`userId`),
  KEY `mode` (`mode`),
  KEY `tableName` (`tableName`),
  KEY `primaryKey` (`primaryKey`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
		]]>
	</sql>
</module>
