<?xml version="1.0"?>
<module>
	<title>Info: Manual</title>
	<description><![CDATA[Simple automatic viewer for manual-like files written in Markdown syntax.]]></description>
	<version>0.1</version>
	<category>Info</category>
	<files>
		<class>Controller/Info/Manual.php5</class>
		<class>View/Info/Manual.php5</class>
		<template>info/manual/index.php</template>
		<locale>de/info/manual/demo.syntax.md</locale>
		<script load="auto">Info.Manual.js</script>
	</files>
	<config type="string" protected="yes" name="path">locales/de/info/manual/</config>
	<relations>
		<needs type="module">JS_Markdown</needs>
		<needs type="module">JS_jQuery</needs>
	</relations>
</module>
