<?xml version="1.0"?>
<module>
	<title>Info: Novelties</title>
	<description><![CDATA[Collects news from modules as dashboard panel.]]></description>
	<category>Info</category>
	<version>0.3.1</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Added relation to time phraser.</log>
	<log version="0.3">Fork from Info:NewsList to Info:Novelties.</log>
	<log version="0.3.1">Add dashboard panel and hook.</log>
	<files>
		<class>Controller/Info/Novelty.php5</class>
		<class>Model/Novelty.php5</class>
		<class>View/Info/Novelty.php5</class>
		<class>View/Helper/Info/Novelty/DashboardPanel.php5</class>
	</files>
	<relations>
		<needs type="module">Work_Timer</needs>
	</relations>
	<link access="acl" path="ajaxDismiss"/>
	<link access="acl" path="ajaxRenderDashboardPanel"/>
	<hook type="resource" resource="Dashboard" event="registerPanels">Controller_Info_Novelty::___onRegisterDashboardPanels</hook>
	<sql on="install" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>novelties`;
CREATE TABLE `<%?prefix%>novelties` (
  `noveltyId` int(11) UNSIGNED NOT NULL,
  `userId` int(11) UNSIGNED NOT NULL,
  `entryId` int(11) UNSIGNED NOT NULL,
  `type` varchar(50) COLLATE utf8_unicode_ci NOT NULL,
  `timestamp` decimal(12,0) UNSIGNED NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
	<sql on="uninstall" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix.%>novelties`;
]]></sql>
</module>
