<?xml version="1.0"?>
<module>
	<title>Resource: Upload</title>
	<description>Basic handling for HTTP uploads.</description>
	<category>Resource</category>
	<version>0.2.4</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Extended configuration by mandatory attributes.</log>
	<log version="0.2.1">Fixed bug and added method getFileName().</log>
	<log version="0.2.2">Added method getMaxUploadSize.</log>
	<log version="0.2.3">Extend getMaxUploadSize by other own limits.</log>
	<log version="0.2.4">Sanitize uploaded file name.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Logic/Upload.php5</class>
	</files>
</module>
