body.moduleCatalogBookstore dl {
	border: 0px solid black;
	}
body.moduleCatalogBookstore dl dt {
	font-size: 1.0em;
	font-weight: normal;
	}
body.moduleCatalogBookstore dl dd {
	padding-left: 1.5em;
	padding-bottom: 0.5em;
	}
body.moduleCatalogBookstore dl dd div {
	font-size: 1em;
	}
body.moduleCatalogBookstore dl.column dd {
	font-weight: bold;
	font-size: 1.1em;
	}
body.moduleCatalogBookstore dl.column dd div{
	}
body.moduleCatalogBookstore div.buttonbar {
/*	border-top: 1px solid #BFBFBF;
	background-color: #EFEFEF;
	padding: 1em 2em;
	padding-left: 0;*/
	padding-left: 200px;
	}


/*  --  ARTICLE LIST  --  */
#layout-content div.catalog-bookstore-article-item {
	clear: both;
	margin-bottom: 2em;
	border-bottom: 1px solid #DDD;
	padding-bottom: 2em;
	}
#layout-content div.catalog-bookstore-article-item div.data span.author {
	display: block;
	}
#layout-content div.catalog-bookstore-article-item div.data span.title {
	display: block;
	margin: 0.3em 0em;
	}
#layout-content div.catalog-bookstore-article-item div.data span.title a {
	font-size: 1.1em;
	}
#layout-content div.catalog-bookstore-article-item div.data span.description {
	font-style: italic;
	display: block;
	}
#layout-content div.catalog-bookstore-article-item div.data span.subtitle {
	display: block;
	font-size: 0.9em;
	}
#layout-content div.catalog-bookstore-article-item div.data span.info {
	display: block;
	margin-top: 0.9em;
	}
#layout-content div.catalog-bookstore-article-item div.image {
	float: left;
	width: 110px;
/*	border: 1px dotted #eee;*/
	}
#layout-content div.catalog-bookstore-article-item div.data.withImage {
	margin-left: 110px;
/*	border: 1px dotted #eee;*/
	}
#layout-content div.articleList div.future_de {
/*	background: #EFEFEF;*/
	background-image: url(../../../images/future_de2.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	}
#layout-content div.articleList div.future_en {
/*	background: #EFEFEF;*/
	background-image: url(../../../images/future_en.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	}


#layout-content div.catalog-bookstore-article-item.status_de_-2,
#layout-content div.catalog-bookstore-article-item.status_en_-2,
#layout-content div.catalog-bookstore-article-item.status_de_-1,
#layout-content div.catalog-bookstore-article-item.status_en_-1,
#layout-content div.catalog-bookstore-article-item.status_de_1,
#layout-content div.catalog-bookstore-article-item.status_en_1 {
	background-position: right bottom;
	background-repeat: no-repeat;
	}

#layout-content div.catalog-bookstore-article-item.status_de_-2 {
	background-image: url(../img/back_status_de_-2.png);
	}
#layout-content div.catalog-bookstore-article-item.status_de_-1 {
	background-image: url(../img/back_status_de_-1.png);
	}
#layout-content div.catalog-bookstore-article-item.status_de_1 {
	background-image: url(../img/back_status_de_1.png);
	}

#layout-content div.catalog-bookstore-article-item.status_en_-2 {
	background-image: url(../img/back_status_en_-2.png);
	}
#layout-content div.catalog-bookstore-article-item.status_en_-1 {
	background-image: url(../img/back_status_en_-1.png);
	}
#layout-content div.catalog-bookstore-article-item.status_en_1 {
	background-image: url(../img/back_status_en_1.png);
	}


#layout-content table.articleList div.catalog-bookstore-article-item div.image {
	width: 70px;
	padding-top: 10px;
	height: 100px;
	}
#layout-content table.articleList div.catalog-bookstore-article-item div.image img {
	width: 80%;
	height: auto;
	}
#layout-content table.articleList div.catalog-bookstore-article-item div.data.withImage {
	margin-left: 80px;
	}
#layout-content table.articleList div.catalog-bookstore-article-item span.author {
	font-size: smaller;
	}
#layout-content table.articleList div.catalog-bookstore-article-item span.isbn {
	font-size: smaller;
	color: #777;
	}
#layout-content table.articleList td {
	vertical-align: middle;
	}


/*  --  CATEGORY INDEX  --  */
body.moduleCatalogBookstore #layout-content #categoryList {}
body.moduleCatalogBookstore #layout-content #categoryList ul.branches {
	margin: 0;
	padding: 0;
	}
body.moduleCatalogBookstore #layout-content #categoryList ul.branches li.branch {
	clear: left;
	margin-top: 3px;
	padding: 8px;
	line-height: 1.5em;
	list-style: none;
	font-weight: normal;
	font-size: 1.2rem;
	background-color: rgba(207, 207, 207, 0.2);
	}
body.moduleCatalogBookstore #layout-content #categoryList ul.branches li.branch ul.topics {
	display: none;
	margin-left: 2em;
	}
body.moduleCatalogBookstore #layout-content #categoryList ul.branches li.branch ul.topics li.topic {
	margin-left: 20px;
	font-weight: normal;
	font-size: 0.9rem;
	list-style: circle;
	list-style-position: outside;
	}
body.moduleCatalogBookstore #layout-content #categoryList ul.branches li.branch a {
	text-decoration: none;
	display: compact;
	}
body.moduleCatalogBookstore #layout-content #categoryList ul.branches li.branch>a {
	margin-left: 30px;
	display: block;
	}
body.moduleCatalogBookstore #layout-content #categoryList ul.branches li.branch span.hitarea.empty,
body.moduleCatalogBookstore #layout-content #categoryList ul.branches li.branch span.hitarea.open,
body.moduleCatalogBookstore #layout-content #categoryList ul.branches li.branch span.hitarea.closed {
	background-position: 2px 3px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	cursor: pointer;
	}
body.moduleCatalogBookstore #layout-content #categoryList ul.branches li.branch span.hitarea.empty {
/*	background-image: url(../img/icons/bullet_empty_large.png);*/
/*	opacity: 0.5;*/
	}
body.moduleCatalogBookstore #layout-content #categoryList ul.branches li.branch span.hitarea.open {
/*	background-image: url(../img/icons/bullet_minus_large.png);*/
	}
body.moduleCatalogBookstore #layout-content #categoryList ul.branches li.branch span.hitarea.closed {
/*	background-image: url(../img/icons/bullet_plus_large.png);*/
	}
body.moduleCatalogBookstore #layout-content #categoryList ul.branches li.branch span {
	margin-left: 5px;
	}
body.moduleCatalogBookstore #layout-content #categoryList ul.branches li.branch span.hitarea.empty:after {
	font-family: "FontAwesome";
	content: "\f096";
	opacity: 0.5;
	font-size: 16px;
	}
body.moduleCatalogBookstore #layout-content #categoryList ul.branches li.branch span.hitarea.open:after {
	font-family: "FontAwesome";
	content: "\f146";
	opacity: 0.5;
	font-size: 16px;
	}
body.moduleCatalogBookstore #layout-content #categoryList ul.branches li.branch span.hitarea.closed:after {
	font-family: "FontAwesome";
	content: "\f0fe";
	opacity: 0.5;
	font-size: 16px;
	}
body.moduleCatalogBookstore #layout-content #categoryList li.search-miss {
	display: none;
	}
body.moduleCatalogBookstore #layout-content #categoryList li.search-hit {
	display: list-item;
	}

/*  --  ARTICLE  --  */
#layout-content div.article {
/*	font-size: 0.9em;*/
	}
#layout-content div.article div.image img.dropshadow,
#layout-content div.catalog-bookstore-article-item img.dropshadow {
/*  Version 1
	border: 1px solid rgb(95, 95, 95);
	box-shadow: 2px 2px 6px rgb(159, 159, 159);*/
/*  Version 2
	border: 1px solid rgb(95, 95, 95);
	-o-box-shadow: 1px 0px 0px #AAA, 2px -1px 0px #BBB, 3px -2px 0px #CCC;
	-moz-box-shadow: 1px 0px 0px #AAA, 2px -1px 0px #BBB, 3px -2px 0px #CCC;
	-webkit-box-shadow: 1px 0px 0px #AAA, 2px -1px 0px #BBB, 3px -2px 0px #CCC;
	box-shadow: 1px 0px 0px #AAA, 2px -1px 0px #BBB, 3px -2px 0px #CCC;*/
/*  Version 3  */
	box-shadow: 1px -1px 8px 0px rgba(127,127,127,0.5);
	}
#layout-content div.article div.subtitle {
	font-style: italic;
	}
#layout-content div.article div.volume {
	font-style: italic;
	font-size: 0.9em;
	}
#layout-content div.article ul {
	margin: 0px;
	}






div.text_more {
	display: none;
	}




body.moduleCatalog #layout-content ul.categories {
	margin-left: 1em;
	}
body.moduleCatalog #layout-content ul.topics {
	margin-left: 1em;
	list-style: none;
	}
body.moduleCatalog #layout-content ul li.document{
	list-style: none;
	}
body.moduleCatalog #layout-content ul li.document a {
/*	background-image: url(../../../../images/!.png);
	background-repeat: no-repeat;
	background-position: 0px;
	padding-left: 20px;
*/	}


/*  ARTICLE STATUS  */
span.status_-2 {
    font-weight: bold;
    font-style: italic;
    color: gray;
    }
span.status_-1 {
    font-weight: bold;
    font-style: italic;
    }
span.status_0 {
    font-weight: bold;
    color: green;
    }
span.status_1 {
	font-weight: bold;
    font-style: italic;
    color: gray;
    }


.catalog-bookstore-article-item span.title {
	font-size: 1.1em;
	}


/*  --  RELATED ARTICLES SLIDER  --  */
.related-articles-slider {
	position: relative;
	height: 220px;
	box-sizing: box-model;
	}
.related-articles-slider * {
	-webkit-user-select: none;	/* Chrome all / Safari all */
	-moz-user-select: none;		/* Firefox all */
	-ms-user-select: none;		/* IE 10+ */
	user-select: none;
	}
.related-articles-slider .related-articles-arrow {
	position: absolute;
	top: 0;
	left: 0;
	width: 5%;
	height: 218px;
	border: 1px solid rgba(127,127,127,0.2);
	background-color: rgba(127,127,127,0.1);
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
	}
.related-articles-slider .related-articles-arrow span {
	line-height: 200px;
	font-size: 2em;
	font-weight: bold;
	}
.related-articles-slider .related-articles-arrow-right {
	left: auto;
	right: 0;
	}
.related-articles-slider .related-articles-container {
	position: absolute;
	left: 5%;
	right: 5%;
	top: 0;
	width: 90%;
	height: 100%;
/*	border: 1px solid rgba(127,127,127,0.5);*/
	overflow: hidden;
	overflow-x: auto;
	}
.related-articles-slider .related-articles-list {
	position: relative;
	white-space: nowrap;
	}
.related-articles-slider .related-articles-list .related-articles-list-item {
	float: left;
	width: 240px;
	height: 200px;
	padding: 10px;
	text-align: center;
	white-space: initial;
	overflow: hidden;
/*	overflow-y: auto;*/
	}
.related-articles-slider .related-articles-list .related-articles-list-item:hover {
	background-color: yellow;
	background-color: #F7F7F7;
	}
.related-articles-slider .related-articles-image-container {
	padding-bottom: 0.5em;
	}
.related-articles-slider .related-articles-list img {
	height: 120px;
	}
