<?xml version="1.0"?>
<module>
	<title>Info: Contact</title>
	<description><![CDATA[Simple contact form.]]></description>
	<category>Info</category>
	<version>0.2</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Info/Contact.php5</class>
		<class>Mail/Info/Contact.php5</class>
		<class>View/Info/Contact.php5</class>
		<template>info/contact/index.php</template>
		<locale>de/info/contact.ini</locale>
		<locale>de/mail/info/contact.html</locale>
		<locale>en/info/contact.ini</locale>
		<locale>en/mail/info/contact.html</locale>
		<style>module.info.contact.css</style>
	</files>
	<relations>
		<needs type="module">Resource_Mail</needs>
	</relations>
	<config protected="yes" mandatory="yes" type="string" name="mail.sender"></config>
	<config protected="yes" mandatory="yes" type="string" name="mail.receiver"></config>
	<link access="public" path="info/contact" xml:lang="de" rank="80">Kontakt</link>
	<link access="public" path="info/contact" xml:lang="en" rank="80">Contact</link>
	<sql on="install" type="mysql"><![CDATA[
]]></sql>	
	<sql on="uninstall" type="mysql"><![CDATA[
]]></sql>	
</module>
