<?xml version="1.0"?>
<module xmlns="https://schema.ceusmedia.de/hydrogen/module-1.0.0.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://schema.ceusmedia.de/hydrogen/module-1.0.0.xsd https://schema.ceusmedia.de/hydrogen/module-1.0.0.xsd">
	<title>JS: JSON</title>
	<description><![CDATA[Ensures JSON browser support.]]></description>
	<category>JavaScript</category>
	<version>2011-10-19</version>
	<company site="https://json.org/">JSON.org</company>
	<author email="douglas@crockford.com">Douglas Crockford</author>
	<license>Public Domain</license>
	<files>
		<script source="local" load="auto">json2.min.js</script>
	</files>
</module>
