
/*  --  BLOG  --  */
body.controller-blog .blog-article img.thumb {
	max-width: 240px;
	max-height: 180px;
	border: 2px solid gray;
	background: #FFF;
	padding: 0.5em;
	margin-right: 1em;
	text-align: center;
	}
body.controller-blog .blog-article-content {
	margin-top: 1em;
	}
body.controller-blog .blog-article-content ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	}

body.controller-blog ul.blog-article-list,
body.controller-blog ul.blog-article-list li.blog-article-list-item {
	position: relative;
	list-style: none;
	padding: 0px;
	margin: 0px;
	}
body.controller-blog ul.blog-article-list li.blog-article-list-item {
	padding: 0.2em 0 0.8em 0;
	border-top: 1px dotted rgba(0,0,0,0.15);
	}


body.controller-blog ul.blog-article-tag-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
	}
body.controller-blog ul.blog-article-tag-list li.blog-article-tag-list-item {
	display: inline;
	margin-right: 0.5em;
	}
body.controller-blog .blog-article ul.blog-article-tag-list,
body.controller-blog .blog-tag ul.blog-article-tag-list {
	display: inline;
	margin-bottom: 0.5em;
	}
body.controller-blog .blog-article-abstract .blog-article-tag-list {
	position: absolute;
	top: 0px;
	right: 0px;
	}

body.controller-blog ul.blog-article-list li.blog-article-list-item>a {
	font-size: 1.1em;
	}


body.controller-blog ul.blog-article-author-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
	}
body.controller-blog ul.blog-article-author-list li.blog-article-author-list-item {
	display: inline;
	margin-right: 0.5em;
	}
body.controller-blog .blog-article .blog-article-author-list {
	display: inline;
	}

body.controller-blog div.blog-article div.article-navi {
	padding-bottom: 3px;
	border-bottom: 2px solid rgba(0,0,0,0.5);
	}
body.controller-blog div.blog-article div.blog-article-navi {
	clear: both;
	margin-top: 5px;
	padding-top: 5px;
	border-top: 2px solid rgba(0,0,0,0.5);
	}

ul.top-tags {
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
ul.top-tags li {
	margin: 1px;
	}
ul.top-tags li a {
	display: block;
	}


body.controller-blog .blog-article-content div.block .right {
	float: right;
	margin: 0 0 1em 2em;
	}
body.controller-blog .blog-article-content div.block:after {
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	content: '.';
	}
body.controller-blog a.link-add,
body.controller-blog a.link-edit {
	display: inline-block;
	margin: 0em 0 0 0.5em;
	}
body.controller-blog .tag-related-tags {
	margin-bottom: 1em;
	}


/*  --  LIST OF BLOG ARTICLE ABSTRACTS  --  */ 
body.controller-blog ul.blog-article-list li.blog-article-list-item.blog-article-abstract {
	padding: 0 0 1em 0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.25)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	}
body.controller-blog ul.blog-article-list li.blog-article-list-item.blog-article-abstract .blog-article-info {
	}
body.controller-blog ul.blog-article-list li.blog-article-list-item.blog-article-abstract .blog-article-info ul.blog-article-info-list {
	margin: 0px;
	padding: 0px;
	display: inline;
	}
body.controller-blog ul.blog-article-list li.blog-article-list-item.blog-article-abstract .blog-article-info li.blog-article-info-list-item {
	display: inline;
	margin-right: 0.5em;
	}
body.controller-blog ul.blog-article-list li.blog-article-list-item.blog-article-abstract .blog-article-info li.blog-article-info-list-item span {
	background-color: rgba(255,250,240,0.5);
	background-repeat: no-repeat;
	background-position: 3px 1px;
	padding: 1px 6px 1px 23px;
	}
body.controller-blog ul.blog-article-list li.blog-article-list-item.blog-article-abstract .blog-article-info li.blog-article-info-list-item span.blog-article-date {
	background-image: url(http://img.int1a.net/famfamfam/silk/date.png);
	}
body.controller-blog ul.blog-article-list li.blog-article-list-item.blog-article-abstract .blog-article-info li.blog-article-info-list-item span.blog-article-time {
	background-image: url(http://img.int1a.net/famfamfam/silk/time.png);
	}

body.controller-blog ul.blog-article-list li.blog-article-list-item.blog-article-abstract .blog-article-link,
body.controller-blog ul.blog-article-list li.blog-article-list-item.blog-article-abstract .blog-article-content {
	clear: both;
	display: block;
	padding: 0 5px 0 8px;
	margin-top: 0.25em;
	}
body.controller-blog ul.blog-article-list li.blog-article-list-item.blog-article-abstract .blog-article-info .blog-article-author-list {
	display: inline;
	}

body.controller-blog .link-feed {
	background-color: rgba(255, 250, 240, 0.5);
	background-repeat: no-repeat;
	background-position: 4px 2px;
	padding: 2px 8px 2px 25px;
	background-image: url(http://img.int1a.net/famfamfam/silk/feed.png);
	}

span.number-indicator {
	float: right;
	display: none;
	display: block;
	margin: 3px 6px 1px 0px;
	padding: 0px 6px 0px 6px;
	background-color: rgba(0,0,0,0.10);
	border-radius: 10px;
	color: rgba(0,0,0,1);
	font-weight: normal;
	font-size: 0.8em;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
	}

	
body.controller-blog .article-status {
	background-repeat: no-repeat;
	background-position: 3px 1px;
	background-color: rgba(255,250,240,0.5);
	padding: 1px 5px 1px 24px;
	}
body.controller-blog .article-status.status-1 {
	background-image: url(http://img.int1a.net/famfamfam/silk/bin_closed.png);
	background-position: 2px 1px;
	}
body.controller-blog .article-status.status0 {
	background-image: url(http://img.int1a.net/famfamfam/silk/pencil.png);
	}
body.controller-blog .article-status.status1 {
	background-image: url(http://img.int1a.net/famfamfam/silk/world.png);
	}
body.controller-blog .article-status.loading {
	background-image: url(http://img.int1a.net/famfamfam/silk/arrow_refresh.png);
	background-position: 4px 1px;
	}

	
body.controller-blog.action-edit ul.editor-list{
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
body.controller-blog.action-edit ul.editor-list li {
	}
body.controller-blog.action-edit ul.editor-list button.remove {
	float: left;
	margin-right: 5px;
	}
body.controller-blog.action-edit ul.editor-list button.remove span{
	background-image: url(http://img.int1a.net/famfamfam/silk/bin_closed.png);
	background-position: -3px 0px;
	}
