<?xml version="1.0"?>
<module>
	<title>Piwik Tracker</title>
	<description><![CDATA[Request tracking using Hotjar.]]></description>
	<category>Resource</category>
	<version>0.2</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Hook/Tracker/Hotjar.php5</class>
	</files>
	<relations/>
	<config protected="user" type="boolean" name="active" title="Main switch: Use this module">yes</config>
	<config protected="yes" mandatory="yes" type="integer" name="ID" title="Hotjar Site ID"></config>
	<config protected="yes" mandatory="yes" type="integer" name="version" title="Hotjar version to use">6</config>
	<hook type="resource" resource="Page" event="applyModules">Hook_Tracker_Hotjar::onPageApplyModules</hook>
</module>
