<?xml version="1.0"?>
<module>
	<title>Admin: Instances</title>
	<description><![CDATA[Application instance administration for remote access to other Hydrogen applications.]]></description>
	<category>Administration</category>
	<version>0.3.8</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.3">Migrated instances store from INI to JSON.</log>
	<log version="0.3.1">Extracted locales.</log>
	<log version="0.3.2">Added informational HTML files.</log>
	<log version="0.3.3">Added locked environment.</log>
	<log version="0.3.4">Updated instance check Java Script.</log>
	<log version="0.3.5">Added check for todos.</log>
	<log version="0.3.6">Extracted instance module listing to new logic class.</log>
	<log version="0.3.7">Moved instance check on index to user interaction.</log>
	<log version="0.3.8">Added auto ID generation on add.</log>
	<files>
		<class>Controller/Admin/Instance.php5</class>
		<class>Logic/Instance.php5</class>
		<class>Model/Instance.php5</class>
		<class>View/Admin/Instance.php5</class>
		<style source="theme" load="auto">module.admin.instances.css</style>
		<script load="auto">module.admin.instances.js</script>
		<template>admin/instance/add.php</template>
		<template>admin/instance/edit.check.php</template>
		<template>admin/instance/edit.config.php</template>
		<template>admin/instance/edit.database.php</template>
		<template>admin/instance/edit.php</template>
		<template>admin/instance/index.php</template>
		<template>admin/instance/index.tmpl</template>
		<locale>de/admin/instance.ini</locale>
		<locale>de/html/admin/instance/add.info.html</locale>
		<locale>de/html/admin/instance/edit.info.html</locale>
		<locale>en/admin/instance.ini</locale>
		<locale>en/html/admin/instance/add.info.html</locale>
		<locale>en/html/admin/instance/edit.info.html</locale>
	</files>
	<config protected="no" type="boolean" name="lock"></config>
	<config protected="no" type="string" name="lock.protocol" values=",http://,https://"></config>
	<config protected="no" type="string" name="lock.host"></config>
	<config protected="yes" type="string" name="lock.path"></config>
	<config protected="yes" type="string" name="lock.uri"></config>
	<config protected="yes" type="string" name="config.locale.allowed">en</config>
	<config protected="yes" type="string" name="config.locale.default">en</config>
	<relations>
		<needs type="module">JS_jQuery</needs>
	</relations>
 	<link xml:lang="de" path="admin/instance" access="acl" rank="82">Instanzen</link>
	<link xml:lang="en" path="admin/instance" access="acl" rank="82">Instances</link>
</module>
