<?xml version="1.0"?>
<module>
	<title>Instances</title>
	<description><![CDATA[Application instance administration for remote access to other Hydrogen applications.]]></description>
	<category>Administration</category>
	<version>0.3</version>
	<files>
		<class>Controller/Admin/Instance.php5</class>
		<class>Model/Instance.php5</class>
		<class>View/Admin/Instance.php5</class>
		<template>admin/instance/add.php</template>
		<template>admin/instance/edit.check.php</template>
		<template>admin/instance/edit.database.php</template>
		<template>admin/instance/edit.php</template>
		<template>admin/instance/index.php</template>
		<template>admin/instance/index.tmpl</template>
		<locale>de/admin/instance.ini</locale>
		<locale>de/html/admin/instance/add.info.html</locale>
		<locale>de/html/admin/instance/edit.info.html</locale>
		<locale>en/admin/instance.ini</locale>
		<locale>en/html/admin/instance/add.info.html</locale>
		<locale>en/html/admin/instance/edit.info.html</locale>
	</files>
	<config protected="no" type="boolean" name="lock"></config>
	<config protected="no" type="string" name="lock.protocol" values=",http://,https://"></config>
	<config protected="no" type="string" name="lock.host"></config>
	<config protected="yes" type="string" name="lock.path"></config>
	<config protected="yes" type="string" name="lock.uri"></config>
	<relations>
		<needs type="module">JS_jQuery</needs>
	</relations>
 	<link xml:lang="de" path="admin/instance" access="acl" rank="82">Instanzen</link>
	<link xml:lang="en" path="admin/instance" access="acl" rank="82">Instances</link>
</module>
