<?xml version="1.0"?>
<module>
	<title>Resource: Sitemap</title>
	<description><![CDATA[Support for sitemap generation.]]></description>
	<category>Resource</category>
	<version>0.3.3</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.3">Support for compression.</log>
	<log version="0.3.1">Corrected MIME type on plain RSS delivery.</log>
	<log version="0.3.2">Support to submit to providers.</log>
	<log version="0.3.3">Refactoring for delivering MIME type next to content.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>Controller/Sitemap.php5</class>
		<class>Logic/Sitemap.php5</class>
		<class>View/Sitemap.php5</class>
	</files>
	<config name="compression" type="string" protected="yes" values="bzip,gzip,none">none</config>
	<link access="public" path="sitemap"></link>
	<link access="public" path="sitemap/index"></link>
	<relations/>
</module>
