<?xml version="1.0"?>
<module>
	<title>Resource: Sitemap</title>
	<description><![CDATA[Support for sitemap generation.]]></description>
	<category>Resource</category>
	<version>0.3.1.1</version>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<files>
		<class>Controller/Sitemap.php5</class>
		<class>Logic/Sitemap.php5</class>
		<class>View/Sitemap.php5</class>
	</files>
	<config name="compression" type="string" protected="yes" values="bzip,gzip,none">none</config>
	<link access="public" path="sitemap"></link>
	<link access="public" path="sitemap/index"></link>
	<relations/>
</module>
