<?xml version="1.0"?>
<module>
	<title><![CDATA[Manage: Jobs]]></title>
	<description><![CDATA[...]]></description>
	<category>Management</category>
	<version>0.3.3</version>
	<log version="0.1.0">Initial prototype.</log>
	<log version="0.2.0">Separation to Hydrogen module.</log>
	<log version="0.2.1">Add definition index.</log>
	<log version="0.2.2">Add model for inspecting jobs defined in code.</log>
	<log version="0.2.3">Add job definition view.</log>
	<log version="0.2.4">Add tabs.</log>
	<log version="0.2.5">Add job run list view and filter.</log>
	<log version="0.2.6">Add locales.</log>
	<log version="0.2.7">Add job definition filter.</log>
	<log version="0.2.8">Add job run view.</log>
	<log version="0.2.9">Add view helper for attributes of job definitions and runs.</log>
	<log version="0.3.0">Complete job run management bysupporting abort and terminate.</log>
	<log version="0.3.1">Support schedule formats: cron, interval and datetime.</log>
	<log version="0.3.2">Improve job run filter.</log>
	<log version="0.3.3">Support removal of archivable job runs.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="https://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Manage/Job.php</class>
		<class>Controller/Manage/Job/Definition.php</class>
		<class>Controller/Manage/Job/Run.php</class>
		<class>Controller/Manage/Job/Schedule.php</class>
		<class>Model/Job/Code.php</class>
		<class>View/Manage/Job.php</class>
		<class>View/Manage/Job/Definition.php</class>
		<class>View/Manage/Job/Run.php</class>
		<class>View/Manage/Job/Schedule.php</class>
		<class>View/Helper/Job/Attribute.php</class>
		<template>manage/job/index.php</template>
		<template>manage/job/definition/index.php</template>
		<template>manage/job/definition/index.filter.php</template>
		<template>manage/job/definition/index.list.php</template>
		<template>manage/job/definition/view.php</template>
		<template>manage/job/run/index.php</template>
		<template>manage/job/run/index.filter.php</template>
		<template>manage/job/run/index.list.php</template>
		<template>manage/job/run/view.php</template>
		<template>manage/job/schedule/add.php</template>
		<template>manage/job/schedule/edit.php</template>
		<template>manage/job/schedule/index.php</template>
		<style>module.manage.jobs.css</style>
		<script>module.manage.jobs.js</script>
		<locale>de/manage/job.ini</locale>
		<locale>de/manage/job/definition.ini</locale>
		<locale>de/manage/job/run.ini</locale>
		<locale>de/manage/job/schedule.ini</locale>
		<locale>en/manage/job.ini</locale>
		<locale>en/manage/job/definition.ini</locale>
		<locale>en/manage/job/run.ini</locale>
		<locale>en/manage/job/schedule.ini</locale>
	</files>
	<relations>
		<needs type="module">Resource_Jobs</needs>
		<needs type="module">UI_Navigation_Bootstrap_Tabs</needs>
		<needs type="composer">ceus-media/php-parser</needs>
		<needs type="composer">lorisleiva/cron-translator</needs>
	</relations>
	<link xml:lang="de" access="acl" path="manage/job" rank="85">Job-Dashboard</link>
	<link xml:lang="de" access="acl" path="manage/job/schedule" rank="86">Job-Ausführungen</link>
	<link xml:lang="de" access="acl" path="manage/job/schedule" rank="86">Job-Zeitplan</link>
	<link xml:lang="de" access="acl" path="manage/job/definition" rank="87">Job-Liste</link>
</module>
