<?xml version="1.0"?>
<module>
	<title>Work: Mail Check</title>
	<description/>
	<category>Work</category>
	<version>0.2.9</version>
	<log version="0.1">Initial prototype.</log>
	<log version="0.2">Separation to Hydrogen module.</log>
	<log version="0.2.1">Add job to mass check in background.</log>
	<log version="0.2.2">Organize panels in tabs.</log>
	<log version="0.2.3">Make sender configurable.</log>
	<log version="0.2.4">Make address editable.</log>
	<log version="0.2.5">Handle exception is service is not responding anything.</log>
	<log version="0.2.6">Extend filter by status and query.</log>
	<log version="0.2.7">Add view to show testing progress.</log>
	<log version="0.2.8">Allow to add a group manually.</log>
	<log version="0.2.9">Add modal dialog with address and check details.</log>
	<company site="http://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Controller/Work/Mail/Check.php5</class>
		<class>View/Work/Mail/Check.php5</class>
		<class>Model/Mail/Address.php5</class>
		<class>Model/Mail/Address/Check.php5</class>
		<class>Model/Mail/Group.php5</class>
		<class>Job/Work/Mail/Check.php5</class>
		<template>work/mail/check/export.php</template>
		<template>work/mail/check/group.php</template>
		<template>work/mail/check/index.php</template>
		<template>work/mail/check/import.php</template>
		<template>work/mail/check/status.php</template>
		<locale>de/work/mail/check.ini</locale>
		<file>config/jobs/work.mail.check.xml</file>
	</files>
	<config protected="yes" type="integer" mandatory="yes" name="job.limit" title="Maximum number for checks per job call.">10000</config>
	<config protected="yes" type="string" mandatory="yes" name="sender" title="Sender email address, only needed for HELO"/>
	<link access="acl" xml:lang="de" rank="76" path="admin/mail/queue">E-Mail-Check</link>
	<link access="acl" xml:lang="en" rank="76" path="admin/mail/queue">Email check</link>
	<relations>
		<needs type="module">Resource_Upload</needs>
		<needs type="module">UI_Helper_TimePhraser</needs>
		<needs type="module">UI_Helper_Input_File</needs>
		<needs type="module">UI_Navigation_Bootstrap_Tabs</needs>
	</relations>
	<hook type="resource" resource="WorkMailCheck" event="registerTabs">View_Work_Mail_Check::___onRegisterTab</hook>
	<sql type="mysql" on="install" version="0.1"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>mail_addresses`;
CREATE TABLE IF NOT EXISTS `mail_addresses` (
  `mailAddressId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `mailGroupId` int(10) unsigned NOT NULL,
  `status` tinyint(4) NOT NULL,
  `address` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `data` text COLLATE utf8_unicode_ci,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  `checkedAt` decimal(12,0) unsigned DEFAULT NULL,
  PRIMARY KEY (`mailAddressId`),
  KEY `mailGroupId` (`mailGroupId`),
  KEY `status` (`status`),
  KEY `address` (`address`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>mail_address_checks`;
CREATE TABLE IF NOT EXISTS `mail_address_checks` (
  `mailAddressCheckId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `mailAddressId` int(10) unsigned NOT NULL,
  `status` tinyint(4) NOT NULL,
  `error` tinyint(1) unsigned NOT NULL,
  `code` decimal(3,0) unsigned NOT NULL,
  `message` text COLLATE utf8_unicode_ci,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`mailAddressCheckId`),
  KEY `mailAddressId` (`mailAddressId`),
  KEY `status` (`status`),
  KEY `error` (`error`),
  KEY `code` (`code`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>mail_groups`;
CREATE TABLE IF NOT EXISTS `mail_groups` (
  `mailGroupId` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(50) COLLATE utf8_unicode_ci NOT NULL,
  `columns` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `mailColumn` varchar(50) COLLATE utf8_unicode_ci NOT NULL,
  `createdAt` decimal(12,0) unsigned NOT NULL,
  PRIMARY KEY (`mailGroupId`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
</module>
