<?xml version="1.0"?>
<module>
    <title>Resource: Downloads</title>
    <description><![CDATA[Data model for modules Info:Files and Manage:Downloads.]]></description>
    <category>Resource</category>
    <version>0.1.0</version>
    <log version="0.1">Extracted from modules Info:Files and Manage:Downloads.</log>
    <company site="https://ceusmedia.de/">Ceus Media</company>
    <author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
    <files>
        <class>Job/Downloads.php</class>
        <class>Logic/Download.php</class>
        <class>Model/Download/File.php</class>
        <class>Model/Download/Folder.php</class>
        <file>contents/files/.htaccess</file>
    </files>
    <config protected="yes" type="string" name="path">contents/files/</config>
    <relations/>
    <job id="Resource.Downloads.migrate">Downloads::migrate</job>
    <sql on="install" type="mysql" version="0.1"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>download_files`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>download_files` (
  `downloadFileId` int(10) UNSIGNED NOT NULL AUTO_INCREMENT,
  `downloadFolderId` int(10) UNSIGNED NOT NULL,
  `rank` smallint(6) NOT NULL,
  `size` int(10) UNSIGNED NOT NULL,
  `title` varchar(200) COLLATE utf8_unicode_ci NOT NULL,
  `description` text COLLATE utf8_unicode_ci,
  `nrDownloads` smallint(5) UNSIGNED DEFAULT '0',
  `uploadedAt` decimal(12,0) UNSIGNED NOT NULL,
  `downloadedAt` decimal(12,0) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`downloadFileId`),
  KEY `downloadFolderId` (`downloadFolderId`),
  KEY `rank` (`rank`),
  KEY `title` (`title`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

DROP TABLE IF EXISTS `<%?prefix%>download_folders`;
CREATE TABLE IF NOT EXISTS `<%?prefix%>download_folders` (
  `downloadFolderId` int(11) UNSIGNED NOT NULL AUTO_INCREMENT,
  `parentId` int(10) UNSIGNED NOT NULL,
  `type` tinyint(1) UNSIGNED NOT NULL,
  `rank` smallint(5) UNSIGNED NOT NULL,
  `title` varchar(200) COLLATE utf8_unicode_ci NOT NULL,
  `description` text COLLATE utf8_unicode_ci,
  `nrFolders` smallint(5) UNSIGNED DEFAULT '0',
  `nrFiles` smallint(5) UNSIGNED DEFAULT '0',
  `createdAt` decimal(12,0) UNSIGNED NOT NULL,
  `modifiedAt` decimal(12,0) UNSIGNED DEFAULT '0',
  PRIMARY KEY (`downloadFolderId`),
  KEY `parentId` (`parentId`),
  KEY `type` (`type`),
  KEY `rank` (`rank`),
  KEY `title` (`title`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
]]></sql>
    <sql on="uninstall" type="mysql"><![CDATA[
DROP TABLE IF EXISTS `<%?prefix%>download_folders`;
DROP TABLE IF EXISTS `<%?prefix%>download_files`;
]]></sql>
</module>
