<?xml version="1.0"?>
<module>
	<title>JS: WYMeditor</title>
	<description><![CDATA[WYSIWYM Editor.]]></description>
	<version>1.0b1</version>
	<category>JavaScript</category>
	<company site="http://www.wymeditor.org/">wymeditor.org</company>
	<author><![CDATA[Jean-François Hovinne]]></author>
	<license source="http://www.opensource.org/licenses/mit-license.php">MIT</license>
	<license source="http://www.gnu.org/copyleft/gpl.html">GPL</license>
	<files>
		<script load="auto" source="lib">jquery/wymeditor/1.0b1/jquery.wymeditor.min.js</script>
	</files>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
		$script	= '
$(document).ready(function(){
    jQuery("textarea.WYMeditor").wymeditor({
		containersHtml: "",
		classesHtml: "",
		logoHtml: "",
		statusHtml: ""
	})
})';
		$context->js->addScript( $script );
	]]></hook>
</module>
