<?xml version="1.0"?>
<module>
	<title>UI: JS: Darkbox</title>
	<description><![CDATA[Lightbox replacement.]]></description>
	<category>User Interface</category>
	<version>0.3.3</version>
	<log version="0.1">Prototype.</log>
	<log version="0.2">Fixed height bug and improved performance.</log>
	<log version="0.3">Added support for events.</log>
	<log version="0.3.1">Extended configuration for automatic mode.</log>
	<log version="0.3.2">Updated configuration by type and protection.</log>
	<log version="0.3.3">Extract hook to own class.</log>
	<company site="https://ceusmedia.de/">Ceus Media</company>
	<author email="christian.wuerker@ceusmedia.de">Christian W&#xFC;rker</author>
	<license source="http://www.gnu.org/licenses/gpl-3.0.txt">GPL 3</license>
	<files>
		<class>Hook/UI/JS/Darkbox.php</class>
		<script load="auto">jquery.darkbox.js</script>
		<style source="theme" load="auto">darkbox.css</style>
	</files>
	<relations>
		<needs type="module">JS_jQuery</needs>
	</relations>
	<config protected="no" name="auto" type="boolean">1</config>
	<config protected="no" type="string" name="auto.class">darkbox-auto</config>
	<config protected="no" type="string" name="auto.close.label">×</config>
	<config protected="no" type="string" name="auto.close.title">Close [ESC]</config>
	<config protected="no" type="integer" name="auto.duration.fade.in">200</config>
	<config protected="no" type="integer" name="auto.duration.fade.out">250</config>
	<config protected="no" type="string" name="auto.prefix">darkbox-</config>
	<hook type="resource" resource="Page" event="applyModules">Hook_UI_JS_Darkbox::onPageApplyModules</hook>
</module>
