<?xml version="1.0"?>
<module>
	<title>JS: Backbone</title>
	<description><![CDATA[Backbone JavaScript Library]]></description>
	<version>1.1.0</version>
	<category>JavaScript</category>
	<author site="http://www.documentcloud.org/">DocumentCloud</author>
	<url>http://backbonejs.org/</url>
	<license source="https://github.com/jashkenas/backbone/blob/master/LICENSE">MIT</license>
	<files>
		<script load="auto" top="yes">backbone-1.1.0-min.js</script>
		<script top="yes">backbone-1.1.0.js</script>
	</files>
	<hook type="resource" resource="Page" event="applyModules"><![CDATA[
$context->addBodyClass( 'uses-backbone' );
	]]></hook>
</module>
